.sectioncontact .multicontact {
  gap: 20px;

  .body-section {
    background:
      url("../../assets/svg/stroke-h.svg") repeat-x center bottom,
      linear-gradient(to bottom, #f3f3f3, #fff) !important;
    padding-top: 20px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
  }

  .body-section {
    padding-top: 25px !important;
  }

  .contact_logo {
    display: none;
  }

  .contact_leadimage {
    margin-top: 0 !important;
    aspect-ratio: 4/5 !important;
  }

  a {
    color: $primary-red;

    &:hover {
      color: $primary-svg;
    }
  }
}

#content-core .sectioncontact.col-sm-3,
#content-core .sectioncontact.col-sm-4,
#content-core .sectioncontact.col-sm-6,
#content-core .sectioncontact.col-sm-8,
#content-core .sectioncontact.col-sm-9,
#content-core .sectioncontact.col-sm-12 {
  background:
    url("../../assets/svg/stroke-h.svg") repeat-x center bottom,
    linear-gradient(to bottom, #f3f3f3, #fff) !important;
  border-radius: 20px 20px 0 0 !important;
  margin-bottom: 20px !important;

  a {
    color: $primary-red;

    &:hover {
      color: $primary-svg;
    }
  }
}

#content-core .sectioncontact.col-sm-3,
#content-core .sectioncontact.col-sm-4,
#content-core .sectioncontact.col-sm-6,
#content-core .sectioncontact.col-sm-8,
#content-core .sectioncontact.col-sm-9,
#content-core .sectioncontact.col-sm-12 {
  background:
    url("../../assets/svg/stroke-h.svg") repeat-x center bottom,
    linear-gradient(to bottom, #f3f3f3, #fff) !important;
  border-radius: 20px 20px 0 0 !important;
  margin-bottom: 20px !important;

  a {
    color: $primary-red;

    &:hover {
      color: $primary-svg;
    }
  }
}
