//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
@import "../../../base/src/scss/main";

//// STYLES

// ... add your styles here

@import "./home/quick";
@import "./home/a-la-une";
@import "./home/actualites";
@import "./home/events";
@import "./home/footer";
@import "./home/divers";

#portal-globalnav-wrapper
  #portal-globalnav-collapse
  #portal-globalnav
  .dropdown
  .nav-link:hover,
#portal-globalnav-wrapper
  #portal-globalnav-collapse
  #portal-globalnav
  .dropdown
  .nav-link:focus {
  color: $primary-svg;
}

#portal-globalnav-wrapper
  #portal-globalnav-collapse
  #portal-globalnav
  > li
  > a {
  font-weight: 700 !important;
}

#portal-globalnav-wrapper
  #portal-globalnav-collapse
  #portal-globalnav
  .dropdown
  .nav-link {
  font-size: 16px !important;
  font-weight: 500;
}

//navbar
.navbar-toggler {
  padding: 0 !important;
  background: $primary-svg !important;
  height: 46px !important;
  width: 46px !important;
  border-radius: 50% !important;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar .container {
  padding: 0;
}
