.portaltype-imio-smartweb-newsview {
  .r-content-news-info-schedul {
    .icon-baseline {
      display: none;
    }

    .dpinlb {
      display: block;

      .r-content-date {
        & > div {
          display: flex;
          gap: 10px;
          font-size: 0.9375rem;
          font-weight: 500;

          .r-card-date-last {
            &::before {
              content: "-";
              margin-right: 10px;
            }
          }
        }
      }
    }
  }

  .r-content-text {
    margin-top: 1rem;
  }
}

.r-wrapper .r-result {
  margin-top: 0 !important;
}

// delete bla eyes

.r-actu-wrapper::after {
  display: none !important;
}

// style back button

.r-back-button {
  height: 40px;
  aspect-ratio: 1;
  border-radius: 5px;
  background-color: $react-arrow-btn-bg;
  color: $react-arrow-btn-color;
  margin: 10px 0;
  font-size: 1.4375rem;
  border: none;

  &::before {
    display: none;
  }
}

.r-back-button:hover {
  background: $react-arrow-btn-hv-bg;
  outline: 2px solid $grey-bg;
}

body .r-item-arrow-more {
  background-color: $react-arrow-btn-next-bg;
  color: $react-arrow-btn-color;
}

.r-list-item-group {
  &:hover {
    .r-item-arrow-more {
      outline: solid 2px #ebebeb;
      background-color: #ebebeb;
    }
  }
}

.r-search a {
  text-decoration: none;
}

.portaltype-imio-smartweb-eventsview,
.portaltype-imio-smartweb-directoryview {
  header#content-header {
    z-index: 9;
  }
}

.r-wrapper {
  .r-content-text ul {
    padding-left: 2rem;
  }
}
