.portaltype-imio-smartweb-newsview{
    .r-content-news-info-schedul{
      .icon-baseline{
          display: none;
      } 
      .dpinlb{
          display: block;
          .r-content-date{
              & > div{
                  display: flex;
                  gap: 10px;
                  font-size: 15px;
                  font-weight: 500;
                  .r-card-date-last{
                    &:before{
                        content: "-";
                        margin-right: 10px;
                    }
                  }
              }
          }
      }
    }
    .r-content-text{
        margin-top: 1rem;
    }
}

.r-wrapper .r-result {
    margin-top: 0!important;
}

// delete bla eyes

.r-actu-wrapper::after {
    display: none!important;
}

// style back button

.r-content > button{
    background: transparent;
    margin: 1rem 0;
    border: 0px;
    display: flex;
    align-items: center;
    &::before{
        content: "";
        width: 9px;
        height: 6px;
        display: block;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\"  width=\"8.444\" height=\"5.2\"><path d=\"M.247.254a.831.831 0 0 1 1.2 0l2.78 2.854L7.011.254A.831.831 0 0 1 8.2.264a.882.882 0 0 1 .01 1.215L4.825 4.946a.835.835 0 0 1-.6.254 1.529 1.529 0 0 1-.6-.254L.247 1.479a.882.882 0 0 1 0-1.226Z\" fill=\"%23000\"/></svg>");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 0.4rem;
        transform: rotate(90deg);
    }
}

.r-search a {
    text-decoration: none;
 }
 
smartweb-annuaire, smartweb-events{
    position: relative;
    z-index: -1;
}