.manage-section a {
  margin-right: 0.5rem;
}

.header-section .manage-section a {
  text-decoration: none;
}

.header-section .documentModified {
  color: gray;
}

figcaption {
  font-style: italic;
  letter-spacing: 0.01rem;
}

.current-folder-view + a {
  margin-bottom: 1rem;
  display: block;
  font-size: 1.5rem;
}

.userrole-authenticated.popover-upload-active
  .pat-structure
  .navbar.ui-offset-parent {
  position: relative;
}

#formfield-form-widgets-svg_icon {
  svg {
    fill: #000;
  }
}

.section-map .leaflet-container {
  z-index: 0;
}
