body.template-block_view #content-core {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100vw;
    background: #f7f7f7;
    top: 0;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
  }
}

#block-quickaccess {
  margin-top: calc(var(--bs-gutter-y) * 0);
}

.block-menu-element {
  list-style: none;

  & > a {
    text-decoration: none;
    display: block;
    height: 100%;
    background: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: $block-small-shadow;
    transition: 0.6s cubic-bezier(0.7, 0, 0, 1);
    position: relative;
    overflow: hidden;

    &:hover,
    &:focus {
      box-shadow: $block-full-shadow;

      .newsImage {
        transform: scale(1);
      }
    }

    .newsImage {
      transition: 0.6s cubic-bezier(0.7, 0, 0, 1);
      transform: scale(1.03);
    }

    .card-body {
      .card-text {
        max-height: 3rem;
        overflow: hidden;
        position: relative;

        &::after {
          content: '';
          background: linear-gradient(275deg, white, transparent);
          top: 1.5rem;
          position: absolute;
          height: 1.5rem;
          right: 0;
          width: 50%;
        }
      }
    }

    h2.card-title {
      font-size: $section-list-block-img-card-title;
      text-transform: initial;
      font-weight: bold;
    }
  }
}

// No image block

.template-block_view {
  .block-menu-element > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;

    .card-text {
      text-align: left;
    }
  }
}

.template-summary_view,
.template-summary_view_with_images {
  .list-menu-element {
    list-style: none;

    & > a {
      text-decoration: none;
      display: flex;
      align-items: center;
      border-bottom: solid 1px #eaeaea;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;

      &::after {
        content: '\F133';
        font-family: bootstrap-icons !important;
        display: block;
        position: relative;
        font-size: 26px;
        color: #ccc;
        opacity: 0%;
        margin-left: auto;
        margin-right: 19px;
      }

      &:hover,
      &:focus {
        background: #f7f7f7;

        &::after {
          content: '\F133';
          opacity: 100%;
        }
      }

      .list-card-body {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: auto;

        .list-card-title {
          margin-bottom: 0;
          font-size: 25px;
        }

        .list-card-text {
          color: #7d7d7d;
        }
      }

      .newsImage {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.template-summary_view_with_images {
  .list-menu-element {
    & > a {
      margin-bottom: 1rem;
    }
  }
}

.template-block_view_with_images #content-core,
.template-block_view #content-core,
.template-summary_view #content-core,
.template-summary_view_with_images #content-core {
  margin-bottom: 3rem;
}
