#messagesviewlet .portalMessage,
#localmessagesviewlet .portalMessage {
  align-items: center;
}

#messagesviewlet .portalMessage.info,
#localmessagesviewlet .portalMessage.info {
  background-color: $message-info-bg;
  color: $message-info-color;

  span {
    color: $message-info-color;
  }

  .close-button {
    &::after {
      color: $message-info-color;
    }
  }
}

#messagesviewlet .portalMessage.warning,
#localmessagesviewlet .portalMessage.warning {
  background-color: $message-warning-bg;
  color: $message-warning-color;

  span {
    color: $message-warning-color;
  }

  .close-button {
    &::after {
      color: $message-warning-color;
    }
  }
}

#messagesviewlet .portalMessage.error,
#localmessagesviewlet .portalMessage.error {
  background-color: $message-error-bg;
  color: $message-error-color;

  span {
    color: $message-error-color;
  }

  .close-button {
    &::after {
      color: $message-error-color;
    }
  }
}

#messagesviewlet,
#localmessagesviewlet {
  float: none;
  padding-top: 0;

  .close-button {
    width: 26px;
    aspect-ratio: 1;

    &::after {
      content: "\F623";
      font-family: Bootstrap-icons;
      background: transparent;
      font-weight: 400;
    }
  }

  .portalMessage {
    display: block;
    max-width: 1320px;
    margin: 0 auto;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    p:first-of-type {
      display: inline;
      padding-right: 1.2rem;
    }

    .messagesviewlet-type {
      padding: 0;
      margin: 0;
      font-weight: bold;
      background: transparent !important;

      &::after {
        content: ":";
        margin-left: 1px;
      }
    }
  }
}

#messagesviewlet,
#localmessagesviewlet {
  grid-area: messageviewlet;
}
