.sectionevents .see_all a {
    font-family: $font-family-base;
}

.sectionnews .see_all a {
    font-family: $font-family-base;
}

.sortable-section.sectionevents h2.section-title::after, .sortable-section.sectionnews h2.section-title::after {
    background: $secondary;
    bottom: 0;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    padding-bottom: 5px;
    top: 69px;
    width: 12%;
}

.sortable-section.sectionevents h2.section-title, .sortable-section.sectionnews h2.section-title {
    position: relative;
}

.sortable-section.a-la-une {
    position: relative;

    &:before {
      position: absolute;
      top: 300px;
      bottom: 0;
      transform: translateX(-50vw);
      left: 50% !important;
      background: #F4F6F3;
      content: "";
      width: 100vw!important;
      z-index: -2;
    }
}

.sortable-section.enquetes {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      transform: translateX(-50vw);
      left: 50% !important;
      background: #F4F6F3;
      content: "";
      width: 100vw!important;
      z-index: -2;
    }
}

div.swiper-image {
    position: relative;
}

div.swiper-image::before {
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all .2s ease;
    z-index: 0;
}

.swiper-slide:hover a div.swiper-image:before {
    background: $primary;
    opacity: 50%;
}
//
.enquetes div.swiper-slide {
    position: relative;
    padding: 1rem;
    background: #fff;
}
// .enquetes div.swiper-slide::before {
//     background: transparent;
//     content: "";
//     position: absolute;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top: 0;
//     transition: all .2s ease;
//     z-index: 99;
// }
// .enquetes .swiper-slide:hover a div.swiper-slide:before {
//     background: $primary;
//     opacity: 0.5;
// }
//CENTRE CULTUREL thematique agenda

.section-agenda.site-centre-culturel .r-filter.topics-Filter {
    display: none;
}

.sectionfiles .item_infos {
    color: #fff;
  }

  .swiper-banner-link a {
    color: #000;
    font-weight: bold;
  }

  .swiper-banner-link {
    display: block;
    text-align: center;
}

.smartweb_herobanner .bannerSwiper .swiper-slide .swiper-banner-content-wrapper .swiper-banner-content {
    background: hsla(0, 0%, 100%, 83%);
}