.a-la-une.focus .swiper-slide>a {
    direction: rtl;
    grid-auto-flow: dense;
    grid-template-columns: 50% 50%;
}

.a-la-une.focus .swiper-slide>a .swiper_description, .a-la-une.focus .swiper-slide>a .swiper_title {
    direction: ltr!important;
}

body.portaltype-imio-smartweb-portalpage.section-home-page .swiper-banner-image:before {
    bottom: -2px;
    content: url("data:image/svg+xml,%3Csvg preserveAspectRatio='xMinYMin meet' viewBox='0 0 1920 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 120C950.699 -40 950.699 -40 1920 120H0Z' fill='white'/%3E%3C/svg%3E");
    position: absolute;
    left: 50%;
    z-index: 1;
    transform: translateX(-50vw);
    line-height: 0;
    display: block;
    width: 100vw;
}

body #content div.a-la-une .swiper-image {
    border-radius: 10px;
}
@include media-breakpoint-down(md) {
.smartweb_herobanner .bannerSwiper {
    height: 280px;
}
}