    .sectionevents{
        margin: 100px 0 !important;

        .section-title{
            width: 100%;

        }

        @media screen and (max-width:1000px) {
                    .section-title {
                        font-size: 22px !important;
                    }
        }

        .swiper-wrapper{
            .swiper-slide {
                transition: all .25s ease;

                & > a{
                    display: block;
                    align-items: center;

                    .swiper-image{
                        padding-bottom: 55%;
                        transition: all .25s ease;
                        margin-bottom: 0;
                    }

                    .swiper_category{
                        margin-left: 0;
                        position:relative;
                        width: max-content;
                        top: 0;
                        margin-top:-40px;
                        left: 0;
                    }

                    .swiper_date{
                        font-family: $font-family-base; 
                        grid-row-start: 2;
                        justify-content: center;
                    }

                    .swiper_title{
                        margin-top: 10px;

                        h3{
                            font-family: $font-family-base;
                            text-align: center;
                            
                        }
                    }

                    .swiper_description{
                        display: none;

                        p{
                            margin: 0;
                        }
                    }
                }

                &:hover {
                    transform: translateY(10px);
                    transition: .5s;
                }
            }
        }
    }
    