.portaltype-imio-smartweb-portalpage .sectionlinks:first-child.quick-access {
	padding: 0;

    .body-section{
        padding: 0;
    }
}

.sectionlinks.quick-access{
    background: $primary-blue-dark !important;
    padding:50px !important;
    margin:0 !important;
    border-radius: 0 0 80px;

    &::before {
        background: url("../../assets/svg/image-before.svg");
        content: "";
        height: 215px;
        left: -20px;
        position: absolute;
        bottom: -20px;
        transition: all .2s ease;
        width: 160px;
    }

    .section-title{
        text-transform: none;
        position: relative;
        color:#fff !important;
        text-align: center !important;
        margin: 0 0 2rem !important ;
        width: 100%;
    }

    @media screen and (max-width:1000px) {
        .section-title{
            font-size: 22px !important;
        }
    }
    
    svg{
        max-height: 40px;
        fill: #fff !important; 
    }
    
    .body-section{
        li{
            .table_image{
                .image.d-block{
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    position: relative;
                    transition: all .3s ease;
                }

                .table_title{
                    margin-top:0;

                    span{
                        color:#fff !important;
                    }
                }

                &:hover{
                    .image.d-block{
                        background: $primary-blue; 
                    }

                    svg{
                        fill: #fff !important;
                    }
                }
            }
        }
    }

    .row{
        @include media-breakpoint-down(lg){
            grid-gap: 0;
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(auto-fit,minmax(56px,250px));

            li{
                width: auto!important;
            }
        }
    }
}




    @media screen and (max-width:1000px) {
        .sectionlinks.quick-access{
            border-radius:0;
        
            &::before {
                display: none;
            }
        }
    }


.sectionlinks.quick-access .body-section ul {
	max-width: auto;
	margin-left: auto;
	margin-right: auto;

    li a {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        transition: all .3s ease;
        margin-bottom: 10px;;

        .image.d-block {
            background: $primary-green;
            border-radius: 50px;
            margin-bottom: 20px;

            svg {
                fill: #fff !important;
            }
        }

        &:hover{
            transition: all .3s ease;

            .image.d-block {
                background: $primary-blue;
    
                svg {
                    fill: #fff !important;
                    transition: all .3s ease;
                }
            }
        }
    }
}
