li.nav-item > a.state-published.nav-link:hover:focus {
  text-decoration: underline;
}

div.has_subtree ul li.has_subtree a.state-published.nav-link::after {
  position: relative;
  transition: all 0.2s ease;
}

div.has_subtree ul li.has_subtree a.state-published.nav-link:hover::after {
  right: 10px !important;
  transform: translateX(-20px);
}

body {
  background-image: url("../../assets/svg/star-background.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50% auto;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%; /* max 50% de la largeur */
  height: 100%; /* hauteur de la page */

  background-image: url("../../assets/svg/star-background-footer.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 50% auto;
  pointer-events: none; /* n’interfère pas avec les clics */
  z-index: -2; /* derrière le contenu */
}

.sectionevents {
  position: relative; /* nécessaire pour que ::after se positionne par rapport à la section */
  // width: 100%;
  // height: 200px; /* hauteur au choix */
  overflow: hidden; /* pour que les coins arrondis ne débordent pas */
}

.sectionevents::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%; /* largeur du background */
  height: 100%; /* occupe toute la hauteur de la section */
  background-color: $primary; /* couleur du background */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: -1; /* derrière le contenu */
}

footer#portal-footer-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  span,
  a,
  h2,
  h3,
  h4 {
    color: #fff;
  }
}

#portal-globalnav.activated > li > a,
#portal-globalnav-wrapper
  #portal-globalnav-collapse
  #portal-globalnav
  > li.show-nav.has_subtree
  > a {
  color: #000 !important;
}

.mask-menu {
  top: 78px;
}

//Galerie HP

.galerie-accueil,
.portaltype-imio-smartweb-portalpage .sectiongallery {
  .section-title {
    margin: 0 0 40px;
    width: max-content;
    font-size: 45px;
    justify-self: center;
    font-weight: 700;
  }

  margin: 120px 0 100px;
  overflow: hidden;
  border-radius: 0;
  padding: 0 10px !important;

  img {
    border-radius: 20px;
    position: relative;
  }

  .section_gallery_item {
    &::after {
      top: 0;
      bottom: 0;
      left: 0;
      background: $primary;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      margin-left: 0;
      z-index: 0;
      opacity: 0%;
      border-radius: 20px;
      transition: 0.5s;
    }

    &:hover {
      &::after {
        opacity: 80%;
        transition: 0.4s;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    border-radius: 0;
    margin: 5px 0 100px;
  }
}

.sectionfiles {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  .item_infos {
    color: #fff;
  }

  .table_image {
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;

    &:hover {
      text-decoration-thickness: 2px;
    }
  }
}

.colophonWrapper ul {
  display: flex;
  color: #fff;

  li,
  li a,
  p,
  h2,
  h3,
  a {
    color: #fff;
  }
}

div#portal-colophon {
  background: #000;
  color: #fff !important;
}

.subsite-container {
  align-items: center;
  background: #ecf6f9;
  flex-direction: row;
  gap: 40px;
  border: #2e4972 solid 1px;
}

#portal-column-content .section-contact .contact-type-organization {
  background: #ecf6f9;
}

.sectionnews .swiper-wrapper .swiper-slide,
.sectionevents .swiper-wrapper .swiper-slide {
  transition: 0.5s;
}

.sectionnews .swiper-wrapper .swiper-slide:hover,
.sectionnews .swiper-wrapper .swiper-slide:focus,
.sectionevents .swiper-wrapper .swiper-slide:hover,
.sectionevents .swiper-wrapper .swiper-slide:focus {
  transform: translateY(10px);
  transition: 0.5s;
}

footer h2.section-title {
  font-size: 2rem !important;
}

header#content-header {
  background: #fff;
}

.sectiontext .section-text .body-section a {
  text-decoration: underline;
}

.sectiontext .section-text .body-section a:hover,
.sectiontext .section-text .body-section a:focus {
  text-decoration: underline 2px #000;
}

.section-contact .table_schedule tr td:first-child {
  gap: 10px;
  font-weight: bold;
  white-space: nowrap;
  padding-right: 10px;
}

.r-add-contact a,
.r-add-event a,
.r-add-news a,
#portal-header #portal-header-top #header-links .account {
  color: #000;
  padding: 10px 20px;
  background: $primary-light !important;
  border-radius: 10px;
  border: solid 1px $primary;

  &:hover,
  &:focus {
    background: #fff;
    border: solid 1px $primary;
  }
}

#portal-column-content .section-contact .contact-type-organization,
#portal-column-content .section-contact .contact-type-position {
  background: #fff;
  border: 1px solid $primary;
  border-radius: 10px;
}

.portaltype-imio-smartweb-page .sectionfiles::after,
.portaltype-imio-smartweb-procedure .sectionfiles::after {
  border-radius: 10px;
}

footer#portal-footer-wrapper {
  background: #000;
}

.portaltype-imio-smartweb-page .sectionfiles::after {
  border-radius: 10px;
}

#messagesviewlet .portalMessage.warning,
#localmessagesviewlet .portalMessage.warning {
  background-color: #000;
}

#messagesviewlet .portalMessage.error,
#localmessagesviewlet .portalMessage.error {
  background-color: $primary;
}

.portaltype-imio-smartweb-portalpage div#messagesviewlet {
  position: absolute;
  top: 120px;
  width: 95%;
}

body.template-block_view #content-core::after {
  background-color: transparent;
}
