.portaltype-imio-smartweb-portalpage .sectionlinks.quick-access.first {
  padding: 0;

  .body-section {
    padding: 0;
  }
}

#main-container .sectionlinks.quick-access.first {
  width: calc(100vw - 30px) !important;
  top: 0 !important;
  margin-top: -3.5rem !important;
  padding-bottom: 30px;

  &::after {
    background: $primary;
    border-radius: 0 0 0 60px;
    bottom: 0 0 0 40px;
    content: "";
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: 30px;
    top: 2rem;
    width: calc(100vw - 30px);
    transform: translateX(-50%);
    z-index: -1;
  }

  @media screen and (max-width: 991px) {
    width: 100vw !important;
    top: 0 !important;
    margin-top: -3.5rem !important;
    padding-bottom: 30px;

    &::after {
      background: $primary;
      border-radius: 0;
      bottom: 0 0 0 40px;
      content: "";
      height: 100%;
      position: absolute;
      left: 50%;
      margin-left: 0;
      top: 2rem;
      width: 100vw;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  svg {
    max-height: 40px;
    fill: #fff !important;
  }

  .body-section {
    max-width: 85%;
    margin: 0 auto;

    li {
      .table_image {
        .image.d-block {
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: relative;
          top: 0;
          transition: all 0.3s ease;
        }

        .table_title {
          margin-top: 10px !important;

          span {
            color: #fff;
          }
        }

        &:hover {
          .image.d-block {
            background: $primary;
            top: -10px;
            transition: all 0.3s ease;
          }

          svg {
            fill: #fff !important;
          }

          .table_title {
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .row {
    @include media-breakpoint-down(lg) {
      gap: 10px;
      grid-gap: 0;
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(auto-fit, minmax(56px, 195px));

      li {
        width: auto !important;
      }
    }
  }
}
