div.swiper-image {
  position: relative;
}

div.swiper-image::before {
  background: transparent;
  content: "";
  position: absolute;
  inset: 0;
  transition: all 0.2s ease;
  z-index: 99;
}

.r-list-item-group:hover .r-item-arrow-more {
  background-color: $primary !important;
}

.sectionfiles::after {
  background: #f3f3f3;
}

.sectionfiles {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;

  h2 {
    color: $secondary !important;
  }

  a {
    color: $secondary !important;
  }

  span {
    color: $secondary !important;
  }
}

#portal-breadcrumbs {
  background-color: #fff;
}

body.section-home-page .container #main-container {
  position: relative;

  &::after {
    background: url("../../assets/svg/bb.svg");
    content: "";
    display: block;
    height: 105%;
    left: -50%;
    position: absolute;
    top: -40px;
    width: 100vw;
    background-size: cover;
    background-position: right top;
    z-index: -99;
  }
}

//custom
#subsite-navigation > ul > li > a {
  color: #000;
}

.offcanvas.offcanvas-start {
  width: 95%;
}

#offcanvasSearch .offcanvas-body {
  overflow: visible;
}

.colophonWrapper ul {
  gap: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
}

.colophonWrapper li:last-child {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .subsite-container {
    margin-top: 1rem;
  }
}

#subsite-navigation > ul li.show-nav > .has_subtree.dropdown {
  margin-top: 2rem;
}

//MENU config
body.userrole-authenticated ul.nav li a.nav-link {
  color: $secondary;
}

//Bloc
.block-menu-element h2.card-title {
  padding: 2rem;
  color: $secondary;
}

.portaltype-imio-smartweb-portalpage {
  #portal-header {
    margin-bottom: 0 !important;
  }

  @media screen and (min-width: 900px) {
    #messagesviewlet {
      position: absolute;
      top: 100px;
    }
  }

  .subsite-container {
    margin-top: 0 !important;
  }
}

#messagesviewlet .portalMessage.warning,
#localmessagesviewlet .portalMessage.warning {
  background-color: #ff8f3e !important;
}

#portal-header #portal-header-top #header-links a,
#portal-header #portal-header-top #header-links span {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.sectionevents .h2,
.sectionevents h2,
.sectionnews .h2,
.sectionnews h2 {
  font-size: 4.5rem;
  text-transform: uppercase;
}

#main-container {
  a,
  a:focus,
  a:hover {
    color: #001344 !important;
  }
}

#subsite-navigation .nav-link {
  color: #001344;
  font-weight: 500;
}

#main-container .sectionnews .see_all a:hover,
#main-container .sectionnews .see_all a:focus {
  color: #fff !important;
}

#main-container .sectionevents .see_all a:hover,
#main-container .sectionevents .see_all a:focus {
  color: #fff !important;
}

#smartweb-footer h3 {
  color: #fff !important;
}
