.espace-citoyen{
    padding-top: 0;
    padding-bottom: 4vw;
    margin-bottom: 0;
    margin-top: 4vw;

    max-width: 100vw;
    position: relative;
    width: 100vw;

    left: 50%;
    transform: translateX(-50%);

    .section-title{
        font-weight: 600;
        text-transform: none;
        position: relative;
        margin: 0 0 50px 0;
        text-align: center;
        width: 100% !important;
        font-size: 2.8rem;
        padding:0;

        &:after {
            background: url("../../assets/star.svg");
            top:0;
            content: "";
            left: 50%;
            margin-left: -133px;
            margin-top: -110px;
            z-index: -1;
            position: absolute;
            transition: all .2s ease;
            width: 267px;
            height:267px;
        }
    }

    @media screen and (max-width:1200px) {
        .section-title{
            font-weight: 600;
            text-transform: none;
            position: relative;
            margin: 0 0 50px 0;
            text-align: center;
            width: 100% !important;
            font-size: 2.8rem;
            padding:0;
    
            &:after {
                background: url("../../assets/ministar.svg");
                top:0;
                content: "";
                left: 50%;
                margin-left: -60px;
                margin-top: -35px;
                z-index: -1;
                position: absolute;
                transition: all .2s ease;
                width: 120px;
                height:120px;
            }
            }
        }

        @media screen and (max-width:900px) {
            .section-title{
                &:after {
                    margin-top: -80px;
                }
                }
            }

    .body-section{
        .row{
            max-width: 100%;
            margin: 0 auto;
            border-radius: 100px;
            background: $primary-red;

            li{
                padding: 0!important;
            }

            .table_display{
                height: 100%;
            }

            .table_image{
                padding: 1.5rem 1rem;
                background: $primary-red;
                border-radius: 100px;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                height: 100%;
                transition: all .25s ease;
                color: #fff;

                .image{
                    width: auto;

                    svg{
                        height: auto;
                        width: 40px;
                        max-height: 40px;
                        opacity: 1;
                        fill: #fff;;
                    }
                }

                &:hover{
                    transition: all .25s ease;
                    background: $primary-redb;

                    .image{
                        svg{
                            opacity:1;
                        }
                    }

                    .table_title{
                        span{
                        }
                    }
                    
                }
            }
        }

        @media screen and (max-width:767px) {
            .row{
                border-radius: 20px;

                .table_image{
                    border-radius: 20px;
                }
            }
            }

    }
}