.sectionevents {
  background: #343645;

  .swiper-pagination-bullet {
    background: #a1a1a1;
    opacity: 100%;
  }

  .swiper-pagination-bullet-active {
    background: #fff !important;
  }
}

.sectionevents .see_all a {
  &:hover {
    color: #fff !important;
  }
}

footer #container-section-liens-utiles h2 {
  font-size: 2.5rem !important;
  transform: translateX(-13px);
}
