.swiper_description {
    color: $primary;
    padding: 0 1rem;
}

.sectionevents .swiper-slide > a {
    transition: all .2s ease;
}

.sectionevents .swiper-slide > a:hover {
    background: $primary;

    div h3, div span, div p 
        {
            color: #fff;
        }
}

.sectionevents:before {
    background: #f8f8f8;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 0%;
    transform: translateX(-50vw);
    width: 100vw;
    z-index: -1;
}