.bloc-temoignages {
  background: linear-gradient(180deg, $primary-light 0, #fff 300px, #fff);
  border-radius: 100px 100px 0 0;
  margin-top: 130px;
  padding: 80px 50px;
  text-align: center;

  .swiper-wrapper {
    padding-bottom: 70px;
  }

  h2 {
    font-size: 28px !important;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 20px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;

    .swiper_description {
      order: 1; // Afficher en premier
    }

    .swiper_title {
      order: 2; // Afficher en deuxième
    }

    .swiper_subtitle {
      order: 3; // Afficher en troisième
    }
  }

  .swiper-slide {
    .swiper_title h3 {
      font-size: 20px;
      color: #000;
      font-weight: 600;
    }

    .swiper_subtitle p {
      font-size: 14px;
      line-height: 24px;
      color: $primary-svg;
    }

    border: 1px solid #ddd;
    border-radius: 30px;
    text-align: left;
    margin: 20px 0;
    padding: 70px 40px 40px;
    list-style-type: none;

    &::before {
      content: "";
      transition: all 0.2s ease;
      position: absolute;
      height: 54px;
      background: url("../../assets/svg/quote.svg") no-repeat;
      left: 60px;
      top: -20px;
      width: 84px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: $primary-svg;
    border-radius: 50px;
    height: 45px;
    bottom: 0 !important;
    width: 45px;
    top: auto;
  }

  .swiper-button-prev {
    left: 50%;
    margin-left: -50px;
  }

  .swiper-button-next {
    left: 50%;
    margin-left: 10px;
  }

  .swiper-pagination-bullets {
    display: none !important;
  }
}

#tous-les-temoignages-collaboration-imio {
  width: 100% !important;
  text-align: center !important;

  a {
    background: $primary-red;
    border: 1px solid $primary-red;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    margin: 10px 0 20px;
    display: inline-block;
    transition: all 0.2s ease;

    &:hover {
      background: $primary;
      border: 1px solid $primary;
      transition: all 0.2s ease;
    }
  }
}
