.bloc-temoignages {
  background: linear-gradient(180deg, $primary-light 0, #fff 300px, #fff);
  border-radius: 100px 100px 0 0;
  margin-top: 130px;
  padding: 80px 50px;
  text-align: center;

  .swiper-wrapper {
    padding-bottom: 90px;
  }

  h2 {
    font-size: 24px !important;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 20px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;

    .swiper_description {
      order: 1; // Afficher en premier
    }

    .swiper_title {
      order: 2; // Afficher en deuxième
    }

    .swiper_subtitle {
      order: 3; // Afficher en troisième
    }
  }

  .swiper-slide {
    .swiper_title h3 {
      font-size: 24px;
      color: #000;
      font-weight: 600;
    }

    .swiper_subtitle p {
      font-size: 16px;
      color: $primary-svg;
    }

    border: 1px solid #ddd;
    border-radius: 30px;
    text-align: left;
    margin: 20px 0;
    padding: 40px;
    list-style-type: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: $primary-svg;
    border-radius: 50px;
    height: 45px;
    bottom: 0 !important;
    width: 45px;
    top: auto;
  }

  .swiper-button-prev {
    left: 50%;
    margin-left: -50px;
  }

  .swiper-button-next {
    left: 50%;
    margin-left: 10px;
  }

  .swiper-pagination-bullets {
    display: none !important;
  }
}
