.sectionnews h2.section-title {
    font-weight: 300;
}

.sectionnews, .sectionevents, .partenaires {
    h2.section-title::after {
    content: "";
    display: block;
    height: 4px;
    position: static;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    background-color: $secondary-svg;
    }
}