.portaltype-imio-smartweb-page #main-container .sectionfiles {
  border-radius: 0;
  font-weight: bold;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 0 !important;

  li {
    margin: 0.25rem 0;
    padding: 0;
  }

  &::after {
    display: none !important;
  }

  .section-title {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: auto;
    color: #000;
    padding: 0 !important;

    a {
      text-decoration: none;
    }

    a.collapsed {
      color: #000 !important;
    }
  }

  .section-container {
    border-radius: 0;
    display: flex;

    @media screen and (min-width: 800px) {
      padding: 0 50px;
    }

    .section-title {
      font-weight: 400;
    }

    .table_display {
      border-color: white;

      .table_image {
        border: solid 1px #22809654;
        text-decoration: none;
        padding: 20px;
        border-radius: 10px;
        transition: all 0.3s ease;

        &:hover {
          border-color: $primary-svg;
          background: #e8f2f4;
          transition: all 0.3s ease;
        }

        span,
        p,
        a,
        div {
          color: #000 !important;
          font-weight: 400;
        }
      }
    }
  }
}

.sectionfiles .nb-items-batch-1 {
  width: 100%;
}

///// link
///
.portaltype-imio-smartweb-page #main-container .sectionlinks {
  .section-container {
    & > div {
      .section-title {
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
      }

      .body-section {
        .row {
          flex-direction: row;
          list-style-type: none;
          gap: 0 2%;

          li {
            padding: 0;
          }

          .table_image {
            display: flex;
            gap: 15px;
            width: 100%;
            border: solid 1px #22809654;
            text-decoration: none;
            padding: 20px;
            border-radius: 10px;

            &:hover {
              border-color: $primary-svg;
              background: #e8f2f4;
              transition: all 0.3s ease;
            }

            .image {
              width: auto;
            }

            .table_title {
              span {
                display: flex;
                align-items: first baseline;
                gap: 10px;
              }
            }
          }
        }
      }
    }
  }
}
