//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
@import "../../../base/src/scss/main";
@import "banner";
@import "actu";
@import "footer";
@import "partenaires";
@import "demarches";
@import "fileslinks";

.sectionnews,
.sectionevents {
  .see_all a::after {
    display: none;
  }
}

.card-img-top.no-image {
  background-color: #2280961a;
}
