//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
@import "../../../base/src/scss/main";
@import "banner";
@import "actu";
@import "footer";
@import "partenaires";
@import "demarches";
@import "fileslinks";

.sectionnews,
.sectionevents {
  .see_all a::after {
    display: none;
  }
}

.card-img-top.no-image {
  background-color: #2280961a;
}

.contact_placeholder {
  background-color: #e9e9e9;

  &::after {
    content: "\F220";
    font-family: bootstrap-icons !important;
    text-align: center;
    position: absolute;
    font-size: 100px;
    color: #c0c1c2;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}
