.sectionlinks.partenaires {
  background: transparent;

  .swiper-slide {
    text-align: center;

    & > a {
      border: solid 2px $primary-svg;
      display: block;
      border-radius: 10px;
    }

    .swiper-image {
      aspect-ratio: 1;
      padding: 0;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
