.sectionlinks.quick-access {
    background: #f0edeb;

    @include media-breakpoint-up(md){
        margin-top: -180px;
        background: transparent;

            .body-section li a {
            border: solid 2px #EFECE8;
            border-radius: 50%;
            width: 140px;
            height: 140px;
            padding-top: 1rem;
            background: #EFECE8;
            box-shadow:
              0 0 5.3px rgba(0, 0, 0, 2%),
              0 0 17.9px rgba(0, 0, 0, 3%),
              0 0 80px rgba(0, 0, 0, 5%)
            ;
        }
    }

    @include media-breakpoint-up(sm){
        margin-top: -180px;
    }

    @media (min-width: 320px) and (max-width: 768px) {
        li {
            width: 50%;
        }
    }
}


.quick-access ul.row a.table_image:hover {
  border: solid 2px $primary-svg;
}

@media screen and (max-width: 768px){
    .quick-access{
        padding-top: 1rem!important;
        padding-bottom: 1rem!important;
    }

     .portaltype-imio-smartweb-portalpage #content-core .row {
        justify-content: flex-start!important;
        gap: 40px 0!important;
    }
}


.quick-access-more {
    .section-title {
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        margin: 0 auto 2rem;
        font-size: 2.5rem;
      }

    .row {
        justify-content: center;
        margin-top: 4rem;
        gap: 70px 0;

        li {
            @media screen and (max-width: 768px){
                width: 50%;
            }
        }
    }

    .section-title {
        text-align: center;
    }

    .table_image {
        text-decoration: none;
        position: relative;
        display: block;

        &:after {
            content: "";
            width: 70px;
            height: 70px;
            background-color: #F1E8E3;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -1;
            border: solid 1px #fff;
        }

        &:hover,&:focus {
            &:after {
                border: solid px $primary-svg;
            }
        }
    }

    .image {
        text-align: center;
    }

    .table_title {
        text-align: center;

        span {
            font-weight: 500;
        }
    }
}

html #content-core .quick-access-more .row {
	gap: 70px 0!important;
}