.sectionnews {
    padding-top: 4rem;
    padding-bottom: 4rem;

    &::after {
        background: #ffbf49;
        border-radius: 50%;
        content: "";
        display: block;
        height: 80vw;
        left: 50%;
        max-height: 1589px;
        max-width: 1589px;
        min-height: 1300px;
        min-width: 1300px;
        position: absolute;
        top: 0;
        transform: translate(-50%, 14%);
        width: 80vw;
        z-index: -1;
    }

    .swiper-wrapper {
        padding-bottom: 100px;

    }
}

.sectionevents {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .swiper-wrapper {
        padding-bottom: 100px;


    }
}