.sectionnews .swiper-slide .swiper_date {
	margin-top: 0.7rem;
}

.sectionnews{
    @include media-breakpoint-up(lg){
        &::after{
            content:"";
            background:url("../../assets/svg/aigle-jn.svg");
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            width: 900px;
            height: 1050px;
            top: -15%;
            left: -15%;
            z-index: -1;
            opacity: 20%;
        }
    }

    .swiper-slide {        
        & > a {
            .swiper-image{
                position: relative;

                &::after{
                    content: "";
                    position: absolute;
                    inset: 0;
                    background-color: #0F4C81;
                    opacity: 0%;
                }
            }

            &:hover{
                .swiper-image{
                    &::after{
                        opacity: 50%;
                    }
                }
            }
        }
    }
}