#portal-footer-wrapper #portal-footer.container {
  background: $primary;
}

html body #portal-footer-wrapper {
  h2,
  h3,
  h4,
  p,
  span,
  a,
  div {
    color: #fff !important;
  }

  .contact_subtitle {
    display: none !important;
  }

  #portal-footer {
    padding-top: 5rem;
  }

  h2 {
    font-size: 1.7rem !important;
  }
}

#portal-colophon {
  background: $primary;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0 !important;

    h2,
    h3,
    h4,
    p,
    span,
    a,
    div,
    li {
      color: #fff !important;
    }
  }
}

footer {
  figure {
    width: 100% !important;
  }
}

body:not(.portaltype-imio-smartweb-portalpage) {
  footer {
    margin-top: 3rem;
  }
}
