.bloc-accueil-galerie {
  .section-title {
    font-weight: 600;
    margin: 0 0 30px;
    width: 100%;
    text-align: left;
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
  }

  #body-section-martelange-belle-par-nature {
    overflow: hidden;
    border-radius: 80px;
  }
}
