#portal-footer-wrapper {
  --bs-link-color-rgb: $primary;
  text-align: left !important;
  background: #f7f7f7;
  padding: 3rem 1rem;

  h2 {
    color: $text-color;
    font-size: 20px !important;
  }

  h3 {
    color: $text-color;
    font-size: 16px !important;
  }
}

#portal-colophon {
  background: $primary;

  ul {
    margin-bottom: 0;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;

    li,
    span,
    p,
    a {
      color: #fff;
    }
  }
}

.portaltype-imio-smartweb-portalpage {
  #portal-footer-wrapper {
    position: relative;
    overflow: visible;

    &::before {
      content: "";
      width: 750px;
      height: 980px;
      background: url("../../assets/svg/body-bg-bottom.svg");
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      transform: translateY(-100%);
      z-index: -9;
    }
  }
}

footer {
  .fax {
    display: none;
  }
}

.footer-social {
  .row {
    justify-content: center;

    li {
      width: max-content;

      .table_title {
        display: none;
      }
    }
  }

  .plone-icon {
    height: 1.6em;
  }
}

.section-contact {
  .youtube {
    display: none;
  }

  .facebook {
    display: none;
  }
}

.viewlet-below-content-body {
  .procedure {
    display: none;
  }
}
