$enable-roboto-webfont: false;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import "./variables";
@import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import "./quick";
@import "./actualites";
@import "./footer";

.smartweb_herobanner {
  z-index: 0;

  .swiper-banner-image {
    border-radius: 20px;

    @media screen and (min-width: 768px) {
      border-radius: 80px;
    }
  }
}

@media screen and (max-width: 768px) {
  .smartweb_herobanner .bannerSwiper {
    height: 300px;
  }
}

#portal-header #portal-header-top #header-links #search-link a {
  background-color: $primary-svg;
  border-color: transparent;
  text-decoration: none;

  &:hover {
    background-color: darken($primary-svg, 10%);
  }
}

.account {
  text-decoration: none;

  span {
    font-weight: 500;
  }
}

.see_all {
  a {
    background-color: $primary-svg;
  }
}

.see_all a::after {
  display: none !important;
}

.portaltype-imio-smartweb-portalpage {
  background-image: url("../../assets/svg/body-bg-top.svg");
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: left 701px;
}

.subsite-container #subsite-logo a {
  align-items: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  gap: 14px;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
}

.subsite-container #subsite-logo {
  border-radius: 5px;
}

.section-contact {
  .contact_map {
    margin-top: 1.5rem;
  }
}

#portal-header #portal-header-top #portal-logo {
  margin-right: 30px;
}

.portaltype-imio-smartweb-portalpage {
  #messagesviewlet {
    position: absolute;
    top: 81px;
  }
}

.site-cpas,
.site-le-tremplin {
  .account {
    display: none;
  }
}

#portal-column-content
  .section-contact
  .contact-type-organization
  .contact_logo {
  background-repeat: no-repeat;
  background-size: 100px;
  display: block;
  padding-top: 100px;
}
