//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
// @import "../../../base/src/scss/main";
@import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import "./home";
@import "./quickacess";
@import "./a-la-une";
@import "./footer";
@import "./se-files";
@import "./se-link";

//// STYLES

// ... add your styles here
#portal-column-content .sectioncontact {
  .contact-type-organization,
  .body-section.contact-type-position,
  .body-section.contact-type-mission {
    background: #f1f1f1;
    border-radius: 20px 20px 20px 0 !important;
    margin: 10px;
    width: auto !important;
  }

  h2,
  h3,
  h4 {
    font-family: $font-family-base;
  }
}

.r-item-img.r-item-img-placeholder {
  background: url("../../assets/svg/placeholder.png");
  background-size: cover;
  background-position: center;
  z-index: -1 !important;
}

.swiper-slide .swiper_title {
  width: 100%;
}

.swiper-slide .swiper_date {
  width: 100%;
}

.sectionnews .swiper-pagination-bullet-active {
  background: #fff !important;
}

#search-link {
  a {
    width: 36px;
    height: 36px;
    background: $primary;
  }
}

.sectionevents .swiper_date {
  display: flex;
  justify-content: center;
}

.sectiontext .section-text .body-section a {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 2px; /* épaisseur du trait */
  text-underline-offset: 0.24em; /* espace entre texte et trait */
  text-decoration-color: currentcolor; /* ou une couleur plus légère */
  text-decoration-skip-ink: auto; /* le trait s'interrompt sous p, g, y… */

  &:hover {
    text-decoration-thickness: 3px;
  }

  &:focus-visible {
    outline: 2px solid currentcolor;
    outline-offset: 2px;
  }
}
