.sectionnews a {
    text-decoration: none;

    .image.w-100 {
    padding-bottom: 60%;
    border-radius: 10px 10px 0 0;
    }

    .see_all a {
    border: 1px solid $color-darkgrey;
    }
}

.sectionnews .swiper-slide>a {
    background: #fff;
}

.sectionnews ul li {
    list-style: none;
}

.sectionnews .body-section ul li {
    margin-bottom: 1.5rem;
}

.sectionnews {
    .tabble_date {
        color: $primary;
        display: flex;

        .start_date {
            padding-right: 0.3rem;
        }
    }

    .table_title {
        color: $primary;
        font-weight: 900;
        padding: 0 2rem;
        font-size: 20px;
        line-height: 130%;
        overflow: hidden;
    }

    .table_category {
        padding: 1rem 2rem;
        color: $primary;
    }

    .table_description {
        padding: 1rem 2rem;
    }
}

#container-section-actualites div span, #container-section-actualites div p {
    color: $primary;
  }

.sectionnews .body-section {
    .table_display {
        background-color: #fff;
        height: 470px;
        position: relative;
        border: 0 solid transparent;
        max-width: 416px;
    }
}

.sectionnews .table_image div.image {
    position: relative;
    overflow: hidden;
}

.sectionnews .table_image div.image::before {
    content: "";
    background: transparent;
    transition: all .3s ease;
    position: absolute;
    inset: 0 0 0 0;
    border-radius: 10px;
}

.sectionnews .end_date {
    margin-left: 0.25rem;
  }

.sortable-section.sectionnews {
    position: relative;
}

.sectionnews .body-section {
    .table_date {
        padding: 0.5rem 2rem;
        font-weight: 300;
    }
}

.sectionnews .table_date span {
    margin-right: 5px;
}

.sectionnews .see_all a {
    border: 1px solid $color-darkgrey;
}

.sectionnews .see_all a:hover::before {
    right: 5px;
    color: $primary;
}

.sectionnews .table_category {
    color: $primary;
    padding: 0.5rem 2rem 0;
    font-weight: 600;
}

.sortable-section.sectionnews {
    margin-bottom: 2rem;
}

.sectionnews .body-section li div.table_display {
    transition: all .5s ease;

    a>div {
        transition: all .5s ease;
    }
}

.sectionnews .body-section li div.table_display:hover {
    background-color: $primary;
    border-radius: 10px;
    transition: all .5s ease;

    a>div {
        color: #fff !important;
        transition: all .5s ease;
    }

    a>div span, a>div p {
        color: #fff !important;
        transition: all .5s ease !important;
    }
}


.sectioncontenus {
    .swiper_title h3 {
    color: $primary;
    font-weight: 900;
    padding: 0 2rem;
    font-size: 20px;
    line-height: 130%;
    overflow: hidden;
    font-family: var(--bs-body-font-family);
    }

    a{
    text-decoration: none;
    text-align: center;
    }

    .section-title {
    margin: 0 0 2rem !important;
    padding: 0 !important;
    text-align: center !important;
    }

}