.sectionevents a {
    text-decoration: none;
    .image.w-100 {
    padding-bottom: 60%;
    border-radius: 10px 10px 0 0;
    }
    .see_all a {
    border: 1px solid $color-darkgrey;
    }
}
.sectionevents ul li {
    list-style: none;
}
.sectionevents .body-section ul li {
    margin-bottom: 1.5rem;
}
.sectionevents {
    .tabble_date {
        color: $primary;
        display: inline-flex;
        .start_date {
            padding-right: 0.3rem;
        }
    }
    .table_title {
        color: $primary;
        font-weight: 900;
        font-size: 1.5rem;
        padding: 0 2rem;
        font-size: 20px;
        line-height: 130%;
        overflow: hidden;
    }
    .table_category {
        padding: 1rem 2rem;
        color: $primary;
    }
    .table_description {
        padding: 1rem 2rem;
    }
}
#container-section-actualites div span, #container-section-actualites div p {
    color: $primary;
  }
.sectionevents .body-section {
    .table_display {
        background-color: #fff;
        height: 470px;
        position: relative;
        border: 0px solid transparent;
        max-width: 416px;
    }
}
.sectionevents .table_image div.image {
    position: relative;
    overflow: hidden;
}
.sectionevents .table_image div.image::before {
    content: "";
    background: transparent;
    transition: all .3s ease;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    top: 0;
}
.sectionevents .end_date {
    margin-left: 0.25rem;
  }
.sortable-section.sectionevents {
    position: relative;
}

.sectionevents .body-section {
    .table_date {
        padding: 0.5rem 2rem 0.5rem 2rem;
        font-weight: 300;
    }
}
.sectionevents .table_date span {
    margin-right: 5px;
}

.sectionevents .see_all a {
    border: 1px solid $color-darkgrey;
}
.sectionevents .see_all a:hover::before {
    right: 5px;
    color: $primary;
}

.sectionevents .table_category {
    color: $primary;
    padding: 0.5rem 2rem 0rem 2rem;
    font-weight: 600;
}

.sortable-section.sectionevents {
    margin-bottom: 2rem;
}