#main-container .quick-access {
  @media screen and (min-width: 320px) {
    margin-top: (calc(-14% - 1.25rem));
  }

  @media screen and (min-width: 500px) {
    margin-top: (calc(-9% - 1.25rem));
  }

  @media screen and (min-width: 992px) {
    margin-top: (calc(-6% - 1.25rem));
  }
  padding: 0;

  .body-section {
    ul {
      justify-content: space-evenly;
      justify-items: center;

      li {
        width: max-content !important;

        .table_image {
          .image.d-block {
            transition: all 0.3s ease;
            position: relative;
            margin-bottom: 20px;
          }

          &:hover,
          &:focus {
            .image.d-block {
              transform: translateY(-5px);
              transition: all 0.3s ease;
              background: $primary !important;
              border: 1px solid $primary;

              svg {
                fill: #fff;
              }
            }
          }

          .table_title {
            margin: 0;
            text-align: center;
            max-width: 150px;

            span {
              line-height: 1;
              font-size: 15px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .body-section {
      ul {
        li {
          .table_image {
            .image.d-block {
              width: 70px;
              height: 70px;
            }
          }

          a .table_title span {
            font-size: 14px;
          }
        }
      }
    }
  }

  .row {
    @include media-breakpoint-down(lg) {
      grid-gap: 20px;
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(auto-fit, minmax(150px, 150px));

      li {
        width: auto !important;
      }
    }
  }

  .section-title {
    font-weight: 200;

    //font-family:$font-family-roboto;
    text-transform: uppercase;
    color: $primary;
    margin: 0 0 2rem;
  }
}

.sectionlinks.quick-access .body-section li a {
  //   display: flex;
  //   flex-direction: column;
  //   padding: 10px;
}

.sectionlinks.quick-access .body-section ul {
  margin-left: auto;
  margin-right: auto;
}

.partenaires {
  position: relative;
  margin: 80px 0 !important;

  .body-section {
    width: 62%;
    margin-left: 35%;

    @media screen and (max-width: 991px) {
      width: 100% !important;
      position: relative;
      margin-left: 0;
    }
  }

  .section-title {
    color: #2c2e35 !important;
    font-family: Ubuntu, sans-serif;
    font-size: 2.5rem !important;
    font-weight: 700 !important;
    margin: 30px 80px 0 0 !important;
    padding-left: 0;
    position: absolute;
    text-align: left;
    text-transform: none !important;

    @media screen and (max-width: 991px) {
      position: relative !important;
      margin: 0 0 30px !important;
      padding-left: 10px !important;
    }
  }
}
