.sectionevents{
    background: linear-gradient(180deg,#fff 0,#fff 400px,#424242 400px);
    overflow: hidden;
    position: relative;

    &:after {
        background: url("../../assets/svg/bg-wh.svg") top right no-repeat;
        width: 100%;
        height: 400px;
        display: block;
        position: absolute;
        top:0px;
        max-width: 100%;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .swiper-button-prev, .swiper-button-next {
        display: none !important;
    }

    .section-container{
        position: relative;
        .swiper-pagination-bullet {
            background: #000000 !important;
            opacity: 1;
          }
    .swiper-pagination-bullet-active {
        background: $primary-orange !important;
      }
    }
    .section-title{
        font-weight: 500;
        text-align: center;
        text-transform: none;
        position: relative;
        margin: 0 auto 4.5rem;
        width: max-content;
        font-size: 3rem;

    }


    .swiper-wrapper{
        .swiper-slide {
            background: transparent;
            transition: .5s;
            border-bottom: 1px solid #000;
            padding-bottom:10px;
            
            &:hover,&:focus{
                    transition: .5s;
                    transform: translateY(10px);
            }
            & > a{
                align-items: center;
                .swiper-image{
                    transition: .5s;
                }
                .swiper_category{
                    left: auto;
                    position: initial;
                    top: auto;
                    right: 10px;
                    width: 100%;
                    text-align: right;
                    transition: .5s;
                    span {
                        background: #000000;
                        border-radius: 0 0 8px 8px;
                        padding: 0.5rem 1rem;
                        display: inline-block;
                        transition: .5s;
                    }
                }
                .swiper_date{
                    font-family: $font-family-base; 
                }
                .swiper_title{
                    h3{
                        font-family: $font-family-base;
                        transition: .5s;
                        color:#fff;
                        
                    }
                }
                .swiper_description{
                    p{
                        margin: 0;
                    }
                }
                &:hover{
                    .swiper_title{
                        h3{
                            transition: .5s;
                        }
                    }
                    .swiper_category{
                        transition: .5s;
                        span {
                            background:$primary-orange;
                            color:#000;
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }
}