#smartweb-footer .sectiontext figure img,  #smartweb-minisite-footer .sectiontext figure img {
    max-width: 150px!important;
    width: 100%!important;
    margin-top: 40px;
}

#portal-footer-wrapper{
    text-align: left!important;
    margin-top: 3rem;

    background:transparent;
    overflow: hidden;
    position: relative;



    #portal-footer{
        background:$primary!important;

        
        #smartweb-footer,#smartweb-minisite-footer{
            a,span,p,div,h2{
                color: #fff!important;
                text-decoration:none;
            }

            h2{
                font-size: 22px!important;
                font-weight: 500;
                margin-top: 2rem;
                color: $primary-orange !important;

                &.section-title{
                    margin-bottom: 1.5rem;
                    margin-top: 2rem;
                }
            }

            .sectiontext{
                figure{
                    img{
                        max-width: 100%;
                    }
                }
            }

            .sectionlinks{
                .row{
                    padding-left: calc(var(--bs-gutter-x)*.5);
                    }
            }


            
        }
    }
}

#portal-footer-wrapper #portal-footer h2.section-title {
    margin-bottom: 0.5rem;
}

.smartweb-footer .body-section figure img {
    border-radius: 0 !important;
}



#portal-colophon{
    background: $primary;
    padding: 1rem;

    
    ul{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        /*&:nth-last-child(n+1){
            display: block;
        }*/
        li{
            color: #fff!important;

            a,span,p,div{
                color: #fff!important;
            }
        }
    }
}

#portal-footer-wrapper{
    background: $primary;
    padding:3rem 0 !important;
    margin-top:100px;
    overflow: initial;

   
}



.section-home-page #portal-footer-wrapper{
    margin-top:300px;

    &:before {
        background: url("../../assets/svg/top-footer.svg") top center no-repeat;
        background-size: contain;
        background-position: bottom;
        width: 1090px;
        height: 307px;
        display: block;
        position: absolute;
        top:-138px;
        margin: 0 auto;
        max-width: 100%;
        content: "";
        left: 50%;

    transform: translate(-50%,-50%);

    }
    @media screen and (max-width: 992px) {
        margin-top:150px;
    }
    @media screen and (max-width: 600px) {
        margin-top:50px;
    }

}

@media screen and (max-width: 992px) {
    #portal-footer-wrapper{
        padding:4rem 1rem 1rem !important;
    }
    
}

footer{
    .schedule .opening_informations::after {
        content: "";
        width: 9px;
        height: 6px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" width=\"8.444\" height=\"5.2\"><path fill=\"white\" d=\"M.247.254a.831.831 0 0 1 1.2 0l2.78 2.854L7.011.254A.831.831 0 0 1 8.2.264a.882.882 0 0 1 .01 1.215L4.825 4.946a.835.835 0 0 1-.6.254 1.529 1.529 0 0 1-.6-.254L.247 1.479a.882.882 0 0 1 0-1.226Z\"/></svg>");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 0.4rem;
        display: inline-block;
        vertical-align: middle;
    }

    .sectiontext ul li:before {
        display: none !important;
    }

    
}