.sectionevents {
  @media screen and (max-width: 992px) {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .section-container {
    position: relative;

    .swiper-pagination-bullet-active {
      background: $primary-blue !important;
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      border-radius: none;
      transition: 0.5s;

      &:hover,
      &:focus {
        transition: 0.5s;
        transform: translateY(10px);
        background: #fff;
        border-radius: 30px 0;
      }

      & > a {
        align-items: left;
        padding-bottom: 20px;

        .swiper-image {
          transition: 0.5s;
        }

        .swiper_category {
          width: 100%;
          text-align: left;

          span {
            display: inline-block;
            background: $primary;
            border-radius: none;
          }
        }

        .swiper_date {
          font-family: $font-family-base;
          width: 100%;

          div {
            margin: 0 auto;
          }
        }

        .swiper_title {
          width: 100%;

          h3 {
            font-family: $font-family-base;
            transition: 0.5s;
            text-align: left;
          }
        }

        .swiper_description {
          width: 100%;

          p {
            margin: 0;
          }
        }

        &:hover {
          .swiper_title {
            h3 {
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }

  .section-container .swiper-pagination-bullet-active {
    background: $primary-blue !important;
  }
}
