.sectionlinks.quick-access {
  padding: 1rem 0;

  div#container-section-quickacces {
    &::after {
      background: $primary;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      left: 50%;
      transform: translateX(-50vw);
      width: 100vw;
    }
  }

  a.table_image .image {
    transition: all 0.2s;
  }

  a.table_image:hover .image {
    padding-bottom: 10px !important;
  }
}

#portal-header {
  margin-bottom: 0;
}
