.a-la-une {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  max-width: 100vw;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  position: relative;

  @media screen and (max-width: 1000px) {
    background: $primary-light;
    padding-bottom: 10px !important;
  }

  &::after {
    content: "";
    background: url("../../assets/svg/before-une.svg") left top no-repeat;
    left: 0;
    width: 140px;
    height: 100%;
    top: -120px;
    position: absolute;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  @media screen and (max-width: 992px) {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    margin: 3rem 0 0;
  }

  &::before {
    display: none;
  }

  .swiper-wrapper {
    padding-bottom: 0;
  }

  @media screen and (max-width: 992px) {
    .swiper-wrapper {
      padding-bottom: 100px;
    }
  }

  .swiper-pagination {
    display: none;
  }

  .section-title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 50px !important;
    position: absolute !important;
    z-index: 0;
    margin-top: 0 !important;
    color: $primary-blue;
    background: none;
    padding-left: 0;

    @media screen and (max-width: 1000px) {
      position: relative !important;
    }

    &::before {
      display: none;
    }
  }

  .swiper_date {
    grid-area: content;
    order: 0;
    margin-bottom: 1rem;
    display: none;

    span {
      color: $primary-blue;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  .swiper-slide {
    .swiper-image {
      border-radius: 20px;
      grid-area: image;
    }

    .swiper_title {
      background: transparent;
      width: 100%;
      grid-area: content;
      order: 1;
      padding: 50px 50px 0 0;

      @media screen and (max-width: 992px) {
        padding: 0;
      }
    }

    .swiper_description {
      font-size: 16px;
      color: $primary;
      background: #fff !important;
      position: relative;
      min-width: 300px !important;
      grid-area: content;
      order: 2;

      p {
        color: $primary !important;
        text-align: left;
        padding-left: 0;

        @media screen and (max-width: 992px) {
          padding-left: 0;
        }
      }

      &::after {
        background: #fff;
        color: #000;
        border: solid 1px #cbcbcb;
        font-weight: 400;
        border-radius: 8px;
        bottom: -60px;
        content: "Lire plus";
        left: 0;
        padding: 15px 30px;
        position: absolute;
        top: auto;
        width: auto;
        z-index: 2;
        font-size: 16px;
        transition: all 0.5s ease;

        @media screen and (max-width: 992px) {
          left: 20px !important;
        }
      }

      &:hover {
        &::after {
          background: #000;
          color: #fff;
          border: solid 1px #000;
          transition: all 0.5s ease;
        }
      }
    }

    .swiper_title h3 {
      margin-bottom: 20px;
      padding-left: 0;
      padding-top: 10px;
      font-weight: 400 !important;
      text-align: left;
      position: relative;
      font-size: 24px;
      color: $primary;

      @media screen and (max-width: 992px) {
        padding: 10px 0 !important;
      }
    }

    a {
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-areas: "content image";
      align-items: center;
      //grid-template-rows: auto 1fr;
    }

    .content-wrapper {
      grid-area: content;
      display: flex;
      flex-direction: column;
    }

    @media screen and (max-width: 992px) {
      .swiper_title h3 {
        padding: 0 1rem;
      }

      a {
        grid-template-columns: 100% !important;
        grid-template-areas: "image" "content" !important;
        //grid-template-rows: 1fr !important;
      }

      .swiper-image {
        grid-area: image;
      }

      .swiper_title,
      .swiper_description {
        grid-area: content;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 50% !important;
    box-shadow: rgb(99 99 99 /0%) 0 2px 8px 0;
  }

  .swiper-button-prev {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M14 17.75a.74.74 0 0 1-.53-.22l-5-5a.75.75 0 0 1 0-1.06l5-5a.75.75 0 0 1 1.06 1.06L10.06 12l4.47 4.47a.75.75 0 0 1 0 1.06a.74.74 0 0 1-.53.22Z" fill="%23ffffff"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: $primary-svg;
    left: 0;
    margin-left: 0;
    margin-bottom: 60px;
    top: auto !important;
    bottom: 0;
  }

  .swiper-button-next {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M10 17.75a.74.74 0 0 1-.53-.22a.75.75 0 0 1 0-1.06L13.94 12L9.47 7.53a.75.75 0 0 1 1.06-1.06l5 5a.75.75 0 0 1 0 1.06l-5 5a.74.74 0 0 1-.53.22Z" fill="%23ffffff"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: $primary-svg;
    left: 0;
    margin-left: 50px;
    margin-bottom: 60px;
    top: auto !important;
    bottom: 0;
  }

  @media screen and (max-width: 992px) {
    .swiper-button-prev {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M14 17.75a.74.74 0 0 1-.53-.22l-5-5a.75.75 0 0 1 0-1.06l5-5a.75.75 0 0 1 1.06 1.06L10.06 12l4.47 4.47a.75.75 0 0 1 0 1.06a.74.74 0 0 1-.53.22Z" fill="%23ffffff"/></svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      left: 0;
      margin-left: 20px;
      top: auto !important;
      bottom: 0;
    }

    .swiper-button-next {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M10 17.75a.74.74 0 0 1-.53-.22a.75.75 0 0 1 0-1.06L13.94 12L9.47 7.53a.75.75 0 0 1 1.06-1.06l5 5a.75.75 0 0 1 0 1.06l-5 5a.74.74 0 0 1-.53.22Z" fill="%23ffffff"/></svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      left: 0;
      margin-left: 80px;
      top: auto !important;
      bottom: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .swiper-button-prev {
      display: block;
    }

    .swiper-button-next {
      display: block;
    }
  }

  @media screen and (max-width: 575px) {
    .swiper-slide .swiper-image {
      border-radius: 20px;
    }
  }

  .see_all {
    display: none;
  }

  .swiper-wrapper {
    .swiper-slide {
      transition: all 0.25s ease;

      & > a {
        align-items: center;

        .swiper-image {
          padding-bottom: 55%;
          transition: all 0.25s ease;
          margin-bottom: 0;
          border-radius: 30px 30px 30px 0;
        }

        .swiper_category {
          display: none;
        }

        .auth_source_container_title {
          display: none;
        }

        .swiper_date {
          font-family: $font-family-base;
          grid-row-start: 2;
          width: 100% !important;
          text-align: center;
          color: $primary;
          margin: 1.5rem 0 0.5rem;
        }

        .swiper_title {
          margin-top: 10px;
        }

        .swiper_description {
          display: none;

          p {
            margin: 0;
          }
        }

        &:hover {
          .swiper-image {
            mask-size: 99%;
          }
        }
      }

      &:hover {
        transform: translateY(0) !important;
        transition: 0s !important;
      }
    }
  }
}
