//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
@import "../../../base/src/scss/main";

//// STYLES

// ... add your styles here

@import "./nav";
@import "./home/banner";
@import "./home/quick";
@import "./home/a-la-une";
@import "./home/actualites";
@import "./home/events";
@import "./home/en-image";
@import "./home/annuaire";
@import "./home/les-sites";
@import "./home/newsletter";
@import "./mini";

@media screen and (min-width: 1200px) {
  .a-la-une,
  .sectionnews,
  .sectionevents,
  .albumhome,
  .quick-access.les-sites,
  .quick-annuaire {
    .section-title {
      font-size: 70px !important;
    }
  }
}

.swiper_title h3 {
  font-family: $font-family-base !important;
}

// // see-all

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

.see_all {
  display: block !important;
  width: 280px;
  height: auto;
  margin: 0 0 0 auto !important;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;

  .circle {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: $primary;
    border-radius: 1.625rem;

    .icon {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: $white;

      &.arrow {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;

        &::before {
          position: absolute;
          content: "";
          top: -0.25rem;
          right: 0.0625rem;
          width: 0.625rem;
          height: 0.625rem;
          border-top: 0.125rem solid #fff;
          border-right: 0.125rem solid #fff;
          transform: rotate(45deg);
        }
      }
    }
  }

  a {
    @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
    position: absolute !important;
    width: max-content !important;
    inset: 0 0 0 2rem;
    padding: 0.75rem 0 !important;
    margin: 0 0 0 1.85rem;
    color: $black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    font-family: $josefin !important;
    text-decoration: none !important;
  }

  &:hover {
    .circle {
      width: 100%;

      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }

    .button-text {
      color: $white;
    }
  }

  &:hover {
    a {
      color: $white;
    }
  }
}

// slider

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -6px !important;
}

.smartweb_herobanner .bannerSwiper .section-slide {
  height: 100%;
}

// video home

.home-video {
  padding: 2rem 0 !important;

  .section-video {
    display: block;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-up(lg) {
      display: flex;
    }

    & > p {
      font-family: $josefin;
      font-size: 28px;
      text-align: center;

      @include media-breakpoint-up(lg) {
        font-size: 45px;
      }
    }

    #body-section-video-daccueil {
      max-width: 600px;

      iframe {
        border-radius: 10px;
      }
    }
  }
}

.home-en-image li {
  list-style: none;
  padding: 1px;
}

.home-en-image .image {
  padding-bottom: 100%;
}

.home-en-image .see_all {
  margin: 0 auto 0 0 !important;
}

.home-en-image {
  .table_image {
    position: relative;
    display: block;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(9, 57, 81, 61%);
      opacity: 0%;
      transition: all 0.1s ease;
    }

    .table_title {
      position: absolute;
      top: 50%;
      z-index: 1;
      left: 0;
      right: 0;

      span {
        color: #fff;
        transition: all 0.1s ease;
        opacity: 0%;
      }
    }

    &:hover {
      &::before {
        opacity: 100%;
      }

      .table_title {
        span {
          opacity: 100%;
        }
      }
    }
  }
}

.en-images-titre .html {
  display: none;
}

.en-images-titre {
  margin-bottom: 5rem;
}

.home-publication {
  padding: 5rem 0;
  position: relative;
}

.home-publication::after {
  content: "";
  position: absolute;
  inset: 0 0 23% 50%;
  background: #f5f5f5;
  z-index: -1;
  width: 100vw;
  transform: translateX(-50%);
}

.home-publication .section-title {
  margin-bottom: 4rem;
  text-align: right;
}

.home-publication .swiper-image {
  padding-bottom: 141%;
}

.home-en-image .image {
  padding-bottom: 100%;
}

.home-publication a {
  text-decoration: none;
  font-family: $josefin;
}

.home-publication {
  .swiper_title {
    background: #fff;
    padding: 10px 20px;
    z-index: 1;
    position: relative;

    &::before {
      content: url("../../assets/svg/eyes.svg");
      margin-top: -33px;
      display: block;
    }
  }

  .swiper-image {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: hsl(200deg, 80%, 18%, 70%);
      opacity: 0%;
      transition: all 0.3s ease;
    }

    &::before {
      content: url("../../assets/svg/plus.svg");
      display: block;
      line-height: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      opacity: 0%;
      z-index: 1;
    }

    &:hover {
      &::after {
        opacity: 100%;
      }

      &::before {
        opacity: 100%;
      }
    }
  }
}

#portal-footer-wrapper {
  @include media-breakpoint-up(lg) {
    text-align: left !important;
  }

  &::before {
    content: url("../../assets/svg/footer-comines.svg");
    background: #fff;
    display: block;
    line-height: 0;
  }
}

.block-menu-element a h2.card-title,
.block-menu-element a .card-title.h2 {
  font-weight: 400 !important;
}

.r-search-header-title {
  font-family: inherit !important;
}

#portal-footer-wrapper #portal-footer.container {
  background: $primary;
}

.smartweb_footer h2,
.smartweb_footer h3,
.smartweb_footer a {
  color: #fff !important;
}

.sectionsendinblue::after {
  background: #fff;
}

.sectionsendinblue .form-text,
.sectionsendinblue .h2,
.sectionsendinblue .lead,
.sectionsendinblue h2,
.sectionsendinblue label {
  color: #383838;
}

.sectionsendinblue {
  #form-buttons-subscribe {
    background: $primary;
    color: #fff;
    border: 0;

    &:focus,
    &:hover {
      background: #073044;
    }
  }
}

.home-video-en-image {
  .table_display {
    display: none;
  }
}
