//// VARIABLES
// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS
// Import barceloneta files from node_modules --load-path=node_modules
// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";
// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import "./variables";
@import "../../../base/src/scss/main.scss";

//// STYLES
// ... add your styles here
@import "./home/quick.scss";
@import "./home/a-la-une";
@import "./home/actualites";
@import "./home/events";
@import "./home/en-image";
@import "./home/annuaire";
@import "./home/les-sites";
@import "./home/newsletter.scss";

@media screen and (min-width:1200px) {
    .a-la-une,
    .sectionnews,
    .sectionevents,
    .albumhome,
    .quick-access.les-sites,
    .quick-annuaire {
        .section-title {
            font-size: 70px !important;
        }
    }
}
.swiper_title h3{
    font-family: $font-family-base!important;
}
// see-all

.see_all{
    a{
        position: relative;
        display: flex!important;
        flex-direction: row-reverse;
        align-items: center;
        &:before{
            content: "";
            position: relative;
            width: 30px;
            height: 30px;
            background:url("../../assets/svg/seeall-arrow.svg"),#fff;
            display: block;
            border-radius: 50px;
            margin-left: 2rem;
            z-index: 1;
        }
        &:after{
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            background:$secondary;
            opacity: 60%;
            display: block;
            border-radius: 50px;
            z-index: -1;
        }
        &:hover{
            text-decoration: underline;
            &:after{
                animation: anim-in 0.4s forwards ease-out;
            }
        }
    }
}

@keyframes anim-out {
    0% {
        opacity: 0%;
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
        opacity: 60%;
    }
  }
  
  
  @keyframes anim-in {
    100% {
        opacity: 0%;
        transform: scale(1.5);
    }
    0% {
        transform: scale(1);
        opacity: 60%;
    }
  }