#smartweb-footer .sectiontext figure img,  #smartweb-minisite-footer .sectiontext figure img {
    max-width: 200px !important;
    width: 100% !important;
}

#portal-footer-wrapper{
    text-align: left!important;
    background: transparent;
    margin-top: 0;

    #portal-footer{
        background:#fff;
        padding:2rem 0;

        #smartweb-footer,#smartweb-minisite-footer{
            a,span,p,div,h2{
                color: #121212!important;
                text-decoration:none;
            }

            h2{
                font-size: 22px!important;
                font-weight: 500;
                margin-top: 2rem;
                font-family: $font-family-base;

                &.section-title{
                    margin-bottom: 1.5rem;
                    margin-top: 2rem;
                }
            }

            .sectiontext{
                margin-top: 2rem;

                figure{
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

#portal-footer-wrapper #portal-footer #smartweb-footer h2.section-title {
    margin-bottom: 0.5rem;
}

#portal-colophon{
    background:#fff;
    padding: 1rem;

    ul{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;

        li{
            color: #121212!important;

            a,span,p,div{
                color: #121212!important;
            }
        }
    }
}

.portaltype-imio-smartweb-portalpage #portal-footer-wrapper{
    background: #f8ecd1;
}

footer{
    .schedule .opening_informations::after {
        content: "";
        width: 9px;
        height: 6px;
        display: block;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" width=\"8.444\" height=\"5.2\"><path fill=\"white\" d=\"M.247.254a.831.831 0 0 1 1.2 0l2.78 2.854L7.011.254A.831.831 0 0 1 8.2.264a.882.882 0 0 1 .01 1.215L4.825 4.946a.835.835 0 0 1-.6.254 1.529 1.529 0 0 1-.6-.254L.247 1.479a.882.882 0 0 1 0-1.226Z\"/></svg>");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 0.4rem;
        display: inline-block;
        vertical-align: middle;
    }
}