.sectionevents::after {
  background: url("../../assets/svg/bg-event.jpg") bottom center #cdd8e7;
  background-size: cover;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50vw);
  width: 100vw;
  z-index: -1;
}

.sectionevents {
  background: #166b8c;
  padding: 80px 0;

  .section-title {
    font-weight: 300;
    position: relative;
    text-align: center;
    margin-bottom: 2rem;

    &::after {
      display: block;
      width: 100px;
      left: 50%;
      top: 50px;
      bottom: 0;
      position: absolute;
      transform: translate(-50%, 0%);
    }
  }

  .see_all a {
    font-family: Lato, sans-serif;
    font-weight: 400;
    color: #121212;
    background: #fff;

    &::after {
      display: none;
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      transition: 0.5s;

      &:hover,
      &:focus {
        background: #166b8c;
        border-radius: 10px;
        transition: 0.5s;

        .swiper-image {
          transition: 0.5s;
        }

        //transform: translateY(-10px);
      }

      & > a {
        align-items: center;

        .swiper-image {
          transition: 0.5s;
        }

        .swiper_category {
          top: 10px;
          left: 10px;
          position: absolute;
        }

        .swiper_date {
          font-family: $font-family-base;
          color: #fff;
        }

        .swiper_title {
          h3 {
            font-family: $font-family-title;
            transition: 0.5s;
            color: #fff;
          }
        }

        .swiper_description {
          display: none;

          p {
            margin: 0;
          }
        }

        &:hover {
          .swiper_title {
            h3 {
              transition: 0.5s;
            }
          }

          .swiper_description {
            p {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
