.portaltype-imio-smartweb-portalpage.section-accueil,
.portaltype-imio-smartweb-portalpage.section-home-page{
    .sectionnews{
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            line-height: 0;
            z-index: -2;
            background: linear-gradient(#fcebe9, #f0ebee);
        }

        &:after {
            content: "";
            mask: url("data:image/svg+xml,%3Csvg preserveAspectRatio='xMinYMin meet' xmlns='http://www.w3.org/2000/svg' id='Calque_2' data-name='Calque 2' viewBox='0 0 1921 500.64'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bstroke:%23fff;stroke-miterlimit:10%7D%3C/style%3E%3C/defs%3E%3Cg id='Calque_1-2' data-name='Calque 1'%3E%3Cpath d='M105.45 482.28c-.89-18.97-3.53-74.91-3.67-76.14 0 0 .04-24.34-2.79-50.22-3.15-28.77-5.23-47.12-5.34-47.23-.11-.1-16.23-2.06-39.12-4.74-21.42-2.51-39.22-4.62-39.57-4.69-.56-.11-.58-.14-.23-.22.21-.05 18.57-.65 40.8-1.34 35.16-1.08 40.43-1.27 40.58-1.48.1-.13.61-2.34 1.14-4.91.53-2.57 1.06-5.06 1.17-5.54.17-.76 3.26-5.35 25.28-37.65 27.22-39.93 25.68-37.68 25.78-37.58.08.08.44-.64-25.73 50.47-10.38 20.27-18.86 36.98-18.86 37.15s7.88 23.85 17.51 52.63c9.63 28.78 17.6 52.63 17.72 53.01.14.45.15.66.04.62-.09-.03-7.7-15.52-16.91-34.42-9.21-18.9-16.87-34.6-17.02-34.89-.16-.31-.33-.47-.42-.39-.08.08 1.96 15.2 4.99 36.98 2.82 20.26 5.13 37.02 5.13 37.02l11.6 69.48c23.04-4.3 47.37-9.07 72.51-14.27L218 356.32c2.3-16.74 4.62-33.47 6.95-50.21 4.11-29.54 6.87-50.04 6.76-50.15-.11-.11-.34.1-.56.52-.21.39-10.59 21.68-23.07 47.31-12.48 25.63-22.8 46.63-22.92 46.67-.15.05-.14-.23.05-.84.15-.51 10.96-32.85 24.02-71.88 13.06-39.03 23.74-71.15 23.74-71.38s-11.51-22.9-25.57-50.38c-35.47-69.31-34.98-68.34-34.87-68.45.14-.14-1.96-3.19 34.95 50.96 29.86 43.81 34.04 50.03 34.27 51.06.54 2.5 1.07 5 1.59 7.51.72 3.48 1.42 6.48 1.55 6.66.21.28 7.35.54 55.02 2.01 30.13.93 55.02 1.74 55.3 1.81.47.11.44.15-.32.3-.46.1-24.6 2.96-53.63 6.36-31.03 3.64-52.89 6.29-53.04 6.43-.15.15-2.96 25.03-7.23 64.05-3.84 35.09-3.79 68.1-3.79 68.1-.19 1.69-3.86 79.76-5.02 104.35 121.75-26.31 256.69-62.07 351.63-104.23 119.29-52.98 403.26-121.87 701.89-100.41a14.172 14.172 0 0 1-5.21-4.41 14.043 14.043 0 0 1-2.5-10.56c1.12-6.96 7.16-11.93 14-11.93.75 0 1.5.06 2.27.18 3.74.6 7.02 2.63 9.24 5.7 2.22 3.07 3.1 6.82 2.5 10.56-.6 3.74-2.62 7.02-5.69 9.24-1.24.9-2.6 1.57-4.02 2.02 20.63 1.63 41.33 3.69 62.04 6.23-6.93-6.58-10.62-16.31-8.99-26.38 2.37-14.64 15.14-25.08 29.63-25.08 1.6 0 3.22.13 4.85.39 7.94 1.28 14.92 5.56 19.63 12.04 4.71 6.47 6.6 14.37 5.32 22.24-1.27 7.87-5.55 14.77-12.05 19.43-1.09.78-2.23 1.48-3.4 2.11 93.15 13.86 185.98 37.66 274.01 74.58l11.78-70.72s2.37-17.3 5.28-38.22c3.12-22.49 5.22-38.09 5.13-38.18-.08-.09-.26.08-.43.4-.15.3-8.04 16.51-17.52 36.02s-17.32 35.5-17.41 35.53c-.12.04-.11-.17.04-.64.11-.38 8.32-25.01 18.24-54.72 9.92-29.71 18.03-54.16 18.03-54.34 0-.08-2.1-4.28-5.5-10.99-10.12-1.2-16.44-1.97-16.69-2.02-.88-.18-.92-.22-.37-.35.15-.04 6.02-.25 15.57-.56-3.37-6.66-7.71-15.18-12.43-24.43-26.94-52.77-26.57-52.03-26.49-52.11.1-.1-1.49-2.43 26.55 38.79 17.31 25.47 23.25 34.24 25.18 37.32 10.31-.33 22.71-.72 35.99-1.13 55.48-1.71 63.8-2.02 64.04-2.35.15-.21.96-3.71 1.8-7.77.84-4.07 1.67-8.01 1.84-8.76.28-1.2 5.15-8.47 39.9-59.6 42.9-63.16 40.46-59.6 40.62-59.44.12.12.7-1.01-40.59 79.88-16.37 32.07-29.76 58.53-29.76 58.8s12.43 37.75 27.63 83.3 27.78 83.3 27.96 83.89c.22.72.24 1.04.06.98-.15-.05-12.16-24.56-26.69-54.47-14.52-29.91-26.61-54.76-26.85-55.22-.26-.49-.52-.74-.65-.61s3.08 24.05 7.87 58.53c4.45 32.07 8.08 58.6 8.08 58.6l21 126.15c24.83 18.13 48.87 37.79 71.96 59.08V.5H.5v499c27.79-3.99 63.85-9.79 104.95-17.22ZM1259.51 241.2l1.95-12.05 5.18.84 3.33-20.66 8.63 1.39 1.12-6.89 13.81 2.23 1.67-10.33 3.45.56 5.56-34.44 6.9 1.11 8.02-5.77 2.9 4-4.01 2.89-5.56 34.44 3.45.56-1.66 10.33 25-1.27 20.15-47.99 51.8 8.36 6.58 47 15.54 2.51 4.35 6-2.56 4.89-8.63-1.39-4.68 28.98-5.84-.94-6.04-.98c1.84-3.39 3.11-7.1 3.74-11.02 1.49-9.19-.72-18.42-6.21-25.97-5.49-7.56-13.62-12.54-22.87-14.04-19.1-3.08-37.14 9.85-40.21 28.83-.64 3.97-.57 7.89.11 11.64l-33.37-5.38c-.21-3.6-1.42-7.07-3.58-10.06-3-4.16-7.44-6.89-12.5-7.71-10.45-1.68-20.31 5.44-22 15.88-.22 1.38-.28 2.75-.21 4.11l-8.13 1.18-5.18-.84Z' class='cls-1'/%3E%3Cpath d='M1810.22 414.05c-1.77-37.61-4.82-102.23-5-103.89 0 0 .06-38.52-4.41-79.48-4.98-45.54-8.25-74.58-8.42-74.75-.17-.17-25.62-3.26-61.73-7.51-12.01-1.41-23.28-2.74-32.87-3.88.16.75.33 1.56.5 2.39.55 2.65 1.08 4.93 1.18 5.07.15.22 5.58.41 41.79 1.53 22.88.7 41.78 1.33 42 1.38.36.09.34.11-.24.23-.35.07-18.68 2.25-40.73 4.84-23.57 2.77-40.18 4.79-40.29 4.9-.11.11-2.25 19.05-5.49 48.76-2.92 26.71-2.88 51.84-2.88 51.84-.15 1.39-3.4 70.7-3.98 83.12 41.53 18.66 81.88 40.36 120.57 65.45Z' class='cls-1'/%3E%3C/g%3E%3C/svg%3E");
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            line-height: 0;
            z-index: -1;
            mask-size: contain;
            padding-bottom: 22%;
            background: #fff;
            mask-position: top;
            mask-repeat: no-repeat;
        }
    }
}

.sectionnews{
    .section-title{
        color: $primary-svg!important;
    }

    .swiper-wrapper{
        .swiper-slide {
            & > a{
                .swiper-image{
                    transition: all .25s ease;
                }

                .swiper_category{
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                }

                .swiper_date{
                    text-transform: uppercase;
                    font-family: $font-family-base; 
                    background: #fff;
                    width: 90%;
                    margin: 0 auto;
                    order: 1;
                    padding: 0.5rem 1rem 1rem;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

                .swiper_title{
                    background: #fff;
                    width: 90%;
                    margin: 0 auto;
                    padding: 1rem 1rem 0.5rem;
                    margin-top: -45px;

                    h3{
                        margin: 0;
                    }
                }

                .swiper_description{
                    width: 90%;
                    margin: 0 auto;
                    background: #fff;
                    padding: 0 1rem;

                    p{
                        margin: 0;
                    }
                }

                &:hover{
                    .swiper-image{
                        mask-size: 99%;
                    }

                    .swiper_category{
                        color: #fff;
                    }

                    .swiper_date{

                    }

                    .swiper_title{
                        h3{
        
                        }
                    }

                    .swiper_description{
                        p{
        
                        }
                    }
                }
            }
        }
    }

    .swiper-button-next, .swiper-button-prev {
        // top: 54px;
        // width: 45px;
        // height: 45px;
        // background-color: #fff;
        // border-radius: 50px;
    }

    .swiper-button-prev{
        // left: inherit;
        // right: 65px;
    }

    .swiper-pagination-bullet-active {
        background: #e43423 !important;
    }
}

.sectionnews .see_all a {
	border: solid 2px #e43423;

    &:hover{
        color: $primary-svg;
    }
}