.portaltype-imio-smartweb-portalpage.section-accueil,
.portaltype-imio-smartweb-portalpage.section-home-page {
    .sectionevents{
        background: linear-gradient(#f0ebee,#daebf5);
        &:after{
            content: url("data:image/svg+xml,%3Csvg width='258' height='468' viewBox='0 0 258 468' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.0502 468H73.5802C73.5802 468 79.9602 331.86 80.2302 329.36C80.2302 329.36 80.1602 288.39 84.9302 244.82C90.2302 196.38 93.7202 165.5 93.9002 165.31C94.0802 165.13 121.2 161.84 159.69 157.33C195.71 153.1 225.65 149.55 226.22 149.43C227.16 149.24 227.2 149.2 226.61 149.06C226.25 148.97 195.38 147.96 158.01 146.81C98.8901 144.99 90.0201 144.67 89.7701 144.31C89.6101 144.09 88.7402 140.37 87.8502 136.04C86.9502 131.72 86.0702 127.52 85.8902 126.72C85.6002 125.44 80.4102 117.71 43.3802 63.3301C-2.40985 -3.86993 0.190152 -0.0799406 0.0201519 0.0900594C-0.109848 0.220059 -0.729847 -0.989937 43.2702 85.0501C60.7202 119.17 74.9902 147.31 74.9902 147.59C74.9902 147.87 61.7402 187.74 45.5502 236.2C29.3602 284.65 15.9502 324.8 15.7502 325.43C15.5202 326.19 15.5002 326.54 15.6902 326.47C15.8502 326.42 28.6402 300.34 44.1302 268.53C59.6102 236.72 72.4902 210.29 72.7502 209.8C73.0302 209.28 73.3101 209.01 73.4501 209.15C73.5901 209.29 70.1602 234.74 65.0602 271.4C60.3202 305.51 56.4402 333.73 56.4402 333.73L34.0502 467.99V468Z' fill='white'/%3E%3Cpath d='M241.8 454H222.99C222.99 454 219.96 389.42 219.83 388.24C219.83 388.24 219.86 368.8 217.59 348.14C215.07 325.16 213.41 310.51 213.32 310.43C213.23 310.35 200.33 308.79 182.02 306.64C164.89 304.63 150.64 302.95 150.37 302.89C149.92 302.8 149.91 302.78 150.18 302.71C150.35 302.67 165.04 302.19 182.82 301.64C210.95 300.78 215.17 300.62 215.29 300.46C215.37 300.35 215.78 298.59 216.2 296.54C216.63 294.49 217.05 292.5 217.13 292.12C217.27 291.51 219.74 287.85 237.36 262.05C259.14 230.17 257.9 231.96 257.98 232.04C258.04 232.1 258.33 231.53 237.4 272.35C229.1 288.53 222.31 301.88 222.31 302.02C222.31 302.16 228.61 321.07 236.32 344.05C241.05 358.16 245.78 372.27 250.5 386.38C250.61 386.74 250.62 386.91 250.53 386.87C250.46 386.85 244.37 374.48 237 359.39C232.47 350.1 227.93 340.81 223.38 331.53C223.25 331.28 223.11 331.15 223.05 331.22C222.98 331.29 224.62 343.36 227.04 360.75C229.3 376.93 231.14 390.32 231.14 390.32L241.79 454.01L241.8 454Z' fill='white'/%3E%3C/svg%3E%0A");
            position: absolute;
            bottom: -30px;
            left: 0;
        }
        &:before{
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='174' height='104' fill='none'%3E%3Cg fill='%23fff' clip-path='url(%23a)'%3E%3Cpath d='M167.9 45.35h-15.74L138.17 0H85.7L73.46 50.58l-24.49 5.23V45.34h-3.5V10.47l3.5-3.49-3.5-3.49-7 6.98h-7v34.88h-3.5v10.47H13.98v6.98H5.25v20.93H0v12.21h5.25l7.84-2.46c-.29-1.32-.45-2.69-.45-4.09 0-10.58 8.61-19.19 19.19-19.19 9.13 0 16.78 6.42 18.71 14.98h33.79a34.578 34.578 0 0 1-1.96-11.47c0-19.22 15.74-34.86 35.1-34.86s35.1 15.64 35.1 34.86c0 4.02-.7 7.88-1.96 11.47h12.06V55.82h8.74l1.75-5.23-5.25-5.23-.01-.01Z'/%3E%3Cpath d='M45.37 85.17c-5.87-16.79-30.16-10.8-27.49 6.8 1.22 6.59 7 11.6 13.94 11.6 9.39.16 16.46-9.51 13.55-18.39v-.01ZM145.25 85.16c.55-1.32 1.02-2.69 1.38-4.09v-.01c4.96-18.54-9.87-37.46-29.17-37.21-19.3-.25-34.15 18.68-29.17 37.22 7.22 27.68 45.83 30.41 56.95 4.11v-.02h.01Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h173.15v103.57H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            position: absolute;
            bottom: 0;
            right: 5%;
        }   
    }

}
.sectionevents{
    overflow: hidden;
    .section-title{
        color: $primary-svg!important;
    }
    .swiper-wrapper{
        .swiper-slide {
            & > a{

                .swiper-image{
                    transition: all .25s ease;
                }
                .swiper_category{
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                }
                .swiper_date{
                    text-transform: uppercase;
                    font-family: $font-family-base; 
                    background: #fff;
                    width: 90%;
                    margin: 0 auto;
                    order: 1;
                    padding: 0.5rem 1rem 1rem 1rem;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
                .swiper_title{
                    background: #fff;
                    width: 90%;
                    margin: 0 auto;
                    padding: 1rem 1rem 0.5rem 1rem;
                    margin-top: -45px;
                    h3{
                        margin: 0;
                    }
                }
                .swiper_description{
                    width: 90%;
                    margin: 0 auto;
                    background: #fff;
                    padding: 0 1rem;
                    p{
                        margin: 0;
                    }
                }
                &:hover{
                    .swiper-image{
                        mask-size: 99%;
                    }
                    .swiper_category{
                        color: #fff;
                    }
                    .swiper_date{

                    }
                    .swiper_title{
                        h3{
        
                        }
                    }
                    .swiper_description{
                        p{
        
                        }
                    }
                }
            }
        }
    }
    .swiper-pagination-bullet-active {
        background: #486be8 !important;
    }
}

.sectionevents .see_all a {
	border: solid 2px #486be8;
    &:hover{
        color: $primary-svg;
	    border: solid 2px #486be8;
    }
}