//*// BREADCRUMBS //*//

#portal-breadcrumbs {
    background-color: $breadcrumb-bg;
    margin-bottom: 0;
    position: relative;
    @if $enable-full-width-breacrumb {
        &:after{
          @include full-width;
          background: $breadcrumb-bg;
        }
      }
    .container{
      padding: 0;
    }
    .breadcrumb {
      background-color: transparent;
      .breadcrumb-item{
        & +.breadcrumb-item {
          padding-left: 0;
        }
        a{
          text-decoration: none;
        }
        &:before {
          float: right;
          content: ">";
          padding-right: 0.25rem;
          padding-left: 0.25rem;
        }
        &:last-child:before {
          content: "";
        }
      }
    }
}
.section-home-page{
  #plone-breadcrumb{
    display: none;
  }
}
// cacher le breadcrumb à la racine du site
.section-home-page-bla nav#portal-breadcrumbs,.portaltype-imio-smartweb-portalpage #portal-breadcrumbs {
  display: none;
}
//---//