$nav-subtree-title-color : #008FD2;

#search-link {
    cursor: pointer;
}

#portal-globalnav-wrapper{
    z-index: 2;
}

.navbar-nav {
    @include media-breakpoint-up(lg) {
	align-items: center;
    }
}
@include media-breakpoint-up(lg) {
    .collapse:not(.show) {
        display: block;
    }
}

.mask-menu{
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .05s,visibility 0s linear .25s;
    background-color: rgba(15, 11, 11, 0.76);
}

.mask-menu.in {
	opacity: 1;
	visibility: visible;
	transition: opacity .2s ease,visibility 0s;
}

#subsite-navigation > ul li > .has_subtree.dropdown .has_subtree.dropdown {
	bottom: 0;
}

#portal-globalnav-collapse, #subsite-navigation{
    .index_html {
        display: none;
    }

    div.has_subtree {
        border-radius: 10px;

        & > span {
            color: $nav-subtree-title-color;
            font-size: 24px;
            font-weight: bold;
        }
    }

    .dropdown{
        .show-nav{
           & > .nav-link{
                color: $primary;

                &[aria-haspopup="true"]{
                    &:after{
                        content: url(../../assets/svg/arrow-right-blue.svg);
                        right: 0;

                    }
                }
            }
        }

        .nav-link{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover,
            &:focus{
                color: $primary;
            }

            &[aria-haspopup="true"]{
                &:after{
                    content: url(../../assets/svg/arrow-right-blue.svg);
                    content: url(../../assets/svg/arrow-right.svg);
                    position: relative;
                    right: 11px;
                    transition: all .2s ease;
                }

                &:hover,
                &:focus{
                    &:after{
                        content: url(../../assets/svg/arrow-right-blue.svg);
                    }
                }
            }
        }
    }

    .quick-access{
        .quick-access-title{
            font-weight: bold;
            display: block;
            color: $primary;
            margin-top: 1em;
            font-size: 1.25rem;
            padding-bottom: 0.5rem;
        }

        ul{
            position: relative!important;
            padding: 0!important;
            width: auto!important;
        }
    }

    & > ul {
        @include media-breakpoint-up(md){
            gap: 15px;
        }
        @include media-breakpoint-up(xl) {
            gap: $nav-first-level-gap;
        }

        & > li{
            & > a{
                padding: 0;
                @if($nav-first-level-uppercase){
                    text-transform: uppercase;
                }

                &:before{
                    content: "";       
                    height: 2px;
                    position: absolute;
                    left: 0;
                    background-color: $yellow;
                    bottom: 0;
                    transition: all .3s ease;
                    right: 0; 
                    width: 0;
                }
                @media (hover: hover) and (pointer: fine) {
                    &:focus,
                    &:hover{
                        &:before{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
}
// Drop arrow for navlink
.navbar{
    padding-right: 0!important;
    @media screen and (min-width:1200px){
        padding-right: 1.5rem!important;
    }
}

#portal-globalnav{
    width: 100%;

    & > .nav-item.has_subtree:not(.je-suis):not(.en-un-clic){
        & > .nav-link{
            display: flex;
            align-items: center;
        @include media-breakpoint-up(lg){
            &:after{
                content:"";
                width: 9px;
                height: 6px;
                display: block;
                background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  width="8.444" height="5.2"><path fill="black" d="M.247.254a.831.831 0 0 1 1.2 0l2.78 2.854L7.011.254A.831.831 0 0 1 8.2.264a.882.882 0 0 1 .01 1.215L4.825 4.946a.835.835 0 0 1-.6.254 1.529 1.529 0 0 1-.6-.254L.247 1.479a.882.882 0 0 1 0-1.226Z"/></svg>');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                margin-left: 0.4rem;
            }
        }
    }
    }

    & > .nav-item.has_subtree{
        & > .nav-link{
            @include media-breakpoint-down(xl) {
                font-size: 15px;
            }
        }
    }

    .je-suis,.en-un-clic{
        & > .nav-link{
            text-transform: none;
            color: $primary;
        }
    }

    .je-suis{
        @media screen and (min-width:1200px) {
            margin-left: auto;
        }
    }
  }
@include media-breakpoint-up(lg){
    .activated #portal-globalnav > .nav-item.has_subtree:not(.je-suis):not(.en-un-clic) > .nav-link::after {
      background-image:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"  width="8.444" height="5.2"><path fill="white" d="M.247.254a.831.831 0 0 1 1.2 0l2.78 2.854L7.011.254A.831.831 0 0 1 8.2.264a.882.882 0 0 1 .01 1.215L4.825 4.946a.835.835 0 0 1-.6.254 1.529 1.529 0 0 1-.6-.254L.247 1.479a.882.882 0 0 1 0-1.226Z"/></svg>');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
  }
}
    // nav-mobile
.navbar-toggler{
    border: 0px!important;
}

.navbar-toggler:focus{
    box-shadow: none!important;
}
@media screen and (min-width:768px){
    .navbar-expand-md .navbar-toggler {
        display: block;
    }
}

.navbar-expand-md .navbar-nav {
	@include media-breakpoint-up(md) {
        flex-direction: column;
    }
    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }
}

.navbar-expand-md .navbar-collapse {
        display: block !important;
        @include media-breakpoint-up(lg) {
            display: flex !important;
        }
}

@media screen and (min-width:992px){
    .navbar-expand-md .navbar-toggler {
        display: none;
    }

    .has_subtree.dropdown{
        height: 800px;
        max-height: 85vh;
        min-height: 350px;
        display: flex;
        flex-direction: column;

        & > ul {
            overflow-y: auto;
        }
    }

    #portal-header{
        display: grid!important;
    }

    #portal-globalnav-wrapper .activated > ul > li > a {
        color: #fff!important;
    }

    html #portal-header #portal-searchbox {
        order: inherit;
        grid-column-start: 2;
        grid-row-start: 1;
        justify-self: end;
        max-width: max-content;
    }
}

#subsite-navigation{
    & > ul{
        white-space: inherit;

        & > li > a{
            white-space: nowrap;
        }
    }

    & > ul > .has_subtree.nav-item{
        & > .nav-link{
            display: flex;
            align-items: center;

            &:after{
                content: url(../../assets/svg/drop-down-arrow.svg);
                display: flex;
                align-items: center;
                padding-left: 0.4rem;
            }
        }
    }
}
@media screen and (max-width:992px) {
    #portal-globalnav-collapse{
        #portal-globalnav > li > .nav-link{
            border-bottom: 1px solid #ddd;

            &[aria-haspopup="true"]::after {
                content: url(../../assets/svg/arrow-right-blue.svg);
                content: url(../../assets/svg/arrow-right.svg);
                position: relative;
                right: 11px;
            }
        }
    }
    // SUBSITE NAV
    #subsite-navigation{
        #portal-globalnav > li > .nav-link{
            border-bottom: 1px solid #ddd;

            &[aria-haspopup="true"]::after {
                content: url(../../assets/svg/arrow-right-blue.svg);
                content: url(../../assets/svg/arrow-right.svg);
                position: relative;
                right: 11px;
            }
        }
    }
}
//burger button
.navbar-toggler{
  display: block;
  position: relative;
  background: transparent!important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.5s ease;
  border: 2px solid transparent;

  .navbar-toggler-icon {
    display: inline-block;
    position: absolute;
    background: #000;
    margin: 0 auto;
    width: 18px;
    height: 2px;
    top: 50%;
    left: 0;
    right: 0;
    border-radius: 50px;
    transition: all 0.5s ease;
    transform: translateY(-1px);

    &:before,
    &:after{
      content: "";
      border-radius: 50px;
      position: absolute;
      margin: 0 auto;
      background: #000;
      height: 2px;
      right: 0;
      transition: all 0.5s ease;
    }

    &:before {
      bottom: 10px;
      width: 24px;
    }

    &:after {
      top: 10px;
      width: 11px;

    }
  }

  &[aria-expanded=true] {
  .navbar-toggler-icon {
    background: transparent;

    &:before, &:after {
      transform-origin: 0 50%;
      width: 28.28427125px;
    }

    &:before {
      transform: rotateZ(0.78539816rad)
    }

    &:after {
      transform: rotateZ(-0.78539816rad);
    }
  }
  }
}

#portal-globalnav-wrapper li > .has_subtree .close-nav .close-nav-icon, #subsite-navigation li > .has_subtree .close-nav .close-nav-icon, #portal-globalnav-wrapper #subsite-navigation li > .has_subtree .close-nav .close-nav-icon, #subsite-navigation #subsite-navigation li > .has_subtree .close-nav .close-nav-icon {
	height: 20px;
	width: 20px;
	display: block;
	background-image: url(../../assets/svg/close.svg);
	padding: 0;
}

/* décalage menu vers le bas */
#portal-globalnav-wrapper #portal-globalnav>li>.has_subtree, #subsite-navigation #portal-globalnav>li>.has_subtree {
    @include media-breakpoint-up(lg) {
        margin-top: 2.25rem;
    }
}

#portal-globalnav-wrapper .navbar-nav li .has_subtree.dropdown {
    @include media-breakpoint-down(lg) {
        overflow: hidden;
        overflow-y: scroll;
    }

}

#subsite-navigation > ul > li.show-nav>.has_subtree.dropdown {
    margin-top: 2rem;
}


/* correctif navigation de gestion en mode contenu (couper copier coller) s'affiche devant le menu principal) */
#content-core .pat-structure .navbar.ui-offset-parent {
    z-index: 0;
}

/* affichage état privé dans le menu */
#portal-globalnav-collapse .dropdown .nav-link.state-private, #subsite-navigation .dropdown .nav-link.state-private {
    color: #c4183c;
}

////// A SUPPRIMER PLUSTARD

#portal-searchbox{
    .searchSection{
        display: none;
    }

    [type="text"] {
        width: 13rem;
    }
}

.nav-title{
    padding: 0!important;

    a{
        color: $primary;
    }
}

#subsite-navigation {
    & > ul {
        gap: 15px;
    }
}

#subsite-navigation ul:first-child {
	overflow-y: hidden;
}

#subsite-navigation > ul li > .has_subtree.dropdown {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#subsite-navigation > ul li > .has_subtree.dropdown .has_subtree.dropdown {
    @include media-breakpoint-down(lg){
	    box-shadow: none!important;
    }
}

#subsite-navigation li .has_subtree.dropdown {
    @include media-breakpoint-down(lg){
        right: inherit;
        left: 0 !important;
    }
}

.prev-nav{
    @include media-breakpoint-down(lg){
        display: block!important;
    }
    @include media-breakpoint-up(lg){
        display: none!important;
    }
  }