.sectionnews{
    .section-title{
        position: relative;
    }

    .section-container {
        position: relative;

        &::after {
            content: "";
            background: #EDEDED;
            top: -20px;
            bottom: -20px;
            left: -20px;
            right: -20px;
            position: absolute;
            z-index: -1;
            border-radius: 25px;
        }
    }

    .swiper-wrapper{
        .swiper-slide {
            & > a{
                display: block;
                align-items: center;
                padding-bottom: 1rem;

                .swiper-image{
                    padding-bottom: 60%;
                    transition: all .25s ease;
                    margin-bottom: 0.5rem;
                }

                .swiper_category{
                    margin-left: auto;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }

                .swiper_date{
                    text-transform: uppercase;
                    font-family: $font-family-base; 
                    grid-row-start: 2;
                }

                .swiper_title{
                    margin-top: 10px;

                    h3{
                        font-family: $font-family-base;
                    }
                }

                .swiper_description{
                    p{
                        margin: 0;
                        color: #000;
                    }
                }

                &:hover{
                    background: $primary;

                    .swiper-image{
                        mask-size: 99%;
                    }

                    .swiper_date{
                        color: #fff;

                        span {
                            color: #fff;
                        }
                    }

                    .swiper_title{
                        h3{
                            color: #fff;
        
                        }
                    }

                    .swiper_description{
                        p{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}




.sectionnews{
    &::before{
        content: "";
        background: #009EB0;
    }
}