.sortable-section.sectionnews::after {
  content: "";
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -350px;
  bottom: 0;
  z-index: -99;
  background: #f0f0f0;
}

@include media-breakpoint-down(lg) {
  .sectionnews {
    padding-top: initial;
  }
}

.portaltype-imio-smartweb-portalpage.section-home-page
  .sectionnews
  .section-title {
  color: #fff;
}
