.sectionevents .swiper-slide .swiper-image {
  display: none;
}

.sectionevents .swiper-slide {
  .swiper-image {
    order: initial;
  }

  .swiper_date {
    order: 1 !important;
    background: $primary-svg;
    border-radius: 50px;
  }

  .swiper_category {
    order: 2 !important;
    padding: 0 1rem !important;
  }

  .swiper_title {
    order: 3 !important;
    padding: 0 1rem !important;
  }

  .swiper_description {
    order: 4 !important;
  }
}

.sectionevents .swiper-wrapper {
  position: relative;
}

.sectionevents .swiper {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #dbdbdb;
    height: 1px;
  }

  &::before {
    content: "";
    background: #dbdbdb;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    height: 1px;
  }

  .swiper-slide {
    padding: 2rem 0;
    border-right: solid 1px #dbdbdb;

    &:last-child {
      border-right: transparent;
    }

    & > a div:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.sectionevents {
  .swiper-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}
