.sectionlinks .image.d-block {
    position: relative;
}

.sectionlinks {
    z-index: 0;
}

body:not(.section-home-page) .outer-wrapper .sectionlinks {
    padding-top: 4rem;
}

body:not(.section-home-page) #content .sectionlinks::after {
    background: transparent;
}

.sectionlinks li:nth-child(odd) .image.d-block::after {
    content: "";
    background: $secondary-svg;
    left: 15px;
    right: 0;
    top: 0;
    bottom: 15px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.sectionlinks li:nth-child(even) .image.d-block::after {
    content: "";
    background: $secondary-svg;
    left: 0;
    right: 15px;
    top: 15px;
    bottom: 0;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.sectionlinks .table_image:focus .image.d-block, .sectionlinks .table_image:hover .image.d-block {
    transform: translateY(-15px);
}

.sectionlinks .table_image .image.d-block {
    transition: all .15s ease;
}