.site-cpas {
  .sectionnews .section-title {
    color: #876e87 !important;
  }

  .sectionnews .section-title::before,
  .sectionnews .section-title::after {
    background: #876e87 !important;
  }

  .section-title {
    color: #876e87 !important;
  }

  .section-title::before,
  .section-title::after {
    background: #876e87 !important;
  }

  #portal-header #portal-header-top #search-link a {
    background: #876e87 !important;
    border: 2px solid #876e87 !important;
  }

  #portal-header #portal-header-top #search-link a:hover {
    border: 2px solid #876e87 !important;
  }

  #portal-globalnav > li a:hover {
    color: #876e87 !important;
  }

  #messagesviewlet .portalMessage.info,
  #localmessagesviewlet .portalMessage.info {
    background-color: #876e87 !important;
  }

  .sectiontext mark,
  .r-content-text mark {
    background-color: #876e87 !important;
  }

  .portaltype-imio-smartweb-page
    #main-container
    .sectionfiles
    .section-container
    .table_display
    .table_image {
    background-color: #876e87 !important;
  }

  .sectionfiles::after {
    background-color: #876e87 !important;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: #876e87 !important;
  }

  #portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
  #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color: #876e87 !important;
  }

  /*plus*/
  #portal-globalnav-wrapper
    #portal-globalnav-collapse
    #portal-globalnav
    > li.show-nav.has_subtree
    > a {
    color: #876e87 !important;
  }

  #portal-globalnav > li.has_subtree > a::before {
    background-color: #876e87 !important;
  }

  .sectionnews .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #876e87 !important;
  }

  .swiper-pagination-bullet-active {
    background: #876e87 !important;
  }

  .sectionnews .see_all a {
    border: 1px solid #876e87 !important;
    color: #876e87 !important;
  }

  .sectionnews .see_all a:focus,
  .sectionnews .see_all a:hover {
    background: #876e87 !important;
    color: #fff !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #876e87 !important;
  }

  .sectionevents .see_all a {
    border: 1px solid #876e87 !important;
    color: #876e87 !important;
  }

  .sectionevents .see_all a:focus,
  .sectionevents .see_all a:hover {
    background: #876e87 !important;
    color: #fff !important;
  }

  #portal-footer-wrapper {
    background: #876e87 !important;
  }

  #portal-footer-wrapper #portal-footer {
    background: #876e87 !important;
  }

  .bannerSwiper .section-slide .swiper-banner-content {
    background: #876e87 !important;
  }

  .quick-access.first .body-section li:hover .table_image {
    background-color: #876e87 !important;
  }

  .sectionnews .swiper-slide .auth_source_container_title,
  .sectionnews .swiper-slide .swiper_category span {
    background: #876e87 !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #876e87 !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_category {
    background: #876e87 !important;
  }

  .sectionlinks.quick-access .body-section li a .image.d-block {
    background: #876e87 !important;
    border: 0 solid #876e87 !important;
  }
}

.site-ecole-de-musique {
  .sectionnews .section-title {
    color: #407d9c !important;
  }

  .sectionnews .section-title::before,
  .sectionnews .section-title::after {
    background: #407d9c !important;
  }

  .section-title {
    color: #407d9c !important;
  }

  .section-title::before,
  .section-title::after {
    background: #407d9c !important;
  }

  #portal-header #portal-header-top #search-link a {
    background: #407d9c !important;
    border: 2px solid #407d9c !important;
  }

  #portal-header #portal-header-top #search-link a:hover {
    border: 2px solid #407d9c !important;
  }

  #portal-globalnav > li a:hover {
    color: #407d9c !important;
  }

  #messagesviewlet .portalMessage.info,
  #localmessagesviewlet .portalMessage.info {
    background-color: #407d9c !important;
  }

  .sectiontext mark,
  .r-content-text mark {
    background-color: #407d9c !important;
  }

  .portaltype-imio-smartweb-page
    #main-container
    .sectionfiles
    .section-container
    .table_display
    .table_image {
    background-color: #407d9c !important;
  }

  .sectionfiles::after {
    background-color: #407d9c !important;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: #407d9c !important;
  }

  #portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
  #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color: #407d9c !important;
  }

  /*plus*/
  #portal-globalnav-wrapper
    #portal-globalnav-collapse
    #portal-globalnav
    > li.show-nav.has_subtree
    > a {
    color: #407d9c !important;
  }

  #portal-globalnav > li.has_subtree > a::before {
    background-color: #407d9c !important;
  }

  .sectionnews .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #407d9c !important;
  }

  .swiper-pagination-bullet-active {
    background: #407d9c !important;
  }

  .sectionnews .see_all a {
    border: 1px solid #407d9c !important;
    color: #407d9c !important;
  }

  .sectionnews .see_all a:focus,
  .sectionnews .see_all a:hover {
    background: #407d9c !important;
    color: #fff !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #407d9c !important;
  }

  .sectionevents .see_all a {
    border: 1px solid #407d9c !important;
    color: #407d9c !important;
  }

  .sectionevents .see_all a:focus,
  .sectionevents .see_all a:hover {
    background: #407d9c !important;
    color: #fff !important;
  }

  #portal-footer-wrapper {
    background: #407d9c !important;
  }

  #portal-footer-wrapper #portal-footer {
    background: #407d9c !important;
  }

  .bannerSwiper .section-slide .swiper-banner-content {
    background: #407d9c !important;
  }

  .quick-access.first .body-section li:hover .table_image {
    background-color: #407d9c !important;
  }

  .sectionnews .swiper-slide .auth_source_container_title,
  .sectionnews .swiper-slide .swiper_category span {
    background: #407d9c !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #407d9c !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_category {
    background: #407d9c !important;
  }

  .sectionlinks.quick-access .body-section li a .image.d-block {
    background: #407d9c !important;
    border: 0 solid #407d9c !important;
  }
}

.site-pcdr {
  .sectionnews .section-title {
    color: #697b37 !important;
  }

  .sectionnews .section-title::before,
  .sectionnews .section-title::after {
    background: #697b37 !important;
  }

  .section-title {
    color: #697b37 !important;
  }

  .section-title::before,
  .section-title::after {
    background: #697b37 !important;
  }

  #portal-header #portal-header-top #search-link a {
    background: #697b37 !important;
    border: 2px solid #697b37 !important;
  }

  #portal-header #portal-header-top #search-link a:hover {
    border: 2px solid #697b37 !important;
  }

  #portal-globalnav > li a:hover {
    color: #697b37 !important;
  }

  #messagesviewlet .portalMessage.info,
  #localmessagesviewlet .portalMessage.info {
    background-color: #697b37 !important;
  }

  .sectiontext mark,
  .r-content-text mark {
    background-color: #697b37 !important;
  }

  .portaltype-imio-smartweb-page
    #main-container
    .sectionfiles
    .section-container
    .table_display
    .table_image {
    background-color: #697b37 !important;
  }

  .sectionfiles::after {
    background-color: #697b37 !important;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: #697b37 !important;
  }

  #portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
  #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color: #697b37 !important;
  }

  /*plus*/
  #portal-globalnav-wrapper
    #portal-globalnav-collapse
    #portal-globalnav
    > li.show-nav.has_subtree
    > a {
    color: #697b37 !important;
  }

  #portal-globalnav > li.has_subtree > a::before {
    background-color: #697b37 !important;
  }

  .sectionnews .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #697b37 !important;
  }

  .swiper-pagination-bullet-active {
    background: #697b37 !important;
  }

  .sectionnews .see_all a {
    border: 1px solid #697b37 !important;
    color: #697b37 !important;
  }

  .sectionnews .see_all a:focus,
  .sectionnews .see_all a:hover {
    background: #697b37 !important;
    color: #fff !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #697b37 !important;
  }

  .sectionevents .see_all a {
    border: 1px solid #697b37 !important;
    color: #697b37 !important;
  }

  .sectionevents .see_all a:focus,
  .sectionevents .see_all a:hover {
    background: #697b37 !important;
    color: #fff !important;
  }

  #portal-footer-wrapper {
    background: #697b37 !important;
  }

  #portal-footer-wrapper #portal-footer {
    background: #697b37 !important;
  }

  .bannerSwiper .section-slide .swiper-banner-content {
    background: #697b37 !important;
  }

  .quick-access.first .body-section li:hover .table_image {
    background-color: #697b37 !important;
  }

  .sectionnews .swiper-slide .auth_source_container_title,
  .sectionnews .swiper-slide .swiper_category span {
    background: #697b37 !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #697b37 !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_category {
    background: #697b37 !important;
  }

  .sectionlinks.quick-access .body-section li a .image.d-block {
    background: #697b37 !important;
    border: 0 solid #697b37 !important;
  }
}

.site-saule-en-vie {
  .sectionnews .section-title {
    color: #c3d2a3 !important;
  }

  .sectionnews .section-title::before,
  .sectionnews .section-title::after {
    background: #c3d2a3 !important;
  }

  .section-title {
    color: #c3d2a3 !important;
  }

  .section-title::before,
  .section-title::after {
    background: #c3d2a3 !important;
  }

  #portal-header #portal-header-top #search-link a {
    background: #c3d2a3 !important;
    border: 2px solid #c3d2a3 !important;
  }

  #portal-header #portal-header-top #search-link a:hover {
    border: 2px solid #c3d2a3 !important;
  }

  #portal-globalnav > li a:hover {
    color: #c3d2a3 !important;
  }

  #messagesviewlet .portalMessage.info,
  #localmessagesviewlet .portalMessage.info {
    background-color: #c3d2a3 !important;
  }

  .sectiontext mark,
  .r-content-text mark {
    background-color: #c3d2a3 !important;
  }

  .portaltype-imio-smartweb-page
    #main-container
    .sectionfiles
    .section-container
    .table_display
    .table_image {
    background-color: #c3d2a3 !important;
  }

  .sectionfiles::after {
    background-color: #c3d2a3 !important;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: #c3d2a3 !important;
  }

  #portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
  #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color: #c3d2a3 !important;
  }

  /*plus*/
  #portal-globalnav-wrapper
    #portal-globalnav-collapse
    #portal-globalnav
    > li.show-nav.has_subtree
    > a {
    color: #c3d2a3 !important;
  }

  #portal-globalnav > li.has_subtree > a::before {
    background-color: #c3d2a3 !important;
  }

  .sectionnews .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #c3d2a3 !important;
  }

  .swiper-pagination-bullet-active {
    background: #c3d2a3 !important;
  }

  .sectionnews .see_all a {
    border: 1px solid #c3d2a3 !important;
    color: #c3d2a3 !important;
  }

  .sectionnews .see_all a:focus,
  .sectionnews .see_all a:hover {
    background: #c3d2a3 !important;
    color: #fff !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #c3d2a3 !important;
  }

  .sectionevents .see_all a {
    border: 1px solid #c3d2a3 !important;
    color: #c3d2a3 !important;
  }

  .sectionevents .see_all a:focus,
  .sectionevents .see_all a:hover {
    background: #c3d2a3 !important;
    color: #fff !important;
  }

  #portal-footer-wrapper {
    background: #c3d2a3 !important;
  }

  #portal-footer-wrapper #portal-footer {
    background: #c3d2a3 !important;
  }

  .bannerSwiper .section-slide .swiper-banner-content {
    background: #c3d2a3 !important;
  }

  .quick-access.first .body-section li:hover .table_image {
    background-color: #c3d2a3 !important;
  }

  .sectionnews .swiper-slide .auth_source_container_title,
  .sectionnews .swiper-slide .swiper_category span {
    background: #c3d2a3 !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #c3d2a3 !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_category {
    background: #c3d2a3 !important;
  }

  .sectionlinks.quick-access .body-section li a .image.d-block {
    background: #c3d2a3 !important;
    border: 0 solid #c3d2a3 !important;
  }
}

.site-si-torgny {
  .sectionnews .section-title {
    color: #ffb700 !important;
  }

  .sectionnews .section-title::before,
  .sectionnews .section-title::after {
    background: #ffb700 !important;
  }

  .section-title {
    color: #ffb700 !important;
  }

  .section-title::before,
  .section-title::after {
    background: #ffb700 !important;
  }

  #portal-header #portal-header-top #search-link a {
    background: #ffb700 !important;
    border: 2px solid #ffb700 !important;
  }

  #portal-header #portal-header-top #search-link a:hover {
    border: 2px solid #ffb700 !important;
  }

  #portal-globalnav > li a:hover {
    color: #ffb700 !important;
  }

  #messagesviewlet .portalMessage.info,
  #localmessagesviewlet .portalMessage.info {
    background-color: #ffb700 !important;
  }

  .sectiontext mark,
  .r-content-text mark {
    background-color: #ffb700 !important;
  }

  .portaltype-imio-smartweb-page
    #main-container
    .sectionfiles
    .section-container
    .table_display
    .table_image {
    background-color: #ffb700 !important;
  }

  .sectionfiles::after {
    background-color: #ffb700 !important;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: #ffb700 !important;
  }

  #portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
  #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color: #ffb700 !important;
  }

  /*plus*/
  #portal-globalnav-wrapper
    #portal-globalnav-collapse
    #portal-globalnav
    > li.show-nav.has_subtree
    > a {
    color: #ffb700 !important;
  }

  #portal-globalnav > li.has_subtree > a::before {
    background-color: #ffb700 !important;
  }

  .sectionnews .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #ffb700 !important;
  }

  .swiper-pagination-bullet-active {
    background: #ffb700 !important;
  }

  .sectionnews .see_all a {
    border: 1px solid #ffb700 !important;
    color: #ffb700 !important;
  }

  .sectionnews .see_all a:focus,
  .sectionnews .see_all a:hover {
    background: #ffb700 !important;
    color: #fff !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #ffb700 !important;
  }

  .sectionevents .see_all a {
    border: 1px solid #ffb700 !important;
    color: #ffb700 !important;
  }

  .sectionevents .see_all a:focus,
  .sectionevents .see_all a:hover {
    background: #ffb700 !important;
    color: #fff !important;
  }

  #portal-footer-wrapper {
    background: #ffb700 !important;
  }

  #portal-footer-wrapper #portal-footer {
    background: #ffb700 !important;
  }

  .bannerSwiper .section-slide .swiper-banner-content {
    background: #ffb700 !important;
  }

  .quick-access.first .body-section li:hover .table_image {
    background-color: #ffb700 !important;
  }

  .sectionnews .swiper-slide .auth_source_container_title,
  .sectionnews .swiper-slide .swiper_category span {
    background: #ffb700 !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_date {
    color: #ffb700 !important;
  }

  .sectionevents .swiper-wrapper .swiper-slide > a .swiper_category {
    background: #ffb700 !important;
  }

  .sectionlinks.quick-access .body-section li a .image.d-block {
    background: #ffb700 !important;
    border: 0 solid #ffb700 !important;
  }
}
