.site-cpas {
  .sectionnews .section-title {
    color: #968095 !important;
  }

  .sectionnews .section-title::before,
  .sectionnews .section-title::after {
    background: #968095 !important;
  }

  .section-title {
    color: #968095 !important;
  }

  .section-title::before,
  .section-title::after {
    background: #968095 !important;
  }

  #portal-header #portal-header-top #search-link a {
    background: #968095 !important;
    border: 2px solid #968095 !important;
  }

  #portal-header #portal-header-top #search-link a:hover {
    border: 2px solid #968095 !important;
  }

  #portal-globalnav > li a:hover {
    color: #968095 !important;
  }

  #messagesviewlet .portalMessage.info,
  #localmessagesviewlet .portalMessage.info {
    background-color: #968095 !important;
  }

  .sectiontext mark,
  .r-content-text mark {
    background-color: #968095 !important;
  }

  .portaltype-imio-smartweb-page
    #main-container
    .sectionfiles
    .section-container
    .table_display
    .table_image {
    background-color: #968095 !important;
  }

  .sectionfiles::after {
    background-color: #968095 !important;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: #968095 !important;
  }

  #portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
  #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color: #968095 !important;
  }
}

.site-ecole-de-musique {
  .sectionnews .section-title {
    color: #659ebc !important;
  }

  .sectionnews .section-title::before,
  .sectionnews .section-title::after {
    background: #659ebc !important;
  }

  .section-title {
    color: #659ebc !important;
  }

  .section-title::before,
  .section-title::after {
    background: #659ebc !important;
  }

  #portal-header #portal-header-top #search-link a {
    background: #659ebc !important;
    border: 2px solid #659ebc !important;
  }

  #portal-header #portal-header-top #search-link a:hover {
    border: 2px solid #659ebc !important;
  }

  #portal-globalnav > li a:hover {
    color: #659ebc !important;
  }

  #messagesviewlet .portalMessage.info,
  #localmessagesviewlet .portalMessage.info {
    background-color: #659ebc !important;
  }

  .sectiontext mark,
  .r-content-text mark {
    background-color: #659ebc !important;
  }

  .portaltype-imio-smartweb-page
    #main-container
    .sectionfiles
    .section-container
    .table_display
    .table_image {
    background-color: #659ebc !important;
  }

  .sectionfiles::after {
    background-color: #659ebc !important;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: #659ebc !important;
  }

  #portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
  #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color: #659ebc !important;
  }
}

.site-pcdr {
  .sectionnews .section-title {
    color: #859a4b !important;
  }

  .sectionnews .section-title::before,
  .sectionnews .section-title::after {
    background: #859a4b !important;
  }

  .section-title {
    color: #859a4b !important;
  }

  .section-title::before,
  .section-title::after {
    background: #859a4b !important;
  }

  #portal-header #portal-header-top #search-link a {
    background: #859a4b !important;
    border: 2px solid #859a4b !important;
  }

  #portal-header #portal-header-top #search-link a:hover {
    border: 2px solid #859a4b !important;
  }

  #portal-globalnav > li a:hover {
    color: #859a4b !important;
  }

  #messagesviewlet .portalMessage.info,
  #localmessagesviewlet .portalMessage.info {
    background-color: #859a4b !important;
  }

  .sectiontext mark,
  .r-content-text mark {
    background-color: #859a4b !important;
  }

  .portaltype-imio-smartweb-page
    #main-container
    .sectionfiles
    .section-container
    .table_display
    .table_image {
    background-color: #859a4b !important;
  }

  .sectionfiles::after {
    background-color: #859a4b !important;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: #859a4b !important;
  }

  #portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
  #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color: #859a4b !important;
  }
}

.site-saule-en-vie {
  .sectionnews .section-title {
    color: #c3d2a3 !important;
  }

  .sectionnews .section-title::before,
  .sectionnews .section-title::after {
    background: #c3d2a3 !important;
  }

  .section-title {
    color: #c3d2a3 !important;
  }

  .section-title::before,
  .section-title::after {
    background: #c3d2a3 !important;
  }

  #portal-header #portal-header-top #search-link a {
    background: #c3d2a3 !important;
    border: 2px solid #c3d2a3 !important;
  }

  #portal-header #portal-header-top #search-link a:hover {
    border: 2px solid #c3d2a3 !important;
  }

  #portal-globalnav > li a:hover {
    color: #c3d2a3 !important;
  }

  #messagesviewlet .portalMessage.info,
  #localmessagesviewlet .portalMessage.info {
    background-color: #c3d2a3 !important;
  }

  .sectiontext mark,
  .r-content-text mark {
    background-color: #c3d2a3 !important;
  }

  .portaltype-imio-smartweb-page
    #main-container
    .sectionfiles
    .section-container
    .table_display
    .table_image {
    background-color: #c3d2a3 !important;
  }

  .sectionfiles::after {
    background-color: #c3d2a3 !important;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: #c3d2a3 !important;
  }

  #portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
  #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color: #c3d2a3 !important;
  }
}

.site-si-torgny {
  .sectionnews .section-title {
    color: #ffb700 !important;
  }

  .sectionnews .section-title::before,
  .sectionnews .section-title::after {
    background: #ffb700 !important;
  }

  .section-title {
    color: #ffb700 !important;
  }

  .section-title::before,
  .section-title::after {
    background: #ffb700 !important;
  }

  #portal-header #portal-header-top #search-link a {
    background: #ffb700 !important;
    border: 2px solid #ffb700 !important;
  }

  #portal-header #portal-header-top #search-link a:hover {
    border: 2px solid #ffb700 !important;
  }

  #portal-globalnav > li a:hover {
    color: #ffb700 !important;
  }

  #messagesviewlet .portalMessage.info,
  #localmessagesviewlet .portalMessage.info {
    background-color: #ffb700 !important;
  }

  .sectiontext mark,
  .r-content-text mark {
    background-color: #ffb700 !important;
  }

  .portaltype-imio-smartweb-page
    #main-container
    .sectionfiles
    .section-container
    .table_display
    .table_image {
    background-color: #ffb700 !important;
  }

  .sectionfiles::after {
    background-color: #ffb700 !important;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: #ffb700 !important;
  }

  #portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
  #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color: #ffb700 !important;
  }
}
