.a-la-une .swiper-slide>a {
    direction: rtl;
    grid-auto-flow: dense;
    grid-template-columns: 50% 50%;
}
.a-la-une .swiper-slide>a .swiper_description, .a-la-une .swiper-slide>a .swiper_title {
    direction: ltr!important;
}
.quick-access .table_image:focus .image.d-block, .quick-access .table_image:hover .image.d-block {
    transform: translateY(-15px);
  }
  .quick-access .table_image .image.d-block {
    transition: all .15s ease;
  }
.a-la-une .swiper-slide .swiper_description p {
    font-weight: 100;
}
// .section-home-page .a-la-une {
//     background: #FFFAF7;
//   }
@include media-breakpoint-up(lg) { 
.section-home-page .a-la-une:before {
    top: 50%;
    content: url('../../assets/svg/logo-bg-orange.svg');
    display: block;
    left: 50%;
    position: absolute;
    transform: translate(-50vw, -50%);
    }
}
@include media-breakpoint-down(lg) { 
    .a-la-une {
    padding-top: 0.5rem;
    }
}
.a-la-une .swiper-slide a:hover:after {
    background: $color-orange;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    opacity: 0.2;
  }
  .sortable-section.a-la-une:after {
    background: #FFFAF7;
    bottom: 0;
    content: "";
    left: 50%!important;
    position: absolute;
    top: 0;
    transform: translateX(-50vw);
    width: 100vw!important;
    z-index: -2;
  }