.section-home-page .sectionevents {
    background: #FCF5F4;
  }
  @include media-breakpoint-up(lg) { 
  .section-home-page .sectionevents:before {
    top: 50%;
    content: url('../../assets/svg/logo-bg-red.svg');
    display: block;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
  }
}
.sectionevents .swiper-slide a:hover:after {
  background: $color-red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  opacity: 0.2;
}