.smartweb_herobanner .swiper-slide .swiper-banner-content-wrapper.container {
  top: 0 !important;
  background: url('../../assets/svg/circles-colors-banner.svg') no-repeat;
  background-size: contain;
  background-position: right;

  .swiper-banner-content {
    width: 80%;
    height: 100%;
    max-height: 600px;
    max-width: 750px;
    align-content: center;
    padding: 250px 30px 90px 300px;
    right: 0;

    .swiper-banner-title {
      font-size: 40px;
      font-weight: 700;
    }

    .swiper-banner-description p {
      font-size: 40px;
      font-weight: 300;
    }

    @media screen and (max-width: 940px) {
      right: 0;
      width: 60%;
      height: 100%;
      max-width: 800px;
      max-height: 100%;
      padding: 15px 20px 100px 50px;
      display: initial;
      line-height: 0px;
      align-content: end;

      .swiper-banner-title {
        font-size: 35px;
      }

      .swiper-banner-description p {
        font-size: 25px;
      }
    }

    @media screen and (max-width: 570px) {
      right: 0;
      width: 60%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      padding: 15px 10px 50px 60px;
      display: initial;
      line-height: 0px;
      align-content: end;

      .swiper-banner-title {
        font-size: 25px;
      }

      .swiper-banner-description p {
        font-size: 20px;
      }
    }

    @media screen and (max-width: 400px) {
      width: 65%;
    }
  }
}
