.bulletins .swiper-slide {
  margin-right: 20px !important;

  .swiper-image {
    padding-bottom: 140%;
    border-radius: 20px;
  }
}

.sectioncollection.bulletins {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .section-title {
    margin: 0 0 2rem;
    color: $primary;
    text-align: center;
  }

  .swiper-slide > a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .swiper_title {
      h3 {
        color: #000 !important;
        font-size: 18px !important;
      }
    }
  }

  .see_all {
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;

    a {
      background: transparent;
      border: 0 solid none;
      border-radius: 20px;
      color: $primary;
      display: block;
      font-size: 18px;
      font-weight: 200;
      padding: 0;
      position: relative;
      text-decoration: none;
      text-transform: none;
      transition: all 0.2s ease;
      width: max-content;

      &::after {
        background-color: $primary;
        bottom: -5px;
        content: "";
        height: 2px;
        position: absolute;
        transition: all 0.2s ease;
        width: 25%;
      }

      .swiper_title {
        text-align: center;
      }

      .swiper-image {
        box-shadow:
          rgba(14, 63, 126, 4%) 1px 1px 1px 1px,
          rgba(42, 51, 69, 4%) 1px 1px 1px -0.5px,
          rgba(42, 51, 70, 4%) 1px 3px 3px -1.5px,
          rgba(42, 51, 70, 4%) 1px 6px 6px -3px,
          rgba(14, 63, 126, 4%) 1px 12px 12px -6px,
          rgba(14, 63, 126, 4%) 1px 24px 24px -12px;
      }

      &:hover {
        &::after {
          width: 50%;
        }
      }
    }
  }
}
