//// VARIABLES
// ... add your variables here

$enable-roboto-webfont: false;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
//// IMPORTS
// Import barceloneta files from node_modules --load-path=node_modules
// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";
// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import "./variables";
@import "../../../base/src/scss/main";
//// STYLES
// ... add your styles here
@import "./home/quick";
@import "./home/a-la-une";
@import "./home/espace-citoyen";
@import "./home/actualites";
@import "./home/events";
@import "./home/footer";
@import "./home/section-en-image";
@import "./info-trav";
@import "./home/partenaires";
@import "./se-link";
@import "./se-files";
@import "./contact";
@import "./home/bulletins";

h1 {
  font-weight: 500;
  position: relative;
  text-align: left;
  margin-bottom: 2rem;
}

.smartweb_herobanner {
  width: calc(100vw - 30px);
  overflow: hidden;
  border-radius: 60px 0 0;
  margin-left: 30px;
}

.smartweb_herobanner .bannerSwiper {
  height: 50vw;
  max-height: 500px;
}

@media screen and (max-width: 991px) {
  .smartweb_herobanner {
    width: 100vw;
    overflow: hidden;
    border-radius: 0;
    margin-left: 0;
  }

  .smartweb_herobanner .bannerSwiper {
    height: 50vw;
    max-height: 350px;
    min-height: 350px;
  }
}

.smartweb_herobanner .swiper-button-next {
  bottom: 60px;
  left: 110px;
}

.smartweb_herobanner .swiper-button-prev {
  bottom: 60px;
  right: auto;
  left: 60px;
}

.smartweb_herobanner
  .bannerSwiper
  .swiper-slide
  .swiper-banner-content-wrapper {
  position: absolute;
  transform: initial;
  padding-bottom: 0;
  margin-bottom: 0;
  bottom: 0;
  right: 0;
  top: initial;
  align-items: center;
  text-align: -webkit-right;
  height: initial;
  padding-right: 0;
  padding-left: 60px;

  .swiper-banner-content {
    margin: 0;
    max-width: 100%;
    padding: 1rem 5rem 1rem 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
    height: 500px;
    align-content: center;
    width: 600px;
    background: linear-gradient(
      90deg,
      rgba(18, 40, 82, 0%) 0,
      rgba(18, 40, 82, 100%) 300px
    );
    text-align: right;

    @media screen and (max-width: 991px) {
      padding: 1rem 3rem 1rem 4rem;
      height: 350px;
    }

    span.swiper-banner-title,
    p.rich_description {
      color: #fff !important;
    }
  }
}

.swiper-banner-image::after {
  content: "";
  background: #0000;
  position: absolute;
  inset: 0;
  opacity: 30%;
}

.r-item-img.r-item-img-placeholder {
  background: url("../../assets/svg/placeholder.jpg");
  background-size: cover;
  background-position: center;
}

//footer
footer {
  #container-section-noussuivre {
    .table_title {
      display: none;
    }

    ul.row {
      flex-flow: row wrap;

      li {
        width: auto;
      }
    }
  }
}

.sectiontext .section-text .body-section figure figcaption {
  display: block;
}

.portaltype-imio-smartweb-directoryview,
.portaltype-imio-smartweb-newsview,
.portaltype-imio-smartweb-eventsview {
  #content > header {
    display: none;
  }
}
// bug z-index

.pagination {
  .page-item.active {
    z-index: 0;
  }
}

#main-container {
  .sectionlinks {
    margin: 2rem 0 0;
  }
}

footer #container-section-noussuivre {
  li {
    svg {
      path {
        fill: #fff;
      }
    }

    &:nth-child(1),
    &:nth-child(3) {
      svg path:nth-child(2) {
        fill: #3f3f3f !important;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .portaltype-imio-smartweb-portalpage .section-title {
    font-size: 22px !important;
  }
}

#portal-breadcrumbs {
  background: transparent !important;

  .container,
  .breadcrumb {
    padding-left: 0;
  }
}

#portal-globalnav > li a:hover {
  color: $primary-svg;
}

// footer
.footer-logo {
  figure img {
    width: 250px !important;
  }
}

.footer-slogan {
  .text {
    max-width: 204px;
    text-align: center;

    p {
      font-size: 33px;
      font-weight: 200;
    }
  }
}

.footer-fb {
  .table_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
    text-decoration: none;

    .image {
      width: auto;

      svg {
        height: 25px;
        fill: #fff;
      }
    }
  }
}

.r-filter div[class*="control"] {
  border-radius: 5px;
}

.procedure a::after {
  content: "\F135";
  font-family: Bootstrap-icons;
  margin-left: 0.5rem;
  position: relative;
  top: 3px;
}

// sub-nav

.subsite-container {
  background: #f1f1f1;
  border-radius: 10px;

  #subsite-logo {
    font-size: 18px;
    background: $primary-svg;
    border-radius: 10px 0 0 10px;

    a {
      .subsite-title {
        color: #fff !important;
      }
    }
  }
}

.breadcrumb-item.active {
  color: $primary-svg;
  text-decoration: underline;
}

.contact_leadimage {
  border-radius: 10px;
}

.sectiontext .section-text .body-section a {
  color: $primary;
}

.sectiontext figure img {
  border-radius: 20px 20px 20px 0;
}

#viewlet-above-content-body {
  .procedure {
    display: none;
  }
}

// header common

.breadcrumb-item {
  a {
    text-decoration: none;
  }
}

.breadcrumb {
  font-size: 13px;
}

.block-menu-element a .card-title.h2,
.block-menu-element a h2.card-title {
  font-size: 1rem;
}

.template-facetednavigation_view.faceted-map
  .eea-preview-items
  .faceted-map-item
  > a {
  background: none;
}

.template-facetednavigation_view.faceted-map
  .eea-preview-items
  .faceted-map-item
  > a:hover {
  background-color: #fff;
}

#portal-header #portal-header-top #header-links .account {
  text-decoration: none;
}

.swiper-pagination-bullet {
  background: #000 !important;
  opacity: 100%;
}

.swiper-pagination-bullet-active {
  background: $primary-red !important;
}

.contact_map {
  z-index: 0 !important;
}

.portaltype-imio-smartweb-procedure
  #main-container
  .sectionfiles
  .section-container
  .table_display
  .table_image
  .portaltype-imio-smartweb-page
  #main-container
  .sectionfiles
  .section-container
  .table_display
  .table_image {
  border-radius: 10px 10px 10px 0;
  background: #fff;
  color: $primary;
  transition: all 0.25s ease;
  border: 1px solid $primary;

  &:hover {
    background: $primary;
    transition: all 0.25s ease;
    color: #fff;
    // border: 1px solid $primary;
    div,
    span {
      color: #fff;
    }
  }
}

.sectiontext mark {
  margin: 10px 0;

  a {
    color: #fff !important;
  }
}

.section-home-page #messagesviewlet {
  float: none;
  padding-top: 0;
  position: absolute;
  top: 90px;
}

#messagesviewlet .portalMessage.info,
#localmessagesviewlet .portalMessage.info {
  background-color: $primary-blue;
  color: #fff;
}

#messagesviewlet .portalMessage.error,
#localmessagesviewlet .portalMessage.error {
  background-color: $primary-blue;
  color: #fff;
}

#messagesviewlet .portalMessage.warning,
#localmessagesviewlet .portalMessage.warning {
  background-color: $primary-blue;
  color: #fff;
}

#messagesviewlet .portalMessage.info .messagesviewlet-type,
#localmessagesviewlet .portalMessage.info .messagesviewlet-type {
  background-color: $primary-blue;
  color: #fff;
}

#messagesviewlet .portalMessage.warning .messagesviewlet-type,
#localmessagesviewlet .portalMessage.warning .messagesviewlet-type {
  background-color: $primary-blue;
  color: #fff;
}

#portal-column-content
  .section-contact
  .contact-type-organization
  .contact_logo {
  max-width: 200px;
}

body .r-content > button {
  background: #fff;
  border: $primary solid 1px;
  border-radius: 20px 0;
  padding: 10px 20px;
}

body .sectiontext .section-text .body-section a {
  text-decoration: underline;
  text-underline-position: under;
  transition: 0.2s;

  &:hover {
    text-decoration: underline solid $primary-blue;
  }
}

#portal-header #portal-header-top #portal-logo {
  max-width: 150px;
  margin-right: 25px;
}

.tox-edit-area #tinymce p {
  background-color: #000;
}
//FILTRES Catégories
@media screen and (min-width: 901px) {
  .more-filter-container.collapse:not(.show) {
    display: initial !important;
  }
}

body smartweb-annuaire .more-filter-container.collapse:not(.show) {
  display: none !important;
}

#portal-globalnav .quick-access .quick-access-title {
  color: $primary-svg !important;
}

#portal-header #portal-header-top #portal-logo {
  margin-right: 0;
}

#portal-header #portal-header-top #header-links #search-link a {
  padding-left: 0;
  background: $primary-svg;
  border: 0;
}

#portal-header #portal-header-top #header-links .account {
  margin: 0;
  padding: 15px 0;
  transition: 0.3s;
  border-radius: 20px 0;

  a,
  span,
  a span {
    color: $primary;
    font-weight: 500;
  }

  &:hover {
    a,
    span {
      color: $primary;
    }
  }
}
//Message
.section-home-page #messagesviewlet {
  top: 120px;
}

.section-home-page {
  #localmessagesviewlet .portalMessage,
  #messagesviewlet .portalMessage {
    border-radius: 10px;
    max-width: 1150px;
    padding: 1rem;
  }
}

#gdpr-consent-banner .gdpr-actions input[name="consent"] {
  background: $primary-svg;
  border-radius: 10px 10px 10px 0;
  border: 2px solid $primary-svg !important;

  &:hover {
    color: $primary-svg;
    background: #fff;
  }
}

#gdpr-consent-banner .gdpr-actions > a {
  background: $primary;
  border: 2px solid $primary;
  color: #fff;
  border-radius: 10px 10px 10px 0;

  &:hover {
    color: $primary;
    background: #fff;
  }
}

.r-add-contact,
.r-add-event,
.r-add-news {
  padding: 1rem;
  background: $primary;
  border-radius: 20px 0;

  a {
    color: #fff;
  }
}

.r-add-event {
  top: 0;
  margin-top: 1rem !important;
  bottom: initial;
}

@media screen and (max-width: 991px) {
  .section-home-page #messagesviewlet {
    top: 10px;
    position: relative;
    padding: 1.5rem 2.5rem 1rem 3rem;
  }
}

@media (min-width: 992px) {
  #portal-globalnav-wrapper #portal-globalnav > li > .has_subtree,
  #subsite-navigation #portal-globalnav > li > .has_subtree {
    margin-top: 4rem;
  }
}

.r-search-container .r-search.search-bar-filter input {
  margin: 0;
}

.r-search-highlighter {
  color: #3f9fa4 !important;
  border-bottom: 2px solid #3f9fa4 !important;
}

#portal-footer-wrapper {
  margin-top: 80px;
}

.section-home-page #portal-footer-wrapper {
  margin-top: 0;
}

.r-add-contact,
.r-add-event,
.r-add-news {
  border-radius: 10px 10px 10px 0;
}

body .r-content > button {
  border-radius: 10px 10px 10px 0;
  border-color: #ddd !important;
}

.section-contact .contact-type-mission {
  width: auto !important;
}

.section-contact .contact-type-mission::after {
  display: none;
}
