// .smartweb_herobanner .swiper-wrapper .swiper-banner-title::after {

//     content: url(../../assets/svg/smile-blegny.svg);

//     left: 50%;

//     position: absolute;

//     top: 100%;

//     transform: translateY(-50%);

//   }

@media (max-width: 767px) {
  .smartweb_herobanner .bannerSwiper {
    height: 180px;

    .swiper-banner-image {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;
    }
  }
}
