.sectionevents .see_all a {
  font-family: $font-family-base;
}

.sectionnews .see_all a {
  font-family: $font-family-base;
}

.sortable-section.sectionevents h2.section-title::after,
.sortable-section.sectionnews h2.section-title::after {
  background: $secondary;
  content: "";
  margin: 0 auto;
  padding-bottom: 5px;
  position: absolute;
  width: 12%;
  max-height: 10px;
  bottom: 0 !important;
  left: 0;
  right: 0;
}

@media (max-width: 991.98px) {
  .navbar-expand-md .navbar-toggler {
    display: block !important;
    background: #fff;
  }
}

@media screen and (max-width: 992px) {
  .portaltype-imio-smartweb-portalpage #content-core .row {
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.sortable-section.sectionevents h2.section-title,
.sortable-section.sectionnews h2.section-title {
  position: relative;
}

.sortable-section.a-la-une {
  position: relative;

  &::before {
    position: absolute;
    top: 300px;
    bottom: 0;
    transform: translateX(-50vw);
    left: 50% !important;
    background: $primary-svg;
    content: "";
    width: 100vw !important;
    z-index: -2;
  }
}

.sortable-section.enquetes {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateX(-50vw);
    left: 50% !important;
    background: $primary-svg;
    content: "";
    width: 100vw !important;
    z-index: -2;
  }
}

div.swiper-image {
  position: relative;
}

div.swiper-image::before {
  background: transparent;
  content: "";
  position: absolute;
  inset: 0;
  transition: all 0.2s ease;
  z-index: 0;
}

.swiper-slide:hover a div.swiper-image::before {
  background: $primary;
  opacity: 50%;
}

.enquetes div.swiper-slide {
  position: relative;
  padding: 1rem;
  background: #fff;
}

.block-menu-element a .card-body,
body.template-block_view_with_images .block-menu-element a .card-body {
  width: auto;
  padding: 1rem;
}

.block-menu-element a .card-body,
body.template-block_view_with_images .block-menu-element a .card-body {
  padding: 1rem;
}

.item_infos {
  color: #fff;
}

.sortable-section.sectionfiles h2 {
  font-size: 1.5rem;
}
