.swiper-button-next,
.swiper-button-prev {
  top: $swiper-button-top;
  width: $swiper-button-width;
  height: $swiper-button-height;
  background-color: $swiper-background-color;
  border-radius: $swiper-raduis;

  &.swiper-button-disabled {
    pointer-events: visible;
  }
}

.swiper-button-next {
  background-image: $swiper-next-icon;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $swiper-background-size;

  @include media-breakpoint-down(md){
    display: none;
  }

  &::after {
    display: none;
  }
}

.swiper-button-prev {
  background-image: $swiper-prev-icon;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $swiper-background-size;

  @include media-breakpoint-down(md){
    display: none;
  }

  &::after {
    display: none;
  }
}

@include media-breakpoint-up(lg){
  .nb-items-batch-4{
    .swiper-slide{
      max-width: 25%;
    }
  }

  .nb-items-batch-3{
    .swiper-slide{
      max-width: 33%;
    }
  }

  .nb-items-batch-2{
    .swiper-slide{
      max-width: 50%;
    }
  }
}

.swiper-pagination-bullet-active {
  background: $swipper-bullet-color !important;
}

/* slider sinon un click sur la flèches inactive amène sur l'élément derrière */
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    pointer-events: visible;
}