//// VARIABLES
$roboto-base-path: "@theme/assets/fonts/";

@import "./variables";

// Plone Barceloneta Styling & components

// Plone colors

@import "@plone/plonetheme-barceloneta-base/scss/variables.colors.plone";

// Plone specific default variables & properties

@import "@plone/plonetheme-barceloneta-base/scss/variables.properties";
@import "@plone/plonetheme-barceloneta-base/scss/variables.barceloneta";
@import "@plone/plonetheme-barceloneta-base/scss/base";
@import "@plone/plonetheme-barceloneta-base/scss/mixins/mixin.portlets.plone";
@import "@plone/plonetheme-barceloneta-base/scss/mixins/mixin.font.plone";

// Plone components

@import "@plone/plonetheme-barceloneta-base/scss/cards";
@import "@plone/plonetheme-barceloneta-base/scss/scaffolding";

// // style.scss

@import "@plone/plonetheme-barceloneta-base/scss/icons";
@import "@plone/plonetheme-barceloneta-base/scss/header";

// @import "@plone/plonetheme-barceloneta-base/scss/sitenav";

@import "@plone/plonetheme-barceloneta-base/scss/breadcrumbs";
@import "@plone/plonetheme-barceloneta-base/scss/content";
@import "@plone/plonetheme-barceloneta-base/scss/comments";
@import "@plone/plonetheme-barceloneta-base/scss/portlets";
@import "@plone/plonetheme-barceloneta-base/scss/footer";
@import "@plone/plonetheme-barceloneta-base/scss/print";
@import "@plone/plonetheme-barceloneta-base/scss/roboto-webfont";

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

///// Common

@import "./common/com-cookies";
@import "./common/com-edition";
@import "./common/com-faceted";
@import "./common/com-list-image";
@import "./common/messviewlet";
@import "./common/com-react";
@import "./common/com-footer";

///// List

@import "./list/list-block";
@import "./list/list-block-img";
@import "./list/list-img";
@import "./list/list";

///// Base

@import "./mixin";
@import "./general";
@import "./fonts";
@import "./sitenav";
@import "./sub-sitenav";
@import "./header";
@import "./edition";
@import "./print";
@import "./swiper";
@import "./trucaverif";

//// Sections

@import "./sections/se-textes";
@import "./sections/se-contact";
@import "./sections/se-file";
@import "./sections/se-gallery";
@import "./sections/se-link";
@import "./sections/se-linked-content";
@import "./sections/se-plan";
@import "./sections/se-plan-geo";
@import "./sections/se-postit";

// Home page

@import "./homepage/general-home";
@import "./homepage/banner";
@import "./homepage/quick-access";
@import "./homepage/a-la-une";
@import "./homepage/actualites";
@import "./homepage/events";
@import "./homepage/album";
@import "./homepage/newsletter";

#faceted-map-container {
  z-index: 0;
}

.leaflet-top.leaflet-left {
  z-index: inherit !important;
}
