//// VARIABLES
// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS
// Import barceloneta files from node_modules --load-path=node_modules
// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";
// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import "./variables";
@import "../../../base/src/scss/main.scss";

//// STYLES
// ... add your styles here
@import "./home/quick";
@import "./home/a-la-une";
@import "./home/actualites";
@import "./home/events";
@import "./home/en-image";
@import "./home/annuaire";
@import "./home/les-sites";
@import "./home/newsletter";
@import "./home/services";
@import "./home/banner";
@import "./home/menu";
@import "./home/divers";
@import "./home/footer";

.portaltype-imio-smartweb-portalpage{
    .outer-wrapper{
        padding-bottom: 5rem;
    }
}
body:not(.section-accueil){
    #portal-footer-wrapper {
        margin-top: 5rem;
    } 
}
#portal-footer-wrapper {
    h2 {
        color: #fff !important;
    }
} 
.sectiontext .mark, .sectiontext mark {
	background-color: #183f6e;
	color: #fff!important;
    a{
        color: #fff!important;  
    }
}

.sectionfiles .table_display{
    a, div{
        color: #fff !important;
    }
}

.sectionevents .swiper-slide .swiper_category span {
	color: #fff!important;
}

#container-section-acces-directs .table_image:focus .table_title span::after, #container-section-acces-directs .table_image:hover .table_title span::after {
	background-color: #fff!important;
}
//MENUHAMBURGER
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
//LOGO RESPONSIVE IPHONE
@include media-breakpoint-down(lg) {
    #portal-header #portal-header-top #portal-globalnav-wrapper {
        margin: 0 !important;
    }
    #portal-header #portal-header-top #portal-logo {
        max-width: 130px;
        svg {
            width: 100%;
        }
    }
    .smartweb_herobanner .bannerSwiper {
        height: 500px;
    }
}
@media sreen and (max-width:989px) {
    #portal-header #portal-header-top #portal-logo {
        max-width: 144px;
        svg {
            width: 100%;
        }
    }
}

.portaltype-imio-smartweb-portalpage #messagesviewlet {
    position: absolute;
    top: 130px;
}