//BREADCRUMB
#portal-breadcrumbs {
    margin-top: 2rem;
}

//
div.swiper-image {
    position: relative;
}

div.swiper-image::before {
    background: transparent;
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    transition: all .2s ease;
    z-index: 99;
}

.swiper-slide:hover a div.swiper-image::before {
    background: $primary;
    opacity: 50%;
}

// .sectionfiles {

//     .section-title, div ul li a, div ul li a span, div ul li a span::before {

//         color: $primary;

//     }

// }
.r-actu-wrapper::after {
    display: none !important;
}

.r-list-item-group:hover .r-item-arrow-more {
    background-color: $secondary !important;
}

.r-content button {
    background: $primary;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border: solid 1px $primary;
    margin-bottom: 1rem;
}

.sectiontext .mark, .sectiontext mark {
    border: 2px solid $secondary;
}