.sectionnews{
    margin:0;
    left:auto;
    transform: none;
    width: 50% !important;
    margin-top:100px;
    padding:0px 10px;

    

    .section-container{
        position: relative;
    }

    .container {
        padding: 0px 40px !important;
    }

    .section-title{
        font-weight: 500;
        text-transform: none;
        position: relative;
        color:$primary-svg;
        text-align: right;
        margin-bottom: 1rem;
    }
    @media screen and (max-width: 950px) {
        margin-top:60px;
        width: 100% !important;

        .section-title{
            text-align: center;
        }
    }

    .see_all a {
        width: 100%;
        text-align: center;
        color: #fff;
        background: $primary-svg;
        border: 1px solid $primary-svg;

        &:hover {
            background: $primary;
            border: 1px solid $primary;
        }
    }

    

    .row {
        margin: 0;

        li{
            &::marker {content:""!important;}
            padding: 20px 10px;
            border-bottom: 1px solid #C1C1C1;

            .table_display {
                .table_image {
                    text-decoration: none;
                    width: 100%;
                    position:relative;
                    display: block;
                    
               .table_category {
                
                display: inline-block;
                
                text-align: right;
                display: flex;
                justify-content: flex-end;

                span {
                background: #ddd;
                border-radius: 5px;
                padding:5px;
                font-size: 13px;
                }   
               }

               .table_date {
                font-size: 10px;
                transition: all 0.3s ease;
               }

               .table_title {
                font-size: 16px;
                font-weight: 500;
                transition: all 0.3s ease;
               }

               &:hover {
                .table_date {
                    padding-left:7px;
                    transition: all 0.3s ease;
                   }

                .table_title {
                    color:$primary-svg;
                    padding-left:7px;
                    transition: all 0.3s ease;
                    text-decoration: underline;
                   }

               }
            }
            }
        }

        li::marker {
            display: none !important;
          }
    }





}

.image-actualites-accueil {
    figure {
        max-width: 100% !important;
        width: 100% !important;
        margin:100px 0px 0px !important;
        padding: 0px 40px !important;

        img {
            width: 100% !important;
            height:auto !important;
        }
    }
    @media screen and (max-width: 950px) {
        display: none;
    }
}