.sectionnews .swiper-slide .swiper_description {
padding: 0 36px;
}

body.section-home-page #container-section-actualites::after {
    content: "";
    background: #EEE;
    clip-path: polygon(50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 5%);
    inset: 0;
    position:absolute;
    z-index: -1;
}

.swiper-image {
    position: relative;
}

.swiper-slide:hover a div.swiper-image::before {
    background: $primary;
    opacity: 50%;
}

div.swiper-image::before {
    background: transparent;
    inset: 0;
    content: "";
    position: absolute;
    transition: all .2s ease;
    z-index: 0;
}