.sectionnews .swiper-slide .swiper_description {
padding: 0 36px;
}
body.section-home-page #container-section-actualites::after {
    content: "";
    background: #EEE;
    clip-path: polygon(50% 0, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 5%);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position:absolute;
    z-index: -1;
}