.contact_description {
    margin-top: 1rem;
}

.contact_description strong {
    font-size: 1.25rem;
    font-weight: 500;
}

div#subsite-logo img {
	height: 3rem;
	margin: -.5em .25em -.5em -1.25rem;
	margin: 0 auto 0.5rem auto;
	display: block;
}

.nav-link{
 font-size:17px
}

.subsite-container #subsite-logo {
    background: $primary;
}

#portal-breadcrumbs {
    background-color: transparent;
}

#portal-breadcrumbs {
    margin-top: 2rem;
}

.block-menu-element a .card-body {
    padding: 2rem;
}

#portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav>li.show-nav.has_subtree>a {
    color: $primary !important;
}