.espace-citoyen{
    position: relative;

    &::before {
        width: 100vw;
        height: 635px;
        //background: url("../../assets/svg/vague-right.svg") top right no-repeat;
        opacity: 30%;
        border-radius: 0;
        content: "";
        right:0;
        position: absolute;
        top: -625px;
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
    }

    @media screen and (max-width: 600px) {
        &::before {
            display:none;
        }
        }

    &::after {
        background: $primary-svg;
        border-radius: 0;
        bottom: 0;
        content: "";
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 100vw;
        z-index: -1;
    }

    @media screen and (max-width: 575px) {
        &::after {
            border-radius: 0;
        }
    }
    background: #fff;
    padding-top: 4vw;
    padding-bottom: 4vw;
    border-radius: 30px;
    margin-bottom: 0;
    margin-top: 0;
    
    .body-section{
        .row{
            max-width: 100%;
            margin: 0 auto;
            border-radius: 15px;
            
            li{
                padding: 0!important;
            }

            .table_display{
                height: 100%;
            }

            .table_image{
                padding: 1.5rem 1rem;
                border-radius: 50px;
                border: 5px solid transparent;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                height: 100%;
                color: #fff;
                transition: all 0.3s ease;

                .image{
                    width: auto;

                    svg{
                        height: auto;
                        width: 40px;
                        max-height: 40px;
                        fill: #fff;
                    }
                }

                &:hover{
                    border: 5px solid #fff;
                    transition: all 0.3s ease;

                    .table_title{
                        span{
                            color: #fff;
                        }
                    }
                    
                }
            }
        }
    }
}


.espace-citoyen-titre{
    margin: 0;
    padding: 0;

    .section-text {
        .text {
    h2{
        font-weight: 400;
        text-transform: none;
        position: relative;
        color:$primary;
        margin: 0 auto 40px !important;
        //content: url("../../assets/svg/titre-espace-citoyen.svg");
        width:auto;
        height: 80px;

        @media screen and (max-width: 992px) {
            height: 65px;
            }

        @media screen and (max-width: 600px) {
            height: 50px;
            }
    }
}
}
    
}