.bannerSwiper .section-slide {
  position: relative;

  .swiper-banner-content-wrapper {
    position: initial !important;
    top: initial !important;
    transform: initial !important;

    .swiper-banner-content {
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 0 50px 0 0;
      font-family: $font-family-title;

      .swiper-banner-title,
      .swiper-banner-description p {
        font-style: italic;
        font-weight: 200;
        line-height: 40px;
      }

      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }
}

body.portaltype-imio-smartweb-portalpage {
  content: "";
  background-image: url("../../assets/svg/back-form.svg") top center no-repeat;
  z-index: -1;
}

@media screen and (max-width: 600px) {
  .smartweb_herobanner .bannerSwiper {
    height: 260px;
  }
}
