.site-cpas {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-dark;
  }

  #portal-globalnav .dropdown .nav-title a {
    color: $primary-dark;
  }

  #portal-globalnav-collapse .dropdown .nav-link:focus,
  #portal-globalnav-collapse .dropdown .nav-link:hover,
  #subsite-navigation .dropdown .nav-link:focus,
  #subsite-navigation .dropdown .nav-link:hover {
    color: $primary;
  }

  #portal-globalnav > li a:hover {
    color: #000 !important;
  }

  .r-content-text .mark,
  .r-content-text mark,
  .sectiontext .mark,
  .sectiontext mark {
    background-color: $primary-light !important;
  }

  #portal-globalnav-wrapper
    #portal-globalnav-collapse
    #portal-globalnav
    > li.show-nav.has_subtree
    > a {
    color: #000 !important;
  }

  #portal-header #portal-header-top .minisite_logo {
    max-width: 289px !important;
  }

  #portal-header #portal-header-top #header-links #search-link a {
    background: $primary-svg !important;
  }

  .quick-access .body-section ul li .table_image .image.d-block {
    background: $primary-light;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: $primary-light;
  }

  .swiper-pagination-bullet-active {
    background: $primary !important;
  }

  .smartweb_herobanner
    .bannerSwiper
    .swiper-slide
    .swiper-banner-content-wrapper
    .swiper-banner-content {
    background: $primary;
  }
}

.portaltype-imio-smartweb-page.site-cpas
  #main-container
  .sectionfiles
  .section-container
  .table_display
  .table_image {
  background-color: $primary;
}
