.sectionlinks.quick-access.partenaires .section-title {
  color: $primary-dark !important;
  margin: 0 0 2rem;
  padding: 0;
  text-align: center;
  width: 100%;
  text-transform: initial;
  font-weight: 600;
}
