.sectionlinks.quick-access.partenaires .section-title {
  color: $primary-dark !important;
  margin: 0 0 2rem;
  padding: 0;
  text-align: center;
  width: 100%;
  text-transform: initial;
  font-weight: 600;
}

.container footer {
  position: relative;
}

.container footer {
  &::after {
    content: url("../../assets/svg/footer-brigde.svg");
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    transform: translateY(15px);
    width: 90vw;
  }
}
