.sectionlinks.quick-access.partenaires .section-title {
  color: $primary-dark !important;
  margin: 0 0 2rem;
  padding: 0;
  text-align: center;
  width: 100%;
  text-transform: initial;
  font-weight: 600;

  &::after {
    bottom: -20px;
    right: -80px;
    transform: initial;

    @media screen and (max-width: 992px) {
      bottom: initial;
      right: initial;
    }
  }
}

.portaltype-imio-smartweb-portalpage.section-home-page .partenaires {
  .section-title {
    font-weight: 900 !important;
    text-transform: initial;
    position: relative;
    color: $primary;
    width: max-content;
    font-size: 50px;
    line-height: 50px;
    padding-left: 25px;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
      transform: rotate(0deg);
      position: initial;
      padding: 0;
      writing-mode: initial;
      margin: 0 auto 30px;
      background: none;
    }
  }

  .table_display {
    padding: 0 25px;
  }

  a {
    text-decoration: none !important;

    .table_title {
      color: $primary-dark;
      font-weight: 600;
      transition: 0.5s;
      font-size: 18px;
      margin-bottom: 30px;
    }

    &:hover {
      .table_title {
        color: $primary-dark;
        transition: 0.5s;
      }
    }
  }
}
