.sectionlinks.quick-access {
  padding-top: 0;
  margin-top: -100px;

  .table_image {
    /* stylelint-disable-next-line rule-empty-line-before */
    &:hover,
    &:focus {
      .image {
        background-color: darken($primary, 10%) !important;
      }
    }
  }
}

// partenaires

.quick-access.section-partenaires {
  padding-top: 4vw;
  padding-bottom: 4vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  text-align: center;

  .section-title {
    color: $primary-svg;
    position: relative;
    display: inline-block;
    margin-bottom: 3vw;

    &::before {
      content: "";
      background: url("../../assets/svg/actu-bird-light.svg") no-repeat;
      background-size: contain;
      width: 94px;
      height: 75px;
      display: block;
      position: absolute;
      top: -76px;
      left: -41px;
      z-index: -1;
    }
  }
}
