.a-la-une {
    padding-top: 2rem;
}

@media (min-width: 768px) {
    .sectionselections {
        padding-top: 2rem;
    }
}

@media (max-width: 768px) {
    .sectionselections {
        padding-top: 0rem;
    }
}

.a-la-une #body-section-a-la-une .swiper-wrapper {
    padding-bottom: 0px;
}

.a-la-une:after {
    background: #CDD8E7;
    bottom: 0px;
    content: "";
    left: 50%;
    position: absolute;
    top: -70px;
    transform: translateX(-50vw);
    width: 100vw;
    z-index: -1;
}

.a-la-une .swiper-slide .swiper_title h3, .a-la-une .swiper-slide .swiper_title .h3 {
    color: #3E4854;
    font-weight: 700;
    font-size: 1.375rem;
}

.a-la-une .swiper-slide .swiper_description p {
    font-size: 1rem;
    max-width: 90%;
    padding-top: 1rem;
    font-weight: 300;
}

@media screen and (max-width: 992px) {
    .a-la-une .swiper_description {
        padding: 0;
    }
}
