.sectionevents{
    background: url("../../assets/svg/event-bg.png");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;

    .section-title{
        font-weight: 300;
        text-transform: uppercase;
    }

    .swiper-wrapper{
        .swiper-slide {
            & > a{
                grid-template-columns: 1fr 1fr;
                align-items: center;

                .swiper-image{
                    padding-bottom: 55%;
                    grid-column-end: 3;
                    grid-column-start: 1;
                    transition: all .25s ease;
                    margin-bottom: 1rem;
                }

                .swiper_category{
                    margin-left: auto;
                }

                .swiper_date{
                    text-transform: uppercase;
                    font-family: $font-family-base; 
                    grid-row-start: 2;
                }

                .swiper_title{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    margin-top: 10px;

                    h3{
                        font-family: $font-family-base;

                        &::after{
                            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Calque_1' data-name='Calque 1' viewBox='0 0 105.5 20.24'%3E%3Cdefs%3E%3Cstyle%3E.cls-3%7Bfill:none%7D.cls-4%7Bisolation:isolate%7D.cls-3%7Bstroke:%23009eaf;stroke-linecap:round%7D%3C/style%3E%3C/defs%3E%3Cg id='Lire_la_suite' class='cls-4' data-name='Lire la suite'%3E%3Cg class='cls-4'%3E%3Cpath d='M1.85 9.62h3.42v1.04H.58V.9h1.27v8.72ZM7.02 1.48c-.17-.17-.25-.37-.25-.62s.08-.45.25-.62.37-.25.62-.25.43.08.59.25.25.37.25.62-.08.45-.25.62-.36.25-.59.25-.45-.08-.62-.25Zm1.23 1.5v7.67H6.98V2.98h1.27ZM13 3.21c.42-.24.92-.36 1.52-.36v1.32h-.34c-1.43 0-2.14.78-2.14 2.32v4.17h-1.27V2.98h1.27v1.25c.22-.44.54-.78.96-1.02ZM23.3 7.29h-6.13c.05.76.31 1.35.78 1.77s1.04.64 1.71.64c.55 0 1.01-.13 1.38-.38.37-.26.63-.6.78-1.03h1.37c-.21.74-.62 1.34-1.23 1.8-.62.46-1.38.69-2.3.69-.73 0-1.38-.16-1.95-.49-.57-.33-1.02-.79-1.35-1.39-.33-.6-.49-1.3-.49-2.09s.16-1.49.48-2.09c.32-.6.76-1.06 1.34-1.38.57-.32 1.23-.48 1.98-.48s1.37.16 1.93.48c.56.32.99.75 1.29 1.31.3.55.46 1.18.46 1.88 0 .24-.01.5-.04.77ZM21.7 5c-.21-.35-.51-.62-.88-.8-.37-.18-.78-.27-1.22-.27a2.4 2.4 0 0 0-1.65.62c-.45.41-.71.98-.78 1.71h4.84c0-.48-.11-.9-.32-1.25ZM30.73.29v10.36h-1.27V.29h1.27ZM33.25 4.73c.32-.59.75-1.05 1.31-1.38.55-.33 1.17-.49 1.85-.49s1.25.14 1.75.43.86.65 1.11 1.09v-1.4h1.29v7.67h-1.29V9.22c-.25.45-.63.82-1.13 1.11-.5.29-1.08.44-1.74.44s-1.3-.17-1.85-.5-.98-.81-1.3-1.41-.48-1.3-.48-2.07.16-1.47.48-2.06Zm5.67.57c-.23-.43-.55-.76-.94-.99-.4-.23-.83-.34-1.31-.34s-.91.11-1.3.34c-.39.22-.71.55-.94.98s-.35.93-.35 1.51.12 1.1.35 1.53.55.77.94.99c.39.23.83.34 1.3.34s.91-.11 1.31-.34c.4-.23.71-.56.94-.99s.35-.94.35-1.52-.12-1.08-.35-1.51ZM48.29 10.48c-.47-.2-.84-.48-1.11-.84s-.42-.77-.45-1.24h1.32c.04.38.22.7.54.94.32.24.74.36 1.27.36.49 0 .87-.11 1.15-.32.28-.21.42-.48.42-.81s-.15-.59-.45-.75-.76-.32-1.39-.48c-.57-.15-1.03-.3-1.39-.46-.36-.15-.67-.38-.92-.69-.26-.3-.38-.7-.38-1.2 0-.39.12-.75.35-1.08.23-.33.56-.58.99-.78.43-.19.92-.29 1.47-.29.85 0 1.54.21 2.06.64.52.43.8 1.02.84 1.76h-1.27c-.03-.4-.19-.72-.48-.97-.29-.24-.69-.36-1.18-.36-.46 0-.82.1-1.09.29-.27.2-.41.45-.41.77 0 .25.08.46.25.62.16.16.37.29.62.39.25.1.59.21 1.03.33.55.15 1 .3 1.34.44.35.14.64.36.89.65.25.29.38.67.38 1.13 0 .42-.12.8-.35 1.13-.23.34-.56.6-.99.79s-.91.29-1.46.29c-.59 0-1.12-.1-1.58-.3ZM61.62 2.98v7.67h-1.27V9.52c-.24.39-.58.7-1.02.92-.43.22-.91.33-1.43.33-.6 0-1.13-.12-1.61-.37-.48-.25-.85-.62-1.13-1.11-.28-.49-.41-1.1-.41-1.81v-4.5h1.26v4.33c0 .76.19 1.34.57 1.74.38.41.91.61 1.57.61s1.22-.21 1.61-.63c.39-.42.59-1.03.59-1.83V2.98h1.27ZM64.17 1.48c-.17-.17-.25-.37-.25-.62s.08-.45.25-.62.37-.25.62-.25.43.08.6.25c.16.17.25.37.25.62s-.08.45-.25.62c-.16.17-.36.25-.6.25s-.45-.08-.62-.25Zm1.23 1.5v7.67h-1.27V2.98h1.27ZM69.47 4.03v4.52c0 .37.08.64.24.79.16.15.43.23.83.23h.94v1.08h-1.15c-.71 0-1.24-.16-1.6-.49-.35-.33-.53-.86-.53-1.61V4.03h-.99V2.98h.99V1.05h1.27v1.93h2v1.05h-2ZM80.32 7.29h-6.13c.05.76.31 1.35.78 1.77.47.42 1.04.64 1.71.64.55 0 1.01-.13 1.38-.38.37-.26.63-.6.78-1.03h1.37c-.21.74-.62 1.34-1.23 1.8s-1.38.69-2.3.69c-.73 0-1.38-.16-1.95-.49-.57-.33-1.02-.79-1.35-1.39-.33-.6-.49-1.3-.49-2.09s.16-1.49.48-2.09c.32-.6.76-1.06 1.34-1.38.57-.32 1.23-.48 1.98-.48s1.37.16 1.93.48c.56.32.99.75 1.29 1.31.3.55.46 1.18.46 1.88 0 .24-.01.5-.04.77ZM78.72 5c-.21-.35-.51-.62-.88-.8-.37-.18-.78-.27-1.23-.27-.64 0-1.19.21-1.64.62-.45.41-.71.98-.78 1.71h4.84c0-.48-.11-.9-.32-1.25Z'/%3E%3C/g%3E%3C/g%3E%3Cpath id='Line_2' d='M0 19.74h81' data-name='Line 2' style='isolation:isolate;fill:none;opacity:.1;stroke:%23000'/%3E%3Cpath id='Ligne-hover' d='M0 19.74h4' style='stroke:transparent;fill:none'/%3E%3Cg id='Group_71' data-name='Group 71'%3E%3Cpath id='Line_7' d='M89 6.15h16' class='cls-3' data-name='Line 7'/%3E%3Cpath id='Line_8' d='m101 2.15 4 4' class='cls-3' data-name='Line 8'/%3E%3Cpath id='Line_9' d='m101 10.15 4-4' class='cls-3' data-name='Line 9'/%3E%3C/g%3E%3C/svg%3E");
                            display: block;
                            width: 100px;
                            margin-top: 1em;
                        }
                    }
                }

                .swiper_description{
                    display: none;
                }

                &:hover{
                    .swiper-image{
                        mask-size: 99%;
                    }

                    .swiper_category{
                    }

                    .swiper_date{

                    }

                    .swiper_title{
                        h3{
        
                        }
                    }

                    .swiper_description{
                        p{
        
                        }
                    }
                }
            }
        }
    }

    .swiper-button-next, .swiper-button-prev {
        top: 54px;
        width: 45px;
        height: 45px;
        background-color: #fff;
        border-radius: 50px;
    }

    .swiper-button-prev{
        left: inherit;
        right: 65px;
    }
}