.site-go-vss #main-container {
  .sectionnews,
  .sectionevents {
    .see_all {
      display: flex;
      justify-content: center;

      a {
        background: $primary-atl-red;
        border: 1px solid $primary-atl-red;
        color: #fff;
        padding: 10px 20px;
        border-radius: 25px;
        transition: all 0.2s ease;
        text-decoration: none;

        &:hover {
          background: transparent;
          color: #000;
          border-color: #000;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}
