.portaltype-imio-smartweb-portalpage.section-home-page {
  .section-text .text h2::after {
    content: "";
    background: no-repeat url("../../assets/svg/circles-title.svg");
    height: 10px;
    position: absolute;
    left: 37%;
    top: 50%;
    width: 55px;
  }
}

.portaltype-imio-smartweb-portalpage.section-home-page {
  .section-text .text {
    max-width: initial;
  }
}

.espace-citoyen {
  position: relative;

  &::after {
    background: $primary;
    border-radius: 0;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;
  }

  @media screen and (max-width: 575px) {
    &::after {
      border-radius: 0;
    }
  }
  background: transparent;
  padding-top: 4vw;
  padding-bottom: 4vw;
  border-radius: 30px;
  margin-bottom: 0;
  margin-top: 0;

  .body-section {
    .row {
      max-width: 100%;
      margin: 0 auto;
      border-radius: 15px;

      li {
        padding: 0 !important;
      }

      .table_display {
        height: 100%;
      }

      .table_image {
        padding: 1.5rem 1rem;
        border-radius: 50px;
        border: 5px solid transparent;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 100%;
        color: #fff;
        transition: all 0.3s ease;

        .image {
          width: auto;

          svg {
            height: auto;
            width: 40px;
            max-height: 40px;
            fill: #fff;
          }
        }

        &:hover {
          border: 5px solid #fff;
          transition: all 0.3s ease;

          .table_title {
            span {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
