.sectionevents {
    .swiper-pagination-bullet {
        background: #A1A1A1;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: #fff !important;
    }
}

.sectionevents .swiper-slide .swiper_description {
    padding: 0 36px;
    p {
        font-weight: lighter;
    }
}