.sectionevents {
  .swiper-pagination-bullet {
    background: #a1a1a1;
    opacity: 100%;
  }

  .swiper-pagination-bullet-active {
    background: #fff !important;
  }
}

.sectionevents .swiper-slide .swiper_description {
  padding: 0 36px;
}
