.portaltype-imio-smartweb-portalpage.section-home-page .sortable-section.sectionlinks.quick-access:first-child {
    position: absolute;
    transform: translateY(-56%);
    z-index: 0;
    left: 0;
}

body.userrole-authenticated.portaltype-imio-smartweb-portalpage.section-home-page .sortable-section.sectionlinks.quick-access:first-child {
    position: initial;
    transform: initial;
  }

body.userrole-authenticated.portaltype-imio-smartweb-portalpage.section-home-page .container.header-section.hide-in-preview {
    margin-left: 0;
  }

body.userrole-authenticated.portaltype-imio-smartweb-portalpage.section-home-page #container-section-quick-access {
    margin-left: 0;
  }
 
@media screen and (max-width:768px) {
  .portaltype-imio-smartweb-portalpage.section-home-page .sortable-section.sectionlinks.quick-access:first-child {
    position: initial;
    transform: initial;
    z-index: 0;
    }
}

.sectionlinks.quick-access .body-section li a .image.d-block svg {
    transition: 0.5s;
}

.sectionlinks.quick-access .body-section li a .image.d-block:hover svg {
    width: 40px;
    height: 40px;
}