.sectionnews{
    background-color: $primary;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='676' height='804' fill='none'%3E%3Cpath fill='%23fff' fill-opacity='.08' stroke='%23fff' stroke-opacity='.03' d='m39.823 684.065-171.353-27.15 24.613-155.348 317.924-232.736-274.166-43.439L-27.606 1l702.55 111.314L565.55 802.751l-239.895-38.01 43.758-276.175-51.406-8.145L39.823 684.065Z'/%3E%3C/svg%3E");
    background-position: left top;
    background-size: 50%;
    background-repeat: no-repeat;
    .section-title{
        font-weight: 900;
        text-transform: uppercase;
        position: relative;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        &:after{
            content: "";
            position: absolute;
            width: 65px;
            height: 7px;
            background-color: $primary-svg;
            left: 0;
            bottom: 0;
        }
    }
    .swiper-wrapper{
        .swiper-slide {
            & > a{
                display: block;
                align-items: center;
                .swiper-image{
                    padding-bottom: 55%;
                    transition: all .25s ease;
                    margin-bottom: 2rem;
                }
                .swiper_category{
                    margin-left: auto;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .swiper_date{
                    text-transform: uppercase;
                    font-family: $font-family-base; 
                    grid-row-start: 2;
                }
                .swiper_title{
                    margin-top: 10px;
                    h3{
    
                    }
                }
                .swiper_description{
                    p{
                        margin: 0;
                    }
                }
                &:hover{
                    .swiper-image{
                        mask-size: 99%;
                    }
                    .swiper_category{
                        color: #fff;
                    }
                    .swiper_date{
                        color: #fff;

                    }
                    .swiper_title{
                        h3{
                            color: $primary-svg;
        
                        }
                    }
                    .swiper_description{
                        p{
                            color: #fff;
        
                        }
                    }
                }
            }
        }
    }
    .swiper-button-next, .swiper-button-prev {

    }
    .swiper-button-prev{

    }
}

.sectionnews .see_all a {
    &:hover{
        color: $primary-svg;
    }
}