.intro-txt{
    .text{
        margin-left: inherit!important;
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        h2{
            font-size: 70px;
            font-weight: 900;
            color: $primary;
            text-transform: uppercase;
        }
        p{
            &:nth-child(2){
                font-weight: bold;
            }
            &:nth-child(3){
                width: 45%;
            }
            &:nth-child(4){
                width: 45%;
            }
        }
    }
}
