.sectionevents .see_all a {
    font-family: $font-family-base;
}

.sectionnews .see_all a {
    font-family: $font-family-base;
}

.sectionnews .see_all a:focus,
.sectionnews .see_all a:hover {
    background: transparent;
    border: 0 solid #014769;
    border-radius: 0;
    color: $black;
}

body .sortable-section.annuaire h2.section-title:after {
    background-position: left;
}

.sortable-section.a-la-une h2.section-title::after,
.sortable-section.sectionevents h2.section-title::after,
.sortable-section.sectionnews h2.section-title::after,
.sortable-section.annuaire h2.section-title::after,
.sortable-section.suivez-nous h2.section-title::after,
.sortable-section.section-en-image h2.section-title::after {
    content: "";
    background: url("../../assets/svg/vague.svg");
    bottom: 0;
    position: initial;
    width: 100%;
    display: block;
    background-size: 210px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.sortable-section.sectionevents h2.section-title,
.sortable-section.sectionnews h2.section-title {
    position: relative;
}

div.swiper-image {
    position: relative;
}

div.swiper-image::before {
    background: transparent;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all .2s ease;
    z-index: 0;
}

.swiper-slide:hover a div.swiper-image:before {
    background: $primary;
    opacity: 0.5;
}

//
.enquetes div.swiper-slide {
    position: relative;
    padding: 1rem;
    background: #fff;
}

.block-menu-element a .card-body,
body.template-block_view_with_images .block-menu-element a .card-body {
    width: auto;
    padding: 1rem;
}

.block-menu-element a .card-body,
body.template-block_view_with_images .block-menu-element a .card-body {
    padding: 1rem;
}

.item_infos {
    color: #fff;
}

.sortable-section.sectionfiles h2 {
    font-size: 1.5rem;
}

div#faceted-results .list-card-body:hover h2 {
    text-decoration: underline;
}

#localmessagesviewlet,
#messagesviewlet {
    float: none;
    padding-top: 0rem;
    position: absolute;
    top: 110px;
    width: 100%;
    max-width: 95%;
}