@media screen and (min-width: 1200px) {
  .subsite-container {
    margin-top: 0.5rem;
  }
}

#portal-globalnav-wrapper
  #portal-globalnav-collapse
  #portal-globalnav
  .quick-access
  .quick-access-title {
  color: $primary;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
