.header-custom #banner::after {
  display: none !important;
}

.smartweb_herobanner .bannerSwiper {
  height: 50vw;
  max-height: 600px;
}

.smartweb_herobanner {
  width: 100vw;

  .bannerSwiper {
    width: calc(100vw - 150px);
    border-radius: 0 0 0 230px;
    margin-left: 150px;
    margin-bottom: 100px;

    @media screen and (max-width: 1400px) {
      width: calc(100vw - 50px);
      border-radius: 0 0 0 175px;
      margin-left: 50px;
      margin-bottom: 80px;
    }

    @media screen and (max-width: 1000px) {
      border-radius: 0 0 0 125px;
      margin-bottom: 60px;
    }

    @media screen and (max-width: 700px) {
      width: 100vw;
      border-radius: 0;
      margin-left: 0;
    }
  }

  .swiper-button-prev {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M14 17.75a.74.74 0 0 1-.53-.22l-5-5a.75.75 0 0 1 0-1.06l5-5a.75.75 0 0 1 1.06 1.06L10.06 12l4.47 4.47a.75.75 0 0 1 0 1.06a.74.74 0 0 1-.53.22Z" fill="%23000000"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    inset: auto 60px 120px auto;

    @media screen and (max-width: 766px) {
      right: 30px;
      bottom: 80px;
      display: block;
    }
  }

  .swiper-button-next {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M10 17.75a.74.74 0 0 1-.53-.22a.75.75 0 0 1 0-1.06L13.94 12L9.47 7.53a.75.75 0 0 1 1.06-1.06l5 5a.75.75 0 0 1 0 1.06l-5 5a.74.74 0 0 1-.53.22Z" fill="%23000000"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    inset: auto 60px 60px auto;

    @media screen and (max-width: 766px) {
      right: 30px;
      bottom: 30px;
      display: block;
    }
  }
}

@media screen and (max-width: 575px) {
  .smartweb_herobanner {
    border-radius: 30px 0;
  }
}

.smartweb_herobanner
  .bannerSwiper
  .swiper-slide
  .swiper-banner-content-wrapper {
  position: absolute;
  top: auto;
  transform: none;
  bottom: 0 !important;
  max-width: 100%;
  width: 100%;
  padding: 0 !important;
}

.smartweb_herobanner::before {
  background: $primary-color;
  border-radius: 50%;
  content: "";
  display: block;
  height: 650px;
  left: 50px;
  position: absolute;
  bottom: -100px;
  width: 650px;

  @media screen and (max-width: 1400px) {
    height: 450px;
    left: 0;
    bottom: -50px;
    width: 450px;
  }

  @media screen and (max-width: 1000px) {
    height: 350px;
    left: 0;
    bottom: -50px;
    width: 350px;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}

.smartweb_herobanner::after {
  border-radius: 0 0 0 50px;
  top: 0;
  content: "";
  display: block;
  height: 130px;
  right: 0;
  left: auto;
  position: absolute;
  width: 354px;
  background: url("../../assets/bg-footer.png") no-repeat #fff;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.swiper-banner-content-wrapper {
  width: 450px !important;
  max-width: 100%;
  padding: 1rem 5rem;
  margin: 0;
  background: #fff;
  text-align: left;
  height: 450px;
  border-radius: 50%;
  right: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .swiper-banner-content {
    width: max-content;
    max-width: 100%;
    padding: 1rem 2rem !important;
    margin: 0;
    background: none !important;
    text-align: center !important;

    .swiper-banner-title {
      font-weight: 700 !important;
      font-size: 2.5rem !important;
      line-height: 3rem;
      text-transform: none;
      position: relative;
      color: $primary;
    }

    .swiper-banner-description {
      margin-top: 10px;
      font-weight: 300 !important;
      font-size: 1.25rem;
      text-transform: uppercase;
      position: relative;
      color: $primary;
    }
  }

  @media screen and (max-width: 1400px) {
    width: 350px !important;
    height: 350px;

    .swiper-banner-content {
      .swiper-banner-title {
        font-size: 2rem !important;
        line-height: 2.7rem;
      }

      .swiper-banner-description {
        margin-top: 5px;
        font-size: 1rem;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    width: 250px !important;
    height: 250px;
    padding: 1rem !important;

    .swiper-banner-content {
      .swiper-banner-title {
        font-size: 1.5rem !important;
        line-height: 1.7rem;
      }

      .swiper-banner-description {
        margin-top: 5px;
        font-size: 0.5rem;
      }
    }
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}
