.sectionevents{
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
    margin:0;
    max-width: 100vw; 
    border-radius: 0;

    #container-section-agenda{
        background: $primary-color;
        padding-top: 8rem;
        padding-bottom: 7rem;

        @media screen and (max-width: 1000px) {
            width: 100vw;
            margin:0 auto;
            padding : 0 60px;

            h2 {
                font-size: 2.5rem;
                line-height: 3rem;
            }
          }

          @media screen and (max-width: 700px) {
            padding : 0 30px;

            h2 {
                font-size: 2rem;
                line-height: 2.5rem;
            }
          }
    }

    &:before {
        background: $primary-color;
        border-radius: 0;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: calc(50% + 800px);
        max-width: 100%;
        z-index: -1;
    }

    @media screen and (max-width: 992px) {
        padding: 0;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        }

    .section-container{
        position: relative;

    .swiper-pagination-bullet-active {
        background: #fff !important;
      }
    }

    .section-title{
        font-weight: 700 !important;
        text-transform: none;
        position: relative;
        color: $primary-titre;

        @media screen and (max-width: 992px) {
            transform: rotate(0deg);
            position: initial;
            padding: 0;
            writing-mode:initial;
            margin:0 auto 30px;
            background: none;
            }
    }

    .swiper-wrapper{
        .swiper-slide {
            background: transparent;
            border-radius: 30px 0 0;
            transition: .5s;
            
            &:hover,&:focus{
                    transition: .5s;
                    transform: translateY(10px);
                    background: rgba(255, 255, 255, 15%);
                    border-radius: 0 0 60px 60px;
            }

            a .auth_source_container_title {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                border-radius: 0 0 0 20px;
                background: #000;
                color: #fff;
                }


            .anciens-abattoirs, .anciens-abattoirs-expos{
                .auth_source_container_title {
                background: $primary-color-abattoirs;
                color: $primary-titre-abattoirs;
                }
            }

            .artotheque, .artotheque-expos{
                .auth_source_container_title {
                
                background: $primary-color-artotheque;
                color: $primary-titre-artotheque;
                }
            }

            .cap, .cap-expos{
                .auth_source_container_title {
                
                background: $primary-color-cap;
                color: $primary-titre-cap;
                }
            }

            .magasin-de-papier, .magasin-de-papier-expos{
                .auth_source_container_title {
                
                background: $primary-color-magasin-de-papier;
                color: $primary-titre-magasin-de-papier;
                }
            }

            .maison-van-gogh {
                .auth_source_container_title {
                
                background: $primary-color-maison-van-gogh;
                color: $primary-titre-maison-van-gogh;
                }
            }

            .mons-memorial-museum, .mons-memorial-museum-expos{
                .auth_source_container_title {
                
                background: $primary-color-mons-memorial-museum;
                color: $primary-titre-mons-memorial-museum;
                }
            }

            .musee-du-doudou{
                .auth_source_container_title {
                
                background: $primary-color-musee-du-doudou;
                color: $primary-titre-musee-du-doudou;
                }
            }

            .salle-saint-georges, .salle-saint-georges-expos{
                .auth_source_container_title {
                
                background: $primary-color-salle-saint-georges;
                color: $primary-titre-salle-saint-georges;
                }
            }

            .silexs {
                .auth_source_container_title {
                
                background: $primary-color-silexs;
                color: $primary-titre-silexs;
                }
            }

            .site-du-beffroi, .site-du-beffroi-expos {
                .auth_source_container_title {
                
                background: $primary-color-beffroi;
                color: $primary-titre-beffroi;
                }
            }

            .tresor-de-sainte-waudru {
                .auth_source_container_title {
                
                background: $primary-color-tresor-de-sainte-waudru;
                color: $primary-titre-tresor-de-sainte-waudru;
                }
            }

            .musee-francois-duesberg {
                .auth_source_container_title {
                
                background: $primary-color-musee-francois-duesberg;
                color: $primary-titre-musee-francois-duesberg;
                }
            }

            & > a{
                align-items: center;
                padding-bottom: 20px;

                .swiper-image{
                    transition: .5s;
                }

                .swiper_category{
                    width: 100%;
                    text-align: left;
                    position: absolute;
                    top:0;

                    span {
                        display: inline-block;
                        background: $primary-svg;
                        border-radius: 0 0 30px;
                    }
                    
                }

                .swiper_date{
                    font-family: $font-family-base; 
                    width: 100%;
                    color: $primary-titre;
                }

                .swiper_title{
                    width: 100%;

                    h3{
                        font-family: $font-family-base;
                        transition: .5s;
                        font-weight: 500!important;
                        color: $primary-titre;
                    }
                }

                .swiper_description{
                    width: 100%;

                    p{
                        margin: 0;
                        color: $primary-titre;
                    }
                }

                &:hover{
                    .swiper_title{
                        h3{
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }

    .swiper-button-prev {
        display: none; 
        }

        .swiper-button-next {
        display: none;
        }

     .section-container .swiper-pagination-bullet{
        background: #fff !important;
    }

    .section-container .swiper-pagination-bullet-active{
        background: #fff !important;
    }

    .see_all {
        position: absolute;
        right: -140px;
        bottom: -75px;

        a {
            background: #fff!important;
            border: 50px solid $primary-color;
            color:#000 !important;

            &:hover {
                background: #000 !important;
                color:#fff !important;
                border: 50px solid $primary-color;
            }

            @media screen and (max-width: 1000px) {
                    border: 0 !important;

                    &:hover {
                        border: 0 !important;
                    }
                }  
        }

        @media screen and (max-width: 1601px) {
            right:0;
          }

          @media screen and (max-width: 1000px) {
            position: relative;
            right: auto;
            bottom: auto;
          }
    }
}



.subsection-anciens-abattoirs {
.sectionevents{
    #container-section-agenda {
        background: $primary-color-abattoirs;
    }

    &:before {
        background: $primary-color-abattoirs;
    }

    .section-title{
        color: $primary-titre-abattoirs;
    }

    .swiper-wrapper{
        .swiper-slide {
            & > a{
                .swiper_date{
                    color: $primary-titre-abattoirs;
                }

                .swiper_title{
                    h3{
                    color: $primary-titre-abattoirs;
                    }
                }

                .swiper_description{
                    p{
                    color: $primary-titre-abattoirs;
                    }
                }
            }
        }
    }

    .see_all {
        a {
            border: 50px solid $primary-color-abattoirs;

            &:hover {
                border: 50px solid $primary-color-abattoirs;
            }
        }
    }
}
}


.subsection-artotheque {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-artotheque;
        }

        &:before {
            background: $primary-color-artotheque;
        }

        .section-title{
            color: $primary-titre-artotheque;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-artotheque;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-artotheque;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-artotheque;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-artotheque;

                &:hover {
                    border: 50px solid $primary-color-artotheque;
                }
            }
        }
    }
}

.subsection-cap {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-cap;
        }

        &:before {
            background: $primary-color-cap;
        }

        .section-title{
            color: $primary-titre-cap;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-cap;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-cap;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-cap;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-cap;

                &:hover {
                    border: 50px solid $primary-color-cap;
                }
            }
        }
    }
}

.subsection-magasin-de-papier {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-magasin-de-papier;
        }

        &:before {
            background: $primary-color-magasin-de-papier;
        }

        .section-title{
            color: $primary-titre-magasin-de-papier;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-magasin-de-papier;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-magasin-de-papier;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-magasin-de-papier;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-magasin-de-papier;

                &:hover {
                    border: 50px solid $primary-color-magasin-de-papier;
                }
            }
        }
    }
}

.subsection-maison-van-gogh {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-maison-van-gogh;
        }

        &:before {
            background: $primary-color-maison-van-gogh;
        }

        .section-title{
            color: $primary-titre-maison-van-gogh;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-maison-van-gogh;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-maison-van-gogh;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-maison-van-gogh;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-maison-van-gogh;

                &:hover {
                    border: 50px solid $primary-color-maison-van-gogh;
                }
            }
        }
    }
}

.subsection-mons-memorial-museum {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-mons-memorial-museum;
        }

        &:before {
            background: $primary-color-mons-memorial-museum;
        }

        .section-title{
            color: $primary-titre-mons-memorial-museum;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-mons-memorial-museum;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-mons-memorial-museum;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-mons-memorial-museum;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-mons-memorial-museum;

                &:hover {
                    border: 50px solid $primary-color-mons-memorial-museum;
                }
            }
        }
    }
}

.subsection-musee-du-doudou {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-musee-du-doudou;
        }

        &:before {
            background: $primary-color-musee-du-doudou;
        }

        .section-title{
            color: $primary-titre-musee-du-doudou;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-musee-du-doudou;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-musee-du-doudou;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-musee-du-doudou;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-musee-du-doudou;

                &:hover {
                    border: 50px solid $primary-color-musee-du-doudou;
                }
            }
        }
    }
}

.subsection-salle-saint-georges {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-salle-saint-georges;
        }

        &:before {
            background: $primary-color-salle-saint-georges;
        }

        .section-title{
            color: $primary-titre-salle-saint-georges;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-salle-saint-georges;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-salle-saint-georges;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-salle-saint-georges;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-salle-saint-georges;

                &:hover {
                    border: 50px solid $primary-color-salle-saint-georges;
                }
            }
        }
    }
}

.subsection-silexs {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-silexs;
        }

        &:before {
            background: $primary-color-silexs;
        }

        .section-title{
            color: $primary-titre-silexs;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-silexs;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-silexs;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-silexs;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-silexs;

                &:hover {
                    border: 50px solid $primary-color-silexs;
                }
            }
        }
    }
}

.subsection-beffroi {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-beffroi;
        }

        &:before {
            background: $primary-color-beffroi;
        }

        .section-title{
            color: $primary-titre-beffroi;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-beffroi;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-beffroi;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-beffroi;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-beffroi;

                &:hover {
                    border: 50px solid $primary-color-beffroi;
                }
            }
        }
    }
}

.subsection-tresor-de-sainte-waudru {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-tresor-de-sainte-waudru;
        }

        &:before {
            background: $primary-color-tresor-de-sainte-waudru;
        }

        .section-title{
            color: $primary-titre-tresor-de-sainte-waudru;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-tresor-de-sainte-waudru;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-tresor-de-sainte-waudru;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-tresor-de-sainte-waudru;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-tresor-de-sainte-waudru;

                &:hover {
                    border: 50px solid $primary-color-tresor-de-sainte-waudru;
                }
            }
        }
    }
}

.subsection-musee-francois-duesberg {
    .sectionevents{
        #container-section-agenda {
            background: $primary-color-musee-francois-duesberg;
        }

        &:before {
            background: $primary-color-musee-francois-duesberg;
        }

        .section-title{
            color: $primary-titre-musee-francois-duesberg;
        }

        .swiper-wrapper{
            .swiper-slide {
                & > a{
                    .swiper_date{
                        color: $primary-titre-musee-francois-duesberg;
                    }

                    .swiper_title{
                        h3{
                        color: $primary-titre-musee-francois-duesberg;
                        }
                    }

                    .swiper_description{
                        p{
                        color: $primary-titre-musee-francois-duesberg;
                        }
                    }
                }
            }
        }

        .see_all {
            a {
                border: 50px solid $primary-color-musee-francois-duesberg;

                &:hover {
                    border: 50px solid $primary-color-musee-francois-duesberg;
                }
            }
        }
    }
}