.sectionevents{
    .section-title{
        font-weight: 300;
        position: relative;
        text-align: center;
        margin-bottom:2rem;

        &::after{
            display: block;
            width: 100px;
            left:50%;
            top: 50px;
            bottom: 0;
            position: absolute;
            transform: translate(-50%, 0%);
        }
    }

    .see_all a::after {
        content: "";
        transition: all 0.2s ease;
        position: absolute;
        height: 2px;
        background-color: #2F294D;
        left: 50%;
        margin-left: -12.5%;
        bottom: -5px;
        width: 25%;
    }

    .see_all a:hover::after, .see_all a:focus::after {
        width: 50%;
        margin-left: -25%;
    }

    .swiper-wrapper{
        .swiper-slide {
            &:hover,&:focus{
                .swiper-image {
                    transition: .5s;
                }
                //transform: translateY(-10px);
            }

            & > a{
                align-items: center;

                .swiper-image{
                    transition: .5s;
                }

                .swiper_category{
                    top: 10px;
                    left: 10px;
                }

                .swiper_date{
                    font-family: $font-family-base; 
                }

                .swiper_title{
                    h3{
                        font-family: $font-family-base;
                        transition: .5s;
                        
                    }
                }

                .swiper_description{
                    display: none;

                    p{
                        margin: 0;
                    }
                }

                &:hover{
                    .swiper-image{
                    }

                    .swiper_category{
                    }

                    .swiper_date{

                    }

                    .swiper_title{
                        h3{
                            color: #CC071E;
                            transition: .5s;
        
                        }
                    }

                    .swiper_description{
                        p{
                            color: #fff;
        
                        }
                    }
                }
            }
        }
    }
}