.a-la-une .swiper-slide > a {
  grid-template-columns: 60% 40%;
}

.a-la-une{
  position: relative;

  &::after{
    content: "";
    position: absolute;
    background: url('../../assets/svg/mosaic.svg') !important;
    width: 100vw;
    top: 0;
    bottom: -110px;
    left: 50%;
    transform: translateX(-50vw) translateY(30%);
    z-index: -1;
  }
}