.les-sites {
  padding: 5rem 0;
  position: relative;

  &:after{
    content: "";
    background: #F1F1F1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50vw);
    z-index: -1;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(155px, 155px));
    grid-gap: 40px;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-content: center;

    li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      background: #ffff;
      border: 1px solid #D3D3D3;
      border-radius: 20px;
      height: 155px;

      &:hover,
      &:focus {
        border: solid 1px $secondary;
      }

      .table_title {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        span {
          font-size: 18px !important;
          color: rgba(59, 59, 59, 100%) !important;
          font-weight: 700 !important;
        }
      }
    }
  }
}


.sectionlinks.quick-access.les-sites .body-section li a .image.d-block {
	box-shadow: none!important;
	display: block!important;
	flex-direction: column;
	height: auto!important;
	justify-content: center;
	margin: 0 auto;
	width: auto!important;
}