.swiper-slide:hover a div.swiper-image::before {
    background: $primary;
    opacity: 50%;
}

div.swiper-image::before {
    background: transparent;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .2s ease;
    z-index: 0;
}

div.swiper-image {
    position: relative;
}