#portal-footer-wrapper {
  padding-top: 50px;
  text-align: left;
  color: #fff;

  ul,
  p,
  li,
  a,
  span {
    color: #fff !important;
  }

  svg {
    fill: #fff !important;
  }

  .schedule .opening_informations::after {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="8.444" height="5.2"><path fill="white" d="M.247.254a.831.831 0 0 1 1.2 0l2.78 2.854L7.011.254A.831.831 0 0 1 8.2.264a.882.882 0 0 1 .01 1.215L4.825 4.946a.835.835 0 0 1-.6.254 1.529 1.529 0 0 1-.6-.254L.247 1.479a.882.882 0 0 1 0-1.226Z"/></svg>');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 6px;
    margin-left: 0.4rem;
    vertical-align: middle;
    width: 9px;
    fill: #fff;
  }

  .sectionlinks {
    .table_image {
      display: flex;
      gap: 10px;

      .image {
        width: auto;
      }
    }
  }
}

#portal-colophon {
  background-color: #313131;
  color: #fff !important;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0 25px;
  }

  a {
    color: #fff;
  }
}
