//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
@import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import "./home";
@import "./footer";

//// STYLES

.site-oshz,
.site-cpas {
  .account {
    display: none;
  }

  #portal-languageselector {
    .language-nl,
    .language-en {
      display: none;
    }
  }
}

.see_all a::after {
  display: none;
}

.portaltype-imio-smartweb-portalpage {
  .section-title {
    margin-bottom: 2rem;
  }
}
