#portal-column-content .sectioncontact {
  .contact-type-organization,
  .contact-type-mission,
  .contact-type-position {
    background: $primary-green;
    border-radius: 10px !important;
    margin: 10px;
  }

  h2,
  h3,
  h4 {
    font-family: $font-family-base;
    text-transform: initial;
  }
}
