.portaltype-imio-smartweb-portalpage .sectionlinks:first-child.quick-access {
	padding: 0;

    .body-section{
        padding: 0;
    }
}

.quick-access{
    .section-title{
        font-weight: 800;
        font-family: Roboto,serif;
        text-transform: none;
        position: relative;
        text-align: center !important;
        margin: 0 0 4rem !important ;

        &:after{
            content: url("../../assets/svg/souligne.svg");
            display: block;
            width: 100px;
            left:50%;
            bottom: -50px;
            position: absolute;
            transform: translate(-50%, 0%);
        }
    }
    
    svg{
        max-height: 40px;
        fill: #fff !important; 
    }
    
    .body-section{
        li{
            .table_image{
                .image.d-block{
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    position: relative;
                    transition: all .3s ease;
                }

                .table_title{
                    margin-top:0;

                    span{
                    }
                }

                &:hover{
                    .image.d-block{
                        background: $primary; 
                    }

                    svg{
                        fill: #fff !important;
                    }
                }
            }
        }
    }

    .row{

        @include media-breakpoint-down(lg){
            grid-gap: 0;
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(auto-fit,minmax(56px,132px));

            li{
                width: auto!important;
            }
        }
    }
}


.sectionlinks.quick-access .body-section ul {
	max-width: auto;
	margin-left: auto;
	margin-right: auto;

    li a {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 10px;
        background: #F6F6F6;
        border-radius: 10px;
        transition: all .3s ease;
        margin-bottom: 10px;;

        .image.d-block {
            background: none;

            svg {
                fill: #ACACAC !important;
            }
        }

        &:hover{

            background:$primary-green;
            transition: all .3s ease;
            transform: translateY(10px);
    
            .image.d-block {
                background: none;
    
                svg {
                    fill: #000 !important;
                    transition: all .3s ease;
                }
            }
        }
    }
}
