h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-title;
  color: $font-title-color;
  font-weight:$font-title-weight;
}

@if $enable-title-uppercase {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
  }
}

.portaltype-imio-smartweb-portalpage{
  .section-title{
    font-size: $home-section-title-size;
  }
}
#edit-bar .nav-link {
	font-size: 16x !important;
}