#portal-globalnav-wrapper {
  background: transparent;
}

.portaltype-imio-smartweb-portalpage #portal-breadcrumbs {
  display: none;
}

#portal-header {
  z-index: 2;
  display: block;
  margin-top: 0;
  #portal-header-top {
    z-index: 2;
    // display: grid;
    // grid-template-columns: 115px 1fr auto !important;
    // grid-template-areas: "logo menu link";
    display: flex;
    padding: $header-top-padding;
    @if $header-center-nav {
      justify-content: space-between;

      #portal-globalnav-wrapper {
        margin-right: 0 !important;
      }
    }

    #portal-logo {
      max-width: $main-logo-max-width;
      margin-top: 0;

      img {
        max-width: 100%;
      }
    }

    #portal-globalnav-wrapper {
      margin: $header-nav-margin;
    }

    #header-links {
      margin-left: auto;

      #search-link {
        cursor: pointer;
      }
    }
  }
}

header#content-header {
  position: relative;
  z-index: 9;
}

// .subsite-container{   ---------------------- POURQUOI clip ???
//     grid-area: sub;
//     overflow-x: clip;
//   }

// MASK

.mask-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: $nav-mask-background;
  opacity: 0;
  transition: opacity 0.05s, visibility 0s linear 0.25s;
  visibility: hidden;

  &.in {
    opacity: 1;
    transition: opacity 0.2s ease, visibility 0s;
    visibility: visible;
  }
}
