.espace-citoyen{
    
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 30px;
    margin-bottom: 120px;
    margin-top: 120px;

    .section-title{
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin: 0 auto 2rem;
        width: max-content;
        font-size: 2.5rem;
    }

    .body-section{
        .row{
            max-width: 100%;
            margin: 0 auto;

            /*box-shadow: 0 20px 40px rgba(0, 0, 0,.16);*/
            background: $primary-red;
            border-radius: 50px 50px 0;

            li{
                padding: 0!important;
            }

            .table_display{
                height: 100%;
            }

            .table_image{
                padding: 2rem 1rem;
                background: $primary-red;
                border-radius: 50px 50px 0;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                height: 100%;
                transition: all 0.5s ease;
                color:#fff;

                .image{
                    width: auto;

                    svg{
                        height: auto;
                        width: 40px;
                        max-height: 40px;
                        fill: $primary-light;
                        transition: all 0.5s ease;
                    }
                }

                &:hover{
                    background: $primary-reddark;
                    transition: all 0.5s ease;
                    border-radius: 50px 50px 0;

                    .image{
                        svg{

                            /*fill: #fff;*/
                            transition: all 0.5s ease;
                        }
                    }

                    .table_title{
                        span{

                            /*color: #fff;*/
                        }
                    }
                    
                }
            }
        }
    }
}