#smartweb-footer .sectiontext figure img,  #smartweb-minisite-footer .sectiontext figure img {
    max-width: 200px !important;
    width: 100% !important;
}

#portal-footer-wrapper{
    text-align: left!important;

    #portal-footer{
        background:$primary-svg!important;

        #smartweb-footer,#smartweb-minisite-footer{
            a,span,p,div,h2{
                color: #fff;
                text-decoration:none;
            }

            h2{
                font-size: 22px!important;
                font-weight: 500;
                margin-top: 0rem;

                &.section-title{
                    margin-bottom: 1.5rem;
                    margin-top: 2rem;
                }
            }

            .sectiontext{
                figure{
                    margin-top:0px;

                    img{
                        max-width: 100%;
                    }
                }
            }

            .sectionlinks{
                #container-section-reseaux-sociaux{
                            .col-md-12,.col-md-4 {
                                width:auto !important;

                                .table_display {
                                    .table_image {
                                        .image {
                                            .plone-icon {
                                                fill:#fff!important;
                                                height: 25px!important;
                                            }
                                        }

                                        .table_title {
                                            display: none !important;
                                        }
                                    }
                                }
                            }
                        }
            }

            @media screen and (max-width: 1000px) {
                .sectionlinks {
                    width:100%;
                    margin-top:30px;
                }
            }





        }
    }
}

#portal-footer-wrapper #portal-footer h2.section-title {
    margin-bottom: 0.5rem;
}

.smartweb-footer .body-section figure img {
    border-radius: 0px !important;
}




#portal-colophon{
    background:#fff;
    padding: 1rem;

    ul{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        /*&:nth-last-child(n+1){
            display: block;
        }*/
        li{
            color: $primary;

            a,span,p,div{
                color: $primary;
            }
        }

        li:last-child {
            display: block;
            width: 100%;
        }
    }
}

#portal-footer-wrapper{
    margin-top:100px;
    background: $primary-svg;
    padding:8rem 0 8rem 0 !important;
    position: relative;
    overflow: unset;
}

#portal-footer-wrapper:after{
    content: "";
    transition: all 0.2s ease;
    position: absolute;
    height: 232px;
    background: url("../../assets/svg/footer-after.svg");
    right: -1px;
    bottom: -32px;
    width: 200px;
}

#portal-footer-wrapper:before{   
    content: "";
    transition: all 0.2s ease;
    position: absolute;
    height: 166px;
    background: url("../../assets/svg/footer-before.svg");
    left: 0px;
    top: -45px;
    width: 121px;
}

@media screen and (max-width: 992px) {
    #portal-footer-wrapper{
        padding:5rem 2rem 4rem 2rem !important;
    }
    
}


@media screen and (max-width: 1000px) {
    #portal-footer-wrapper:after{
        display:none;
    }
}