#portal-column-content .sectioncontact {
  .contact-type-organization {
    background: #fdf1f2;
    border-radius: 10px !important;
    margin: 10px;
    color: #000 !important;
  }

  h2,
  h3,
  h4,
  a {
    font-family: $font-family-base;
    color: #000 !important;
  }
}
