body.portaltype-imio-smartweb-portalpage.section-home-page .sortable-section.sectionhtml.ansenimages {
    background: #fff;
    padding: 4rem 1rem 0 2rem;
    margin-top: -15rem;
    z-index: 0;
}
body.portaltype-imio-smartweb-portalpage.section-home-page div#container-section-video-2 {
    padding: 0;
}
body.portaltype-imio-smartweb-portalpage.section-home-page .sortable-section.sectionvideo {
    padding: 0;
    margin-top: -15rem;
}
body.portaltype-imio-smartweb-portalpage.section-home-page .sortable-section.sectionhtml.ansenimages h2 {
    font-size: 3.25rem;
    color: #000;
}
