//*// COLORS
$primary: #1B365D!default;

//*// TYPOGRAPHY
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");

$font-family-base: "Raleway", system-ui, -apple-system, "Segoe UI",
  "Helvetica Neue", "Noto Sans", "Liberation Sans", arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-title: "Playfair Display", system-ui, -apple-system, "Segoe UI";

// $font-size-base affects the font size of the body text
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875 !default;
$font-size-lg: $font-size-base * 1.25 !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// Include Roboto as webfont

//*// GLOBAL
@function url-encoded-color($color) {
  @return "%23" + str-slice("#{$color}", 2, -1);
}

$global-radius: 10px;
$enable-title-uppercase: false !default;

//swiper
$swiper-icon-color: #000!default;
$swiper-button-height: 45px!default;
$swiper-button-width: 45px!default;
$swiper-button-top: 26%!default;
$swiper-prev-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M14 17.75a.74.74 0 0 1-.53-.22l-5-5a.75.75 0 0 1 0-1.06l5-5a.75.75 0 0 1 1.06 1.06L10.06 12l4.47 4.47a.75.75 0 0 1 0 1.06a.74.74 0 0 1-.53.22Z" fill="#{url-encoded-color($swiper-icon-color)}"/></svg>') !default;
$swiper-next-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M10 17.75a.74.74 0 0 1-.53-.22a.75.75 0 0 1 0-1.06L13.94 12L9.47 7.53a.75.75 0 0 1 1.06-1.06l5 5a.75.75 0 0 1 0 1.06l-5 5a.74.74 0 0 1-.53.22Z" fill="#{url-encoded-color($swiper-icon-color)}"/></svg>') !default;
$swiper-background-size: 50%!default;
$swiper-background-color: #fff!default;
$swiper-raduis: 50px!default;

//*// HEADER
$main-logo-max-width: 115px!default;
$header-top-padding: 1rem 0!default;
$header-top-background: 0!default;
$header-center-nav: false!default;
$header-nav-margin: 0 1rem 0 1rem!default;

//bredcrumb
$breadcrumb-bg: #d6d6d6!default;
$enable-full-width-breacrumb: false!default;

// sitenav
$nav-mask-background: rgb(15 11 11 / 76%) !default;
$nav-link-font-size: initial !default;
$nav-sub-link-font-size: $nav-link-font-size !default;
$nav-link-font-weight: 500 !default;
$nav-sub-link-font-weight: $nav-link-font-weight !default;
$nav-first-level-uppercase: true!default;
$nav-first-level-gap: 30px!default;
$navbar-padding-x: 2.5rem !default;

//*// SECTION HOMEPAGE

// banner
$banner-enable-full-width: true!default;
$banner-heigh: 500px!default;
$banner-content-width: max-content!default;
$banner-content-max-width: auto!default;
$banner-content-margin: 0!default;
$banner-content-padding: 1rem!default;
$banner-content-background: rgb(256 256 256 / 50%)!default;
$banner-content-is-vertical-center: true!default;
$banner-content-title-font-size: 50px!default;
$banner-content-title-color: black!default;
$banner-content-title-text-transform: initial!default;
$banner-content-description-font-size: 18px!default;
$banner-content-description-color: black!default;

// see_all
$see-all-align-actu: left !default;
$see-all-align-center-actu: true !default;
$see-all-align-event: right !default;
$see-all-align-center-event: true !default;


// Quick access
$quick-access-width: 100px;
$quick-access-height: 100px;
$quick-access-background:#fff;
$quick-access-border: solid 1px $primary;
$quick-access-border-radius:10px;
$quick-access-shadow: none;
$quick-access-svg-width:40px;
$quick-access-svg-color:$primary;
$quick-access-title-margin: 1rem 0 0 0;
$quick-access-title-font-size: 18px;
$quick-access-title-color: $primary;
$quick-access-title-text-transform: initial;
$quick-access-title-weight: 500;




// Actu
$actu-title-margin: 0 0 2rem 0!default;
$actu-image-margin-bottom: 0.7rem!default;
$actu-image-border-radius: $global-radius!default;
$actu-category-margin: 0 0 0.3rem 0!default;
$actu-category-color: $primary!default;
$actu-category-text-transform: uppurcase!default;
$actu-category-font-size: 14px!default;
$actu-category-font-weight: initial!default;
$actu-item-title-margin: 1rem 0!default;
$actu-item-title-padding: 0!default;
$actu-item-title-color: initial!default;
$actu-item-title-text-transform: initial!default;
$actu-item-title-font-size: $h3-font-size!default;
$actu-item-title-font-weight: initial!default;
$actu-date-margin: 0!default;
$actu-date-padding: 0!default;
$actu-date-color: $primary!default;
$actu-date-font-size: 14px!default;

//*// SECTION TEXTE
$font-size-texte: $font-size-base!default;
$mark-background-color: #f3f3f3 !default;
$mark-color: #5c5c5c !default;
$mark-padding: 20px 45px 20px 26px !default;
$mark-border: solid 2px $primary !default;
$mark-radius: $global-radius !default;
$mark-weight: 500 !default;
$list-style-color: $primary !default;
$list-style-custom: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="5.082" height="7.337"><path d="M4 2.55 1.71.29A1 1 0 0 0 .29 1.71l1.55 1.54L.29 4.8a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L4 4a1 1 0 0 0 0-1.45Z" fill="#{url-encoded-color($list-style-color)}"/></svg>') !default;
$section-text-h2-margin-top: 2rem !default;
$section-text-h2-margin-bottom: 1.5rem !default;
$section-text-h3-margin-top: 0 !default;
$section-text-h3-margin-bottom: 0.5rem !default;
$section-text-link-color: $primary !default;
$section-text-link-hover-decoration: solid 1px $primary !default;
$section-text-max-width: 760px !default;
