.sectionevents{
    margin-top: 4rem;
    .section-title{
    }
    .swiper-wrapper{
        padding-top: 0;
        .swiper-slide {
            & > a{
                border: 1px solid #e3e3e3;
                grid-template-rows: min-content min-content 1fr;
                .swiper-image{
                    background-size: 100%;
                    background-position: center center;
                    transition: all .25s ease;
                }
                .swiper_category {
                    position: absolute;
                    background: $primary;
                    top: 0;
                    text-align: center;
                    width: 100%;
                    color: #fff;
                    padding: 0.5rem 0 0 0;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        height: 30px;
                        background: $primary;
                        border-radius: 50%;
                        z-index: 0;
                        bottom: 0;
                        transform: translateY(45%);
                    }
                    span {
                        position: relative;
                        z-index: 1;
                    }
                }
                .swiper_date{
                    background: #fff;
                    text-transform: uppercase;
                    font-family: $font-family-title;
                    align-self: end;
                    margin-top: .5rem;
                    color: #636363;
                }
                &:hover,&:focus{
                    .swiper-image{
                        background-size: 105%;
                     }
                }
            }
        }
    }
}