.sectionlinks.quick-access {
    background-color: #F4F3F8;
}

.quick-access{
    svg{
        max-height: 45px;
    }
    .row{
        @include media-breakpoint-down(lg){
            grid-gap: 0;
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(auto-fit,minmax(56px,132px));
            li{
                width: auto!important;
            }
        }
    }
}

.sectionlinks.quick-access .body-section li {
    &:nth-child(1) {
        a .image.d-block {
            background: #2B3271;
        }
    }
    &:nth-child(2) {
        a .image.d-block {
            background: #68BDEB;
        }
    }
    &:nth-child(3) {
        a .image.d-block {
            background: #4082AA;
        }
    }
    &:nth-child(4) {
        a .image.d-block {
            background: #BA2645;
        }
    }
    &:nth-child(5) {
        a .image.d-block {
            background: #BA2645;
        }
    }
    &:nth-child(6 ) {
        a .image.d-block {
            background: #E59735;
        }
    }
    &:nth-child(7) {
        a .image.d-block {
            background: #76B14C;
        }
    }
    &:nth-child(8) {
        a .image.d-block {
            background: #449980;
        }
    }
} 