// Search link styles
#portal-header #portal-header-top #header-links #search-link a {
  width: 50px;
  height: 50px;
  background: $primary-dark;
  border: 1px solid $primary-dark;
  transition: all 0.3s ease;
  color: $orange;

  span {
    color: $orange;
  }

  &:hover {
    background: #fff;
    border-color: $primary-dark;
  }
}

@media screen and (max-width: 992px) {
  #portal-header #portal-header-top #header-links #search-link a {
    padding-left: 0 !important;
  }
}

// Portal logo
#portal-header #portal-header-top #portal-logo svg {
  width: 200px;
}

// Banner and header customizations
.header-custom {
  #banner::after {
    display: none !important;
  }

  #banner {
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(0deg, #000 0%, #000 100%);
    }
  }

  #portal-breadcrumbs {
    margin: 0 !important;
    position: absolute;
    z-index: 1;

    .breadcrumb {
      margin: 0 !important;
      background-color: transparent;
      padding: 15px 30px !important;

      .breadcrumb-item {
        a {
          color: $primary-dark !important;

          &:hover {
            color: $primary-dark !important;
          }
        }

        &.active {
          color: #ccc !important;
        }

        &::before {
          color: #fff !important;
        }
      }
    }
  }
}

// Headings styles
h1 {
  font-family: $font-family-base !important;
  font-weight: 500 !important;
}

h2 {
  font-family: $font-family-base !important;
  font-weight: 600 !important;
  font-size: 24px;
  color: $primary-dark;
}

h3 {
  font-size: 22px;
  font-weight: 900;
  color: $primary-dark;
}

// Hero banner
.smartweb_herobanner {
  border-radius: 0;
  overflow: hidden;
  width: 100vw;

  .bannerSwiper {
    height: 50vw;
    max-height: 500px;

    .swiper-slide .swiper-banner-content-wrapper {
      position: absolute;
      bottom: 0 !important;
      max-width: 100%;
      width: 100%;
      top: auto;
      transform: none;
    }

    .section-slide {
      .swiper-banner-content {
        position: relative;
        left: 50%;
        max-width: 540px !important;
        width: 100% !important;
        border-radius: 0;
        font-family: $font-family-title;
        height: 500px;
        display: grid;
        align-items: center;
        padding: 0 !important;
        transform: translate(25%, 0%);

        @media screen and (max-width: 1400px) {
          height: 150px;
          position: absolute;
          left: auto;
          right: 0;
          bottom: 0;
          transform: translate(0, 0);
          max-width: 400px !important;
        }

        .swiper-banner-title {
          display: none;
        }

        .swiper-banner-description {
          text-align: center;
          position: relative;
          width: 100% !important;
          margin: auto;

          @media screen and (max-width: 1400px) {
            p {
              margin: 0;
              color: #fff;
              font-size: 18px !important;
            }
          }
        }

        &::before {
          position: absolute;
          background: $primary-svg;
          left: 0;
          width: 100% !important;
          max-width: 700px !important;
          height: 500px;
          border-radius: 0;
          content: "";
          z-index: -1;

          @media screen and (max-width: 1400px) {
            height: 150px;
            border-radius: 10px 0 0;
          }
        }

        @media screen and (max-width: 600px) {
          display: none;
        }
      }

      .swiper-banner-title {
        line-height: 40px;
      }
    }
  }
}

// Account hover underline effect
div#header-actions {
  padding: 13px 20px;
  background: $primary-dark;
  border-radius: 20px;

  a,
  a span {
    color: $orange !important;
  }
}

#header-actions .account {
  text-decoration: none;
  font-weight: 500;
  position: relative;

  &::before {
    content: "";
    height: 2px;
    bottom: -3px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0%;
    transition: opacity 0.15s ease;
  }

  span {
    transition: all 0.3s ease;
  }

  &:hover::before {
    opacity: 100%;
  }

  &:hover span {
    transition: all 0.3s ease;
  }
}

// Placeholder image for items
.r-item-img.r-item-img-placeholder {
  background: url("../../assets/svg/placeholder.jpg") center/cover no-repeat;
}

// Footer styles
footer {
  #container-section-noussuivre {
    .table_title {
      display: none;
    }

    ul.row {
      flex-flow: row wrap;

      li {
        width: auto;
      }
    }
  }

  #container-section-noussuivre li {
    svg path {
      fill: #fff;
    }

    &:nth-child(1),
    &:nth-child(3) {
      svg path:nth-child(2) {
        fill: $primary-dark !important;
      }
    }
  }
}

.footer-logo figure img {
  width: 100% !important;
}

.footer-slogan .text {
  max-width: 204px;
  text-align: center;

  p {
    font-size: 33px;
    font-weight: 200;
  }
}

.footer-fb .table_image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 10px;
  text-decoration: none;

  .image svg {
    height: 25px;
    fill: #fff;
  }
}

#portal-footer-wrapper .smartweb_footer .text h4 {
  color: #fff;
}

// Buttons with hover effects
.r-add-contact a,
.r-add-event a,
.r-add-news a {
  background: $primary-dark;
  border-radius: 8px;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    background: $orange;
    color: $primary-dark;
  }
}

.r-filter div[class*="control"] {
  border-radius: 5px;
}

// Breadcrumbs styles
#portal-breadcrumbs {
  background: transparent !important;

  .container,
  .breadcrumb {
    padding-left: 0;
  }

  .breadcrumb {
    font-size: 13px;
    margin: 0 !important;
    background-color: transparent;
    padding: 12px 0 !important;

    .breadcrumb-item {
      a {
        text-decoration: none;
        color: $primary-dark !important;

        &:hover {
          color: $primary-dark !important;
        }
      }

      &.active {
        color: $primary-dark !important;
        text-decoration: underline;
      }

      &::before {
        color: $primary-dark !important;
      }
    }
  }
}

// Navbar styles
.navbar-toggler {
  padding: 0 !important;
  background: #fff !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar .container {
  padding: 0 !important;
}

// Media queries for responsiveness
@media screen and (max-width: 992px) {
  #portal-header #portal-header-top #header-links #search-link a {
    padding-left: 0 !important;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }

  .navbar .container {
    padding: 0 5px 0 0 !important;
  }

  .bloc-newsletter {
    /* stylelint-disable-next-line shorthand-property-no-redundant-values */
    margin: 4rem 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .smartweb_herobanner .bannerSwiper .section-slide .swiper-banner-content {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  #portal-footer-wrapper .footer-slogan .text p {
    font-size: 28px !important;
  }
}

.annuaire-day-open {
  color: $dark-green;
}
