.partenaires::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: url("../../assets/svg/frame-partenaires.svg") no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  z-index: -1;
  pointer-events: none;
}

@media (min-width: 992px) {
  .a-la-une .swiper-slide > a {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1fr;
  }
}

.a-la-une .swiper-slide {
  .swiper_date {
    text-align: left;
    margin: 0;
    padding: 0 0 0 10rem;
  }

  .swiper_title {
    margin: 0;
    padding: 0 0 0 10rem;

    h3 {
      text-align: left;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
