.partenaires {
  position: relative;
}
//
.partenaires::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: url("../../assets/svg/frame-partenaires.svg") no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  z-index: -1;
  pointer-events: none;
}
