.a-la-une .swiper-slide>a {
    grid-template-columns: 50% 50%;
    position: relative;
}

.a-la-une .swiper-slide .swiper_description p {
    font-weight: 400;
  }

.a-la-une .swiper-image {
  z-index: -1;
}

@media screen and (max-width: 992px) {
.a-la-une .swiper-slide .swiper-image {
  border-radius: 500px;
  }

  .a-la-une .swiper-slide .swiper_title {
    margin: 3rem 0 0;
  }

  .a-la-une .swiper-image::before {
    content: initial;
  }

  .a-la-une .swiper-slide .swiper_description {
  }
}