.contact_description {
    margin-top: 1rem;
}
.contact_description strong {
    font-size: 1.25rem;
    font-weight: 500;
}

div#subsite-logo img {
	height: 3rem;
	margin: -.5em .25em -.5em -1.25rem;
	margin: 0 auto 0.5rem auto;
	display: block;
}
#portal-header #portal-header-top #portal-logo img, #portal-header #portal-header-top #portal-logo svg {
    max-width: 100%;
}

.nav-link{
 font-size:17px
}

.subsite-container #subsite-logo {
    background: $secondary;
}
#portal-breadcrumbs {
    background-color: transparent;
    margin-top: 2rem;
}
.block-menu-element a .card-body {
    padding: 2rem;
}
.sortable-section.sectionfiles {
    margin-bottom: 1rem;
    &:after {
        border-radius: 50px;
    }
}
#subsite-navigation>ul li.show-nav>.has_subtree.dropdown {
    margin-top: 2rem;
}
.subsite-container {
    background: transparent;
    padding: 1rem 0;
}
.subsite-container #subsite-logo {
    border-radius: 50px;
}
//SEE ALL
body .see_all a:after {
    background-color: $primary-svg;
    bottom: -5px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transition: all .2s ease;
    width: 25%;
}
body .see_all a:focus:after, body .see_all a:hover:after {
    width: 50%;
}
body #portal-header #portal-header-top #portal-logo {
    max-width: 100px;
}
body #portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav .quick-access .quick-access-title {
    color: $primary;
}
body #portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav>li.show-nav.has_subtree>a {
    color: $primary !important;
}

.text p:not(.section-home-page) a {
    position: relative;
}
.text p:not(.section-home-page) a:after {
    content: "";
    background: $primary-svg;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    position: absolute;
    transition: 0.5s;
}
.text p:not(.section-home-page) a:hover {
    text-decoration: none !important;
 &::after {
    bottom: 0;
    left: 10%;
    right: 10%;
    }
}
//
button.focus:hover {
    padding: 0.375rem 0.75rem;
}

.contact_leadimage.contact_placeholder.portrait {
    background: url(../../assets/svg/person-place-holder.jpeg);
    background-size: cover;
    background-position: center;
}

.sectionfiles .section-container a {
    color: white;
}

#portal-header #portal-header-top #portal-logo {
    max-width: 135px;
}
.minisite_logo .minisite_title {
    color: #584b43;
}
.procedure a {
    margin-top: 1rem;
}
.smartweb-footer ul.row {
    margin-left: 0;
}


@media (min-width: 992px) {
.sectionlinks.quick-access {
    left: 0;
    padding: 0;
    position: absolute;
    top: 484px;
    transform: translateY(-50%);
}
}
@media (min-width: 992px) {
.sectionlinks.quick-access .section-container>div {
    margin-left: auto;
    max-width: 500px;
    height: 500px;
    width: 500%;
}
}
// @media (min-width: 992px) {
// .sectionlinks.quick-access .section-container .row {
//     display: grid;
//     gap: 20px;
//     grid-template-columns: auto auto auto;
//     grid-template-rows: auto auto;
// }
// }
.sectionlinks.quick-access .body-section ul {
    justify-content: center;
}
@media (min-width: 992px) {
.sectionlinks.quick-access .section-container .row li {
    padding: 0;
    width: 128px;
}
}
.sortable-section.sectionlinks.quick-access:first-child {
    transform: translateY(-70%);
}
.sectionlinks.quick-access .body-section {
    padding: 6rem 0;
}
@media (max-width: 992px) {
    #portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav .quick-access {
    padding-top: 3.5rem;
    }
}

body {
    letter-spacing: 0.5px;
  }

body#visual-portal-wrapper {
    background: #F4F8FD;
}

.swiper-pagination-bullet-active {
    background: $secondary !important;
}


@media (min-width: 992px) {
    .sectionselections {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}


.r-actu-wrapper::after {
    display: none !important;
}
.r-list-item-group:hover .r-item-arrow-more {
    background-color: $secondary;
}

.minisite_logo {
    .minisite_title {
        color: #fff;
    }
}



#portal-column-content .section-contact .contact-type-position .contact_leadimage,
#portal-column-content .section-contact .contact-type-position .contact_logo {
    border-radius: 5px;
    margin-bottom: 1em;
    width: 100%;
    padding-bottom: 100%;
}

@media screen and (max-width:992px) {
    #portal-globalnav-wrapper .navbar-nav li.show-nav>.has_subtree.dropdown {
        right: 0;
        left: inherit !important;
        transition: right .5s cubic-bezier(.54, .01, .68, .64) !important;
    }
    #portal-globalnav-wrapper .navbar-nav li .has_subtree.dropdown {
        position: fixed !important;
        z-index: 1;
        right: -100vw;
        left: inherit !important;
        height: 100vh;
        transition: right 0.5s cubic-bezier(0.54, 0.01, 0.68, 0.64), opacity 5s ease, 0.5s visibility ease;
    }
}

.r-item-img.r-item-img-placeholder {
	background: url(../../assets/svg/placeholder.jpg);
	background-size: cover;
	background-position: center;
}

li:marker {
    display: none;
    color: transparent;
}



.section-home-page {
    header#content-header {
        z-index: inherit !important;
        #portal-header {
            z-index: inherit !important;
        }
    }
}

@media screen and (max-width:989px) {
    #portal-header #portal-header-top #portal-logo {
        max-width: 144px;
        svg {
            width: 100%;
        }
    }
}

#portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav {
    &>li {
        &.je-suis,
        &.je-trouve {
            &>a {
                text-transform: initial !important;
                font-weight: 400 !important;
            }
        }
    }
}


.see_all a {
    font-weight: bold;
}
.minisite_logo .minisite_title {
    font-weight: bold;
}
@media screen and (min-width:1200px) {
    .a-la-une,
    .sectionnews,
    .sectionevents,
    .albumhome,
    .quick-access.les-sites,
    .quick-annuaire {
        .section-title {
            font-size: 3rem !important;
        }
    }
    .a-la-une {
        margin-top: 8rem;
    }
    .sectionnews,
    .sectionevents {
        padding-bottom: 5rem !important;
        padding-top: 5rem !important;
    }
}

.sectionnews .see_all a::after {
    display: none;
}
.sectionevent .see_all a::after {
    display: none;
}
//// respo
@include media-breakpoint-up(lg) {
    #portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav>li>a {
        font-weight: bold !important;
    }
}

@include media-breakpoint-down(lg) {
    #portal-header #portal-header-top #portal-globalnav-wrapper {
        margin: 0 !important;
    }
    #portal-header #portal-header-top #portal-logo {
        max-width: 130px;
        svg {
            width: 100%;
        }
    }
    #portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav>li>a {
        &::after {
            content: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" width=\"6\" height=\"9\"><path fill=\"%23000\" d=\"M0.256056 8.20064C0.175109 8.12308 0.110695 8.02993 0.0666899 7.92682C0.0226851 7.82371 -3.21599e-08 7.71275 -3.70604e-08 7.60064C-4.19609e-08 7.48853 0.0226851 7.37758 0.0666899 7.27447C0.110695 7.17135 0.175109 7.07821 0.256056 7.00064L3.11006 4.22064L0.256055 1.43664C0.177451 1.35858 0.11525 1.26558 0.0731093 1.16312C0.030969 1.06067 0.00974056 0.950818 0.0106723 0.840037C0.011604 0.729257 0.034677 0.619781 0.0785346 0.518048C0.122392 0.416314 0.186149 0.324378 0.266055 0.247643C0.428692 0.0905508 0.64545 0.00192103 0.871559 6.00434e-05C1.09767 -0.00180095 1.31586 0.0832488 1.48106 0.237643L4.94806 3.62264C5.02845 3.70052 5.09236 3.79377 5.13599 3.89685C5.17963 3.99992 5.20209 4.11071 5.20206 4.22264C5.16148 4.43857 5.07485 4.64321 4.94806 4.82264L1.48106 8.20064C1.31659 8.35962 1.0968 8.44849 0.868056 8.44849C0.639315 8.44849 0.41952 8.35962 0.255056 8.20064L0.256056 8.20064Z\" /></svg>");
            width: auto;
            height: auto;
            display: block;
            background: transparent;
            margin-left: 0;
        }
        &:hover {
            &:after {
                content: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" width=\"6\" height=\"9\"><path fill=\"%23fff\" d=\"M0.256056 8.20064C0.175109 8.12308 0.110695 8.02993 0.0666899 7.92682C0.0226851 7.82371 -3.21599e-08 7.71275 -3.70604e-08 7.60064C-4.19609e-08 7.48853 0.0226851 7.37758 0.0666899 7.27447C0.110695 7.17135 0.175109 7.07821 0.256056 7.00064L3.11006 4.22064L0.256055 1.43664C0.177451 1.35858 0.11525 1.26558 0.0731093 1.16312C0.030969 1.06067 0.00974056 0.950818 0.0106723 0.840037C0.011604 0.729257 0.034677 0.619781 0.0785346 0.518048C0.122392 0.416314 0.186149 0.324378 0.266055 0.247643C0.428692 0.0905508 0.64545 0.00192103 0.871559 6.00434e-05C1.09767 -0.00180095 1.31586 0.0832488 1.48106 0.237643L4.94806 3.62264C5.02845 3.70052 5.09236 3.79377 5.13599 3.89685C5.17963 3.99992 5.20209 4.11071 5.20206 4.22264C5.16148 4.43857 5.07485 4.64321 4.94806 4.82264L1.48106 8.20064C1.31659 8.35962 1.0968 8.44849 0.868056 8.44849C0.639315 8.44849 0.41952 8.35962 0.255056 8.20064L0.256056 8.20064Z\" /></svg>");
            }
        }
    }

    #portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav>li>a {
        text-transform: initial !important;
        &:hover {
            color: $secondary !important;
        }
    }
}

#portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav > li.has_subtree > a:hover, #portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav > li.has_subtree > a:focus {
	color: $secondary !important;
}
#portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav .dropdown .nav-link:focus, #portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav .dropdown .nav-link:hover {
    color: $secondary !important;
}
//BANNER
.portaltype-imio-smartweb-portalpage.section-home-page .smartweb_herobanner {
    left: 0;
    position: relative;
    transform: translateX(-50%);
    width: 50vw;
    border-radius: 50%;
    transform: translate(-35%, -40%);
    z-index: 1;
  }
  .portaltype-imio-smartweb-portalpage.section-home-page .smartweb_herobanner .bannerSwiper {
    height: 1000px;
    border-radius: 500px;
    width: 1000px;
    @include media-breakpoint-down(lg){
        height: 100vw;
        width: 100vw;
        
    }
  }
    .portaltype-imio-smartweb-portalpage.section-home-page div#portal-header {
        @include media-breakpoint-up(lg){
            height: 700px;
        }
    }
    body .sectionlinks.quick-access .section-container .row {
        @include media-breakpoint-up(lg){
        display: grid;
        gap: 10px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        }
    }
    @include media-breakpoint-down(lg){
        .portaltype-imio-smartweb-portalpage.section-home-page .smartweb_herobanner {
            transform: translate(-40%,0);
            margin-top: -35%;
        }
        .sectionlinks.quick-access .body-section {
            padding: 0 0!important;
        }
        #body-section-quick-access ul{
            grid-gap: 10px;
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(auto-fit,minmax(150px,150px));
        }
        .quick-access{
            margin-top: -50px;
        }
    }
  //    
  .portaltype-imio-smartweb-portalpage.section-home-page h2.section-title {
    position: relative;
}


h2:not(.section-home-page) {
    font-size: 2rem;
}
//
.r-search-container .r-search-header-title {
    font-size: 20px;
}
.r-search-container .r-search-list .r-search-item {
    font-size: 18px;
}
.r-content>button {
    border-radius: 50px;
    padding: 1rem 2rem;
    color: $primary;
    border: 1px solid $primary;
    transition: 1s;
}
button.focus:hover {
    padding: 1rem 3rem;
}

#gdpr-consent-banner .gdpr-actions>a {
    border-radius: 50px;
    border: 2px solid $primary;
    color: $primary;
}
#gdpr-consent-banner .gdpr-actions input[name=consent] {
    border-radius: 50px;
    background-color: $primary;
}
.r-list-item-group:hover .r-item-arrow-more {
    background: url(../../assets/svg/next-white.svg),$primary-svg;
}
body.portaltype-imio-smartweb-portalpage h2.section-title::after {
    display: block;
    border-bottom: 2px solid $secondary;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    width: 9%;
    margin: 15px auto 0;
}
body.portaltype-imio-smartweb-portalpage {
    position: relative;
}
body.portaltype-imio-smartweb-portalpage:after {
    background: url(../../assets/svg/fexhe-background.svg);
    background-size: cover;
    top: 0;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50vw);
    width: 100%;
    z-index: -1;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
input#search_button {
    color: $primary;
}
#portal-column-content .section-contact .contact-type-organization {
    background: #ffffff;
    border-radius: 15px;
    border: $primary-svg solid 1px;
}

.r-content>button:hover {
background: $primary-svg;
}