.partenaires {
    background: transparent;
    a.table_image {
        text-align: center;
    .plone-icon {
    height: 2em;
    width: auto;
    fill: $secondary;
        }
    }
    li {
        padding: 1rem 0;
    }
}
.sortable-section.sectionlinks.partenaires a {
    text-align: center;
  }
  .partenaires h2.section-title {
    color: $primary;
    font-size: 3rem;
    margin: 0 auto 5rem;
    padding: 0;
    text-align: center;
}
.sortable-section.sectionlinks.partenaires ul li a .image.d-block {
align-items: center;
background: #8fbee9;
border: 0 solid #8fbee9;
border-radius: 25%;
box-shadow: none;
display: flex;
flex-direction: column;
height: 70px;
justify-content: center;
margin: 0 auto;
width: 70px;
margin-bottom: 1rem;
}
body .sortable-section.sectionlinks ul li a.table_image:hover .image {
    background: transparent;
    border: solid 1px $primary-svg;
}
@include media-breakpoint-down(lg) {
.partenaires ul li, .quick-access ul li {
    width: 50%;
    }
}
@include media-breakpoint-down(xl) {
    .portaltype-imio-smartweb-portalpage.section-home-page .sortable-section.sectionlinks.quick-access:first-child {
        transform: translateY(0);
        position: relative;
        top: 0;
    }
    .sectionlinks.quick-access .section-container>div {
    max-width: 100%;
    width: 100%;
    }
}