//// VARIABLES
// ... add your variables here

$enable-roboto-webfont: false;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
//// IMPORTS
// Import barceloneta files from node_modules --load-path=node_modules
// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";
// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import './variables';
@import '../../../base/src/scss/main.scss';
//// STYLES
// ... add your styles here
@import "./home/intro.scss";
@import "./home/quick.scss";
@import "./home/a-la-une";
@import "./home/espace-citoyen";
@import "./home/actualites";
@import "./home/events";
@import "./home/footer";
@import "./home/section-en-image";
@import "./info-trav.scss";
@import "./se-link.scss";
@import "./se-files.scss";
@import "./contact.scss";



h1 {
    font-family: $font-family-base!important;
    font-weight: bold!important;
}
.smartweb_herobanner .bannerSwiper {
	height: 50vw;
	max-height: 500px;
}
.bannerSwiper .section-slide{
    &:after{
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='Calque_1' data-name='Calque 1' viewBox='0 0 525.11 160.63'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff%7D.cls-2%7Bisolation:isolate%7D%3C/style%3E%3C/defs%3E%3Cg id='Group_640' data-name='Group 640'%3E%3Cg id='Tubize' class='cls-2'%3E%3Cg class='cls-2'%3E%3Cpath d='M85.48 6.87c-.11 1.95-.26 4-.47 6.16-.21 2.16-.42 4.27-.63 6.32-.21 2.05-.47 3.98-.79 5.77H61.94v82.95H33.82V25.12h-9.01c-2.11 0-3.5.32-4.19.95-.69.63-1.03 1.9-1.03 3.79v7.27h-2.84c-5.48 0-9.64-1.29-12.48-3.87C1.42 30.68 0 26.12 0 19.59c0-3.48.55-6.34 1.66-8.61 1.11-2.26 2.61-4.11 4.5-5.53s4.16-2.42 6.79-3c2.63-.58 5.48-.87 8.53-.87h64.15c0 1.58-.05 3.35-.16 5.29ZM178.62 97.64c-6.79 8.01-17.62 12.01-32.47 12.01-6.64 0-12.56-.77-17.77-2.29-5.21-1.53-9.67-4.08-13.35-7.66-3.69-3.58-6.5-8.32-8.45-14.22-1.95-5.9-2.92-13.17-2.92-21.8V27.81c0-2.11-.32-3.5-.95-4.19-.63-.68-1.9-1.03-3.79-1.03h-7.9v-5.85c0-5.48 1.74-9.64 5.21-12.48 3.48-2.84 8.48-4.27 15.01-4.27 3.9 0 7.16.5 9.8 1.5 2.63 1 4.74 2.4 6.32 4.19 1.58 1.79 2.71 3.92 3.4 6.4.68 2.48 1.03 5.24 1.03 8.29v46.45c0 3.58.24 6.56.71 8.93s1.29 4.24 2.45 5.61c1.16 1.37 2.66 2.35 4.5 2.92 1.84.58 4.19.87 7.03.87 5.37 0 9.27-1.32 11.69-3.95s3.63-7.43 3.63-14.38V1.58h27.02v62.09c0 14.64-3.4 25.97-10.19 33.97ZM293.56 77.26c0 5.79-1.05 10.74-3.16 14.85-2.11 4.11-4.98 7.45-8.61 10.03-3.63 2.58-7.85 4.45-12.64 5.61-4.79 1.16-9.82 1.74-15.09 1.74s-10.85-.21-17.38-.63c-6.53-.42-13.27-1.05-20.22-1.9V27.81c0-2.11-.32-3.5-.95-4.19-.63-.68-1.9-1.03-3.79-1.03h-7.9v-5.85c0-5.48 1.74-9.64 5.21-12.48 3.48-2.84 8.48-4.27 15.01-4.27 3.48 0 6.53.4 9.16 1.19 2.63.79 4.95 2.08 6.95 3.87 2.32-1.79 5.4-3.08 9.24-3.87s7.45-1.19 10.82-1.19c4.32 0 8.29.58 11.93 1.74 3.63 1.16 6.77 2.92 9.4 5.29 2.63 2.37 4.66 5.4 6.08 9.08 1.42 3.69 2.13 8.06 2.13 13.11s-1.26 9.32-3.79 13.43c-2.53 4.11-5.69 7.06-9.48 8.85v1.58c5.69 1.79 9.95 4.79 12.8 9.01 2.84 4.21 4.27 9.27 4.27 15.17Zm-31.28-45.35c0-7.27-3.11-10.9-9.32-10.9-1.16 0-2.63.08-4.42.24-1.79.16-3.32.34-4.58.55v21.65h9.8c2.42 0 4.45-.81 6.08-2.45s2.45-4.66 2.45-9.08Zm2.37 43.77c0-4-.92-6.92-2.76-8.77-1.84-1.84-4.34-2.76-7.5-2.76h-10.43v23.86c1.58.11 3.32.16 5.21.16h4.74c3.69 0 6.4-.97 8.14-2.92 1.74-1.95 2.61-5.13 2.61-9.56ZM311.73 108.07V1.58h28.12v106.49h-28.12ZM441.45 102.38c0 6.53-1.53 11.11-4.58 13.75-3.06 2.63-7.22 3.95-12.48 3.95h-2.53v-7.27c0-1.9-.34-3.16-1.03-3.79-.69-.63-2.08-.95-4.19-.95h-57.51l-1.42-19.91 43.45-63.04H361.5c-.42-4-.74-7.87-.95-11.61-.21-3.74-.32-7.71-.32-11.93h72.68l1.42 19.91-43.45 63.04h30.34c6.74 0 11.8 1.34 15.17 4.03 3.37 2.69 5.06 7.29 5.06 13.82ZM522.74 96.14c-.37 4.27-.82 8.24-1.34 11.93h-66.36V1.58h65.73c0 3.37-.19 7.24-.55 11.61-.37 4.37-.82 8.35-1.34 11.93h-35.71v17.06h26.23v23.23h-26.23v19.28h40.13c0 3.37-.18 7.19-.55 11.46Z' class='cls-1'/%3E%3C/g%3E%3C/g%3E%3Cg id='Une_ville_qui_bouge' class='cls-2' data-name='Une ville qui bouge'%3E%3Cg class='cls-2'%3E%3Cpath d='M152.69 149.95v5.46c0 .55.13.97.4 1.26.27.29.66.44 1.18.44s.92-.15 1.2-.44c.28-.29.42-.71.42-1.26v-5.46h2.22v5.45c0 .81-.17 1.5-.52 2.07-.35.56-.81.99-1.4 1.27s-1.24.43-1.96.43-1.36-.14-1.93-.42c-.57-.28-1.02-.71-1.35-1.27-.33-.57-.49-1.26-.49-2.07v-5.45h2.22ZM173.04 159.07h-2.22l-3.72-5.63v5.63h-2.22v-9.13h2.22l3.72 5.66v-5.66h2.22v9.13ZM182.07 151.73v1.85h2.98v1.72h-2.98v2h3.37v1.78h-5.59v-9.13h5.59v1.78h-3.37ZM208.61 149.95l-3.24 9.13h-2.78l-3.24-9.13h2.37l2.26 6.89 2.27-6.89h2.35ZM216.95 149.95v9.13h-2.22v-9.13h2.22ZM225.99 157.36h2.91v1.72h-5.13v-9.13h2.22v7.41ZM237.39 157.36h2.91v1.72h-5.13v-9.13h2.22v7.41ZM248.79 151.73v1.85h2.98v1.72h-2.98v2h3.37v1.78h-5.59v-9.13h5.59v1.78h-3.37ZM273.25 160.63l-1.17-1.57c-.35.07-.68.1-1.01.1-.86 0-1.64-.2-2.36-.6-.72-.4-1.28-.96-1.7-1.67-.42-.71-.63-1.52-.63-2.41s.21-1.69.63-2.41c.42-.71.99-1.26 1.7-1.66.71-.4 1.5-.6 2.36-.6s1.64.2 2.36.6c.71.4 1.28.95 1.69 1.66.41.71.62 1.51.62 2.41 0 .78-.16 1.49-.47 2.14s-.76 1.18-1.32 1.61l2 2.4h-2.69Zm-3.95-4.22c.44.48 1.02.72 1.76.72s1.31-.24 1.75-.73.66-1.13.66-1.92-.22-1.45-.66-1.93-1.02-.72-1.75-.72-1.32.24-1.76.71c-.44.48-.66 1.12-.66 1.94s.22 1.45.66 1.93ZM284.38 149.95v5.46c0 .55.13.97.4 1.26.27.29.66.44 1.18.44s.92-.15 1.2-.44c.28-.29.42-.71.42-1.26v-5.46h2.22v5.45c0 .81-.17 1.5-.52 2.07-.35.56-.81.99-1.4 1.27s-1.24.43-1.96.43-1.36-.14-1.93-.42c-.57-.28-1.02-.71-1.35-1.27s-.49-1.26-.49-2.07v-5.45h2.22ZM298.79 149.95v9.13h-2.22v-9.13h2.22ZM320.35 155.18c.32.41.48.88.48 1.41 0 .76-.27 1.37-.8 1.81-.53.45-1.28.67-2.23.67h-4.25v-9.13h4.11c.93 0 1.65.21 2.18.64.52.42.79 1 .79 1.73 0 .54-.14.98-.42 1.34s-.66.6-1.12.74c.53.11.95.38 1.27.79Zm-4.58-1.54h1.46c.36 0 .64-.08.84-.24.2-.16.29-.4.29-.71s-.1-.55-.29-.71c-.2-.17-.47-.25-.84-.25h-1.46v1.91Zm2.5 3.39c.2-.17.31-.41.31-.73s-.11-.57-.32-.75c-.21-.18-.5-.27-.88-.27h-1.61v2.01h1.64c.37 0 .66-.08.86-.25ZM329.28 158.57a4.54 4.54 0 0 1-1.7-1.67c-.42-.71-.63-1.52-.63-2.41s.21-1.69.63-2.41c.42-.71.99-1.26 1.7-1.66.71-.4 1.5-.6 2.36-.6s1.64.2 2.36.6c.71.4 1.28.95 1.69 1.66.41.71.62 1.51.62 2.41s-.21 1.7-.62 2.41-.98 1.27-1.69 1.67c-.71.4-1.5.6-2.35.6s-1.64-.2-2.36-.6Zm4.11-2.16c.44-.49.66-1.13.66-1.92s-.22-1.45-.66-1.93c-.44-.48-1.02-.72-1.75-.72s-1.32.24-1.76.71c-.44.48-.66 1.12-.66 1.94s.22 1.45.66 1.93c.44.48 1.03.72 1.76.72s1.31-.24 1.75-.73ZM344.92 149.95v5.46c0 .55.13.97.4 1.26.27.29.66.44 1.18.44s.92-.15 1.2-.44c.28-.29.42-.71.42-1.26v-5.46h2.22v5.45c0 .81-.17 1.5-.52 2.07-.35.56-.81.99-1.4 1.27s-1.24.43-1.96.43-1.36-.14-1.93-.42c-.57-.28-1.02-.71-1.34-1.27-.33-.57-.49-1.26-.49-2.07v-5.45h2.22ZM363.16 152.83c-.16-.3-.4-.54-.71-.7s-.67-.24-1.09-.24c-.72 0-1.29.24-1.73.71-.43.47-.65 1.1-.65 1.89 0 .84.23 1.5.68 1.97s1.08.71 1.88.71c.55 0 1.01-.14 1.38-.42.38-.28.65-.68.83-1.2h-2.82v-1.64h4.84v2.07c-.16.55-.44 1.07-.84 1.55-.39.48-.9.86-1.5 1.16s-1.29.44-2.05.44c-.9 0-1.71-.2-2.41-.59-.71-.39-1.26-.94-1.65-1.64-.39-.7-.59-1.5-.59-2.41s.2-1.71.59-2.41c.39-.71.94-1.26 1.64-1.65s1.5-.59 2.4-.59c1.09 0 2.01.26 2.76.79s1.25 1.26 1.49 2.2h-2.46ZM374.43 151.73v1.85h2.98v1.72h-2.98v2h3.37v1.78h-5.59v-9.13h5.59v1.78h-3.37Z' class='cls-1'/%3E%3C/g%3E%3C/g%3E%3Cpath d='M.07 154.66h111.28v1H.07zM423.45 154.66H525.1v1H423.45z' class='cls-1'/%3E%3C/g%3E%3C/svg%3E");
        width: 500px;
        max-width: 80%;
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.swiper-banner-image:after {
    content: "";
    background: #0000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
}

.r-item-img.r-item-img-placeholder {
	background: url("../../assets/svg/placeholder.jpg");
	background-size: cover;
	background-position: center;
}
.swiper-banner-image{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px;
}

//logo
#portal-header #portal-header-top #portal-logo img, #portal-header #portal-header-top #portal-logo svg {
    padding-bottom: 10px;
}

#portal-header #portal-header-top #portal-globalnav-wrapper {
    margin: 0 1rem 0 2rem;
}

//search link

#portal-header #portal-header-top #header-links #search-link a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    background:#A93D31;
    border-radius: 50px;
}

//navbar
.navbar-toggler {
    padding: 0px !important;
    background: #A93D31 !important;
    height: 45px !important;
    width: 45px !important;
    border-radius: 50% !important;
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar .container {
    padding:0px;
}

//footer 
footer{
    #container-section-noussuivre{
        .table_title{
            display: none;
        }
        ul.row{
            flex-direction: row;
            flex-wrap: wrap;
            li{
                width: auto;
            }
        }
    }
}

.sectiontext .section-text .body-section figure figcaption {
	display: block;
}

.portaltype-imio-smartweb-directoryview,
.portaltype-imio-smartweb-newsview,
.portaltype-imio-smartweb-eventsview {
    #content > header {
       display: none;
   }
}
// bug z-index

.pagination{
    .page-item.active{
        z-index: 0;
    }
}

#main-container{
    .sectionlinks{
        margin-bottom: 2rem;
    }
}


footer #container-section-noussuivre{
    li{
        svg{
            path{
                fill: #fff;
            }
        }
        &:nth-child(1), &:nth-child(3){
            svg path:nth-child(2) {
                fill: #3f3f3f !important;
            }
        }
    }
} 
@media screen and (max-width:900px) {
    .portaltype-imio-smartweb-portalpage .section-title {
        font-size: 34px!important;
    }
}

#portal-breadcrumbs{
    background: transparent!important;
    .container,.breadcrumb{
        padding-left: 0;
    }
}

#portal-globalnav > li a:hover {
	color: $primary !important;
}

@media (min-width: 768px) {
    #portal-globalnav.activated > li > a {
    color: $primary !important;
    }
}



.portaltype-imio-smartweb-portalpage{
        background: #F8F8F8!important;
}


// footer
.footer-logo {
    figure img {
        width:250px!important;
    }
}

.footer-slogan {
    .text {
        max-width: 204px;
        text-align: center;
        p {
            font-size: 33px;
            font-weight: 200;
        }
    }
}
.footer-fb {
    .table_image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 10px;
        text-decoration: none;
        .image{
            width: auto;
            svg {
                height: 25px;
                fill: #fff;
            }
        }
    }
}

.r-add-contact a, .r-add-event a, .r-add-news a {
	background: $primary;
	color: #fff;
	padding: 1rem;
	text-decoration: none;
    border-radius: 5px;
}

.r-filter div[class*="control"] {
	border-radius: 5px;
}

.procedure a::after {
    content: "\F135";
    font-family: Bootstrap-icons;
    margin-left: .5rem;
    position: relative;
    top: 3px;
}


// sub-nav

.subsite-container #subsite-logo {
	font-size: 18px;
    background: #cdd8e7;
}

.sectiontext .section-text .body-section a {
	color: $primary;
}

// annuaire téléphone
.r-wrapper .r-result-list .r-list-item-group .r-list-item .r-item-text .r-item-all .r-item-contact .phones span{
    display: block;
}