//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
@import "../../../base/src/scss/main";

//// STYLES

// ... add your styles here
@import "./home/intro";
@import "./home/quick";
@import "./home/a-la-une";
@import "./home/espace-citoyen";
@import "./home/actualites";
@import "./home/cpas";
@import "./home/events";
@import "./home/footer";
@import "./info-trav";
@import "./se-link";
@import "./se-files";
@import "./contact";
@import "./sites-partenaires";

body {
  background: #fff;
}

#portal-header {
  margin-bottom: 0 !important;
}

//search
#portal-header #portal-header-top #header-links #search-link a {
  width: 50px;
  height: 50px;
  background: $primary-orange;
  border: 2px solid $primary-orange;
  transition: all 0.3s ease;
}

@media screen and (max-width: 992px) {
  #portal-header #portal-header-top #header-links #search-link a {
    padding-left: 0 !important;
  }
}

#portal-header #portal-header-top #header-links #search-link a:hover {
  background: #fff;
  border: 2px solid #fff;
}

#portal-header #portal-header-top {
  padding: 0.1rem 0;

  #portal-logo {
    margin-top: 0;
    max-width: 160px;
    width: 100%;

    svg {
      width: 160px;
      height: auto;
      padding: 20px 0;
    }
  }
}

.header-custom #banner::after {
  display: none !important;
}

#portal-globalnav > li a:hover {
  color: #000;
}

h1 {
  font-family: $font-family-base !important;
  font-weight: 500 !important;
}

.smartweb_herobanner .bannerSwiper {
  height: 50vw;
  max-height: 500px;

  @media screen and (max-width: 950px) {
    margin-bottom: 0;
  }
}

#header-actions .account {
  text-decoration: none;
  font-weight: 500;
  position: relative;

  &::before {
    content: "";
    height: 2px;
    bottom: -3px;
    position: absolute;
    left: 0;
    background-color: #fff;
    transition: all 0.15s ease;
    right: 0;
    opacity: 0%;
  }

  span {
    transition: all 0.3s ease;
  }

  &:hover {
    span {
      transition: all 0.3s ease;
    }

    &::before {
      opacity: 100%;
    }
  }
}

.smartweb_herobanner {
  width: 100vw;
  overflow: hidden;
  border-radius: 0;
}

.smartweb_herobanner
  .bannerSwiper
  .swiper-slide
  .swiper-banner-content-wrapper {
  position: absolute;
  transform: initial;
  padding-bottom: 0;
  margin-bottom: 0;
  bottom: 0;
  right: 0;
  top: initial;
  align-items: center;
  text-align: -webkit-right;
  height: initial;
  padding-right: 0;
  padding-left: 60px;
}

.bannerSwiper .section-slide {
  .swiper-banner-content {
    margin: 0;
    max-width: 100%;
    padding: 10px 3rem 200px 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0;
    height: 600px;
    align-content: center;
    width: 600px !important;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0%) 0,
      rgba(0, 0, 0, 50%) 220px,
      rgba(0, 0, 0, 100%) 700px
    ) !important;
    text-align: right !important;

    span.swiper-banner-title {
      color: #fff !important;
      font-size: 30px !important;
    }

    p.rich_description {
      color: #fff !important;
      font-weight: 600;
      line-height: 40px;
      text-transform: uppercase;
      font-size: 45px !important;
    }
  }

  .swiper-banner-title {
    line-height: 40px;
  }
}

.smartweb_herobanner .swiper-button-next {
  top: 50%;
  right: 3rem;
}

.smartweb_herobanner .swiper-button-prev {
  top: 50%;
  left: calc(100vw - 9rem);
}

.r-item-img.r-item-img-placeholder {
  background: url("../../assets/svg/placeholder.jpg");
  background-size: cover;
  background-position: center;
}

//footer
footer {
  #container-section-noussuivre {
    .table_title {
      display: none;
    }

    ul.row {
      flex-flow: row wrap;

      li {
        width: auto;
      }
    }
  }
}

.sectiontext .section-text .body-section figure figcaption {
  display: block;
}

.portaltype-imio-smartweb-directoryview,
.portaltype-imio-smartweb-newsview,
.portaltype-imio-smartweb-eventsview {
  #content > header {
    display: none;
  }
}

// bug z-index

.pagination {
  .page-item.active {
    z-index: 0;
  }
}

footer #container-section-noussuivre {
  li {
    svg {
      path {
        fill: #fff;
      }
    }

    &:nth-child(1),
    &:nth-child(3) {
      svg path:nth-child(2) {
        fill: #3f3f3f !important;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .portaltype-imio-smartweb-portalpage .section-title {
    font-size: 40px !important;
    margin-bottom: 20px;
  }
}

#portal-breadcrumbs {
  background: transparent !important;

  .container,
  .breadcrumb {
    padding-left: 0;
  }
}

#portal-globalnav > li a:hover {
  color: $primary-svg;
}

.portaltype-imio-smartweb-portalpage {
  //background: url(../../assets/svg/bg-villers.svg) center 280px no-repeat;
  background-size: cover;
}

// footer
.footer-logo {
  figure img {
    width: 100% !important;
  }
}

.footer-slogan {
  .text {
    max-width: 204px;
    text-align: center;

    p {
      font-size: 33px;
      font-weight: 200;
    }
  }
}

.footer-fb {
  .table_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10px;
    text-decoration: none;

    .image {
      width: auto;

      svg {
        height: 25px;
        fill: #fff;
      }
    }
  }
}

#portal-footer-wrapper {
  .smartweb_footer {
    .text {
      h4 {
        color: #fff;
      }
    }
  }
}

.r-add-contact a,
.r-add-event a,
.r-add-news a {
  background: $primary-blue;
  border-radius: 8px;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.5s ease;

  &:hover {
    background: #000;
    transition: all 0.5s ease;
  }
}

.r-filter div[class*="control"] {
  border-radius: 5px;
}

.procedure a::after {
  content: "\F135";
  font-family: Bootstrap-icons;
  margin-left: 0.5rem;
  position: relative;
  top: 3px;
}

// sub-nav

.subsite-container {
  background: #ededed;
  border-radius: 10px 0 0;

  #subsite-logo {
    font-size: 18px;
    background: $primary-blue;
    border-radius: 10px 0;

    a {
      color: #fff;
    }
  }
}

.portaltype-imio-smartweb-page .subsite-container {
  margin-top: 30px;
}

.sectiontext .section-text .section-title a {
  text-decoration: none;
}

.sectiontext .section-text .section-title a.collapsed {
  color: #000 !important;
}

/*.sectiontext .section-text .body-section a {
      color: #fff!important;
  }*/
.sectiontext figure img {
  border-radius: 0;
}

/*#viewlet-above-content-body {
      .procedure{
          display: none;
      } 
  }*/

// header common

.breadcrumb-item {
  a {
    text-decoration: none;
  }
}

.breadcrumb {
  font-size: 13px;
}

#portal-breadcrumbs {
  margin: 0 !important;
  position: relative;

  //z-index: -1;
  .breadcrumb {
    margin: 0 !important;
    background-color: #fff !important;
    padding: 12px 0 !important;

    .breadcrumb-item {
      a {
        color: #2f294e !important;

        &:hover {
          color: #2f294e !important;
        }
      }

      &.active {
        color: #2f294e !important ;
      }

      &::before {
        color: #2f294e !important;
      }
    }
  }
}

.header-custom {
  #banner {
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0%) 0%,
        rgba(0, 0, 0, 50%) 100%
      );
    }
  }

  #portal-breadcrumbs {
    margin: 0 !important;
    position: absolute;
    z-index: 0;

    .breadcrumb {
      margin: 0 !important;
      background-color: #000 !important;
      padding: 15px 30px !important;

      .breadcrumb-item {
        a {
          color: #fff !important;

          &:hover {
            color: $primary-blue !important;
          }
        }

        &.active {
          color: #fff !important ;
        }

        &::before {
          color: #fff !important;
        }
      }
    }
  }
}

.block-menu-element a .card-title.h2,
.block-menu-element a h2.card-title {
  font-size: 1rem;
}

.template-facetednavigation_view.faceted-map
  .eea-preview-items
  .faceted-map-item
  > a {
  background: none;
}

.template-facetednavigation_view.faceted-map
  .eea-preview-items
  .faceted-map-item
  > a:hover {
  background-color: #fff;
}

#portal-column-content .sectioncontact .contact-type-organization {
  background: none;
}

.sectionlinks {
  background: none;
}

.sectionlinks h2::before {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
  }

  .navbar .container {
    padding: 0 5px 0 0 !important;
  }
}

.bloc-newsletter {
  text-align: $newsletter-align;
  position: relative;
  margin: 6rem 0;
  padding-bottom: 6.5rem;
  padding-top: 6rem;

  .section-title {
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 0 auto 4.5rem;
    width: max-content;
    font-size: 3rem;
    color: #fff;

    &::after {
      left: 0%;
      top: 70px;
      bottom: 0;
      content: "";
      display: block;
      height: 13px;
      position: absolute;
      width: 113px;
    }
  }

  @media screen and (max-width: 900px) {
    .section-title {
      &::after {
        top: 45px;
      }
    }
  }

  .table_image {
    text-decoration: none;

    .table_title span {
      background: #fff;
      padding: 1rem 3rem;
      border-radius: 8px;
      color: #000;
      transition: all 0.5s ease;

      &:hover {
        background: #133641 !important;
        color: #fff !important;
        transition: all 0.5s ease;
      }
    }

    @media screen and (max-width: 900px) {
      .table_title span {
        font-size: 14px !important;
        padding: 1rem !important;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    top: 0;
    bottom: 0;
    background: $newsletter-bg-color;
  }

  .lead {
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
  .bloc-newsletter {
    margin: 4.5rem 0;
    padding-bottom: 4rem;
    padding-top: 3rem;
  }
}

#portal-breadcrumbs .breadcrumb .breadcrumb-item a,
#portal-breadcrumbs .breadcrumb .breadcrumb-item a:hover,
#portal-breadcrumbs .breadcrumb .breadcrumb-item.active,
#portal-breadcrumbs .breadcrumb .breadcrumb-item::before {
  color: #000 !important;
}

#portal-breadcrumbs .breadcrumb .breadcrumb-item a,
#portal-breadcrumbs .breadcrumb .breadcrumb-item a:hover,
#portal-breadcrumbs .breadcrumb .breadcrumb-item::before {
  color: #000 !important;
}

#portal-breadcrumbs .breadcrumb .breadcrumb-item.active {
  color: #000 !important;
  text-decoration: underline;
}

#portal-globalnav .dropdown .nav-title a {
  color: $primary;
}

#portal-header #portal-header-top #portal-globalnav-wrapper {
  margin: 0 2rem;
}

@media screen and (min-width: 992px) {
  #portal-globalnav-wrapper #portal-globalnav > li > .has_subtree,
  #subsite-navigation #portal-globalnav > li > .has_subtree {
    margin-top: 2.8rem;
  }
}

@media screen and (max-width: 992px) {
  #body-section-en-un-clic li {
    width: 100% !important;
  }
}

#messagesviewlet .portalMessage.info,
#localmessagesviewlet .portalMessage.info {
  background-color: $primary-green;
  color: #fff;
}

#messagesviewlet .portalMessage.error,
#localmessagesviewlet .portalMessage.error {
  background-color: $primary-orange;
  color: #fff;
}

#messagesviewlet .portalMessage.warning,
#localmessagesviewlet .portalMessage.warning {
  background: $primary-orange;
  color: #fff;
}

#messagesviewlet .portalMessage.info .messagesviewlet-type,
#localmessagesviewlet .portalMessage.info .messagesviewlet-type {
  background: $primary-orange;
  color: #fff;
}

#messagesviewlet .portalMessage.warning .messagesviewlet-type,
#localmessagesviewlet .portalMessage.warning .messagesviewlet-type {
  background: $primary-red;
  color: #fff;
}

// logo minisite
#portal-header #portal-header-top .minisite_logo {
  max-width: 100px !important;
}

#portal-footer-wrapper #portal-footer #smartweb-minisite-footer h2 {
  margin-top: 0;
}

.sectiontext mark,
.r-content-text mark {
  background-color: $primary-blue;
  border: 0;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  padding: 20px 45px 20px 26px;

  a {
    color: #fff !important;
  }
}

.portaltype-imio-smartweb-page
  #main-container
  .sectionfiles
  .section-container
  .table_display
  .table_image {
  background-color: $primary-blue;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  padding: 20px 45px 20px 26px;

  div,
  span {
    color: #000 !important;
  }

  a {
    color: #000 !important;
  }
}

.sectionfiles::after {
  background-color: $primary-blue;
  border-radius: 8px;
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50vw);
  width: 100vw;
  z-index: -1;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

.subsection-flash-communal .block-menu-element a .card-img-top {
  padding-top: 100%;
  background-position: top;
}

.sectiontext ol > li::before {
  content: counter(sectioncounter) "." !important;
}

#portal-footer-wrapper #portal-footer #smartweb-footer a,
#portal-footer-wrapper #portal-footer #smartweb-minisite-footer a {
  color: #fff;
  transition: all 0.5s ease;
}

#portal-footer-wrapper #portal-footer #smartweb-footer a:hover,
#portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
  text-decoration: underline;
  transition: all 0.5s ease;
}

//navbar
.navbar-toggler {
  padding: 0 !important;
  background: #fff !important;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50% !important;
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar .container {
  padding: 0 !important;
}

.portaltype-imio-smartweb-portalpage.section-home-page {
  #messagesviewlet {
    position: absolute;
    top: 100px;
  }
}

.galerie-accueil {
  margin: 0;
  overflow: hidden;
  border-radius: 0;
  padding: 0 20px !important;

  img {
    border-radius: 0;
  }

  @media screen and (max-width: 1000px) {
    border-radius: 0;
    margin: 100px 0 0;
  }

  .section-title {
    display: none;
  }
}

.r-add-contact a,
.r-add-event a,
.r-add-news a {
  background: $primary-blue;
  border-radius: 8px;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 14px !important;
  line-height: 28px !important;

  &:hover {
    background: #000;
    transition: all 0.5s ease;
  }
}

@media screen and (min-width: 900px) {
  .r-add-contact,
  .r-add-event {
    bottom: 0;
    padding-bottom: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 20px;
    padding-right: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .r-add-news {
    bottom: 0;
    padding-bottom: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .r-add-news {
    top: auto;
    padding-bottom: 0;
  }
}

#portal-column-content
  .section-contact
  .contact-type-position
  .contact_leadimage {
  aspect-ratio: 4 / 5;
  background-position: top;
}

#portal-header #portal-header-top .minisite_logo {
  max-width: 120px !important;
  height: auto !important;
}

.portaltype-imio-smartweb-page
  #main-container
  .sectionfiles
  .section-container
  .table_display
  .table_image
  a,
.portaltype-imio-smartweb-page
  #main-container
  .sectionfiles
  .section-container
  .table_display
  .table_image
  div,
.portaltype-imio-smartweb-page
  #main-container
  .sectionfiles
  .section-container
  .table_display
  .table_image
  span {
  color: $primary-blue !important;
}

.portaltype-imio-smartweb-page
  #main-container
  .sectionfiles
  .section-container
  .table_display
  .table_image {
  background-color: #fff;
  border: 1px solid $primary-blue;
  color: $primary-blue;
  padding: 10px 45px 10px 26px;
}

.contact_map {
  z-index: -1;
}

.r-search-container .r-search.search-bar-filter input {
  margin: 0;
}

.r-add-event,
.r-add-news {
  display: none !important;
}

.sectionfiles li {
  margin: 1.25rem 0 0;
}

.portaltype-imio-smartweb-page #main-container .sectionfiles .section-title {
  padding: 10px 0 !important;
}
