.sectiontext h2 {
  margin-top: 1.5rem;
}

h2 {
  margin-bottom: 1rem !important;
}

.portaltype-imio-smartweb-page .sectionfiles .table_image,
.portaltype-imio-smartweb-procedure .sectionfiles .table_image,
.portaltype-imio-smartweb-procedure .sectionfiles .table_image .item_infos,
.portaltype-imio-smartweb-page .sectionfiles .table_image .item_infos {
  color: #fff;
}

.sortable-section.sectioncontact {
  margin: 2rem 0;
}

.sectionfiles::after {
  border-radius: 20px;
}

//Annuaire
.annuaire-day-open {
  color: $primary-blue;
}

.contactCard a {
  text-decoration: underline;
}

.swiper-wrapper {
  padding-bottom: 80px;

  .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    background-color: $primary-svg;

    .swiper-pagination-bullet-active {
      background: $primary-yellow !important;
    }
  }
}

.sectionevents .swiper-slide > a:hover {
  background: $primary-svg;
}

//FOOTER
#portal-footer-wrapper {
  background-color: $primary;
}

div#portal-colophon {
  background: $primary;
}

.colophonWrapper {
  padding: 0.5rem 1rem !important;

  ul {
    display: flex;
    gap: 20px;
    margin-bottom: 0;

    li {
      color: #fff;

      a {
        color: #fff;
      }
    }
  }
}

#portal-header #portal-header-top #header-links #search-link a {
  background: $primary-yellow;
}

#portal-globalnav > li.has_subtree > a::before {
  background-color: $primary-yellow;
  bottom: -15px;
}

//Contact Personnes
body #portal-column-content .section-contact .contact-type-position {
  background-color: transparent;

  .contact_leadimage {
    aspect-ratio: 1 / 1;
  }
}

//files
.sortable-section.sectionfiles {
  margin: 10px 0;
  padding: 15px;

  h2 a {
    color: #fff;
  }
}

//Liens
.sectiontext .section-text .body-section a {
  color: $primary-blue;
  text-decoration: underline;
}
