.sectiontext h2 {
  margin-top: 1.5rem;
}

h2 {
  margin-bottom: 1rem !important;
}

.portaltype-imio-smartweb-page .sectionfiles .table_image,
.portaltype-imio-smartweb-procedure .sectionfiles .table_image,
.portaltype-imio-smartweb-procedure .sectionfiles .table_image .item_infos,
.portaltype-imio-smartweb-page .sectionfiles .table_image .item_infos {
  color: #fff;
}

.sortable-section.sectioncontact {
  margin: 2rem 0;
}

.sectionfiles::after {
  border-radius: 20px;
}

//Annuaire
.annuaire-day-open {
  color: $primary-blue;
}

.contactCard a {
  text-decoration: underline;
}

.swiper-wrapper {
  padding-bottom: 80px;

  .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
    background-color: $primary-svg;

    .swiper-pagination-bullet-active {
      background: $primary-yellow !important;
    }
  }
}
