.sortable-section.sectionnews {
  background: $primary-blue;
}

//Album
.albumhome .swiper-slide .swiper_title {
  margin: initial;
  padding: 0.8rem !important;
  text-align: center !important;
  width: 100%;
}

.display-carre .swiper-slide .swiper-image {
  padding-bottom: 100%;
}

@media (min-width: 991.99px) {
  #main-container .quick-access {
    margin: -5.5rem 0 1rem;
    padding: 0;
  }

  .quick-access.partenaires {
    margin: initial !important;
  }
}

.quick-access .body-section ul li .table_image:focus .image.d-block {
  transition: all 0.5s ease-in-out;
}

.quick-access .body-section ul li .table_image:focus .image.d-block,
.quick-access .body-section ul li .table_image:hover .image.d-block {
  background: $primary-yellow !important;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
}

#portal-header #portal-header-top #header-links .account {
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

#portal-column-content .section-contact .contact-type-organization,
#portal-column-content .section-contact .contact-type-mission,
#portal-column-content .section-contact .contact-type-position {
  border-radius: 20px;
  background-color: $primary-svg;
}

#portal-column-content .section-contact .contact_map {
  margin-top: 20px;

  .map {
    border-radius: 20px;
  }
}

.portal-header #portal-header-top {
  border-bottom: 1px solid $primary;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:focus,
.swiper-button-prev:focus {
  background-color: $primary-yellow;
}

.a-la-une .see_all {
  display: none;
}

footer#portal-footer-wrapper {
  padding: 5rem 0;

  .sectiontext,
  .section-contact {
    text-align: left;

    h2,
    h3,
    h4,
    a,
    p,
    p a {
      color: #fff;
    }

    a {
      text-decoration: underline;
    }
  }
}

.colophonWrapper ul {
  gap: 1rem;
  justify-content: center;
  text-align: center;
  display: flex;
  color: #fff;

  li a {
    color: #fff;
  }
}
