.sectionnews .swiper-slide {
    .swiper_date {
    width: 100%;
    padding: 1rem 0 0;
    }
    .swiper_title {
        padding: 0 1rem;
        width: 100%;
    }
    .swiper_description {
        text-align: $actu-description-align;
        font-family: $actu-description-font-family;
        width: 100%;
        padding: 0 1rem;
      }
}
.sortable-section.sectionselections .section-title, .sortable-section.sectionevents .section-title, .sortable-section.sectionnews .section-title, .sortable-section.sectionselections.services .section-title {
    font-size: 3.5rem;
}
.sortable-section.sectionselections .section-title, .sortable-section.sectionselections.services .section-title, .sortable-section.sectionevents .section-title, .sortable-section.sectionnews .section-title {
    color: $primary;
    margin: 0 0 6rem;
    padding: 0;
    position: relative;
}
.sortable-section.sectionselections h2.section-title::after, .sortable-section.sectionselections.services h2.section-title::after, .sortable-section.sectionevents h2.section-title::after, .sortable-section.sectionnews h2.section-title::after {
    content: "";
    width: 12%;
    position: absolute;
    top: 69px;
    background: $secondary;
    bottom: -5px;
    left: 9px;
    text-align: center;
    right: 5px;
    margin: 0 auto;
}