footer {
    background: $primary;
}

footer div#smartweb-footer {
    background: $primary;

        h2, div a, ul li a, span {
        color: #fff !important;
        }

        .table_tittle span {
            font-size: 1rem;
        }
}

footer .image.d-block {
    display: none;
}

footer#portal-footer-wrapper {
    margin-top: 2rem;

        .smartweb-footer {
        .sectiontext .section-text .body-section.figure-top figure {
            margin-top: 0;
        }

        .container > .row {
        padding: 5rem 0;
        }
    }

    div#portal-colophon {
        background-color: $primary;

        ul li a {
            color: #fff;
        }

        ul li::marker{
            display: none;
        }
    }

    .colophon.row {
        background: $primary;
    }
}

footer {
    .sectiontext, .sectioncontact, .sectionlinks {
        padding-bottom: 2rem;
    }

    #portal-colophon, div.colophon {
    background-color: $primary;
    }

    div#body-section-liens-utiles li a {
        text-decoration: none;
    }
    
    div#body-section-liens-utiles li a:hover {
        text-decoration: underline;
    }

    .sectiontext #body-section-logo {
        text-align: center;
    }

    div#body-section-liens-utiles ul {
        margin-left: 0;
    }
}

.colophonWrapper ul li {
    display: inline-block;
}
//SUBSITE Footer
div#smartweb-subsite-footer {
    background: $primary;
}
@media screen and (min-width: 992px) {
    footer {
        .sectiontext, .sectioncontact, .sectionlinks {
            text-align: left;
            padding-bottom: 0.5rem;
        }
    }
}