  #portal-header #portal-header-top #header-links #search-link a {
    background: $secondary;
    border: none;
  }

@media (min-width: 992px) {
      li.contact.has_subtree.nav-item {
    margin-left: auto;
    }
}

#portal-header #portal-header-top #portal-logo {
    height: 80px;

    svg {
        width: 100%;
        height: auto;
    }
}

#portal-header #portal-header-top #portal-globalnav-wrapper {
    margin: 0;
}

@media (min-width: 992px) {
    #portal-globalnav-wrapper #portal-globalnav>li>.has_subtree, #subsite-navigation #portal-globalnav>li>.has_subtree {
    margin-top: 2.8rem;
    }

    #portal-header #portal-header-top #portal-globalnav-wrapper {
        margin: 0 3rem;
    }
}

button.navbar-toggler.collapsed {
    background: transparent !important;
}


#portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav > li.has_subtree > a::before {
	background-color: $secondary;
}