.portaltype-imio-smartweb-page #main-container .sectionlinks {
  background-color: white;

  .section-container {
    .rich_description {
      display: none;
    }

    & > div {
      .section-title {
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 2vw;
        font-family: $font-family-base;
        color: $primary-blue;
      }

      .body-section {
        .row {
          flex-direction: row;
          list-style-type: none;
          gap: 30px 2%;

          li {
            padding: 0;
          }

          .table_image {
            display: flex;
            width: 100%;
            gap: 20px;

            .image {
              display: none;
            }

            .table_title {
              span {
                display: flex;
                align-items: first baseline;
                gap: 10px;

                &::before {
                  content: "";
                  display: block;
                  width: 10px;
                  height: 11px;
                  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.25 6.51'%3E%3Cpath d='M3.96 2.55 1.71.29C1.32-.1.68-.1.29.29s-.39 1.03 0 1.42l1.55 1.55L.29 4.81A.996.996 0 0 0 1 6.51c.26 0 .51-.1.71-.29l2.25-2.25a.996.996 0 0 0 0-1.41Z' style='fill:%23ffb81c'/%3E%3C/svg%3E");
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
