.portaltype-imio-smartweb-page #main-container .sectionlinks {
  background-color: white;

  .section-container {
    .rich_description {
      display: none;
    }

    & > div {
      .section-title {
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 2vw;
        font-family: $font-family-base;
        color: $primary-blue;
      }

      .body-section {
        .table_display {
          max-width: 100% !important;

          .table_image {
            display: none !important;
          }

          .table_title {
            font-size: 1.5rem;
            font-weight: 400;
            background: #f1f1f1;
            border-radius: 8px;
            color: #000;
            padding: 20px;
            text-decoration: none;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
