.portaltype-imio-smartweb-portalpage.section-index
  .sortable-section.sectionevents::after {
  background: url("../../assets/svg/chateau.svg");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 208px;
  content: "";
  display: block;
  height: 210px;
  right: 25px;
  position: absolute;
  top: 0;
  width: 210px;
  z-index: -1;
}

.portaltype-imio-smartweb-portalpage.section-index
  .sortable-section.sectionevents::before {
  content: "";
  background: $primary-svg;
  right: 0;
  width: calc(100% + 800px) !important;
  height: 55%;
  bottom: 4%;
  position: absolute;
  border-radius: 20px 0 0 20px;
  z-index: -1;
  left: 0;
  margin: 20px 0;
}

.portaltype-imio-smartweb-portalpage .sectionevents {
  margin: 0;
  width: 50% !important;
  left: auto !important;
  transform: none !important;
  padding: 0 10px;
  margin-top: 100px;

  .start_date {
    float: left;
    padding-right: 3px;
  }

  .container {
    padding: 0 40px !important;
  }

  .section-container {
    position: relative;

    .swiper-pagination-bullet-active {
      background: $primary-svg !important;
    }
  }

  .section-title {
    font-weight: 500;
    text-transform: none;
    position: relative;
    color: $primary-dark;
    text-align: left;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 950px) {
    margin-top: 60px;
    width: 100% !important;
    background: #f1f1f1;
    padding: 60px 0;

    .section-title {
      text-align: center;
    }
  }

  .row {
    margin: 0;

    li {
      &::marker {
        content: "" !important;
      }
      padding: 20px 10px;
      border-bottom: 1px solid #fff;

      .table_display {
        .table_image {
          text-decoration: none;
          width: 100%;
          position: relative;
          display: block;

          .table_category {
            text-align: right;
            display: flex;
            justify-content: flex-end;

            span {
              background: $primary-dark;
              border-radius: 10px;
              padding: 5px 10px;
              font-size: 13px;
            }
          }

          .table_date {
            font-size: 10px;
            transition: all 0.3s ease;
          }

          .table_title {
            font-size: 16px;
            font-weight: 500;
            transition: all 0.3s ease;
          }

          &:hover {
            .table_date {
              padding-left: 7px;
              transition: all 0.3s ease;
            }

            .table_title {
              color: $primary-dark;
              padding-left: 7px;
              transition: all 0.3s ease;
              text-decoration: underline;
            }
          }
        }
      }
    }

    li::marker {
      display: none !important;
    }
  }
}

.image-actualites-accueil {
  figure {
    max-width: 100% !important;
  }
}

div#container-section-visuel-agenda {
  margin-top: 100px;
}

.sectionevents .see_all a {
  width: 100%;
  text-align: center;
}

div#container-section-visuel-agenda {
  margin-top: 175px;

  img {
    max-height: 280px;
  }
}
