.publications {
  margin-top: 40px;
  position: relative;
  width: 100vw;
  max-width: 100vw;
  left: 50%;
  transform: translateX(-50%);

  &::after {
    background: url("../../assets/svg/visu-background-right.svg");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 130px;
    content: "";
    top: -70px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  h2.section-title {
    text-align: right;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: $font-family-title;
    font-weight: 600 !important;
  }

  .swiper-slide {
    text-align: center;

    & > a {
      background-color: $primary-light;
      color: $primary-dark;
      padding: 25px;
      border-radius: 20px;
      text-decoration: none;
      display: block;
      transform: translateY(0);
      overflow: hidden;
      transition: 0.5s;
      padding-bottom: 80px;

      &:hover,
      &:focus {
        transition: 0.5s;
        transform: translateY(10px);
      }

      .swiper_date {
        padding-bottom: 10px;

        //background-color: $primary;
        span {
          color: $primary-dark;
          font-size: 0.9rem;
        }
      }

      .swiper_title {
        padding-bottom: 10px;

        h3 {
          color: $primary-dark;
          font-size: 1.3rem;
          font-family: $font-family-title;
          font-weight: 500;
        }
      }

      .swiper_description {
        p {
          color: $primary-dark;
        }
      }
    }
  }
}

.publications .see_all {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;

  a {
    background: $primary-svg;
    border: 1px solid $primary-svg;
    border-radius: 20px;
    color: #fff !important;
    display: block;
    font-family: $font-family-title;
    font-size: 16px;
    font-weight: 500;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    text-transform: none;
    transition: all 0.2s ease;
    width: max-content;
  }
}

.publications .see_all a:focus,
.publications .see_all a:hover {
  background: $primary-light;
  border: 1px solid $primary;
  border-radius: 10px;
  color: $primary-dark !important;
}

div#body-section-publications-officielles {
  z-index: 0;
}
