.bien-vivre-a-chastre .swiper-slide .swiper-image {
  padding-bottom: 140%;
  border: $light-blue solid 1px;
}

.sectioncollection.bien-vivre-a-chastre {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .section-title {
    margin: 0 0 2rem;
    color: $dark;
  }

  .swiper-slide > a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .swiper_title {
      h3 {
        color: $dark !important;
        font-size: 18px !important;
      }
    }
  }

  .see_all {
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;

    a {
      background: transparent;
      border: 0 solid #1b4f95;
      border-radius: 10px;
      color: #222831;
      display: block;
      font-size: 18px;
      font-weight: 200;
      padding: 0;
      position: relative;
      text-decoration: none;
      text-transform: none;
      transition: all 0.2s ease;
      width: max-content;

      &::after {
        background-color: #235789;
        bottom: -5px;
        content: "";
        height: 2px;
        position: absolute;
        transition: all 0.2s ease;
        width: 25%;
      }

      &:hover {
        &::after {
          width: 50%;
        }
      }
    }
  }
}
