.portaltype-imio-smartweb-portalpage .sectionlinks:first-child.quick-access {
	margin-top: -50px;
	padding: 0;
    .body-section{
        padding: 0;
    }
}
.quick-access{
    .table_image{
        &:hover,&:focus{
            .image.d-block{
                background: $primary!important;
                svg{
                    fill: #fff!important;
                }
            }
        }
    }
    .row{
        @include media-breakpoint-down(lg){
            grid-gap: 20px;
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(auto-fit,minmax(150px,150px));
            li{
                width: auto!important;
            }
        }
    }
}

.sites-de-la-commune{
    .body-section{
        svg{
            height: 70px!important;
            width: 70px!important;
        }
    }
}