.sectionnews {
  margin: 5rem 0 3rem;

  @media screen and (max-width: 992px) {
    margin: 3.5rem 0;
  }

  .section-container {
    position: relative;
  }

  .section-title {
    font-weight: 700 !important;
    position: relative;
    color: $primary;
    margin: 0 auto 30px;
    width: max-content;
    font-size: 2.5rem;
    text-transform: uppercase;

    @media screen and (max-width: 992px) {
      margin: 0 auto 30px;
      background: none;
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      background: #fff;
      border-radius: 0;
      transition: 0.5s;

      &:hover,
      &:focus {
        transition: 0.5s;
        transform: translateY(10px);
        background: #eee;
        border-radius: 0 0 50px;
      }

      & > a {
        align-items: center;
        padding-bottom: 20px;

        .swiper-image {
          transition: 0.5s;
        }

        .swiper_category {
          width: 100%;
          text-align: left;
          position: absolute;
          top: 0;

          span {
            display: inline-block;
            background: $primary-svg;
            color: $primary-green;
            border-radius: 0;
          }
        }

        .swiper_date {
          font-family: $font-family-base;
          width: 100%;
        }

        .swiper_title {
          width: 100%;

          h3 {
            font-family: $font-family-base;
            transition: 0.5s;
          }
        }

        .swiper_description {
          p {
            margin: 0;
          }
        }

        &:hover {
          .swiper_title {
            h3 {
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }
}
