#smartweb-footer .sectiontext figure,
#smartweb-minisite-footer .sectiontext figure {
  max-width: 65% !important;
}

#smartweb-footer .sectiontext figure img,
#smartweb-minisite-footer .sectiontext figure img {
  max-width: 200px !important;
  width: 100% !important;
}

#portal-footer-wrapper {
  background: $primary;

  .row {
    li {
      flex-direction: row;
      list-style-type: none;
      padding-left: 0;
    }
  }

  text-align: left !important;

  @media screen and (max-width: 992px) {
    margin-top: 0;
  }

  #portal-footer {
    background: $primary !important;

    #smartweb-footer,
    #smartweb-minisite-footer {
      a,
      span,
      p,
      div,
      h2 {
        color: #fff;
        text-decoration: none;
      }

      h2 {
        font-size: 22px !important;
        font-weight: 500;
        margin-top: 0;

        &.section-title {
          margin-bottom: 0.5rem;
          margin-top: 0;
        }
      }

      .sectiontext {
        figure {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

#portal-footer-wrapper #portal-footer h2.section-title {
  margin-bottom: 0.5rem;
}

.smartweb-footer .body-section figure img {
  border-radius: 0 !important;
}

#portal-footer-wrapper
  #portal-footer
  .sectionlinks
  .container
  .nb-items-batch-1
  .body-section {
  .row {
    li {
      .table_display {
        .table_image {
          .image {
            position: absolute;

            svg {
              fill: #fff;
            }
          }

          .table_title {
            padding-left: 30px !important;
            font-size: 1rem !important;

            span {
              transition: all 0.5s ease;
            }

            &:hover {
              span {
                color: $primary-green !important;
                transition: all 0.5s ease;
              }
            }
          }
        }
      }
    }
  }
}

#portal-colophon {
  background: #000;
  padding: 1rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    /*&:nth-last-child(n+1){
            display: block;
        }*/
    li {
      color: #fff;

      a,
      span,
      p,
      div {
        color: #fff;
      }
    }
  }
}

#portal-footer-wrapper {
  margin-top: 90px;
  border-top: 10px solid $primary-green;
  background-size: 100%;
  padding: 4rem 0 2rem !important;
  padding-top: 100px;
}

#portal-footer-wrapper {
  li {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}

@media screen and (max-width: 992px) {
  #portal-footer-wrapper {
    padding: 4rem 1rem 1rem !important;
  }
}

footer {
  .schedule .opening_informations::after {
    content: "";
    width: 9px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="8.444" height="5.2"><path fill="white" d="M.247.254a.831.831 0 0 1 1.2 0l2.78 2.854L7.011.254A.831.831 0 0 1 8.2.264a.882.882 0 0 1 .01 1.215L4.825 4.946a.835.835 0 0 1-.6.254 1.529 1.529 0 0 1-.6-.254L.247 1.479a.882.882 0 0 1 0-1.226Z"/></svg>');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.4rem;
    display: inline-block;
    vertical-align: middle;
  }

  .sectiontext ul li::before {
    display: none !important;
  }
}

#portal-footer-wrapper
  #portal-footer
  #smartweb-minisite-footer
  .sectionlinks
  .container
  .nb-items-batch-1
  .body-section {
  .row {
    li {
      &:nth-child(1) {
        .table_display {
          .table_image {
            .image {
              width: 30px;
              position: absolute;

              svg {
                fill: #fff !important;
              }
            }

            .table_title {
              padding-left: 30px !important;
              font-size: 1rem !important;

              span {
                transition: all 0.5s ease;
              }

              &:hover {
                span {
                  color: $primary !important;
                  transition: all 0.5s ease;
                }
              }
            }
          }
        }
      }

      &:nth-child(2) {
        .table_display {
          .table_image {
            .image {
              width: 30px;
              position: absolute;

              svg {
                fill: #fff !important;
              }
            }

            .table_title {
              padding-left: 30px !important;
              font-size: 1rem !important;

              span {
                transition: all 0.5s ease;
              }

              &:hover {
                span {
                  color: $primary !important;
                  transition: all 0.5s ease;
                }
              }
            }
          }
        }
      }

      &:nth-child(3) {
        .table_display {
          .table_image {
            .image {
              width: 30px;
              position: absolute;

              svg {
                fill: #fff !important;
              }
            }

            .table_title {
              padding-left: 30px !important;
              font-size: 1rem !important;

              span {
                transition: all 0.5s ease;
              }

              &:hover {
                span {
                  color: $primary !important;
                  transition: all 0.5s ease;
                }
              }
            }
          }
        }
      }

      &:nth-child(4) {
        .table_display {
          .table_image {
            .image {
              width: 30px;
              position: absolute;

              svg {
                fill: #fff !important;
              }
            }

            .table_title {
              padding-left: 30px !important;
              font-size: 1rem !important;

              span {
                transition: all 0.5s ease;
              }

              &:hover {
                span {
                  color: $primary !important;
                  transition: all 0.5s ease;
                }
              }
            }
          }
        }
      }

      &:nth-child(5) {
        .table_display {
          .table_image {
            .image {
              width: 30px;
              position: absolute;

              svg {
                fill: #fff !important;
              }
            }

            .table_title {
              padding-left: 30px !important;
              font-size: 1rem !important;

              span {
                transition: all 0.5s ease;
              }

              &:hover {
                span {
                  color: $primary !important;
                  transition: all 0.5s ease;
                }
              }
            }
          }
        }
      }

      &:nth-child(6) {
        .table_display {
          .table_image {
            .image {
              width: 30px;
              position: absolute;

              svg {
                fill: #fff !important;
              }
            }

            .table_title {
              padding-left: 30px !important;
              font-size: 1rem !important;

              span {
                transition: all 0.5s ease;
              }

              &:hover {
                span {
                  color: $primary !important;
                  transition: all 0.5s ease;
                }
              }
            }
          }
        }
      }
    }
  }
}

#portal-footer-wrapper li.facebook,
#portal-footer-wrapper li.twitter {
  display: block !important;
}
