//// VARIABLES
// ... add your variables here
$primary: green;
$plone-link-color: green;
$enable-roboto-webfont: false;

//// IMPORTS
// Import barceloneta files from node_modules --load-path=node_modules
@import "@imiobe/plonetheme-smartweb-base/src/scss/main";

//// STYLES
// ... add your styles here

