body.faceted-map {
  .button-map-content {
    display: none;
  }

  nav.d-flex.justify-content-center:first-child {
    display: none;
  }

  .d-flex.justify-content-center {
    justify-content: left !important;
  }

  #main-container {
    #content {
      #center-content-area {
        @include media-breakpoint-up(md) {
          display: grid;
        }
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);

        #faceted-results {
          grid-column: 1;

          @include media-breakpoint-up(md) {
            margin-right: 1rem;
          }
          display: block !important;
          opacity: 100% !important;
        }

        .faceted-map {
          grid-column: 2;
          grid-row: 2;
          flex: 1;
          padding-left: 1rem;
        }
      }
    }
  }

  #faceted-results-items {
    @include media-breakpoint-down(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }

  .faceted-map-text {
    margin: 0;

    @include media-breakpoint-up(md) {
      margin: 1rem 0;
    }
    box-shadow: rgba(0, 0, 0, 16%) 0 1px 4px;

    a {
      text-decoration: none;
    }

    .items-content {
      display: flex;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
      }

      .geo-item-image {
        max-width: 250px;

        img {
          width: 100%;
        }
      }

      .geo-item-text {
        padding: 1rem 1.5rem;

        .geo-item-title {
          color: #1f1f1f;
          font-weight: bold;
          font-size: 15px;
          text-decoration: none;
        }

        .geo-item-description {
          margin-top: 0.3rem;
          font-size: 15px;
          color: #1f1f1f;
        }
      }
    }
  }
}
