.a-la-une {
    padding-bottom: 0;
    padding-top: 0;
    @media screen and (min-width:900px) {
        margin-top: -5rem;
    }
    .swiper-slide {
      & > a {
        @include media-breakpoint-up(lg) {
            display: grid;
            grid-template-columns: auto 600px;
            grid-template-rows: 1fr 1fr;
             max-width: 1149px;
        }
        .swiper-image {
            padding-bottom: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            grid-column-start: 2;
        }
        .swiper_title {
            grid-column-start: 1;
            text-align: right;
            align-self: end;
        }
        .swiper_description {
            grid-column-start: 1;
            text-align: right;
            font-weight: 600;
            color: #000;
        }
      }  
    }
}

.crl1{
    width: 480px;
    height: 480px;
    position: absolute;
    background: #D8E9F5;
    border-radius: 50%;
    z-index: -1;
    left: 15%;
    top: 15%;
}

.crl2{
    position: absolute;
    width: 300px;
    height: 300px;
    background: #FFCF1B;
    opacity: .45;
    border-radius: 50%;
    z-index: 2;
    right: 3%;
    top: 70%;
}
.crl21{
    z-index: -1;
    background-color: yellow;
    opacity: .25;
}