#portal-footer-wrapper {
    text-align: left;

    h2 {
        font-size: 24px!important;
    }

    h3 {
        font-size: 15px!important;
    }

    #portal-footer.container {
        background:$primary;
        padding-top: 4vw;

        p,span,h2,h3,a, div {
            color: #fff!important;
        }
    }
}

#portal-colophon {
    background-color: #284988;
    font-size: 14px;
    font-weight: 400;

    p,span,h2,h3,a, div {
        color: #fff!important;
    }

    h2 {
        font-size: 26px!important;
        font-weight: 700;
    }

    .colophonWrapper {
        padding: .5rem;
    }

    ul {
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
    }
}

.footer-social {
    position: relative;
    text-align: center;

    .row {
        justify-content: center;
    }

    &::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='186' height='113' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M70.602 110.246v-8.09h1.468v6.713h4.92v1.377h-6.388ZM78.63 105.254c.603-.602 1.294-.86 2.243-.86.95 0 1.64.258 2.244.86.605.603.864 1.291.864 2.152 0 .861-.26 1.549-.864 2.152-.604.516-1.294.86-2.244.86-.95 0-1.64-.258-2.244-.86-.604-.517-.863-1.291-.863-2.152 0-.861.259-1.549.863-2.152Zm.603 2.152c0 .516.173.947.432 1.205.259.344.69.516 1.208.516s.863-.172 1.209-.516c.345-.344.431-.775.431-1.205 0-.516-.172-.947-.431-1.205-.346-.344-.69-.516-1.209-.516-.518 0-.863.172-1.208.516-.259.258-.432.689-.432 1.205ZM85.362 104.566h1.38v3.184c0 .861.346 1.291 1.123 1.291.431 0 .69-.172.949-.43s.345-.689.345-1.205v-2.926h1.381v5.594h-1.467v-1.033a1.369 1.369 0 0 1-.69.861c-.346.172-.691.344-1.123.344-.604 0-1.122-.172-1.467-.603-.345-.43-.518-.946-.518-1.549v-3.528h.087ZM91.749 104.566h1.553l1.813 3.528 1.726-3.528h1.64l-3.021 5.594h-.69l-3.021-5.594ZM99.43 107.578c.345-.258.777-.516 1.295-.516l1.381-.172c.431 0 .604-.259.604-.603a.778.778 0 0 0-.259-.602c-.173-.172-.432-.172-.777-.172-.345 0-.69.086-.863.258-.259.172-.345.43-.345.688l-1.381-.258c.086-.516.345-1.033.777-1.291.518-.344 1.122-.516 1.899-.516.776 0 1.381.172 1.812.516.432.344.604.775.604 1.463v2.496c0 .258.087.43.345.43.087 0 .259 0 .259-.086v1.033c-.258.086-.517.172-.863.172-.345 0-.518-.086-.776-.258-.173-.172-.346-.344-.346-.602v-.259c-.172.345-.345.603-.69.775-.345.172-.777.344-1.209.344-.604 0-1.035-.172-1.38-.43-.346-.344-.518-.689-.518-1.205 0-.516.172-.947.431-1.205Zm1.036 1.033c0 .258.086.43.259.516.172.086.345.172.69.172.346 0 .691-.086.95-.344s.431-.516.431-.861v-.43l-1.467.172a.783.783 0 0 0-.604.258c-.173.087-.259.259-.259.517ZM105.645 102.673c0-.259.086-.517.258-.689.173-.172.432-.258.691-.258.259 0 .518.086.69.258.173.172.259.43.259.689 0 .258-.086.516-.259.688-.172.172-.431.258-.69.258-.259 0-.518-.086-.691-.258-.172-.172-.258-.43-.258-.688Zm1.726 1.893v5.594h-1.468v-5.594h1.468ZM109.183 104.566h1.381v1.033a1.37 1.37 0 0 1 .691-.861c.345-.258.69-.344 1.122-.344.604 0 1.122.172 1.467.602.345.431.518.947.518 1.549v3.615h-1.295v-3.184c0-.861-.345-1.291-1.122-1.291-.431 0-.69.172-.949.43s-.345.689-.345 1.119v2.926h-1.381v-5.594h-.087Z'/%3E%3Cpath fill='%236399C3' d='M116.088 106.287h3.625v1.205h-3.625v-1.205Z'/%3E%3Cpath fill='%23fff' d='M121.526 110.246v-8.606h1.467v8.606h-1.467ZM124.892 107.578c.345-.258.777-.516 1.295-.516l1.381-.172c.431 0 .604-.259.604-.603a.782.782 0 0 0-.259-.602c-.173-.172-.432-.172-.777-.172-.345 0-.691.086-.863.258-.259.172-.345.43-.345.688l-1.381-.258c.086-.516.345-1.033.776-1.291.518-.344 1.122-.516 1.899-.516.777 0 1.381.172 1.813.516.431.344.604.775.604 1.463v2.496c0 .258.086.43.345.43.087 0 .259 0 .259-.086v1.033c-.259.086-.518.172-.863.172s-.518-.086-.777-.258c-.172-.172-.345-.344-.345-.602v-.259c-.173.345-.345.603-.69.775-.346.172-.777.344-1.209.344-.604 0-1.036-.172-1.381-.43-.345-.344-.518-.689-.518-1.205 0-.516.173-.947.432-1.205Zm1.036 1.033c0 .258.086.43.259.516.172.086.345.172.69.172s.691-.086.949-.344c.259-.258.432-.516.432-.861v-.43l-1.467.172a.783.783 0 0 0-.604.258c-.173.087-.259.259-.259.517Z'/%3E%3Cpath fill='%236399C3' d='M131.365 106.287h3.625v1.205h-3.625v-1.205Z'/%3E%3Cpath fill='%23fff' d='m137.752 102.156 5.524 5.508v-5.508h1.467v8.09h-.863l-5.61-5.422v5.422h-1.467v-8.09h.949ZM147.246 105.254a2.865 2.865 0 0 1 2.072-.86c.777 0 1.467.258 1.985.774.518.517.777 1.119.777 1.98 0 .172 0 .43-.086.688h-4.23c0 .431.173.775.432 1.033.259.258.69.43 1.122.43.69 0 1.122-.258 1.381-.688l1.036.688a1.867 1.867 0 0 1-.95.861c-.431.258-.949.344-1.467.344-.863 0-1.64-.258-2.158-.86-.518-.517-.777-1.291-.777-2.152.087-1.033.346-1.721.863-2.238Zm.605 1.636h2.762c0-.431-.173-.689-.432-.947s-.604-.344-.949-.344c-.432 0-.777.086-1.036.344-.173.258-.259.516-.345.947ZM153.461 104.566h1.381v3.184c0 .861.345 1.291 1.122 1.291.431 0 .69-.172.949-.43s.346-.689.346-1.205v-2.926h1.38v5.594h-1.467v-1.033a1.368 1.368 0 0 1-.69.861c-.346.172-.691.344-1.122.344-.605 0-1.122-.172-1.468-.603-.345-.43-.517-.946-.517-1.549v-3.528h.086ZM159.761 104.566h1.554l1.813 3.528 1.726-3.528h1.64l-3.021 5.594h-.691l-3.021-5.594ZM167.702 105.254a2.864 2.864 0 0 1 2.072-.86c.776 0 1.467.258 1.985.774.518.517.777 1.119.777 1.98 0 .172 0 .43-.087.688h-4.143c0 .431.173.775.432 1.033.259.258.69.43 1.122.43.69 0 1.122-.258 1.381-.688l1.036.688a1.867 1.867 0 0 1-.95.861c-.431.258-.949.344-1.467.344-.863 0-1.64-.258-2.158-.86-.518-.517-.777-1.291-.777-2.152 0-1.033.259-1.721.777-2.238Zm.691 1.636h2.762c0-.431-.173-.689-.432-.947s-.604-.344-.949-.344c-.432 0-.777.086-1.036.344s-.345.516-.345.947ZM13.464 106.201c0-1.205.432-2.238 1.209-3.012.777-.775 1.899-1.205 3.107-1.205 1.208 0 2.33.43 3.107 1.205.777.774 1.209 1.807 1.209 3.012s-.432 2.238-1.209 3.012c-.777.775-1.899 1.205-3.107 1.205-1.208 0-2.33-.43-3.107-1.205-.863-.774-1.209-1.807-1.209-3.012Zm2.33 1.979c.519.517 1.21.775 1.986.775.777 0 1.467-.258 1.985-.775.518-.516.777-1.204.777-2.065s-.259-1.549-.777-2.066c-.518-.516-1.208-.774-1.985-.774-.777 0-1.467.258-1.985.774-.518.517-.777 1.205-.777 2.066 0 .861.259 1.549.777 2.065ZM32.885 102.673c0-.259.086-.517.258-.689.173-.172.432-.258.69-.258.26 0 .519.086.691.258.173.172.26.43.26.689 0 .258-.087.516-.26.688-.172.172-.431.258-.69.258-.26 0-.518-.086-.69-.258-.173-.172-.26-.43-.26-.688Zm1.726 1.893v5.594h-1.468v-5.594h1.468ZM36.769 110.934c.086.259.258.517.517.689.26.172.605.258.95.258s.69-.086.863-.258c.173-.172.345-.344.345-.689 0-.258-.086-.516-.345-.602-.173-.172-.518-.258-.863-.258-.518 0-.95.086-1.295.344l-.172-.861c.172-.172.431-.258.776-.344l.173-.774a2.35 2.35 0 0 1-1.381-.689c-.345-.344-.518-.774-.518-1.377 0-.602.259-1.119.69-1.549.432-.344 1.123-.602 1.9-.602.258 0 .517 0 .69.086.863 0 1.554-.172 2.071-.517v.947c-.172.086-.345.086-.604.086h-.172c.431.344.604.861.604 1.463 0 .516-.173 1.033-.518 1.377-.345.344-.863.603-1.554.689l-.172.602c.604 0 1.122.258 1.467.516.345.345.518.775.518 1.291 0 .603-.26 1.119-.69 1.463-.519.345-1.123.517-1.813.517-.604 0-1.122-.086-1.64-.344a1.838 1.838 0 0 1-.95-1.033l1.123-.431Zm.517-4.475c0 .344.087.603.346.775.259.172.517.258.949.258.345 0 .69-.086.863-.258.259-.172.345-.431.345-.775 0-.344-.086-.602-.345-.774a1.463 1.463 0 0 0-.863-.259c-.345 0-.69.087-.95.259-.258.258-.345.516-.345.774ZM42.551 104.566h1.381v1.033c.087-.345.346-.689.69-.861.346-.258.691-.344 1.123-.344.604 0 1.122.172 1.467.602.345.431.518.947.518 1.549v3.615h-1.467v-3.184c0-.861-.346-1.291-1.122-1.291-.432 0-.69.172-.95.43-.259.258-.345.689-.345 1.119v2.926h-1.381v-5.594h.086ZM49.197 102.673c0-.259.086-.517.26-.689.172-.172.43-.258.69-.258.259 0 .517.086.69.258.173.172.259.43.259.689 0 .258-.086.516-.259.688-.173.172-.431.258-.69.258-.26 0-.518-.086-.69-.258-.174-.172-.26-.43-.26-.688Zm1.726 1.893v5.594h-1.467v-5.594h1.467ZM53.167 105.168a2.864 2.864 0 0 1 2.072-.86c.777 0 1.467.258 1.985.774.518.517.777 1.119.777 1.98 0 .172 0 .43-.086.688h-4.23c0 .43.173.775.432 1.033.259.258.69.43 1.122.43.69 0 1.122-.258 1.38-.688l1.037.688a1.87 1.87 0 0 1-.95.861c-.431.258-.95.344-1.467.344-.863 0-1.64-.258-2.158-.861-.518-.516-.777-1.291-.777-2.151.087-.947.346-1.635.863-2.238Zm.605 1.635h2.762c0-.43-.173-.688-.432-.946s-.604-.345-.95-.345c-.43 0-.776.087-1.035.345-.173.258-.345.602-.345.946ZM60.331 108.439c0 .258.173.516.432.688.259.172.518.258.863.258.259 0 .518-.086.69-.172.173-.172.26-.258.26-.516 0-.344-.26-.603-.691-.689 0 0-.173 0-.432-.086-.259 0-.431-.086-.604-.086-1.122-.172-1.64-.774-1.64-1.635 0-.516.173-.947.604-1.291.432-.344 1.036-.516 1.727-.516.69 0 1.208.172 1.64.43.431.258.69.689.776 1.205l-1.294.258c0-.258-.173-.516-.346-.688-.172-.172-.431-.259-.776-.259a1.63 1.63 0 0 0-.69.173c-.174.086-.26.258-.26.516 0 .344.26.602.69.688 0 0 .432.087 1.123.173 1.035.172 1.553.688 1.553 1.635 0 .516-.259 1.033-.69 1.377-.432.344-1.036.516-1.813.516-.69 0-1.294-.172-1.726-.43-.431-.258-.69-.689-.863-1.205l1.467-.344Z'/%3E%3Cpath fill='%236399C3' d='M65.337 106.287h3.625v1.205h-3.625v-1.205Z'/%3E%3Cpath fill='%23fff' d='M25.72 104.566V102.5l-1.467.259v1.807h-.949v1.291h.95v2.754c0 .516.172.947.43 1.291.346.344.778.516 1.382.516.69 0 1.122-.172 1.467-.516l-.345-1.119c-.173.172-.432.258-.777.258-.518 0-.777-.258-.777-.774v-2.41h1.122v-1.291h-1.035ZM31.59 108.783c-.173.172-.432.258-.777.258-.518 0-.777-.258-.777-.774v-2.41h1.036v-1.291h-.95V102.5l-1.467.259v1.807h-.95v1.291h.95v2.754c0 .516.173.947.432 1.291.345.344.777.43 1.38.43.691 0 1.123-.172 1.468-.516l-.345-1.033Z'/%3E%3Cpath fill='%23FFD017' d='M129.553 90.452h16.571V66.526h-16.571v23.926ZM116.261 0 99.775 8.52l-.086 49.486h16.572V0Z'/%3E%3Cpath fill='%236399C3' d='M69.912 90.452h16.485V66.526H69.912v23.926Z'/%3E%3Cpath fill='%23fff' d='M157.863 50.519c5.006 0 9.235 3.098 10.961 7.487h17.003c-2.071-13.512-13.809-23.925-27.878-23.925-14.155 0-25.893 10.413-27.965 23.925h17.003c1.64-4.303 5.87-7.487 10.876-7.487Z'/%3E%3Cpath fill='%236399C3' d='M186.086 66.526h-16.485v23.926h16.485V66.526Z'/%3E%3Cpath fill='%23fff' d='M27.965 74.1a11.823 11.823 0 0 1-11.048-7.574H0c2.071 13.598 13.81 23.926 27.965 23.926s25.893-10.414 27.964-23.926H39.013c-1.727 4.39-6.042 7.574-11.048 7.574Z'/%3E%3Cpath fill='%23FFD017' d='M27.965 34.08c-3.453 0-6.732.603-9.753 1.722l5.696 15.405c1.295-.43 2.676-.774 4.057-.774 5.006 0 9.321 3.098 11.048 7.573h16.916c-2.071-13.512-13.81-23.925-27.964-23.925Z'/%3E%3Cpath fill='%236399C3' d='M0 58.006h16.917c1.208-3.184 3.798-5.594 6.905-6.799l-5.697-15.405C8.631 39.331 1.554 47.765 0 58.006Z'/%3E%3Cpath fill='%23fff' d='m86.397 16.438-16.485 8.434v33.134h16.485V16.438ZM99.69 90.452h16.571V66.526H99.775l-.086 23.926Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h186v113H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        margin-bottom: 10px;
        display: block;
    }

    .section-title {
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .table_image {
        width: 60px;
        height: 60px;
        background:#fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            fill: $primary;
            width:28px;
            height: auto;
        }
    }

    .table_title {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
        -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important;  /* 2 */
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;  
    }

    li {
        width: auto;
    }
}