.sortable-section.sectionfiles {
    margin-bottom: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;

    &::after {
        border: solid 1px #e3e3e3;
        border-radius: 5px;
    }

    .section-title {
        display: flex;
        color: $primary;
    }

    .table_image {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 9px;
        background: rgba(0, 0, 0, 3.1%);
        padding: 10px;
        border-radius: 7px;
        font-size: 13px;
        text-decoration: none;
        color: #3b3b3b;
        border: solid 1px rgba(0, 0, 0, 3.1%);

        &:hover {
            border: solid 1px $primary;
        }

        .image {
            display: block;
            aspect-ratio: 1/1;
            max-width: 200px;
        }
    }

    li {
        margin: 10px 0;
    }
}

.sectionfiles::after {
	content: "";
	position: absolute;
	width: 100%!important;
	top: 0!important;
	bottom: 0!important;
	left: 50%!important;
	transform: translateX(-50%) !important;
	z-index: -1;
	background: transparent;
}