.sortable-section.sectionfiles {
  margin-bottom: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;

  &::after {
    border: solid 1px #e3e3e3;
    border-radius: 5px;
  }

  .section-title {
    display: flex;
    color: $primary;
  }

  .table_image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 9px;
    background: rgba(0, 0, 0, 3.1%);
    padding: 10px;
    border-radius: 7px;
    font-size: 0.8125rem;
    text-decoration: none;
    color: #3b3b3b;
    border: solid 1px rgba(0, 0, 0, 3.1%);

    &:hover {
      border: solid 1px $primary;
    }

    .image {
      display: block;
      aspect-ratio: 1/1;
      max-width: 200px;
    }
  }

  li {
    margin: 10px 0;
  }
}

.portaltype-imio-smartweb-page
  #main-container
  .sectionfiles
  .section-container
  .section-title::before {
  content: "";
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52.65 52.14'%3E%3Cpath fill='%23325aa6' d='M52.22 6.39 46.01.46c-.23-.28-.57-.45-.94-.46h-24.9c-.73 0-1.32.59-1.32 1.32v4.05l-8.78 1.5c-.7.12-1.18.79-1.06 1.5l.44 2.6c-2.85.96-5.78 1.95-8.61 2.97-.67.25-1.02.99-.78 1.66l5.63 15.64c.13.41.56.63.97.5s.63-.56.5-.97c0-.02-.01-.03-.02-.05L1.61 15.31c2.66-.96 5.42-1.89 8.12-2.8l2.65 15.45 3.05 17.8c.13.7.79 1.17 1.5 1.06l8.26-1.42 6.45-1.11-9.71 3.49-7.66 2.75-5.95-16.54a.78.78 0 0 0-.99-.47.78.78 0 0 0-.47.99l6.03 16.77a1.3 1.3 0 0 0 1.66.77l7.89-2.83 17.9-6.44 3.42-.59h7.56c.73 0 1.32-.59 1.32-1.32V7.26c0-.34-.16-.66-.43-.87Zm-2.04.18h-3.96c-.19 0-.62 0-.73-.1a.42.42 0 0 1-.06-.27V2.05l4.74 4.52Zm.93 34.1H20.39V25.64c0-.43-.35-.77-.77-.77s-.77.35-.77.77v15.25c0 .73.59 1.32 1.32 1.32h14.48l-9.72 1.67-8.02 1.38-3.01-17.55-3.32-19.35 8.27-1.42v15.12c0 .43.35.77.77.77s.77-.35.77-.77V1.54h23.5V6.2c-.02.5.17 1 .52 1.36.48.4 1.09.6 1.71.55h4.99v32.55Z'/%3E%3Cpath fill='%230000FF' d='M24.11 11.98c0 .43.35.77.77.77h22.05c.43 0 .77-.35.77-.77s-.35-.77-.77-.77H24.87a.77.77 0 0 0-.77.77ZM46.93 16.69H24.87c-.43 0-.77.35-.77.77s.35.77.77.77h22.05c.43 0 .77-.35.77-.77s-.35-.77-.77-.77ZM46.93 22.17H24.87c-.43 0-.77.35-.77.77s.35.77.77.77h22.05c.43 0 .77-.35.77-.77s-.35-.77-.77-.77ZM46.93 27.65H24.87c-.43 0-.77.35-.77.77s.35.77.77.77h22.05c.43 0 .77-.35.77-.77s-.35-.77-.77-.77ZM46.93 33.13H24.87c-.43 0-.77.35-.77.77s.35.77.77.77h22.05c.43 0 .77-.35.77-.77s-.35-.77-.77-.77Z'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 25px;
  margin: 0;
  margin-right: 10px;
  width: 25px;
}

.sectionfiles::after {
  content: "";
  position: absolute;
  width: 100% !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: -1;
  background: transparent;
}

body:not(.portaltype-imio-smartweb-portalpage)
  #content-core
  .sectionlinks:not(.quick-access) {
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

  .section-title {
    color: #223e72;
  }

  .table_image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 9px;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 7px;
    font-size: 0.8125rem;
    text-decoration: none;
    color: #3b3b3b;
    margin: 10px 0;
    border: solid 1px $primary-light;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      border: solid 1px $primary;

      .table_title {
        &::after {
          margin-left: 5px;
        }
      }
    }

    .d-block {
      width: auto;

      .plone-icon {
        height: auto;
        width: auto;
        max-width: 25px;
      }
    }

    .table_title {
      display: flex;
      align-items: center;
      gap: 10px;

      &::after {
        content: "\F135";
        font-family: Bootstrap-Icons;
        font-size: 18px;
      }
    }
  }

  .no-image .image {
    display: none;
  }
}

.sortable-section.sectionfiles .table_image .image {
  aspect-ratio: 1/1;
  display: block;
  max-width: 50px;
}
