.sectionnews{
    background: linear-gradient(0deg,#fff 0,#fff 21px,#F3F3F3 21px, #F3F3F3 100%);
    margin-top: 3vw;
    padding-top:4rem;
    padding-bottom: 0;
    position: relative;
    z-index: 1;

    .section-title{
        margin-bottom: 0;
        position:absolute;
    }

    .swiper-pagination-bullets{
        display: none !important;
    }

    .carousel {
        position: relative;
        padding-top:4rem;
        overflow: hidden;
    }

    .swiper-wrapper{
        padding-bottom: 5rem;

        .swiper-slide {
            & > a{
                display: grid;
                align-items: center;

                .swiper-image{
                    padding-bottom: 55%;
                    transition: all .25s ease;
                    margin-bottom: 2rem;
                    border-radius: 20px;
                    grid-row-start: 1;
                    grid-column-start: 1;
                }

                .swiper_category{
                    grid-row-start: 1;
                    position: relative;
                    grid-column-start: 1;
                    align-self: end;
                    transform: translateY(-50%)
                }

                .swiper_date{
                    width: 100%;
                    text-transform: uppercase;
                    font-family: $font-family-title; 
                    grid-row-start: 2;
                    opacity: 65%;
                }

                .swiper_title{
                    width: 100%;

                    h3{
                        font-family: $font-family-title;
                    }
                }

                .swiper_description{
                    display: none;

                    p{
                        margin: 0;
                    }
                }

                &:hover{
                    .swiper-image{
                        mask-size: 99%;
                    }

                    .swiper_title{
                        h3{
                            color: $primary-svg;
        
                        }
                    }

                    .swiper_description{
                        p{
                            color: #fff;
        
                        }
                    }
                }
            }
        }
    }

    .see_all {
        bottom: auto;
        left: 0;
        position: relative;
        transform: none;
        z-index: 1;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 25px;
        width: 45px;
        height: 45px;
        border-radius: 50px;
    }

    .swiper-button-prev{
        right:55px;
        left:auto;
    }

    .swiper-button-next{
        right:0;
        left:auto;
    }


        @media screen and (max-width: 767px) {
        .swiper-button-next, .swiper-button-prev {
            display: block!important;
        }
    }
}