.home-newsletter {
  padding-left: 3vw;
  padding-right: 3vw;
  overflow-x: hidden;

  &::after {
    content: "";
    background: #f8f8f8;
    position: absolute;
    width: 100vw;
    bottom: 0;
    top: -65px;
    z-index: -1;
    right: 0;
    transform: translateX(50vw);
  }

  .section-title {
    font-size: 32px;
    color: $primary-svg;
  }

  .rich_description {
    font-size: 14px;
    color: #7c7c7c;
    margin-bottom: 1.5rem;
  }

  .table_image {
    display: flex;
    background: #d8084c;
    border-radius: 15px;
    border: solid 4px #e2e2e2;
    text-decoration: none;
    padding: 1rem 1.5rem;
    flex-direction: row-reverse;
    width: max-content;
    gap: 20px;
    align-items: center;
    transition: all 0.2s ease;

    .d-block {
      width: 25px;

      svg {
        fill: #fff;
      }
    }

    .table_title {
      span {
        color: #fff;
      }
    }

    &:hover {
      background: #f8f8f8;
      border: solid 4px #d8084c;

      .d-block {
        svg {
          fill: #d8084c;
        }
      }

      .table_title {
        span {
          color: #d8084c;
        }
      }
    }
  }
}

// social

.home-social {
  padding-left: 3vw;
  padding-right: 3vw;

  &::before {
    content: "";
    background: #d9d9d9;
    width: 1px;
    top: 15%;
    bottom: 15%;
    position: absolute;
    left: 0;
  }

  .row {
    gap: 10px;

    li {
      width: auto;
    }
  }

  .section-title {
    font-size: 32px;
    color: $primary-svg;
  }

  .rich_description {
    font-size: 15px;
    color: #7c7c7c;
  }

  .table_image {
    transition: all 0.2s ease;

    .table_title {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    .d-block {
      width: 65px;
      height: 65px;
      background: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      border: solid 4px #e2e2e2;
      transition: all 0.2s ease;

      svg {
        width: 35px;
        height: 35px;
        fill: $primary;
      }
    }

    &:hover {
      .d-block {
        border: solid 4px $primary-svg;
      }
    }
  }
}
