.home-newsletter {
    padding-left: 3vw;
    padding-right: 3vw;
    &:after {
        content: "";
        background: #f8f8f8;
        position: absolute;
        width: 100vw;
        bottom: 0;
        top: -65px;
        z-index: -1;
        right: 0;
        transform: translateX(50vw);
    }
    .section-title {
        font-size: 32px;
        color: $primary-svg;
    }
    .rich_description {
        font-size: 14px;
        color: #7C7C7C;
        margin-bottom: 1.5rem;
    }
    .table_image {
        display: flex;
        background: #d8084c;
        border-radius: 15px;
        border: solid 4px #E2E2E2;
        text-decoration: none;
        padding: 1rem 1.5rem;
        flex-direction: row-reverse;
        width: max-content;
        gap: 20px;
        align-items: center;
        .d-block {
            width: 25px;
            svg {
                fill: #fff;
            }
        }
        .table_title {
            span {
                color: #fff;
            }
        }
    }
}


// social

.home-social {
    padding-left: 3vw;
    padding-right: 3vw;
    &:before {
        content: "";
        background: #D9D9D9;
        width: 1px;
        top: 15%;
        bottom: 15%;
        position: absolute;
        left: 0;
    }
    .section-title {
        font-size: 32px;
        color: $primary-svg;
    }
    .rich_description {
        font-size: 15px;
        color: #7C7C7C;
    }
    .table_image {
        .table_title {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border-width: 0;
        }
        .d-block {
            width: 65px;
            height: 65px;
            background: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            border: solid 4px #E2E2E2;
            svg {
                width: 35px;
                height: 35px;
                fill: $primary;
            }
        }
    }
}