.sectionlinks.quick-access {
    background-color: $primary;
    padding-bottom: 0!important;
    @include media-breakpoint-up(lg){
        width: calc(100vw - 80px);
        padding: 100px 0 0px 0px;
    }

    .rich_description {
        color: rgb(255, 255, 255,.70);
    }

    .section-title {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.portaltype-imio-smartweb-portalpage  {
    .quick-access {
        .section-container > div {
            display: grid;
            grid-template-columns: auto auto;
            @include media-breakpoint-down(lg){
                display: block;
            }

            .section-title {
                grid-column-start: 1;

                &:before {
                    content: "";
                    width: 60px;
                    height: 1px;
                    background-color: #fff;
                    display: block;
                }
            }

            .rich_description {
                grid-column-start: 1;
            }

            #body-section-acces-directs {
                grid-row-start: 1;
                grid-column-start: 2;
                grid-row-end: 4;
            }

            &:before{
                content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='uuid-fa34f053-383b-41b0-8290-857e3b86707b' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 647.95 173.69'%3E%3Cg id='uuid-27f28988-5112-4414-aab4-0f77fb50bdfb'%3E%3Cg id='uuid-014a067c-dcbd-4432-be3f-e51b222b8688' style='isolation:isolate;'%3E%3Cg style='isolation:isolate;'%3E%3Cpath d='m0,1.29h11.58c11.19,0,14.75.79,18.02,2.38,5.74,2.67,9.41,8.02,9.41,14.45,0,7.03-4.55,12.77-13.27,14.95,4.55.69,7.52,1.98,9.9,3.76,4.36,3.17,6.44,8.51,6.44,13.76,0,7.42-4.06,13.96-10.69,16.53-3.66,1.39-6.14,2.08-16.24,2.08H0V1.29Zm17.92,29.9c4.65,0,8.42-.99,10.59-2.67,2.08-1.58,4.26-5.15,4.26-9.7,0-5.25-2.38-8.91-6.63-10.99-2.38-1.19-5.35-1.78-9.6-1.78H5.45v25.15h12.47Zm.79,33.36c5.35,0,7.92-.5,11.19-2.28,4.45-2.48,6.24-6.83,6.24-12.08,0-5.54-2.77-10.3-7.13-12.18-3.66-1.58-6.44-2.08-11.09-2.08H5.45v28.61h13.27Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m52.17,4.36c0-2.38,1.98-4.36,4.36-4.36s4.36,1.88,4.36,4.36-1.98,4.36-4.36,4.36-4.36-1.98-4.36-4.36Zm1.48,15.54l5.54-.89v50.19h-5.54V19.9Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m71.08,44.15c0-8.42,1.88-14.06,5.84-18.71,3.37-3.96,7.92-6.63,13.96-6.63,5.25,0,9.4,2.08,12.38,5.05,3.76,3.96,5.64,8.61,5.64,19.7v1.09h-31.68v2.57c.1,5.25,1.39,9.5,3.27,12.28,2.67,3.96,7.13,6.14,12.67,6.14,4.95,0,9.11-1.39,12.47-4.45l2.18,3.46c-4.16,3.56-9.4,5.54-15.74,5.54-13.56,0-20.99-10.49-20.99-26.04Zm32.08-3.56c0-5.94-.99-9.7-2.57-12.28-1.88-3.07-5.44-5.25-10-5.25-7.43,0-12.87,5.84-13.37,17.52h25.94Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m119.79,30.29c0-5.45-.99-8.12-1.68-9.8l5.25-1.39c.2.4,1.58,3.46,1.58,7.82,4.85-5.15,10.2-7.92,15.84-7.92,5.05,0,9.11,2.38,10.99,5.84,1.19,1.88,1.88,4.26,1.88,6.83v37.52h-5.35v-34.75c0-4.65-.79-6.53-2.28-8.42-1.29-1.39-3.66-2.38-6.44-2.38-4.46,0-10.59,3.07-14.55,7.62v37.92h-5.25V30.29Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m160.38,20.2l5.54-1.19,13.07,38.21c.89,2.57,1.58,5.54,1.78,6.24h.2c.1-.59.79-3.37,1.78-6.14l13.07-37.42h5.74l-18.22,49.8h-5.35l-17.62-49.5Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m206.02,44.15c0-8.42,1.88-14.06,5.84-18.71,3.37-3.96,7.92-6.63,13.96-6.63,5.25,0,9.4,2.08,12.38,5.05,3.76,3.96,5.64,8.61,5.64,19.7v1.09h-31.68v2.57c.1,5.25,1.39,9.5,3.27,12.28,2.67,3.96,7.13,6.14,12.67,6.14,4.95,0,9.11-1.39,12.47-4.45l2.18,3.46c-4.16,3.56-9.4,5.54-15.74,5.54-13.56,0-20.99-10.49-20.99-26.04Zm32.08-3.56c0-5.94-.99-9.7-2.57-12.28-1.88-3.07-5.44-5.25-10-5.25-7.43,0-12.87,5.84-13.37,17.52h25.94Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m254.72,30.29c0-5.45-.99-8.12-1.68-9.8l5.25-1.39c.2.4,1.58,3.46,1.58,7.82,4.85-5.15,10.2-7.92,15.84-7.92,5.05,0,9.11,2.38,10.99,5.84,1.19,1.88,1.88,4.26,1.88,6.83v37.52h-5.35v-34.75c0-4.65-.79-6.53-2.28-8.42-1.29-1.39-3.66-2.38-6.44-2.38-4.46,0-10.59,3.07-14.55,7.62v37.92h-5.25V30.29Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m332.24,62.67c-3.86,5.05-9.31,7.82-15.84,7.82-5.74,0-9.7-2.28-11.58-5.74-1.29-1.88-1.98-4.65-1.98-7.82V20.2l5.25-1.09v36.23c0,4.26.89,6.73,3.07,8.41,1.58,1.29,4.06,2.18,6.73,2.18,5.15,0,10.49-3.27,13.86-8.91V20.2l5.35-.89v37.62c0,5.94.79,8.22,2.67,10.29l-3.56,3.56c-2.38-2.18-3.47-4.26-3.96-8.12Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m348.97,44.15c0-8.42,1.88-14.06,5.84-18.71,3.37-3.96,7.92-6.63,13.96-6.63,5.25,0,9.41,2.08,12.38,5.05,3.76,3.96,5.64,8.61,5.64,19.7v1.09h-31.68v2.57c.1,5.25,1.39,9.5,3.27,12.28,2.67,3.96,7.13,6.14,12.67,6.14,4.95,0,9.11-1.39,12.47-4.45l2.18,3.46c-4.16,3.56-9.41,5.54-15.74,5.54-13.56,0-20.99-10.49-20.99-26.04Zm32.08-3.56c0-5.94-.99-9.7-2.57-12.28-1.88-3.07-5.44-5.25-10-5.25-7.42,0-12.87,5.84-13.36,17.52h25.94Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m414.71,44.15c0-8.42,1.88-14.06,5.84-18.71,3.37-3.96,7.92-6.63,13.96-6.63,5.25,0,9.41,2.08,12.38,5.05,3.76,3.96,5.64,8.61,5.64,19.7v1.09h-31.68v2.57c.1,5.25,1.39,9.5,3.27,12.28,2.67,3.96,7.13,6.14,12.67,6.14,4.95,0,9.11-1.39,12.47-4.45l2.18,3.46c-4.16,3.56-9.41,5.54-15.74,5.54-13.56,0-20.99-10.49-20.99-26.04Zm32.08-3.56c0-5.94-.99-9.7-2.57-12.28-1.88-3.07-5.44-5.25-10-5.25-7.42,0-12.87,5.84-13.36,17.52h25.94Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m463.41,30.29c0-5.45-.99-8.12-1.68-9.8l5.25-1.39c.2.4,1.58,3.46,1.58,7.82,4.85-5.15,10.2-7.92,15.84-7.92,5.05,0,9.11,2.38,10.99,5.84,1.19,1.88,1.88,4.26,1.88,6.83v37.52h-5.35v-34.75c0-4.65-.79-6.53-2.28-8.42-1.29-1.39-3.66-2.38-6.43-2.38-4.46,0-10.59,3.07-14.55,7.62v37.92h-5.25V30.29Z' style='fill:%23fff; stroke-width:0px;'/%3E%3C/g%3E%3Cg style='isolation:isolate;'%3E%3Cpath d='m100.48,104.29h11.58c11.19,0,14.75.79,18.02,2.38,5.74,2.67,9.41,8.02,9.41,14.45,0,7.03-4.55,12.77-13.27,14.95,4.55.69,7.52,1.98,9.9,3.76,4.36,3.17,6.44,8.51,6.44,13.76,0,7.42-4.06,13.96-10.69,16.53-3.66,1.39-6.14,2.08-16.24,2.08h-15.15v-67.91Zm17.92,29.9c4.65,0,8.42-.99,10.59-2.67,2.08-1.58,4.26-5.15,4.26-9.7,0-5.25-2.38-8.91-6.63-10.99-2.38-1.19-5.35-1.78-9.6-1.78h-11.09v25.15h12.47Zm.79,33.36c5.35,0,7.92-.5,11.19-2.28,4.45-2.48,6.24-6.83,6.24-12.08,0-5.54-2.77-10.3-7.13-12.18-3.66-1.58-6.44-2.08-11.09-2.08h-12.47v28.61h13.27Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m154.14,133.29c0-6.53-1.29-9.31-1.58-9.9l5.35-1.39c.3.5,1.68,3.27,1.49,8.32,1.39-2.08,3.27-4.06,5.35-5.54,2.87-2.18,5.64-3.07,8.42-3.07,1.29,0,2.57.4,2.67.5l-2.18,5.74c-.5-.2-1.39-.4-2.18-.4-3.07,0-6.04,1.19-8.61,3.76s-3.37,4.36-3.37,8.32v32.57h-5.35v-38.91Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m206.91,166.56c-4.26,4.65-8.61,6.73-14.26,6.73-12.18,0-15.64-7.13-15.64-13.76,0-11.19,9.6-16.93,25.24-16.93,1.98,0,3.86.1,4.36.2v-4.55c0-4.75-.4-7.33-1.98-9.11-1.68-1.78-3.86-2.87-7.23-2.87-5.84,0-12.28,2.87-15.94,6.04l-2.67-3.86c5.84-4.06,12.38-6.63,19.31-6.63,5.94,0,10,2.18,11.98,6.14,1.78,3.56,1.88,7.23,1.78,11.48l-.4,17.72c-.2,7.82.4,10.79,4.26,12.67l-2.77,3.86c-3.17-1.09-5.25-3.56-6.04-7.13Zm-.69-4.85c-.1-.59,0-3.86,0-4.65,0-1.98.2-8.81.2-10.49-1.19-.1-2.97-.2-4.45-.2-12.97,0-19.01,4.06-19.01,12.67,0,5.94,2.87,10.2,10.59,10.2,5.25,0,10-2.87,12.67-7.52Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m232.05,166.46c-.2,2.28-.5,3.86-1.39,5.74h-5.35c1.09-2.38,1.48-5.64,1.48-12.28v-48.91c0-6.24-1.09-9.6-1.29-10.1l5.35-1.09c.2.5,1.29,4.06,1.29,11.38v12.77c0,1.98-.1,4.36-.1,4.95,4.36-4.75,8.81-6.93,14.35-6.93s10.4,2.28,13.66,6.53c3.37,4.46,4.95,10.49,4.95,18.41,0,7.23-1.58,13.07-3.96,17.23-3.47,5.74-8.61,9.01-15.25,9.01-5.15,0-10.79-2.67-13.76-6.73Zm23.46-3.66c1.88-2.77,3.56-8.12,3.56-16.24,0-7.03-.99-11.58-3.56-14.95-2.38-3.17-6.14-4.75-10.2-4.75-5.05,0-10.2,2.67-13.27,7.03v28.12c2.87,3.96,8.12,6.44,12.87,6.44,4.26,0,8.32-2.18,10.59-5.64Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m303.04,166.56c-4.26,4.65-8.61,6.73-14.26,6.73-12.18,0-15.64-7.13-15.64-13.76,0-11.19,9.6-16.93,25.25-16.93,1.98,0,3.86.1,4.36.2v-4.55c0-4.75-.4-7.33-1.98-9.11-1.68-1.78-3.86-2.87-7.23-2.87-5.84,0-12.28,2.87-15.94,6.04l-2.67-3.86c5.84-4.06,12.38-6.63,19.31-6.63,5.94,0,10,2.18,11.98,6.14,1.78,3.56,1.88,7.23,1.78,11.48l-.4,17.72c-.2,7.82.4,10.79,4.26,12.67l-2.77,3.86c-3.17-1.09-5.25-3.56-6.04-7.13Zm-.69-4.85c-.1-.59,0-3.86,0-4.65,0-1.98.2-8.81.2-10.49-1.19-.1-2.97-.2-4.46-.2-12.97,0-19.01,4.06-19.01,12.67,0,5.94,2.87,10.2,10.59,10.2,5.25,0,10-2.87,12.67-7.52Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m322.93,133.29c0-5.45-.99-8.12-1.68-9.8l5.25-1.39c.2.4,1.58,3.46,1.58,7.82,4.85-5.15,10.2-7.92,15.84-7.92,5.05,0,9.11,2.38,10.99,5.84,1.19,1.88,1.88,4.26,1.88,6.83v37.52h-5.35v-34.75c0-4.65-.79-6.53-2.28-8.42-1.29-1.39-3.66-2.38-6.43-2.38-4.46,0-10.59,3.07-14.55,7.62v37.92h-5.25v-38.91Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m375.7,171.7c-2.67-1.58-3.86-4.55-3.86-9.11v-35.64h-6.43v-4.06h6.43c0-5.05.59-11.58.79-12.67l5.74-1.19c-.3.99-1.09,7.33-1.09,13.86h12.18l-1.68,4.06h-10.69v34.25c0,5.45,1.68,8.12,6.63,8.12,2.28,0,3.76-.4,5.15-1.09l.79,3.56c-2.18,1.09-4.55,1.68-7.72,1.68-2.77,0-4.65-.79-6.24-1.78Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m409.95,123.1l5.35-1.09,9.5,36.73c.79,3.07,1.39,5.94,1.48,6.53h.3c.1-.59.69-3.27,1.39-5.74l9.9-36.63h5.74l9.8,36.73,1.58,5.94h.2c.4-1.88.79-3.76,1.29-5.64l9.4-37.03h5.64l-13.86,49.7h-5.35l-10.59-38.21c-.59-2.08-1.09-4.16-1.19-4.55h-.2c-.1.59-.59,2.97-.99,4.26l-10.59,38.51h-5.05l-13.76-49.5Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m504.89,166.56c-4.26,4.65-8.61,6.73-14.26,6.73-12.18,0-15.64-7.13-15.64-13.76,0-11.19,9.6-16.93,25.24-16.93,1.98,0,3.86.1,4.36.2v-4.55c0-4.75-.4-7.33-1.98-9.11-1.68-1.78-3.86-2.87-7.23-2.87-5.84,0-12.28,2.87-15.94,6.04l-2.67-3.86c5.84-4.06,12.37-6.63,19.3-6.63,5.94,0,10,2.18,11.98,6.14,1.78,3.56,1.88,7.23,1.78,11.48l-.4,17.72c-.2,7.82.4,10.79,4.26,12.67l-2.77,3.86c-3.17-1.09-5.25-3.56-6.04-7.13Zm-.69-4.85c-.1-.59,0-3.86,0-4.65,0-1.98.2-8.81.2-10.49-1.19-.1-2.97-.2-4.46-.2-12.97,0-19.01,4.06-19.01,12.67,0,5.94,2.87,10.2,10.59,10.2,5.25,0,10-2.87,12.67-7.52Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m524.79,164.68v-53.46c0-6.24-.99-9.5-1.19-10.1l5.35-.99c.2.5,1.29,4.06,1.29,11.29v52.07c0,4.16.79,5.35,3.07,5.35.5,0,1.19-.2,1.39-.3l1.19,3.56c-1.58.69-2.47.89-4.06.89-4.75,0-7.03-2.47-7.03-8.32Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m544.39,164.68v-53.46c0-6.24-.99-9.5-1.19-10.1l5.35-.99c.2.5,1.29,4.06,1.29,11.29v52.07c0,4.16.79,5.35,3.07,5.35.5,0,1.19-.2,1.39-.3l1.19,3.56c-1.58.69-2.47.89-4.06.89-4.75,0-7.03-2.47-7.03-8.32Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m566.17,165.07c-2.97-4.46-4.55-10.3-4.55-17.72s1.88-14.06,5.15-18.41c3.07-4.06,8.22-7.23,15.15-7.23,8.12,0,13.27,4.06,16.14,8.42,2.87,4.36,4.36,10.1,4.36,17.92,0,6.73-1.39,11.98-3.76,16.04-3.07,5.45-8.81,9.21-16.53,9.21s-12.87-3.56-15.94-8.22Zm27.82-3.76c1.78-4.06,2.38-7.13,2.38-12.87,0-7.03-.99-11.98-2.87-15.54-1.98-3.96-6.43-6.73-11.68-6.73s-9.6,2.87-11.38,6.14c-1.88,3.37-2.97,8.12-2.97,14.26,0,7.03,1.29,12.97,3.37,16.33,1.88,3.07,6.04,5.94,11.38,5.94,5.94,0,9.9-3.27,11.78-7.52Z' style='fill:%23fff; stroke-width:0px;'/%3E%3Cpath d='m614.09,133.29c0-5.45-.99-8.12-1.68-9.8l5.25-1.39c.2.4,1.58,3.46,1.58,7.82,4.85-5.15,10.2-7.92,15.84-7.92,5.05,0,9.11,2.38,10.99,5.84,1.19,1.88,1.88,4.26,1.88,6.83v37.52h-5.35v-34.75c0-4.65-.79-6.53-2.28-8.42-1.29-1.39-3.66-2.38-6.43-2.38-4.46,0-10.59,3.07-14.55,7.62v37.92h-5.25v-38.91Z' style='fill:%23fff; stroke-width:0px;'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                width: 80vw;
                top: 0;
                position: absolute;
                transform: translateY(-83%);    
                max-width: 650px;
            }
        }
    }
}

.quick-access{
    svg{
        max-height: 45px;
    }

    .body-section{
        li{
            .table_image{
                border-radius: 30px 30px 0 30px;
                transition: all .5s ease;

                .image.d-block{
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    position: relative;
                    transition: all .5s ease;

                    svg {
                        transition: all .5s ease;
                    }

                    .table_title {
                        span {
                            transition: all .5s ease;
                        }
                    }
                }

                &:hover,&:focus {
                    background: #fff;
                    transition: all .5s ease;

                    svg {
                        fill: $primary-svg!important;
                        transition: all .5s ease;
                    }

                    .table_title {
                        span {
                            color: $primary-svg!important;
                            transition: all .5s ease;
                        }
                    }
                }
            }
        }
    }

    .row{
        @include media-breakpoint-down(lg){
            grid-gap: 0;
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(auto-fit,minmax(56px,132px));

            li{
                width: auto!important;
            }
        }
    }

    .section-title{
        font-weight: 400;
        text-transform: uppercase;
        // color: $primary!important;
        margin: 0 0 2rem;
    }
}

.sectionlinks.quick-access .body-section li a {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px 0;
}

.sectionlinks.quick-access .body-section ul {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
