//// VARIABLES
// ... add your variables here

$enable-roboto-webfont: false;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
//// IMPORTS
// Import barceloneta files from node_modules --load-path=node_modules
// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";
// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import './variables';
@import '../../../base/src/scss/main.scss';
//// STYLES
// ... add your styles here
@import "./home/intro.scss";
@import "./home/quick.scss";
@import "./home/a-la-une";
@import "./home/espace-citoyen";
@import "./home/actualites";
@import "./home/events";
@import "./home/footer";
@import "./home/section-en-image";
@import "./info-trav.scss";
@import "./se-link.scss";
@import "./se-files.scss";
@import "./contact.scss";



#portal-header {
    margin:0px;
}

//search
#portal-header #portal-header-top #header-links #search-link a {
    width: 50px;
    height: 50px;
    background: $primary-light;
    transition: all 0.3s ease;
    border:0px solid #fff !important;
    &:before {
        fill: #fff;
    }
}


@media screen and (max-width: 992px) {
    #portal-header #portal-header-top #header-links #search-link a {
        padding-left:0px !important;
    }
}

#portal-header #portal-header-top #header-links #search-link a:hover {
    background: #fff;
}

#portal-header #portal-header-top #portal-logo{
    z-index: 0;
    svg {
        width:160px;
    }
    &:before {
        content: "";
        position: absolute;
        width: 240px;
        height: calc(100% + 1px);
        top: 0;
        bottom: 0;
        left: 0;
        margin-left:-42px;
        background: white;
        z-index: -1;
    }

    &:after {
        background: $primary-light;
        bottom: 0;
        content: "";
        position: absolute;
        left: -100vw;
        top: 0;
        width: 100vw;
        height:475px;
        z-index: 0;
        margin-left:-40px;
        border-radius: 0 0 80px 0;

}
}

@media screen and (max-width: 1400px) {
    #portal-header #portal-header-top #portal-logo{
        svg {
            margin: 0px auto;
        }
        &:before {
            border-radius: 0;
            
        }
        &:after {
            display: none;
    }
    }
}

@media screen and (max-width: 991px) {
    #portal-header #portal-header-top #portal-logo{
        width:140px;
        svg {
            width:140px;
            margin: 0px auto;
        }
        &:before {
            right: 0;
            margin: auto;
            width: 180px;
        }
    }
}

#portal-header #portal-header-top .portal-logo {
    max-width: 240px !important;
    text-align: left !important;
    img {
        max-width: 160px;
    }
    @media screen and (max-width: 992px) {
        img {
            max-width: 100%;
        }
    }
}


.header-custom #banner:after {display: none!important;}

h1 {
    text-transform: uppercase;
}
.smartweb_herobanner .bannerSwiper {
	height: 50vw;
	max-height: 500px;
}




.bannerSwiper .section-slide{
    .swiper-banner-content {display: none;}
    &:after{
        width: 1200px;
        max-width: 90%;
        bottom:-15px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .swiper-banner-image {
        background-position: bottom;
    }
}

.r-item-img.r-item-img-placeholder {
	background: url("../../assets/svg/placeholder.jpg");
	background-size: cover;
	background-position: center;
}

//footer 
footer{
    #container-section-noussuivre{
        .table_title{
            display: none;
        }
        ul.row{
            flex-direction: row;
            flex-wrap: wrap;
            li{
                width: auto;
            }
        }
    }
}

.sectiontext .section-text .body-section figure figcaption {
	display: block;
}

.portaltype-imio-smartweb-directoryview,
.portaltype-imio-smartweb-newsview,
.portaltype-imio-smartweb-eventsview {
    #content > header {
       display: none;
   }
}
// bug z-index

.pagination{
    .page-item.active{
        z-index: 0;
    }
}



footer #container-section-noussuivre{
    li{
        svg{
            path{
                fill: #fff;
            }
        }
        &:nth-child(1), &:nth-child(3){
            svg path:nth-child(2) {
                fill: #3f3f3f !important;
            }
        }
    }
} 
@media screen and (max-width:900px) {
    .portaltype-imio-smartweb-portalpage .section-title {
        font-size: 28px!important;
        margin-bottom: 50px;
    }

    .portaltype-imio-smartweb-portalpage .section-title:after {
        top: 45px;
    }
}

#portal-breadcrumbs{
    background: transparent!important;
    .container,.breadcrumb{
        padding: 0;
    }
}

#portal-globalnav > li a:hover {
	color: $primary-light;
}

#portal-globalnav>li.has_subtree>a:focus, #portal-globalnav>li.has_subtree>a:hover {
    color: $primary-light;
}

#portal-header #portal-header-top #header-links span:hover {
    color: $primary-light;
}

#portal-globalnav>li.has_subtree>a:before {
    background-color: $primary-light;
}
.portaltype-imio-smartweb-portalpage{
    //background: url(../../assets/svg/bg-villers.svg) center 280px no-repeat;
    background-size: cover;
}




// footer
.footer-logo {
    figure img {
        width:100%!important;
    }
}

.footer-slogan {
    .text {
        max-width: 204px;
        text-align: center;
        p {
            font-size: 33px;
            font-weight: 200;
        }
    }
}
.footer-fb {
    .table_image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 10px;
        text-decoration: none;
        .image{
            width: auto;
            svg {
                height: 25px;
                fill: #fff;
            }
        }
    }
}

#portal-footer-wrapper {
    .smartweb_footer{
        .text {
            h4 {
                color:#fff;
            }
        }
    }
}

.r-filter div[class*="control"] {
	border-radius: 5px;
}

.procedure a::after {
    content: "\F135";
    font-family: Bootstrap-icons;
    margin-left: .5rem;
    position: relative;
    top: 3px;
}


// sub-nav

.subsite-container #subsite-logo {
	font-size: 18px;
    background: $primary;
    border-radius: 0px;
}

.sectiontext .section-text .body-section a {
	color: $primary;
}

.sectiontext .section-text .section-title a { text-decoration: none;}
.sectiontext .section-text .section-title a.collapsed {
    color: #000 !important;
}
.sectiontext figure img {
	border-radius: 15px;
}

#viewlet-above-content-body {
    .procedure{
        display: none;
    } 
}


// header common 




.breadcrumb-item {
    a {
     text-decoration: none;
    }
}
.breadcrumb {
	font-size: 13px;
}
#portal-breadcrumbs {
    margin: 0 !important;
    position:relative;
    //z-index: -1;
    .breadcrumb {
        margin: 0!important;
        //background-color: #F6EAD9 !important;
        padding: 15px 30px !important;
        .breadcrumb-item {
            a {
                color:#000000 !important;
                &:hover {
                    color:#000000 !important;
                }
            }
            &.active {
                color:#000000!important ;
            }
            &:before {
                color: #000000!important;
            }
        }
    }
}


.header-custom {
    #banner {
        z-index: -1;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.5) 100%);
        }
    } 



    #portal-breadcrumbs {
        margin: 0 !important;
        //position: absolute;
        z-index: 1;
        .breadcrumb {
            margin: 0!important;
            //background-color: #F6EAD9 !important;
            padding: 15px 30px !important;
            .breadcrumb-item {
                a {
                    color:#000000 !important;
                    &:hover {
                        color:#000000 !important;
                    }
                }
                &.active {
                    color:#CCCCCC!important ;
                }
                &:before {
                    color: #fff!important;
                }
            }
        }
    }
}

.block-menu-element a .card-title.h2, .block-menu-element a h2.card-title {
    font-size: 1rem;
}

.block-menu-element a .card-body {
    background: #fff;
    border-radius: 15px 15px 15px 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.16);
    height:auto;
    margin-bottom: 10px;
    position: relative;
    transition: 1.2s;
}

.template-facetednavigation_view.faceted-map .eea-preview-items .faceted-map-item>a {
    background: none;
}

.template-facetednavigation_view.faceted-map .eea-preview-items .faceted-map-item>a:hover {
    background-color: #ffffff;
}

#portal-column-content .sectioncontact .contact-type-organization {
    background: none;
}
.sectionlinks {
    background: none;
}
.sectionlinks h2:before{
    display:none !important;
}


@media screen and (max-width: 992px) {


      .navbar-dark .navbar-toggler {
        border:none;
      }

      .navbar .container {
        padding: 0px 5px 0 0 !important;
      }
      
    }

//navbar
.navbar-toggler {
    padding: 0px !important;
    background: $primary-light !important;
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: $primary-reddark !important;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

@media screen and (max-width: 992px) {

      .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
      }

      .navbar .container {
        padding: 0px 5px 0 0 !important;
      }
      
    }



    .bloc-newsletter{
        text-align: $newsletter-align;
        position: relative;
        margin: 6rem 0;
        padding-bottom: 6.5rem;
        padding-top: 6rem;

        .image.d-block.w-100 {
            aspect-ratio: auto !important;
            margin-bottom: 0px;
        }

        .section-title{
            font-weight: 800;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            margin: 0 auto 4.5rem;
            width: max-content;
            font-size: 3rem;
            color:#fff;
            &:after{
                left:0%;
                top: 70px;
                bottom: 0px;
                position: absolute;
                content: "";
                display: block;
                height: 13px;
                position: absolute;
                width: 113px;
            }
        }

        @media screen and (max-width:900px) {
            .section-title{
                &:after{
                    top: 45px;
                }
            }
        }
        .table_image {
            text-decoration: none;
            .table_title span {
                background: #ffffff;
                padding: 1rem 3rem;
                border-radius: 8px;  
                color:#000; 
                transition: all .5s ease;
                &:hover {
                    background: #133641 !important;
                    color:#fff !important;   
                    transition: all .5s ease;
                } 
            }
            
            
            @media screen and (max-width:900px) {
                .table_title span {
                    font-size: 14px !important;
                    padding: 1rem 1rem !important;
                }
            }
        }

        
        &:after{
            content: "";
            position: absolute;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            top: 0;
            bottom: 0;
            background:$newsletter-bg-color;
        }
        .lead{
            margin: 0;
        }
    }
    @media screen and (max-width: 992px) {
        .bloc-newsletter{
            margin: 4.5rem 0;
            padding-bottom: 4rem;
            padding-top: 3rem;
    }
}

    .header-custom #portal-breadcrumbs {
        z-index: 0;
    }
    .header-custom #portal-breadcrumbs .breadcrumb .breadcrumb-item a, .header-custom #portal-breadcrumbs .breadcrumb .breadcrumb-item a:hover {
        color: #000000!important;
    }

    .header-custom #portal-breadcrumbs .breadcrumb .breadcrumb-item:before {
        color: #000000!important;
    }

    .header-custom #portal-breadcrumbs .breadcrumb .breadcrumb-item.active {
        color: #000000!important;
        text-decoration: underline;
    }

    #portal-breadcrumbs .breadcrumb .breadcrumb-item a, #portal-breadcrumbs .breadcrumb .breadcrumb-item a:hover, #portal-breadcrumbs .breadcrumb .breadcrumb-item.active, #portal-breadcrumbs .breadcrumb .breadcrumb-item:before {
        color: #000000!important;
    }

    #portal-breadcrumbs .breadcrumb .breadcrumb-item a, #portal-breadcrumbs .breadcrumb .breadcrumb-item a:hover, #portal-breadcrumbs .breadcrumb .breadcrumb-item:before {
        color: #000000!important;
    }

    #portal-breadcrumbs .breadcrumb .breadcrumb-item.active {
        color: #000000!important;
        text-decoration: underline;
    }

    body.template-block_view_with_images .block-menu-element a .card-body {
        background: $primary-svg;
        border-radius: 0px 0px 8px 8px !important;
        box-shadow: 0 1px 4px rgba(0,0,0,0);
        height: 90px;
        color: #ffffff;
        position: relative;

        .card-title {
            font-size: 1rem;
            font-weight: 500;
            text-transform: none;
        }

    }
    #portal-globalnav-wrapper #portal-globalnav > li > .has_subtree, #subsite-navigation #portal-globalnav > li > .has_subtree {
        margin-top: 80px !important;
        margin-left: -20px;
    }

    @media screen and (max-width: 1200px) {
        #portal-globalnav-wrapper #portal-globalnav > li > .has_subtree, #subsite-navigation #portal-globalnav > li > .has_subtree {
            margin-top: 0px !important;
            margin-left: 0px;
        }
    }
    #portal-globalnav {
        
    li .has_subtree {
        
        .nav-title {
            a {
                color: $primary-red;
            }
        }
        .quick-access-title {
            color: $primary-red;
        }

       
    }
}

#subsite-navigation>ul .dropdown .nav-title a {
    color: $primary-red;
}

    .mask-menu {    
        background-color: rgba(15, 11, 11, 0.95);
    }
    @media screen and (min-width: 992px) {
        #portal-globalnav-wrapper #portal-globalnav>li>.has_subtree, #subsite-navigation #portal-globalnav>li>.has_subtree {
            margin-top: 3.5rem;
        }
    }

    @media screen and (max-width: 992px) {

#body-section-en-un-clic li {
    width: 100%!important;
}
    }

   .section-home-page #messagesviewlet {
        position:absolute !important;
        top:100px !important;
        z-index: 1!important;
    }
    #messagesviewlet .portalMessage.info,
    #localmessagesviewlet .portalMessage.info {
        background-color: $primary-light;
        color:#000;
    }
    
    #messagesviewlet .portalMessage.error,
    #localmessagesviewlet .portalMessage.error {
        background-color: $primary-reddark;
        color:#fff;
    }
    
    #messagesviewlet .portalMessage.warning,
    #localmessagesviewlet .portalMessage.warning {
        background-color: $primary-reddark;
        color:#fff;
    }
    
    #messagesviewlet .portalMessage.info .messagesviewlet-type,
    #localmessagesviewlet .portalMessage.info .messagesviewlet-type {
        background: $primary-light;
        color:#000;
    }
    
    #messagesviewlet .portalMessage.warning .messagesviewlet-type,
    #localmessagesviewlet .portalMessage.warning .messagesviewlet-type {
        background: $primary-reddark;
        color:#fff;
    }


    // logo minisite
    #portal-header #portal-header-top .minisite_logo {
        max-width: 240px !important;
        text-align: left !important;
        img {
            max-width: 160px;
        }
        @media screen and (max-width: 992px) {
            img {
                max-width: 100%;
            }
        }
    }

    #portal-footer-wrapper #portal-footer #smartweb-minisite-footer h2 {
        margin-top: 0rem;
    }

    article {
        word-break: break-word;
    }
    .sectiontext p mark, p mark {
        background-color:$primary-light;
        border: 0px;
        border-radius: 8px;
        color: #000;
        display: inline-block;
        font-weight: 500;
        padding: 20px 45px 20px 26px;
        word-break: break-word;
    }

    .sectiontext p mark a, p mark a {
        color: #ffffff;
    }


    .sectiontext h3 {
    font-size: 1.5rem;
    font-weight: 600 !important;
    color: $primary-svg;
}

.sectiontext h4 {
    font-size: 1rem;
    font-weight: 400;
    color: $primary-svg;
}

.subsection-services-communaux-communication-bulletin-communal .block-menu-element a .card-img-top {
    padding-top: 135%;
    background-position: top;
}

.sectiontext ol>li:before {
    content: counter(sectioncounter) "." !important;
}
#portal-footer-wrapper #portal-footer #smartweb-footer a, #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a {
    color:#ffffff;
    transition: all .5s ease;
}
#portal-footer-wrapper #portal-footer #smartweb-footer a:hover, #portal-footer-wrapper #portal-footer #smartweb-minisite-footer a:hover {
    color:#ffffff;
    transition: all .5s ease;
}

#portal-header #portal-header-top #header-links span {
    color: #ffffff;
    text-decoration: none;
}

#portal-header #portal-header-top #header-links .account {
    text-decoration: none;
}


#localmessagesviewlet .portalMessage .close-button:after, #messagesviewlet .portalMessage .close-button:after {
    content: "";
    height: 25px;
}

#localmessagesviewlet .portalMessage .messagesviewlet-type:after, #messagesviewlet .portalMessage .messagesviewlet-type:after {
    content: ":";
    margin-left: 5px !important;
}

.block-menu-element .card-body .card-text:after {
    content: "";
    background: linear-gradient(275deg, $primary-red, transparent);
    top: 1.5rem;
    position: absolute;
    height: 1.5rem;
    right: 0;
    width: 50%;
}



#subsite-navigation > ul > li > a {
    align-items: center;
    color: #000;
    display: flex;
    padding: 0px;
    font-size: 15px;
}