.portaltype-imio-smartweb-page #main-container .sectionlinks {
    
    background-color: white;



    .section-container{
        .rich_description {
            display: none;
        }

        & > div{
            .section-title{
                font-weight: 400;
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 2vw;
                font-family: $font-family-base;
                
                
            }

            .body-section{
                .row{
                    flex-direction: row;
                    list-style-type: none;
                    gap: 30px 2%;

                    li{
                        padding: 0;
                    }

                    .table_image{
                        display:flex;
                        width:100%;
                        gap: 20px;

                    .image {
                        width: auto;

                        svg {
                            max-width: 120px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border: solid 1px rgb(165, 169, 172);
                            border-radius: 5px;
                            width: auto;
                            height: auto;
                            padding: 1rem;
                        }
                    }

                    .table_title{
                        span{
                            display: flex;
                            align-items: first baseline;
                            gap: 10px;
                        }
                    }
                }
                }

            }
        }
    }
}