footer {
    background: $primary;
}
footer div#smartweb-footer {
    background: $primary;
        h2, div a, ul li a, span {
        color: #fff !important;
        }
        .table_tittle span {
            font-size: 1rem;
        }
}

footer .image.d-block {
    display: none;
}
footer .smartweb-footer {
    .sectiontext .section-text .body-section.figure-top figure {
        margin-top: 0rem;
    }
    .container > .row {
    padding: 5rem 0;
    }
}
div#portal-colophon {
    background-color: $primary;
}
.colophon.row {
    background: $primary;
}