.sectionevents {
  margin-bottom: 110px;

  &::after {
    content: "";
    background: url("../../assets/svg/img-agenda.jpg") left no-repeat
      $primary-blue;
    left: 0;
    width: calc(100vw - 30px);
    height: 100%;
    bottom: 0;
    position: absolute;
    border-radius: 0 60px 60px 0;
    z-index: -1;
  }

  .section-title {
    font-weight: 500;
    position: relative;
    text-align: center;
    width: max-content !important;
    text-transform: uppercase;
    color: #fff;
    padding-left: 0;
    margin: 0 auto 50px;

    &::before {
      content: "";
      display: block;
      height: 2px;
      left: -50px;
      top: 50%;
      position: absolute;
      bottom: 25%;
      transform: translate(-50%, 50%);
      width: 70px;
      background: #fff;
    }

    &::after {
      content: "";
      display: block;
      height: 2px;
      left: calc(100% + 50px);
      top: 50%;
      position: absolute;
      bottom: 25%;
      transform: translate(-50%, 50%);
      width: 70px;
      background: #fff;
    }
  }

  @media screen and (max-width: 900px) {
    .section-title {
      font-size: 22px !important;

      &::before {
        left: -30px;
        width: 30px;
      }

      &::after {
        left: calc(100% + 30px);
        width: 30px;
      }
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      transition: all 0.25s ease;

      & > a {
        display: block;
        align-items: center;

        .swiper-image {
          padding-bottom: 55%;
          transition: all 0.25s ease;
          margin-bottom: 0;
        }

        .swiper_category {
          margin-left: 0;
          position: relative;
          width: max-content;
          margin-top: -37px;
          left: 0;
        }

        .swiper_date {
          font-family: $font-family-base;
          grid-row-start: 2;
          text-align: center;
          margin: 1.5rem auto 0.5rem;
          justify-content: center;
          color: #fff;
        }

        .swiper_title {
          margin-top: 10px;
          text-align: center;
          width: 100%;

          h3 {
            font-family: $font-family-base;
          }
        }

        .swiper_description {
          display: none;

          p {
            margin: 0;
          }
        }

        &:hover {
          .swiper-image {
            mask-size: 99%;
          }
        }
      }

      &:hover {
        transform: translateY(10px);
        transition: 0.5s;
      }
    }
  }
}
