//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import './variables';
@import '../../../base/src/scss/main.scss';

//// STYLES

// ... add your styles here

@import "./home/intro.scss";
@import "./home/quick.scss";
@import "./home/a-la-une";
@import "./home/espace-citoyen";
@import "./home/actualites";
@import "./home/events";
@import "./home/footer";
@import "./home/section-en-image";
@import "./info-trav.scss";
@import "./se-link.scss";
@import "./se-files.scss";
@import "./contact.scss";
@import "./slide-th.scss";

body {
    background: linear-gradient(180deg,#fff 0,#fff 500px,#F9F9F9);
}


// Banner after formes
.swiper-banner-image::after {
    content: url("../../assets/svg/after-banner.svg");
    position: absolute;
    top: 0;
    display: block;
    line-height: 0;
    width: 390px;

    @include media-breakpoint-down(xl){
        content:none;
    }
}

@media screen and (max-width: 1900px) {
    .swiper-banner-image::after {
        left:-50px!important;
    }
    }

    @media screen and (max-width: 1800px) {
        .swiper-banner-image::after {
            left:-180px!important;
        }
        }

        @media screen and (max-width: 1540px) {
            .swiper-banner-image::after {
                left:-230px!important;
            }
            }

            @media screen and (max-width: 1200px) {
                .swiper-banner-image::after {
                    left:-650px!important;
                }
                }

// Banner Six and the city titre
.bannerSwiper .section-slide{
    &::after{
        content: url("../../assets/svg/banner-slogan.svg");
        width: 500px;
        max-width: 60%;
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// Team par dessus banner
.cont-team {
    content: url("../../assets/svg/teamwebp.webp");
        width: 500px;
        max-width: 60%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: -70px;
}

// Bloc 2 logos de partenaires (ploneconf et imio)
.bloc_partenaires {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    margin: 120px auto 0;
    width: 90%;
    max-width: 500px;  

    .logo1 {
        content: url("../../assets/svg/logo-ploneconf.svg");
            width: 100%;
            left:Opx;
            position: relative;
    }  

    .logo2 {
        content: url("../../assets/svg/logo-imio.svg");
            width: 100%;
            right:0;
            position: relative;
    }  

    &::after {
        content: url("../../assets/svg/after-partenaires.svg");
        position: absolute;
        top: 300px;
        right: -10px;
        display: block;
        line-height: 0;

        @include media-breakpoint-down(xl){
            content:none;
        }
    }
}

@media screen and (max-width: 768px) {
    .bloc_partenaire {
        margin:80px auto 0;
    }
    }


// Bloc présentation image + zone de texte
.bloc_presentation {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr;
    margin: 120px auto;
    align-items: center;
    position:relative;
    width: 90%;
    max-width: 1200px; 

    &::after {
        content: url("../../assets/svg/img-before.svg");
        position: absolute;
        top: 70px;
        left: -125px;
        display: block;
        line-height: 0;
        z-index: -1;

        @include media-breakpoint-down(xl){
            content:none;
        }
    } 

    .img1 {
        content: url("../../assets/svg/img1.jpg");
            width: 100%;
            left:Opx;
            position: relative;
            border-radius: 350px;
            border-bottom-left-radius: 80px;  
    }

    .texte {
        position:relative;

        .titre {
            font: 700 28px/38px "Roboto";
            color: #292929;
        }

        .sous-titre {
            font: 500 18px/28px "Playfair Display";
            color: #DE047B;
            margin-bottom: 20px;
        }

        p {
            font: 400 14px/30px "Roboto";
            color: #292929;
            margin-bottom: 30px;
        }

        .btn {
            width: 50px;
            height: 50px;
            display: inline-block;
            vertical-align: top;
            border-radius: 50%;
            background: url("../../assets/svg/btn-plus.svg") 50% no-repeat #DE047B;

            &:hover {
                background: url("../../assets/svg/btn-plus.svg") 50% no-repeat #292929;
            }
        }
    }  
}

@media screen and (max-width: 768px) {
    .bloc_presentation {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr;
        margin: 60px auto;
        align-items: center;
        position:relative;
        width: 90%;
        max-width: 1200px; 

        .img1 {
            content: url("../../assets/svg/img1.jpg");
                width: 100%;
                left:Opx;
                position: relative;
                border-radius: 30px
        }
    }
    }


// Bloc Step by step (6 images)
.bloc_stepbystep {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 200px auto 120px;
    align-items: center;
    position:relative;
    width: 90%;
    max-width: 1200px; 
    background: #fff;
    background-color: #fff;
    box-shadow: 0 0 15px 0 #F1F1F1;
    border-radius:50px;
    padding:80px;

    &::before {
        content: url("../../assets/svg/before-step.svg");
        position: absolute;
        top: -280px;
        right: 50px;
        display: block;
        line-height: 0;
        z-index: -1;

        @include media-breakpoint-down(xl){
            content:none;
        }
    } 

    &::after {
        content: url("../../assets/svg/after-step.svg");
        position: absolute;
        bottom: -180px;
        left: 20px;
        display: block;
        line-height: 0;
        z-index: -1;

        @include media-breakpoint-down(xl){
            content:none;
        }
    } 

    .cont{
        text-align: center;

        .img1{
            content: url("../../assets/svg/step-img1.webp");
            width: 100%;
            position: relative;
            margin-bottom:20px;
        }

        .img2{
            content: url("../../assets/svg/step-img2.webp");
            width: 100%;
            position: relative;
            margin-bottom:20px;
        }

        .img3{
            content: url("../../assets/svg/step-img3.webp");
            width: 100%;
            position: relative;
            margin-bottom:20px;
        }

        .img4{
            content: url("../../assets/svg/step-img4.webp");
            width: 100%;
            position: relative;
            margin-bottom:20px;
        }

        .img5{
            content: url("../../assets/svg/step-img5.webp");
            width: 100%;
            position: relative;
            margin-bottom:20px;
        }

        .img6{
            content: url("../../assets/svg/step-img6.webp");
            width: 100%;
            position: relative;
            margin-bottom:20px;
        }

        .titre {
            font: 700 28px/38px "Roboto";
            color: #292929;
        }

        .sous-titre {
            font: 500 18px/28px "Playfair Display";
            color: #DE047B;
            margin-bottom: 20px;
        }
    }
}

// Bloc conclusion image + zone de texte
.bloc_conclusion {
    margin:80px auto 200px;

    &::after {
        content: url("../../assets/svg/img2-before.svg");
        position: absolute;
        top: 125px;
        right: -90px;
        left:auto;
        display: block;
        line-height: 0;
        z-index: -1;

        @include media-breakpoint-down(xl){
            content:none;
        }
    } 

    .img2 {
        content: url("../../assets/svg/img2.jpg");
            width: 100%;
            left:Opx;
            position: relative;
            border-radius: 350px;
            border-bottom-right-radius: 80px;  
    }
}

@media screen and (max-width: 768px) {
    .bloc_conclusion {
        display: grid;
        grid-gap: 40px;
        grid-template-columns: 1fr;
        margin: 60px auto;
        align-items: center;
        position:relative;
        width: 90%;
        max-width: 1200px; 

        .img2 {
            content: url("../../assets/svg/img2.jpg");
                width: 100%;
                left:Opx;
                position: relative;
                border-radius: 30px
        }
    }
    }


@media screen and (max-width: 992px) {
    .bloc_stepbystep {
        display: grid;
        grid-gap: 60px;
        padding:40px;
        grid-template-columns: 1fr 1fr;
        margin:0;
        width: 100%;
    }
    }


    @media screen and (max-width: 600px) {
        .bloc_stepbystep {
            width: 100%;
            display: grid;
            grid-gap: 40px;
            padding:20px;
            grid-template-columns: 1fr;
            margin:0;
        }
        }









@media screen and (max-width: 992px) {
#portal-header #portal-header-top #header-links #search-link {
    display: none;
}
}

@media screen and (min-width: 992px) {
    .section-index #portal-header #portal-header-top, .section-home #portal-header #portal-header-top {
        position: absolute;
        width:100%;
        gap :10px;
    }
    
  }


#portal-header #portal-header-top::after {
    background: none!important;
}




h1 {
    font-family: $font-family-base!important;
    font-weight: 400!important;
}

.smartweb_herobanner .bannerSwiper {
	height: 50vw;
	max-height: 500px;
}


.r-item-img.r-item-img-placeholder {
	background: url("../../assets/svg/placeholder.jpg");
	background-size: cover;
	background-position: center;
}

//footer 
footer{
    #container-section-noussuivre{
        .table_title{
            display: none;
        }

        ul.row{
            flex-flow: row wrap;

            li{
                width: auto;
            }
        }
    }
}



.sectiontext .section-text .body-section figure figcaption {
	display: block;
}

.portaltype-imio-smartweb-directoryview,
.portaltype-imio-smartweb-newsview,
.portaltype-imio-smartweb-eventsview {
    #content > header {
       display: none;
   }
}

// bug z-index

.pagination{
    .page-item.active{
        z-index: 0;
    }
}



footer #container-section-noussuivre{
    li{
        svg{
            path{
                fill: #fff;
            }
        }

        &:nth-child(1), &:nth-child(3){
            svg path:nth-child(2) {
                fill: #3f3f3f !important;
            }
        }
    }
} 

@media screen and (max-width:900px) {
    .portaltype-imio-smartweb-portalpage .section-title {
        font-size: 34px!important;
    }
}

#portal-breadcrumbs{
    background: transparent!important;

    .container,.breadcrumb{
        padding-left: 0;
    }
}

#portal-globalnav > li a:hover {
	color: $primary-svg;
}

.portaltype-imio-smartweb-portalpage{

    //background: url(../../assets/svg/bg-villers.svg) center 280px no-repeat;
    background-size: cover;
}




// footer
.footer-logo {
    figure img {
        width:250px!important;
    }
}

.footer-slogan {
    .text {
        max-width: 204px;
        text-align: center;

        p {
            font-size: 33px;
            font-weight: 200;
        }
    }
}

.footer-fb {
    .table_image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 10px;
        text-decoration: none;

        .image{
            width: auto;

            svg {
                height: 25px;
                fill: #fff;
            }
        }
    }
}

.r-add-contact a, .r-add-event a, .r-add-news a {
	background: #fff;
	color: #000;
	padding: 1rem;
	text-decoration: none;
    border-radius: 0;
}

.r-filter div[class*="control"] {
	border-radius: 5px;
}

.procedure a::after {
    content: "\F135";
    font-family: Bootstrap-icons;
    margin-left: .5rem;
    position: relative;
    top: 3px;
}


// sub-nav

.subsite-container #subsite-logo {
	font-size: 18px;
}

.sectiontext .section-text .body-section a {
	color: $primary;
}

.sectiontext figure img {
	border-radius: 15px;
}

#viewlet-above-content-body {
    .procedure{
        display: none;
    } 
}


// header common 

.breadcrumb-item {
    a {
     text-decoration: none;
    }
}

.breadcrumb {
	font-size: 13px;
}

#portal-breadcrumbs {
    margin: 0 !important;
    position:relative;
    z-index: 1;

    .breadcrumb {
        margin: 0!important;
        background-color: #F1F1F1 !important;
        padding: 15px 30px !important;

        .breadcrumb-item {
            a {
                color:#000 !important;

                &:hover {
                    color:#000 !important;
                }
            }

            &.active {
                color:#000!important ;
            }

            &::before {
                color: #000!important;
            }
        }
    }
}


.header-custom {
    #banner {
        z-index: -1;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(0deg, rgba(0,0,0,0%) 0%, rgba(0, 0, 0, 50%) 100%);
        }
    } 



    #portal-breadcrumbs {
        margin: 0 !important;
        position: absolute;
        z-index: 1;

        .breadcrumb {
            margin: 0!important;
            background-color: #F1F1F1 !important;
            padding: 15px 30px !important;

            .breadcrumb-item {
                a {
                    color:#000 !important;

                    &:hover {
                        color:#000 !important;
                    }
                }

                &.active {
                    color:#CCC!important ;
                }

                &::before {
                    color: #fff!important;
                }
            }
        }
    }
}

.block-menu-element a .card-title.h2, .block-menu-element a h2.card-title {
    font-size: 1rem;
}

.block-menu-element a .card-body {
    background: #fff;
    border-radius: 15px 15px 15px 0;
    box-shadow: 0 1px 4px rgba(0,0,0,16%);
    height:auto;
    margin-bottom: 10px;
    position: relative;
    transition: 1.2s;
}

.template-facetednavigation_view.faceted-map .eea-preview-items .faceted-map-item>a {
    background: none;
}

.template-facetednavigation_view.faceted-map .eea-preview-items .faceted-map-item>a:hover {
    background-color: #fff;
}

#portal-column-content .sectioncontact .contact-type-organization {
    background: none;
}

.sectionlinks {
    background: none !important;
}

.sectionlinks h2::before{
    display:none !important;
}

@media screen and (max-width: 992px) {
      .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e") !important;
      }

      #portal-globalnav-wrapper  {
        width:120px;
    }

      .navbar .container {
        padding: 0 5px 0 0 !important;
        justify-content: right;
      }
      
    }

    @media screen and (min-width: 992px) {
        #portal-globalnav-wrapper #portal-globalnav > li > .has_subtree, #subsite-navigation #portal-globalnav > li > .has_subtree {
          margin-top: 5rem !important;
      }

      #portal-globalnav > li.has_subtree > a::before {
        background-color: $primary-svg;
    }
}

    @media screen and (min-width: 1200px) {
        #portal-globalnav {
            gap: 20px;
            justify-content: right;
        }
        
      }

      //search
#portal-header #portal-header-top #header-links #search-link a {
    width: 50px;
    height: 50px;
    border: 0;
    background: #DE047B;
    transition: all 0.3s ease;
}

#portal-header #portal-header-top #header-links #search-link a:hover {
    background: #292929;
}

#portal-languageselector {
    margin-left: 0;
}

.language-en {
    float: left;

    a {
    font-size: 0;
    background: #FFF;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    float: left;    
    text-decoration: none;
    transition: all .3s ease;

    &::after { 
        color: #292929;
        content: "EN";
        font-size: 16px;
        position: relative;
        line-height: 50px;
        margin-left: 15px;
        font-weight: bold;

    }

    &:hover {
        background: #F1F1F1;
        transition: all .3s ease;
    } 
}

       
   
}

#portal-header #portal-header-top #header-links {
    gap: 15px !important;
}

.language-fr {
    float: left;

    a {
    font-size: 0;
    background: #FFF;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    float: left;    
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease;
    margin-left:0;

    &::after { 
        color: #292929;
        content: "FR";
        font-size: 16px;
        position: relative;
        line-height: 50px;
        margin-left: 15px;
        font-weight: bold;
    } 

    &:hover {
        background: #F1F1F1;
        transition: all .3s ease;
    } 
    }   

    
}

.currentLanguage {
    a{
        background: #F1F1F1 !important;
    }
}


.sectiontext ul li::before {
    content: "";
    left: 0;
    position: absolute;
    top: 8px;
    background: #de047b;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

#body-section-procedure {
    figure img {
        width:100px!important;
    }
}

#body-section-page {
    figure img {
        width:100px!important;
    }
}

#body-section-news {
    figure img {
        width:100px!important;
    }
}

#body-section-event {
    figure img {
        width:100px!important;
    }
}


.portaltype-imio-smartweb-page #main-container .sectionlinks .section-container>div .body-section .row {

    gap: 10px 2%;
}

.portaltype-imio-smartweb-page #main-container .sectionlinks .section-container>div .body-section .row .table_image {
    text-decoration: none;
}

.portaltype-imio-smartweb-page #main-container .sectionlinks .section-container>div .body-section .row .table_image .table_title span {
    position: relative;
    padding-left: 20px;
}

.portaltype-imio-smartweb-page #main-container .sectionlinks .section-container>div .body-section .row .table_image .table_title span::before {
    background: #de047b;
    border-radius: 50%;
    content: "";
    height: 6px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 6px;
}