.slide_th {
    background: #fff;
    margin: 4vw 0;
    border-radius: 50px;
    box-shadow: 0 0 15px 0 #f1f1f1;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.theme_slide {
    background: url("../../assets/svg/slide-themes.svg");
    width: 85%;
    padding-bottom: 36%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}