.a-la-une .swiper-slide > a {
  grid-template-columns: 70% 30%;
}

.a-la-une .swiper-slide .swiper_title {
  border-radius: 10px 10px 0 0;
}

.a-la-une .swiper-slide .swiper_description {
  border-radius: 0 0 10px;
}

.a-la-une {
  .swiper_items_wrapper {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 10%) 0 4px 12px;

    @media screen and (min-width: 992px) {
      margin: 5rem 1rem 0 -11rem;
    }
  }
}
