.a-la-une.home-dossiers {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  width: auto;

  .swiper-slide > a {
    background: transparent;
  }

  .see_all {
    display: none;
  }

  .auth_source_container_title {
    display: none;
  }

  &::before {
    content: "";
    background: #fff;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    height: 142px;
    z-index: -1;
    width: 100vw;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    background: url("../../assets/svg/rond-carre.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 140px;
    aspect-ratio: 1.1;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
    transform: translate(-35%, calc(50% - var(--triangle-translate)))
      rotate(var(--triangle-rotate));
    transition: transform 0.1s linear;
  }

  .swiper-pagination {
    display: none;
  }

  .swiper-slide {
    padding: 30px;

    .swiper-image {
      max-width: 520px;
      padding-bottom: 0 !important;
      height: auto;
      aspect-ratio: 1;
      transform: rotate(-7deg);
      background-size: cover;
      background-repeat: no-repeat;

      /* valeurs par défaut */
      --triangle-translate: 0px;
      --triangle-rotate: 0deg;

      &::before {
        content: "";
        background: url("../../assets/svg/triangle-une.svg");
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        width: 70px;
        max-width: 72px;
        aspect-ratio: 1.1;
        position: absolute;
        top: 50%;
        left: 0;

        transform: translate(-35%, calc(-50% + var(--triangle-translate)))
          rotate(var(--triangle-rotate));
        transition: transform 0.1s linear;
      }
    }

    .swiper_category {
      display: none;
    }

    .swiper_title {
      &::before {
        content: "à la une";
        text-transform: uppercase;
        font-size: 13px;
        background-color: #fff;
        font-family: $font-family-title;
        padding: 7px 10px 3px;
        border-radius: 50px;
        margin-bottom: 10px;
      }

      h3 {
        margin-top: 45px;
      }
    }

    .swiper_description p {
      font-size: 1rem;
      color: #757890;

      &::after {
        content: "En savoir plus";
        font-size: 16px;
        font-family: $font-family-title;
        margin-top: 20px;
        display: block;
        color: #40435d;
        border-bottom: #40435d 2px solid;
        width: max-content;
      }
    }

    .swiper_title {
      align-self: end;
    }

    .swiper_date {
      align-self: end;
      grid-column: 2;
      grid-row: 1;
      font-weight: 500;
      transform: translateY(-188%);
      margin-left: 1.3rem;
    }
  }
}

.sectionevents.a-la-une .swiper-slide > a {
  grid-template-columns: 43% 50%;
  justify-content: center;
  grid-template-rows: inherit;
  display: block;
}

@media screen and (min-width: 992px) {
  .sectionevents.a-la-une .swiper-slide > a {
    display: grid;
  }
}

@media screen and (min-width: 992px) {
  .sectionevents.a-la-une .swiper-slide .swiper_description {
    padding: 0 36px 36px;
    margin: 0;
    background: transparent;
    grid-column: 2;
    grid-row: 2;
  }
}

@media screen and (min-width: 992px) {
  .a-la-une .swiper-slide .swiper_title {
    align-self: start;
    padding: 36px 36px 0;
    margin: 0;
    background: transparent;
    grid-column: 2;
    grid-row: 1;
  }
}
