.a-la-une.home-brocantes {
  background-color: #e6efeb;
  border-radius: 16px;
  margin-top: -250px;
  font-family: $font-family-title;

  &::after {
    content: '';
    background: #fff;
    width: 100vw;
    bottom: 0;
    top: 0;
    display: block;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-slide {
    padding-top: 25px;

    & > a {
      &:hover,
      &:focus {
        .swiper-image {
          &::after {
            transform: rotate(0);
            width: 99%;
            height: 99%;
          }

          &::before {
            transform: rotate(0);
            width: 99%;
            height: 99%;
          }
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    .swiper-slide .swiper_description {
      grid-column: 1 !important;
      grid-row: 2;
    }
  }

  @media screen and (min-width: 992px) {
    .swiper-slide .swiper_title {
      grid-column: 1 !important;
      grid-row: 1;
    }
  }

  @media (min-width: 992px) {
    .swiper-slide > a {
      display: grid;
      grid-template-columns: 50% 40%;
      grid-template-rows: auto 1fr;
      justify-content: space-around;
    }
  }

  .swiper-image {
    border-radius: 16px;
    padding-bottom: 0;
    aspect-ratio: 1.4;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 101%;
      height: 101%;
      border-radius: 16px;
      background: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 10%);
      transform: rotate(-3deg);
      padding: 20px;
      z-index: -1;
      transition: 0.2s ease;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 101%;
      height: 101%;
      border-radius: 16px;
      background: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 10%);
      transform: rotate(-6deg);
      padding: 20px;
      z-index: -1;
      transition: 0.2s ease;
    }
  }

  .swiper_title {
    position: relative;
    margin-bottom: 1rem;

    h3 {
      font-size: 32px;
      font-weight: 500;
    }

    &::before {
      content: url('../../assets/svg/broctie.svg');
      max-width: 53px;
      display: block;
      margin-bottom: 1.5rem;
    }
  }

  .swiper_description {
    p {
      font-size: 1.1rem;
      color: #40435d;

      &::after {
        content: 'Voir tout'
          url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg id='Group_697' data-name='Group 697' transform='translate(-484 -2992)'%3E%3Ccircle id='Ellipse_70' data-name='Ellipse 70' cx='20' cy='20' r='20' transform='translate(484 2992)' fill='%2381b19a'/%3E%3Cg id='Group_696' data-name='Group 696' transform='translate(394.5 3001.5)'%3E%3Cline id='Line_8' data-name='Line 8' x2='4' y2='4' transform='translate(107.5 6.5)' fill='none' stroke='%2340435d' stroke-linecap='round' stroke-width='1.5'/%3E%3Cline id='Line_9' data-name='Line 9' y1='4' x2='4' transform='translate(107.5 10.5)' fill='none' stroke='%2340435d' stroke-linecap='round' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 3rem;
      }
    }
  }
}
