#portal-footer-wrapper {
  margin-top: 3vw;
  padding-top: 4vw;
  background-color: $primary;
  text-align: left;

  h2,
  h3,
  p,
  span,
  a,
  li,
  svg {
    color: #ffff !important;
    fill: #ffff !important;
    font-size: 15px;
  }

  h2,
  h3 {
    font-weight: bold;
    font-size: 17px;
  }

  .schedule .opening_informations::after {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="8.444" height="5.2"><path fill="white" d="M.247.254a.831.831 0 0 1 1.2 0l2.78 2.854L7.011.254A.831.831 0 0 1 8.2.264a.882.882 0 0 1 .01 1.215L4.825 4.946a.835.835 0 0 1-.6.254 1.529 1.529 0 0 1-.6-.254L.247 1.479a.882.882 0 0 1 0-1.226Z"/></svg>');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }
}

body:not(.is-in-minisite) #portal-colophon {
  &::before {
    content: url(' ../../assets/svg/logo-footer.svg ');
    display: block;
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
  }
}
