//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
@import "../../../base/src/scss/main";
@import "./banner";
@import "./quick-access";
@import "./a-la-une";
@import "actu";
@import "footer";
@import "citoyen";
@import "broctie";
@import "./common/se-link-file";
@import "./common/sectiongallery";

.see_all a::after {
  display: none;
}

.sectionevents .see_all a {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 50px;

  &:hover,
  &:focus {
    background: $primary;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
  }
}

.home-partenaires {
  padding: 4vw 0;
  background-color: #fff;

  &::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 100vw;
    left: 50%;
    z-index: -1;
    display: block;
    top: 0;
    bottom: 0;
    transform: translateX(-50vw);
  }

  .row {
    gap: 0 40px;
    justify-content: center;
    margin-top: 2rem;
  }

  li {
    width: 100%;
    max-width: 225px;
  }

  .section-title {
    text-align: center;
  }

  .table_image {
    text-decoration: none;
  }

  .image.d-block {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .table_title {
    text-align: center;

    span {
      font-weight: bold;
      font-family: $font-family-title;
    }
  }
}

#portal-header #portal-header-top #header-links #search-link a {
  background-color: $green;
}

#portal-header #portal-header-top #header-links {
  font-size: 18px;
  font-family: $font-family-title;
}

.contact-type-position {
  background-color: #f1f1f1;
}

#portal-column-content .section-contact .contact-type-position {
  margin: 0.5rem;
  padding: 1rem;
}

.sectiontext .section-text .body-section a {
  color: $primary;
  font-weight: 700;
  text-decoration: none;
  border-bottom: solid 2px transparent;

  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom: solid 2px $green;
  }
}

.sectiontext .section-text .body-section .text {
  padding-bottom: 2vw;
}

.subsite-container {
  font-family: $font-family-title;
  font-weight: 500;
}

.is-in-subsite {
  #banner {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 300px;
  }

  @media screen and (max-width: 767px) {
    #banner {
      height: 150px;
    }
  }
}

.template-facetednavigation_view .faceted-top-widgets input#search_button {
  background: $primary !important;
}

.subsection-service-communaux-communication-publications.template-facetednavigation_view
  .card-img-top {
  aspect-ratio: 0.7;
  padding-top: initial;
}

html .r-list-item-group:hover .r-item-arrow-more {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.44 10'%3E%3Cg data-name='Calque 2'%3E%3Cg data-name='Calque 1'%3E%3Cpath d='M1 5h18.44' data-name='Ligne 7' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-width:2px'/%3E%3Cpath d='m14.83 1 4.61 4' data-name='Ligne 8' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-width:2px'/%3E%3Cpath d='m14.83 9 4.61-4' data-name='Ligne 9' style='fill:none;stroke:%23000;stroke-linecap:round;stroke-width:2px'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    #81b19a;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 20px;
}

.portaltype-imio-smartweb-portalpage.section-home-page {
  .smartweb_herobanner .bannerSwiper {
    height: auto;
  }
}

.r-add-contact,
.r-add-news,
.r-add-event {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $green;
  font-weight: 500;
}
