.a-la-une {
  //background: url(../../assets/svg/bg-a-la-une.svg) center top no-repeat $primary;
  background-size: 100%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  max-width: 100vw;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  @media screen and (max-width: 992px) {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    margin: 3rem 0 0;
  }

  &::before {
    display: none;
  }

  .swiper-wrapper {
    padding-bottom: 0;
  }

  @media screen and (max-width: 992px) {
    .swiper-wrapper {
      padding-bottom: 180px;
    }
  }

  .swiper-pagination {
    display: none;
  }

  .section-title {
    font-weight: 350;
    font-size: 45px;
    position: absolute;
    z-index: 0;
    margin-top: 10px;
    left: calc(60% + 60px);
    color: $primary-red;
    display: none;
  }

  .swiper_date {
    display: none;
  }

  .swiper-slide {
    .swiper-image {
      border-radius: 20px;
    }

    .swiper_title {
      background: transparent;
      width: 100%;
    }

    .swiper_description {
      font-size: 16px;
      color: $primary;
      background: #fff !important;
      position: relative;
      min-width: 300px !important;

      p {
        color: $primary !important;
        text-align: left;
        padding-left: 45px;

        @media screen and (max-width: 992px) {
          padding-left: 0;
        }
      }

      &::after {
        background: #fff;
        color: #000;
        border: solid 1px #cbcbcb;
        font-weight: 400;
        border-radius: 8px;
        bottom: -60px;
        content: 'Lire plus';
        left: 60px;
        padding: 15px 30px;
        position: absolute;
        top: auto;
        width: auto;
        z-index: 2;
        font-size: 16px;
        transition: all 0.5s ease;

        @media screen and (max-width: 992px) {
          left: 20px !important;
        }
      }

      &:hover {
        &::after {
          background: #000;
          color: #fff;
          border: solid 1px #000;
          transition: all 0.5s ease;
        }
      }
    }

    .swiper_title h3 {
      margin-bottom: 20px;
      padding-left: 45px;
      padding-top: 10px;
      font-weight: 500 !important;
      text-align: left;
      position: relative;
      font-size: 2rem;
      color: $primary-red;

      @media screen and (max-width: 992px) {
        padding: 10px 0 !important;
      }
    }

    a {
      display: grid;
      grid-template-columns: 60% 40%;
      //grid-template-rows: auto 1fr;
    }

    @media screen and (max-width: 992px) {
      .swiper_title h3 {
        padding: 0 1rem;
      }

      a {
        grid-template-columns: 100% !important;
        //grid-template-rows: 1fr !important;
      }
    }

    .swiper_description {
      font-size: 16px;

      p {
        color: #fff;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 50% !important;
    box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
  }

  .swiper-button-prev {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M14 17.75a.74.74 0 0 1-.53-.22l-5-5a.75.75 0 0 1 0-1.06l5-5a.75.75 0 0 1 1.06 1.06L10.06 12l4.47 4.47a.75.75 0 0 1 0 1.06a.74.74 0 0 1-.53.22Z" fill="%23ffffff"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: $primary-red;
    left: 50%;
    margin-left: 0;
    margin-bottom: 60px;
    top: auto !important;
    bottom: 0;
  }

  .swiper-button-next {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M10 17.75a.74.74 0 0 1-.53-.22a.75.75 0 0 1 0-1.06L13.94 12L9.47 7.53a.75.75 0 0 1 1.06-1.06l5 5a.75.75 0 0 1 0 1.06l-5 5a.74.74 0 0 1-.53.22Z" fill="%23ffffff"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: $primary-red;
    left: 50%;
    margin-left: 50px;
    margin-bottom: 60px;
    top: auto !important;
    bottom: 0;
  }

  @media screen and (max-width: 992px) {
    .swiper-button-prev {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M14 17.75a.74.74 0 0 1-.53-.22l-5-5a.75.75 0 0 1 0-1.06l5-5a.75.75 0 0 1 1.06 1.06L10.06 12l4.47 4.47a.75.75 0 0 1 0 1.06a.74.74 0 0 1-.53.22Z" fill="%23ffffff"/></svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      left: 0;
      margin-left: 20px;
      top: auto !important;
      bottom: 0;
    }

    .swiper-button-next {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M10 17.75a.74.74 0 0 1-.53-.22a.75.75 0 0 1 0-1.06L13.94 12L9.47 7.53a.75.75 0 0 1 1.06-1.06l5 5a.75.75 0 0 1 0 1.06l-5 5a.74.74 0 0 1-.53.22Z" fill="%23ffffff"/></svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      left: 0;
      margin-left: 80px;
      top: auto !important;
      bottom: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .swiper-button-prev {
      display: block;
    }

    .swiper-button-next {
      display: block;
    }
  }

  @media screen and (max-width: 575px) {
    .swiper-slide .swiper-image {
      border-radius: 20px;
    }
  }

  .see_all {
    display: none;
  }
}
