.sectionevents {
  margin: 130px 0 0;
  max-width: 100vw;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  padding-bottom: 40px;

  &::after {
    background: $primary-red;
    border-radius: 0 20px 20px 0;
    bottom: 0;
    content: "";
    left: 0%;
    position: absolute;
    top: 0;
    width: 94%;
    z-index: -2;

    @media screen and (max-width: 1500px) {
      border-radius: 0;
      width: 100%;
    }
  }

  &::before {
    top: -201px;
    left: 0;
    background: url("../../assets/svg/city.png");
    background-position: bottom;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 201px;
    position: absolute;
    width: 100%;
    max-width: 982px;
    margin-left: 0;
    z-index: 0;
  }

  .section-container {
    position: relative;

    .swiper-pagination-bullet-active {
      background: #fff !important;
    }
  }

  .section-title {
    font-weight: 600 !important;
    margin: 0 0 40px;
    width: max-content;
    font-size: 45px;
  }

  .swiper-wrapper {
    .swiper-slide {
      background: transparent;
      border-radius: 20px;
      transition: 0.5s;

      &:hover,
      &:focus {
        transition: 0.5s;
        background: #cd2f29;
        transition: 0.5s;
        transform: translateY(10px);
        border-radius: 20px 20px 60px 60px;
      }

      & > a {
        padding-bottom: 30px;

        .swiper-image {
          transition: 0.5s;
          opacity: 100%;
        }

        .swiper_category {
          color: $primary-red;
          font-size: 16px;
          margin: 0;
          padding: 10px 20px;
          text-align: left;
          position: absolute;
          top: 0;
          background: #fff;
          border-radius: 20px 0;
          max-width: 230px;

          span {
            display: inline-block;
            text-transform: none;
            color: $primary-red;
            padding: 0 !important;
            margin: 0 !important;
          }
        }

        .auth_source_container_title {
          color: $primary-red;
          font-size: 16px;
          margin: 0;
          padding: 10px 20px;
          text-align: left;
          position: absolute;
          top: 0;
          background: #fff;
          border-radius: 20px 0;
          max-width: 230px;
        }

        .swiper_date {
          font-family: $font-family-base;
          transition: 0.5s;
          font-size: 16px;
          font-weight: 300;

          .end_date .to {
            margin: 0 0.25em;
          }

          div {
            margin: 0 auto;
          }
        }

        .swiper_title {
          width: 100%;

          h3 {
            font-family: $font-family-base;
            transition: 0.5s;
            font-weight: 500 !important;
          }
        }

        .swiper_description {
          width: 100%;

          p {
            margin: 0;
          }
        }

        &:hover {
          .swiper_date {
            transition: 0.5s;
          }

          .swiper_title {
            h3 {
              transition: 0.5s;
            }
          }
        }
      }
    }
  }

  .section-container .swiper-pagination-bullet-active {
    background: #fff !important;
  }
}

.sectionevents .see_all {
  justify-content: right;

  a {
    background: $primary-red;
    color: #fff;
    border: solid 1px #cbcbcb;
    font-weight: 400;
    border-radius: 8px;

    &:hover {
      background: #000;
      border: solid 1px #000;
      color: #fff;
    }
  }
}
