//CUSTOM
.section-contact .contact_informations .fax a::after {
  content: " (fax)";
}

.subsection-vie-politique .contact-type-position .contact_logo {
  height: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  bottom: -2rem;
  position: absolute;
  top: 0;
  width: 3rem !important;
}

.subsection-vie-politique .contact-type-position h2 {
  font-size: 1.5rem;
}

.subsection-vie-politique .contact-type-position .contact_subtitle {
  font-weight: 500;
  color: #555;
}

div#body-section-informations.figure-medium figure {
  width: 33%;
}

.sectionevents .table_date {
  display: flex;

  div#body-section-acces-directs:first-child ul {
    gap: 30px;

    li {
      align-items: center;
      background: #fff;
      border-radius: 15px;
      box-shadow:
        rgb(0 0 0 / 16%) 0 10px 36px 0,
        rgb(0 0 0 / 6%) 0 0 0 1px;
      display: flex;
      flex-wrap: wrap;
      height: 200px;
      justify-content: center;
      position: relative;
      transition: box-shadow 0.2s linear;
      width: 150px;
    }
  }

  .sectionlinks.quick-access:first-child {
    background: transparent !important;
    left: 0;
    position: absolute;
    transform: translateY(-64%);
    z-index: 0;
  }

  .sectionlinks.quick-access li .image {
    transition: 0.5s;
  }

  .sectionlinks.quick-access li:hover .image {
    padding-bottom: 1.5rem;
  }
}

.sectionevents .end_date {
  margin-left: 0.25rem;
}

a[aria-expanded*="false"]::after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228.444%22%20height%3D%225.2%22%3E%3Cpath%20d%3D%22M.247.254a.831.831%200%200%201%201.2%200l2.78%202.854L7.011.254A.831.831%200%200%201%208.2.264a.882.882%200%200%201%20.01%201.215L4.825%204.946a.835.835%200%200%201-.6.254%201.529%201.529%200%200%201-.6-.254L.247%201.479a.882.882%200%200%201%200-1.226Z%22%20fill%3D%22%2311105f%22%2F%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-left: 0.4rem;
  width: 1rem;
  position: relative;
}

.sortable-section.sectioncontact .container h2 a {
  text-decoration: none;
}

.sortable-section.sectioncontact .container h2 a[aria-expanded*="true"]::after {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228.444%22%20height%3D%225.2%22%3E%3Cpath%20d%3D%22M.247.254a.831.831%200%200%201%201.2%200l2.78%202.854L7.011.254A.831.831%200%200%201%208.2.264a.882.882%200%200%201%20.01%201.215L4.825%204.946a.835.835%200%200%201-.6.254%201.529%201.529%200%200%201-.6-.254L.247%201.479a.882.882%200%200%201%200-1.226Z%22%20fill%3D%22%2311105f%22%2F%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-left: 0.4rem;
  width: 1rem;
  position: relative;
  z-index: 1;
  right: 0;
  top: 0;
  left: 0;
  transform: rotate(180deg);
}

#portal-footer-wrapper .sectiontext .section-text .body-section figure img {
  max-width: 85%;
}

.nav_tous-les-services-communaux .state-published.nav-link {
  font-weight: 900;
}

.card-body {
  padding: 1rem;

  h2,
  .card-text {
    color: $primary;
  }
}

.sortable-section.sectionfiles {
  margin: 1rem 0 !important;
}

div#center-and-left-area h2 {
  color: $primary;
}

a h2.list-card-title:hover {
  text-decoration: underline;
}

.portaltype-imio-smartweb-portalpage #content-core > .row {
  z-index: 0;
  position: relative;
}

//BANNER

@include media-breakpoint-down(lg) {
  #portal-header div#banner {
    background-size: contain !important;
    background-repeat: no-repeat;
  }
}

.subsite-container .has_subtree.dropdown {
  margin-top: 1rem;
}

.sectionfiles .item_infos {
  color: #fff;
}

#portal-globalnav-wrapper
  #portal-globalnav-collapse
  #portal-globalnav
  .dropdown
  .nav-link:focus,
#portal-globalnav-wrapper
  #portal-globalnav-collapse
  #portal-globalnav
  .dropdown
  .nav-link:hover {
  color: $primary-svg;
}

#portal-column-content .sectioncontact + .sectioncontact .section-container,
#portal-column-content
  .sectioncontact
  + .sectioncontact
  .section-container
  .body-section {
  height: auto;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
