@media (min-width: 992px) {
.projets.a-la-une .swiper-slide>a { 
    direction: rtl; 
    }
}
div#container-section-les-grands-projets {
    position: relative;
}
body .projets div h2.section-title {
    color: $darktext !important;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-size: 1.5rem !important;
}
body .projets {
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
    div.swiper-slide .swiper_title {
        padding: 36px 0 0;
        h3 {
        text-align: left;
        font-size: 2.5rem !important;
        color: $primary-svg;
        }
    } 
} 
body .projets .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    text-align: left;
    bottom: 30%;
    z-index: -1;
}