div#body-section-acces-directs:first-child ul {
  gap: 30px;

  li {
    align-items: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 0.16) 0 10px 36px 0, rgb(0 0 0 / 0.06) 0 0 0 1px;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
    position: relative;
    transition: box-shadow .2s linear;
    width: 150px;
    }
}

.sectionlinks.quick-access:first-child  {
  background: transparent!important;
  left: 0;
  position: absolute;
  transform: translateY(-64%);
  z-index: 0;
}

.sectionlinks.quick-access li .image {
  transition: 0.5s;
}

.sectionlinks.quick-access li:hover .image {
  padding-bottom: 1.5rem;
}

@include media-breakpoint-down(lg) {
.sectionlinks.quick-access:first-child {
  position: initial;
  transform: initial;
  padding-top: 0;
  padding-bottom: 0;
}

.smartweb_herobanner .bannerSwiper {
  height: 340px;
}

body .smartweb_herobanner .bannerSwiper .swiper-slide .swiper-banner-content-wrapper {
  transform: translateY(-120%);
  }

  .smartweb_herobanner .bannerSwiper .swiper-slide .swiper-banner-content-wrapper .swiper-banner-content .swiper-banner-title,
  .smartweb_herobanner .bannerSwiper .swiper-slide .swiper-banner-content-wrapper .swiper-banner-content .swiper-banner-description p {
    font-size: 3rem;
  }

  .smartweb_herobanner .swiper-wrapper p.lead.rich_description:after {
    scale: 0.6;
  }

  body .smartweb_herobanner:before {
  height: 100px !important;
  }
}

.sectionlinks.quick-access .body-section li a .table_title {
  height: 45px;
}