.sectionnews {
  &::after {
    background: $primary-green;
    content: "";
    position: absolute;
    inset: 40% 0 0;
    z-index: -1;
  }

  .section-title {
    font-weight: 500;
    position: relative;
    text-align: center;
    padding-left: 30px;
    margin-bottom: 2rem;

    &::after {
      background: $primary;
      content: "";
      display: block;
      width: 100px;
      height: 2px;
      bottom: 10px;
      position: absolute;
      border-radius: 5px;
      text-align: center;
      margin: 0 auto;
      left: 30%;
      right: 0;
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      transition: all 0.25s ease;

      & > a {
        display: block;
        align-items: center;

        .swiper-image {
          padding-bottom: 55%;
          transition: all 0.25s ease;
          margin-bottom: 0;
        }

        .swiper_category {
          margin-left: 0;
          position: relative;
          width: max-content;
          top: 0;
          left: 0;
        }

        .swiper_date {
          font-family: $font-family-base;
          grid-row-start: 2;
        }

        .swiper_title {
          margin-top: 10px;

          h3 {
            font-family: $font-family-base;
            position: relative;

            &::after {
              content: "";
              background: $primary;
              width: 80px;
              height: 1px;
              left: 0;
              right: 0;
              bottom: -10px;
              position: absolute;
              margin: 0 auto;
            }
          }
        }

        .swiper_description {
          display: none;

          p {
            margin: 0;
          }
        }

        &:hover {
          .swiper-image {
            mask-size: 99%;
          }
        }
      }

      &:hover {
        transform: translateY(10px);
        transition: 0.5s;
      }
    }
  }
}

//Bloc description
.sectionnews,
.sectionevents {
  .swiper-slide a {
    position: relative;
  }

  .auth_source_container_title {
    position: absolute;
    width: calc(100% - 40px);
    margin: -60px auto 0 !important;
    height: 60px;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px !important;
    border-radius: 10px 10px 0 0;
  }

  .swiper_date {
    position: absolute;
    width: calc(100% - 40px);
    margin: -30px auto 0 !important;
    height: 30px;
    left: 0;
    right: 0;
    padding: 10px !important;
    background-color: #fff;
    border-radius: 10px 10px 0 0;

    .day_date {
      margin: 0 auto;
    }
  }

  .swiper_title {
    background: #fff;
    width: calc(100% - 40px);
    margin: 0 auto !important;
    height: 100px;
    left: 0;
    right: 0;
    padding: 12px !important;
    border-radius: 0 0 10px 10px;
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 5%),
      0 8px 10px -6px rgba(0, 0, 0, 5%);
  }

  .swiper-wrapper {
    padding-bottom: 80px;
  }
}
