.sectionnews {
  &::after {
    background: $primary-green;
    content: "";
    position: absolute;
    inset: 40% 0 0;
    z-index: -1;
  }

  .section-title {
    font-weight: 500;
    position: relative;
    text-align: center;
    padding-left: 30px;
    margin-bottom: 2rem;

    &::after {
      background: $primary;
      content: "";
      display: block;
      width: 100px;
      height: 2px;
      bottom: 10px;
      position: absolute;
      border-radius: 5px;
      text-align: center;
      margin: 0 auto;
      left: 30%;
      right: 0;
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      transition: all 0.25s ease;

      & > a {
        display: block;
        align-items: center;

        .swiper-image {
          padding-bottom: 55%;
          transition: all 0.25s ease;
          margin-bottom: 0;
        }

        .swiper_category {
          margin-left: 0;
          position: relative;
          width: max-content;
          top: 0;
          left: 0;
        }

        .swiper_date {
          font-family: $font-family-base;
          grid-row-start: 2;
        }

        .swiper_title {
          margin-top: 10px;

          h3 {
            font-family: $font-family-base;
          }
        }

        .swiper_description {
          display: none;

          p {
            margin: 0;
          }
        }

        &:hover {
          .swiper-image {
            mask-size: 99%;
          }
        }
      }

      &:hover {
        transform: translateY(10px);
        transition: 0.5s;
      }
    }
  }
}
