.les-sites {
  padding: 5rem 0 0;

  &::after {
    content: url("../../assets/svg/footer-svg-city.svg");
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 90vw;
    transform: translateY(15px);
    overflow: hidden;
  }
}
