.swiper_title,
.swiper_date {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.auth_source_container_title {
  position: absolute;
  top: 205px;
}

.swiper-slide > a {
  gap: 10px;
}

body .sectionnews .see_all a {
  padding: 10px 25px !important;
  border-radius: 20px;
  background-color: $primary-svg;
  color: #fff;
  border: solid 1px $primary-svg;

  &::after {
    display: none !important;
  }

  &:hover {
    background-color: #fff !important;
    color: #000;
    border: solid 1px $primary-svg;
  }
}

span.swiper-pagination-bullet {
  width: 24px;
  height: 24px;
}

.sectionnews {
  position: relative; /* nécessaire pour que ::after se positionne par rapport à la section */
  // width: 100%;
  // height: 200px; /* hauteur au choix */
  overflow: visible; /* OBLIGATOIRE */

  div.swiper-wrapper p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

body.section-home-page .sectionnews.principal::after {
  content: "";
  position: absolute; /* attaché verticalement au parent */
  top: 70px; /* position verticale depuis le parent */
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  height: 150%;
  background: url("../../assets/svg/frame-actus.svg") top / 100% no-repeat !important;
  z-index: -1;
}

body.section-home-page .sectionnews.principal .swiper_date span,
body.section-home-page .sectionnews.principal .swiper_title h3 {
  color: #fff;
}

.sectionnews.publications {
  left: initial;
  transform: initial;
  width: 50%;
  margin-top: 0;
  margin-bottom: 1rem;

  @media (max-width: 992px) {
    width: 100%;
  }

  .swiper-slide .swiper_title h2,
  .swiper-slide .swiper_title h3,
  a,
  div,
  .section-title {
    color: #fff;
  }

  .swiper-slide .swiper_date {
    color: #fff;

    span {
      color: #fff;
    }
  }

  .swiper-slide {
    align-items: center;
    justify-content: center;
  }

  @media (min-width: 992px) {
    div#body-section-publications-officielles {
      max-width: 380px;

      .swiper-wrapper {
        padding-bottom: 50px;
      }
    }
  }
}
