body .sectionevents {
  // margin: 50px 0;
  padding-bottom: 5rem;
  padding-top: 5rem;

  div.swiper-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .see_all a {
    padding: 10px 25px !important;
    border-radius: 20px !important;
    color: #fff;
    border: solid 1px $primary-svg;

    &::after {
      display: none !important;
    }

    &:hover {
      background-color: $primary !important;
      color: #fff;
      border: solid 1px #fff;
    }
  }
}

.sectionevents::before {
  // content: "";
  // position: absolute;
  // inset: 0;
  // width: 100%;
  // height: 100%;
  // background: url("../../assets/svg/frame-agenda.svg") top / 90% 85% no-repeat;
  // z-index: -1; /* derrière le contenu */
  // top: 0;
  // margin: 0 auto;
  // border-radius: 30px;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw; /* 80% de la largeur de l’écran */
  height: 100%;
  background-color: #fff;
  border-radius: 30px;
  z-index: -1;
}

// .sectionevents::after {
//   content: "";
//   position: absolute; /* attaché verticalement au parent */
//   top: 65%;
//   left: 50%;
//   width: 100vw;
//   transform: translateX(-50%);
//   height: 120%;
//   background: url("../../assets/svg/frame-restez.svg") center / cover no-repeat;
//   z-index: -99 !important;

//   @media (max-width: 768px) {
//     .element {
//       height: 60vh; /* hauteur adaptée écran mobile */
//     }
//   }
// }

.sectionevents {
  position: relative; /* pour que background reste relatif au bloc */

  &::after {
    content: "";
    position: absolute;
    top: 65%;
    left: 50%;
    width: 100vw;
    height: 120%;
    transform: translateX(-50%);
    background: url("../../assets/svg/frame-restez.svg") center / cover
      no-repeat;
    z-index: -2;
    background-image: url("../../assets/svg/visu-agenda.svg");
    background-repeat: no-repeat;
    background-position: bottom 0 left 50px; /* collé en bas, 50px depuis la gauche */
    background-size: calc(15% - 100px) auto; /* largeur = 100% du bloc moins 50px de chaque côté */
  }

  @media (max-width: 768px) {
    &::after {
      height: 260%;
      top: 50%;
    }
  }
}

#main-container {
  .sectionlinks.quick-access {
    .row {
      @media (max-width: 768px) {
        gap: 20px !important;
        grid-template-columns: repeat(auto-fit, minmax(56px, 160px));
      }
    }
  }
}
