li.nav-item > a.state-published.nav-link:hover:focus {
  text-decoration: underline;
}

div.has_subtree ul li.has_subtree a.state-published.nav-link::after {
  position: relative;
  transition: all 0.2s ease;
}

div.has_subtree ul li.has_subtree a.state-published.nav-link:hover::after {
  right: 10px !important;
  transform: translateX(-20px);
}

footer#portal-footer-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  span,
  a,
  h2,
  h3,
  h4 {
    color: #fff;
  }
}

#portal-globalnav.activated > li > a,
#portal-globalnav-wrapper
  #portal-globalnav-collapse
  #portal-globalnav
  > li.show-nav.has_subtree
  > a {
  color: #000 !important;
}

.mask-menu {
  top: 78px;
}

//Galerie HP

.galerie-accueil,
.portaltype-imio-smartweb-portalpage .sectiongallery {
  .section-title {
    font-weight: 350;
    margin: 0 0 40px;
    width: max-content;
    font-size: 45px;
    justify-self: center;
  }

  margin: 120px 0 100px;
  overflow: hidden;
  border-radius: 0;
  padding: 0 10px !important;

  img {
    border-radius: 20px;
    position: relative;
  }

  .section_gallery_item {
    &::after {
      top: 0;
      bottom: 0;
      left: 0;
      background: $primary;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      margin-left: 0;
      z-index: 0;
      opacity: 0%;
      border-radius: 20px;
      transition: 0.5s;
    }

    &:hover {
      &::after {
        opacity: 80%;
        transition: 0.4s;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    border-radius: 0;
    margin: 5px 0 100px;
  }
}

.sectioncollection.bc {
  z-index: 99;

  a {
    text-decoration: underline #fff 1px;

    .swiper_title {
      padding: 20px 0;

      h3 {
        text-decoration-color: #fff;
      }
    }
  }

  .swiper-slide .swiper-image {
    padding-bottom: 130%;
    border-radius: 10px;
  }

  .see_all {
    display: none;
  }
}

.section-home-page .sectiontext.bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.section-home-page .sectiontext p {
  text-align: center;

  mark {
    border: solid 1px $primary;
    background-color: $primary-svg;
    border-radius: 20px;
    color: #fff;
    display: block;
    min-height: 25px;
    padding: 0;

    a {
      color: #fff !important;
      text-decoration: none;
      padding: 10px 25px;
      width: 100%;
      height: 100%;
      display: block;
    }

    &:hover {
      background-color: #fff;
      color: #000;
      transition: 0.2s;

      a {
        color: #000 !important;
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}

.sectionlinks.quick-access.rs {
  padding-top: 0;

  li {
    padding: 10px;
  }

  .section-title {
    width: 100%;
    color: #fff;
    margin-bottom: 0;
  }

  a {
    .table_title span {
      color: #fff !important;
    }

    .image {
      background-color: transparent !important;
      border: 2px solid #fff !important;

      svg {
        fill: #fff !important;
      }
    }
  }
}

.sectioncollection.bc {
  position: relative;
  overflow: visible;
  z-index: 0;

  h3 {
    color: #fff;
  }
}

.sortable-section.sectiontext.restez-informes {
  z-index: 0;

  .text {
    text-align: right;

    h2 {
      color: #fff;
    }
  }
}

.sortable-section.sectionlinks.quick-access.partenaires {
  margin-top: 5rem;
}

.sectionnews .swiper-slide {
  .swiper_category {
    top: 0;
    right: 0;
    position: absolute;

    span {
      border-radius: 0 0 0 20px;
    }
  }

  .auth_source_container_title {
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 0 0 20px !important;
  }
}

.sectionevents .swiper-slide {
  .swiper_category {
    top: 0;
    right: 0;
    position: absolute;

    span {
      border-radius: 0 0 0 20px;
    }
  }

  .auth_source_container_title {
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 0 0 20px !important;
  }
}

.section-home-page .section-text .text mark a {
  text-decoration: none !important;
  border-color: $primary-svg;
}

.section-text .text mark {
  > br {
    display: none;
  }

  a {
    color: #fff !important;
    text-decoration: underline #fff 1px;

    &:hover {
      font-weight: bold;
      text-decoration: underline #fff 3px;
    }
  }
}

.sortable-section.sectionfiles {
  margin-bottom: 25px;
  padding: 25px 20px;
  border-radius: 20px;

  a {
    text-decoration: underline #fff 1px;
  }

  a:hover {
    text-decoration: underline #fff 5px;
  }

  .item_infos {
    color: #fff;
  }

  &::after {
    background: $primary;
  }
}

footer#portal-footer-wrapper {
  background: $primary-dark;

  .sectiontext .section-text .body-section figure img {
    max-width: 170px;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
  }

  .contact_informations_social {
    li {
      margin: 0 auto;
    }
  }
}

div#portal-colophon {
  background: $primary;

  ul {
    gap: 1rem;
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 0;
    padding: 15px 0;

    @media (max-width: 768px) {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: 1fr; // 1 colonne → éléments empilés
    }

    li {
      color: #fff;
    }

    li a {
      color: #fff;
      text-decoration: #fff underline 1px;
    }
  }
}

.quick-access.publications {
  margin-top: 0;
  padding-bottom: 11rem;

  li {
    margin-bottom: 20px;
  }
}

body.col-content.portaltype-imio-smartweb-portalpage.section-home-page
  #portal-column-content {
  background-image: url("../../assets/svg/visu-footer.svg");
  background-repeat: no-repeat;
  background-position: bottom -3px center;
  background-size: calc(50% - 100px) auto; /* largeur = 100% du bloc moins 50px de chaque côté */
}

.mask-menu {
  background-color: transparent;
}

.smartweb_herobanner {
  margin-top: -30px;
}

#portal-header #portal-header-top #portal-logo {
  @media (max-width: 768px) {
    margin-top: 0;
    max-width: 100px;
  }
}

.sectiontext .section-text .body-section a {
  color: #45677c;
  font-weight: 500;
  text-decoration: underline #fff 1px;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: underline #fff 3px;
  }
}

#portal-globalnav li.show-nav > .has_subtree.dropdown {
  box-shadow:
    0 10px 13px -7px #000,
    5px 5px 15px 5px rgba(0, 0, 0, 0%);
}

.sectiontext .section-text .body-section a {
  color: $primary;
  font-weight: 500;
  text-decoration: underline $primary 1px;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: underline $primary-dark 3px;
  }
}

@media (min-width: 992px) {
  #portal-globalnav > li:last-child {
    margin-left: auto;
  }
}

//farciennes bouge
.subsection-services-administratifs-farciennes-bouge .newsImage.card-img-top {
  padding-bottom: 85%;
}

.see_all a {
  font-family: $font-family-base !important;
}

.swiper_title h3 {
  font-family: $font-family-base !important;
}

.contact_informations {
  a:hover {
    text-decoration: underline 3px;
  }
}

.sortable-section.sectionfiles a {
  text-underline-offset: 4px;
}

#portal-header #portal-header-top #header-links #search-link a {
  border: 1px solid $primary-dark;
  background-color: $primary-light;

  &:hover {
    background-color: transparent !important;
    border: 1px solid $primary-dark;
  }
}

div#header-actions a.account {
  background: $primary-light !important;
  padding: 10px 20px !important;
  border-radius: 20px !important;
  border: solid 1px $primary-dark !important;

  &:hover {
    background-color: transparent !important;
    border: solid 1px $primary-dark !important;
  }
}
