li.nav-item > a.state-published.nav-link:hover:focus {
  text-decoration: underline;
}

div.has_subtree ul li.has_subtree a.state-published.nav-link::after {
  position: relative;
  transition: all 0.2s ease;
}

div.has_subtree ul li.has_subtree a.state-published.nav-link:hover::after {
  right: 10px !important;
  transform: translateX(-20px);
}

footer#portal-footer-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  span,
  a,
  h2,
  h3,
  h4 {
    color: #fff;
  }
}

#portal-globalnav.activated > li > a,
#portal-globalnav-wrapper
  #portal-globalnav-collapse
  #portal-globalnav
  > li.show-nav.has_subtree
  > a {
  color: #000 !important;
}

.mask-menu {
  top: 78px;
}

//Galerie HP

.galerie-accueil,
.portaltype-imio-smartweb-portalpage .sectiongallery {
  .section-title {
    font-weight: 350;
    margin: 0 0 40px;
    width: max-content;
    font-size: 45px;
    justify-self: center;
  }

  margin: 120px 0 100px;
  overflow: hidden;
  border-radius: 0;
  padding: 0 10px !important;

  img {
    border-radius: 20px;
    position: relative;
  }

  .section_gallery_item {
    &::after {
      top: 0;
      bottom: 0;
      left: 0;
      background: $primary;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      width: 100%;
      margin-left: 0;
      z-index: 0;
      opacity: 0%;
      border-radius: 20px;
      transition: 0.5s;
    }

    &:hover {
      &::after {
        opacity: 80%;
        transition: 0.4s;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    border-radius: 0;
    margin: 5px 0 100px;
  }
}

.sectioncollection.bc {
  z-index: 99;

  a {
    text-decoration: underline #fff 1px;

    .swiper_title {
      padding: 20px 0;

      h3 {
        text-decoration-color: #fff;
      }
    }
  }

  .swiper-slide .swiper-image {
    padding-bottom: 130%;
    border-radius: 10px;
  }

  .see_all {
    display: none;
  }
}

.section-home-page .sectiontext.bouton {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.section-home-page .sectiontext p {
  text-align: center;

  mark {
    border: solid 1px $primary-svg;
    background-color: $primary-svg;
    border-radius: 20px;
    color: #fff;
    display: block;
    min-height: 25px;
    padding: 0;

    a {
      color: #fff !important;
      text-decoration: none;
      padding: 10px 25px;
      width: 100%;
      height: 100%;
      display: block;
    }

    &:hover {
      background-color: #fff;
      color: #000;
      transition: 0.2s;

      a {
        color: #000 !important;
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}

.sectionlinks.quick-access.rs {
  li {
    padding: 10px;
  }

  .section-title {
    width: 100%;
    color: #fff;
  }

  a {
    .table_title span {
      color: #fff !important;
    }

    .image {
      background-color: transparent !important;
      border: 2px solid #fff !important;

      svg {
        fill: #fff !important;
      }
    }
  }
}

.sectioncollection.bc {
  position: relative;
  overflow: visible;
  z-index: 0;

  h3 {
    color: #fff;
  }
}

.sortable-section.sectiontext.restez-informes {
  z-index: 0;

  .text {
    text-align: right;

    h2 {
      color: #fff;
    }
  }
}

.sortable-section.sectionlinks.quick-access.partenaires {
  margin-top: 5rem;
}

.sectionnews .swiper-slide {
  .swiper_category {
    top: 0;
    right: 0;
    position: absolute;

    span {
      border-radius: 0 0 0 20px;
    }
  }

  .auth_source_container_title {
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 0 0 20px !important;
  }
}

.sectionevents .swiper-slide {
  .swiper_category {
    top: 0;
    right: 0;
    position: absolute;

    span {
      border-radius: 0 0 0 20px;
    }
  }

  .auth_source_container_title {
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 0 0 20px !important;
  }
}
