.portaltype-imio-smartweb-portalpage .sectionlinks.quick-access.first {
  padding: 0;

  .body-section {
    padding: 0;
  }
}

#main-container .sectionlinks.quick-access.first {
  width: calc(100vw - 30px) !important;
  top: 0 !important;
  margin-top: -3.5rem !important;
  padding-bottom: 30px;

  @media screen and (max-width: 991px) {
    width: 100vw !important;
    top: 0 !important;
    margin-top: -3.5rem !important;
    padding-bottom: 30px;
  }
}

#main-container .sectionlinks.quick-access {
  .body-section {
    max-width: 85%;
    margin: 0 auto;

    li {
      .table_image {
        .image.d-block {
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: relative;
          top: 0;
          transition: all 0.3s ease;
        }

        .table_title {
          margin-top: 10px !important;
        }

        &:hover {
          .image.d-block {
            background: $primary;
            top: -10px;
            transition: all 0.3s ease;
          }

          svg {
            fill: #fff !important;
          }
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    #main-container .sectionlinks.quick-access .row {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, minmax(120px, 1fr));
    }
  }

  @media (max-width: 480px) {
    #main-container .sectionlinks.quick-access .row {
      grid-template-columns: 1fr;
    }
  }
}

// /* 1 sur 2 – éléments impairs */
// ul.row > li:nth-child(odd) .image.d-block {
//   background-color: $primary !important;
// }

// /* 1 sur 2 – éléments pairs */
// ul.row > li:nth-child(even) .image.d-block {
//   background-color: $primary-svg !important;
// }

.sectionlinks.quick-access .body-section li a .image.d-block svg {
  fill: $primary;
}
