#portal-column-content .sectioncontact {
  .contact-type-organization {
    background: #f8f8f8;
    // border: solid 2px $primary-svg;
    border-radius: 10px;
  }

  h2,
  h3,
  h4 {
    font-family: $font-family-base;
  }
}
