.portaltype-imio-smartweb-portalpage.section-home-page .sectionevents {
  margin: 0;
  width: 50% !important;
  left: auto !important;
  transform: none !important;
  padding: 0 10px;
  margin-top: 0;

  .start_date {
    float: left;
    padding-right: 3px;
  }

  .container {
    padding: 0 40px !important;
  }

  .section-container {
    position: relative;

    .swiper-pagination-bullet-active {
      background: $primary !important;
    }
  }

  .see_all a {
    width: 100%;
    text-align: center;
    padding: 20px 30px;
  }

  .section-title {
    font-weight: 300;
    text-transform: none;
    position: relative;
    color: $primary-dark;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 64px;
  }

  @media screen and (max-width: 950px) {
    margin-top: 60px;
    width: 100% !important;
    background: $primary-svg;
    padding: 60px 0;

    .section-title {
      text-align: center;
    }
  }

  .row {
    margin: 0;

    li {
      &::marker {
        content: "" !important;
      }
      padding: 20px 10px;
      border-bottom: 1px solid $primary-svg;

      .table_display {
        .table_image {
          text-decoration: none;
          width: 100%;
          position: relative;
          display: block;

          .table_category {
            text-align: right;
            display: flex;
            justify-content: flex-end;

            span {
              background: $primary;
              border-radius: 10px;
              padding: 5px 10px;
              font-size: 16px;
              text-transform: capitalize;
              color: #fff;
            }
          }

          .table_date {
            font-size: 18px;
            transition: all 0.3s ease;
            color: $primary-dark;
            font-weight: 100;
          }

          .table_title {
            font-size: 28px;
            font-weight: 500;
            transition: all 0.3s ease;
            color: $primary-dark;
          }

          &:hover {
            .table_date {
              padding-left: 7px;
              transition: all 0.3s ease;
            }

            .table_title {
              color: $primary-dark;
              padding-left: 7px;
              transition: all 0.3s ease;
              text-decoration: underline;
            }
          }
        }
      }
    }

    li::marker {
      display: none !important;
    }
  }
}

.swiper-slide .swiper_date {
  font-weight: 100;
}

.sectiontext.visuel-agenda .body-section.figure-top figure {
  margin-top: 100px;

  img {
    border-radius: 0 0 20px;
  }
}
