#gdpr-consent-banner > span {
  padding-right: 0;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  font-size: 17px;
  color: $primary-dark;
}

#gdpr-consent-banner .gdpr-actions input[name="consent"] {
  background: $primary-dark;
  border: 2px solid $primary-dark;
  color: #fff;
  font-size: 17px;

  &:hover {
    background: $primary;
  }
}

#gdpr-consent-banner .gdpr-actions > a {
  background: $primary-dark;
  border: 2px solid $primary-dark;
  color: #fff;
  font-size: 17px;

  &:hover {
    background: $primary;
  }
}

#gdpr-consent-banner .gdpr-actions input[name="refuse"] {
  background: $primary-dark;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: initial;
  text-decoration: initial;
  background-position: #fff;
  border: 2px solid $primary-dark;
  font-size: 17px;
  font-weight: 700;
  padding: 1rem 2rem;
  margin-left: 0.6rem;

  &:hover {
    background: $primary;
  }
}

//MENU
#portal-header #portal-header-top #portal-globalnav-wrapper {
  margin: 0 1rem 0 3rem;
}

//Subsite
.subsite-container {
  background: $primary-svg;
}

.h2:not(.portaltype-imio-smartweb-portalpage),
h2:not(.portaltype-imio-smartweb-portalpage) {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

.h3:not(.portaltype-imio-smartweb-portalpage),
h3:not(.portaltype-imio-smartweb-portalpage) {
  font-size: 1.3rem;
}

h2.card-title {
  color: $primary-dark !important;
  font-weight: 500 !important;
}

input#search_button {
  background: $primary-dark;
}

//Image section texte
.sectiontext .section-text .body-section figure img {
  border-radius: 20px;
}

// BUTTON
input#search_button {
  background: $primary-svg;
  color: $primary-dark;

  &:hover {
    background: $primary;
    color: #fff;
  }
}

//subsite color
.subsite-container {
  background: $primary-svg;
}

.template-summary_view .list-menu-element > a,
.template-summary_view_with_images .list-menu-element > a {
  border-bottom: 1px solid $primary-svg;
}

.template-summary_view .list-menu-element > a:focus,
.template-summary_view .list-menu-element > a:hover,
.template-summary_view_with_images .list-menu-element > a:focus,
.template-summary_view_with_images .list-menu-element > a:hover {
  background: $primary-svg;
}
