#gdpr-consent-banner > span {
  padding-right: 0;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  font-size: 17px;
  color: $primary-dark;
}

#gdpr-consent-banner .gdpr-actions input[name="consent"] {
  background: $primary-dark;
  border: 2px solid $primary-dark;
  color: #fff;
  font-size: 17px;

  &:hover {
    background: $primary;
  }
}

#gdpr-consent-banner .gdpr-actions > a {
  background: $primary-dark;
  border: 2px solid $primary-dark;
  color: #fff;
  font-size: 17px;

  &:hover {
    background: $primary;
  }
}

#gdpr-consent-banner .gdpr-actions input[name="refuse"] {
  background: $primary-dark;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: initial;
  text-decoration: initial;
  background-position: #fff;
  border: 2px solid $primary-dark;
  font-size: 17px;
  font-weight: 700;
  padding: 1rem 2rem;
  margin-left: 0.6rem;

  &:hover {
    background: $primary;
  }
}

//MENU
#portal-header #portal-header-top #portal-globalnav-wrapper {
  margin: 0 1rem 0 3rem;
}

//Subsite
.subsite-container {
  background: $primary-svg;
}

body:not(.portaltype-imio-smartweb-portalpage) .h2,
body:not(.portaltype-imio-smartweb-portalpage) h2 {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

body:not(.portaltype-imio-smartweb-portalpage) .h3,
body:not(.portaltype-imio-smartweb-portalpage) h3 {
  font-size: 1.3rem;
}

h2.card-title {
  color: $primary-dark !important;
  font-weight: 500 !important;
}

input#search_button {
  background: $primary-dark;
}

//Image section texte
.sectiontext .section-text .body-section figure img {
  border-radius: 20px;
}

// BUTTON
input#search_button {
  background: $primary-svg;
  color: $primary-dark;

  &:hover {
    background: $primary;
    color: #fff;
  }
}

//subsite color
.subsite-container {
  background: $primary-svg !important;
}

.template-summary_view .list-menu-element > a,
.template-summary_view_with_images .list-menu-element > a {
  border-bottom: 1px solid $primary-svg;
}

.template-summary_view .list-menu-element > a:focus,
.template-summary_view .list-menu-element > a:hover,
.template-summary_view_with_images .list-menu-element > a:focus,
.template-summary_view_with_images .list-menu-element > a:hover {
  background: $primary-svg;
}

//Section contact
.sectioncontact {
  .section-contact {
    margin: 0 auto !important;
    padding: 18px;

    .row {
      margin: 0;

      .contact_informations {
        width: 100%;
      }

      .address {
        width: 100%;
      }
    }
  }
}

.section-contact {
  table.table_schedule tbody tr {
    display: grid !important;

    &:first-child td:first-child {
      font-weight: 900 !important;
    }
  }
}

.sectioncontact {
  margin-top: 1.5rem;

  .bi::before {
    font-size: 35px;
  }
}

//Contact
#portal-column-content .section-contact .contact-type-organization {
  background: $primary-svg;
  border-radius: 10px !important;
}

#portal-column-content .section-contact .contact-type-organization {
  display: grid;
  flex-flow: column wrap;
  padding: 1.5rem;
  word-wrap: anywhere;
  margin: 5px;
}

input#search_button {
  background: $primary-svg;
  color: $primary-dark;
}

//Section files
.sectionfiles .body-section .h2,
.sectionfiles .body-section h2,
.sectionfiles .body-section p,
.sectionfiles .body-section span,
.sectionfiles .section-title .h2,
.sectionfiles .section-title h2,
.sectionfiles .section-title p,
.sectionfiles .section-title span {
  color: $primary-dark;
}

//Subsite
.subsite-container {
  border-radius: 10px;

  #subsite-logo {
    border-radius: 10px;

    li.nav-item {
      background: #fff;
      padding: 10px;
      border-radius: 10px;
      border: solid 2px $primary;
    }
  }
}
//Menu
#subsite-navigation > ul > li > a:focus::before,
#subsite-navigation > ul > li > a:focus-visible::before,
#subsite-navigation > ul > li > a:hover::before,
#subsite-navigation > ul > li > a:active::before,
#subsite-navigation > ul > li.show-nav > a::before,
#subsite-navigation > ul > li.current > a::before,
#subsite-navigation > ul > li.inPath > a::before {
  content: "";
  background-color: $primary;
  bottom: -18px;
  height: 5px;
  border-radius: 10px;
  left: 0;
  position: absolute;
  right: 0;
  transition: all 0.3s ease;

  @include media-breakpoint-down(md) {
    bottom: 0;
  }
}
