footer#portal-footer-wrapper {
  background: $primary-dark;
  padding: 4rem 0;
  color: #fff;
  margin-top: 50px;

  h2,
  h3,
  a {
    color: #fff;
  }

  h2.section-title {
    font-size: 2rem;
  }

  .contact_informations_social {
    display: grid;
  }
}

div#portal-colophon {
  padding: 10px 0;
  background: $primary;

  .colophonWrapper ul {
    gap: 1rem;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-bottom: 0;

    li,
    li a {
      color: #fff;
    }
  }
}

.sectiontext .section-text .body-section.figure-left figure {
  max-width: 100%;
}

@include media-breakpoint-down(lg) {
  div#portal-colophon .colophonWrapper ul {
    display: grid;
    gap: 10px;
  }
}

footer a:hover {
  font-weight: bolder !important;
  text-decoration: none;
}

footer a:hover {
  font-weight: bolder !important;
  text-decoration: none !important;
}

footer ul.contact_informations_social a:hover {
  color: $primary;
}

div#portal-colophon .colophonWrapper ul li,
div#portal-colophon .colophonWrapper ul li a:hover {
  text-decoration: none;
}

footer .sectioncontact,
.sectionlinks,
.sectiontext {
  margin-top: 2rem;
}

footer .sectionlinks div#container-section-liens-utiles {
  padding: 18px;
}
