footer#portal-footer-wrapper {
  background: $primary-dark;
  padding: 4rem 0;
  color: #fff;

  h2,
  h3,
  a {
    color: #fff;
  }

  div#portal-colophon {
    padding: 10px 0;
    background: $primary;

    .colophonWrapper ul {
      gap: 1rem;
      justify-content: center;
      text-align: center;
      display: flex;
      margin-bottom: 0;

      li a {
        color: #fff;
      }
    }
  }
}
