@include media-breakpoint-down(lg) {
  div#portal-colophon .colophonWrapper ul {
    display: grid;
    gap: 10px;
  }
}

footer#portal-footer-wrapper {
  background: $primary-dark;
  padding: 4rem 0;
  color: #fff;
  margin-top: 50px;

  h2,
  h3,
  a {
    color: #fff;
  }

  h2.section-title {
    font-size: 2rem;
  }

  .contact_informations_social {
    display: grid;
  }
}

div#portal-colophon {
  padding: 10px 0;
  background: $primary;

  .colophonWrapper ul {
    gap: 1rem;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-bottom: 0;

    li,
    li a {
      color: #fff;
    }
  }
}

.sectiontext .section-text .body-section.figure-left figure {
  max-width: 100%;
}
