.swiper-slide > a:hover .swiper-image {
  transition: 0.2s;
  filter: brightness(0.4);
}

.section-title {
  font-weight: 300;
  font-size: 64px;
}

body {
  position: relative;
}

body.portaltype-imio-smartweb-portalpage.section-home-page::after {
  background: url("../../assets/svg/visu-fond.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  z-index: -2;
  bottom: 0;
}

.portaltype-imio-smartweb-portalpage.section-home-page {
  .sectionevents .section-title,
  .sectionnews .section-title,
  .partenaires .section-title {
    position: relative;
  }
}

.portaltype-imio-smartweb-portalpage.section-home-page {
  .sectionevents,
  .sectionnews,
  .partenaires {
    .section-title::after {
      content: url("../../assets/svg/visu-sambreville.svg");
      position: absolute;
      top: -70px;
      bottom: 0;
      left: -50px;
      transform: none;
    }
  }
}

.sectionnews .section-title,
.partenaires .section-title {
  margin: 0 auto 4rem;
  width: max-content;
}

.portaltype-imio-smartweb-portalpage.section-home-page
  .sectionevents
  .section-title::after {
  top: -60px;
  left: -45px;
}

@include media-breakpoint-down(lg) {
  .smartweb_herobanner .bannerSwiper {
    height: 275px;
  }

  .portaltype-imio-smartweb-portalpage .section-title {
    font-size: 2.5rem !important;
  }

  .sectiontext.visuel-agenda {
    display: none;
  }

  footer .smartweb-footer .container .row {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  footer
    .smartweb-footer
    .container
    .row
    .sortable-section.sectionlinks.quick-access {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  footer .smartweb-footer .container .row .sectionevents .see_all a {
    background: #fff;
  }

  footer
    .smartweb-footer
    .container
    .row
    .sectiontext
    .section-text
    .body-section
    figure {
    float: initial;
    margin-right: initial;
    max-width: 100%;
    width: 100%;
  }

  footer .smartweb-footer .container .row .sectionlinks h2 {
    font-size: calc(1.325rem + 0.9vw) !important;
    margin-top: 20px;
  }

  footer .smartweb-footer .container .row .contact_informations_social {
    display: grid;
  }

  .portaltype-imio-smartweb-portalpage.section-home-page
    .sectionevents
    .section-title::after {
    left: -15px;
    top: -50px;
  }

  footer .sectiontext .section-text .body-section.figure-left figure img {
    width: auto;
    margin: 0 auto;
  }
}

//img section text and contact
.sectiontext .section-text .body-section figure img,
#portal-column-content
  .section-contact
  .contact-type-organization
  .contact_leadimage {
  border-radius: 20px;
}
