#portal-column-content .sectioncontact {
    .contact-type-organization {
        background: $primary-light;
        border-radius: 10px !important;
        margin: 10px;
    }
    h2,h3,h4{
        font-family: $font-family-base;
    }
}