//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
@import "../../../base/src/scss/main";

//// STYLES

// ... add your styles here

@import "./home/quick";
@import "./home/actualites";
@import "./home/cpas";
@import "./home/events";
@import "./home/footer";
@import "./info-trav";
@import "./se-link";
@import "./se-files";
@import "./contact";

//SLOGAN BANNER
.smartweb_herobanner
  .bannerSwiper
  .swiper-slide
  .swiper-banner-content-wrapper
  .swiper-banner-content {
  .swiper-banner-title {
    font-weight: 300;
  }

  .swiper-banner-description {
    p {
      font-weight: 700;
    }
    padding-left: 50px;
  }
}

.smartweb_herobanner .section-slide,
.smartweb_herobanner .section-slide .swiper-banner-image {
  background-image: linear-gradient(
    to right,
    rgba(255 255 255),
    rgba(255, 255, 255, 0%)
  );
}

.sortable-section.partenaires {
  background: url("../../assets/svg/birds-background.svg");
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
}

//Banner
.portaltype-imio-smartweb-portalpage.section-accueil
  .smartweb_herobanner::before {
  bottom: 0;
  background: url("../../assets/svg/visu-banner.svg");
  line-height: 0;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  transform: translateY(14px);
  width: 100%;
  content: "";
  top: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 350px;
  background-position: bottom;
}

.swiper-banner-content {
  line-height: 38px;
}

.outer-wrapper {
  background: url("../../assets/svg/visu-footer.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  margin-bottom: -24px;
}

.outer-wrapper::after {
  content: "";
  background: #01031200;
  display: block;
  height: 300px;
}

.sectionlinks.partenaires .body-section li a {
  .image.d-block {
    border-radius: 100%;
  }

  .table_title span {
    color: #000 !important;
  }
}
