#main-container .quick-access {
  @media screen and (min-width: 320px) {
    margin-top: (calc(-14% - 1.25rem));
  }

  @media screen and (min-width: 500px) {
    margin-top: (calc(-9% - 1.25rem));
  }

  @media screen and (min-width: 992px) {
    margin-top: (calc(-14% - 1.25rem));
  }
  padding: 0;

  .body-section {
    ul {
      justify-content: space-evenly;
      justify-items: center;

      li {
        width: max-content !important;

        .table_image {
          .image.d-block {
            transition: all 0.3s ease;
            position: relative;
            margin-bottom: 20px;
          }

          &:hover,
          &:focus {
            .image.d-block {
              transform: translateY(-5px);
              transition: all 0.3s ease;
              background: $primary !important;
              border: 1px solid $primary;

              svg {
                fill: #fff;
              }
            }
          }

          .table_title {
            margin: 0;
            text-align: center;
            max-width: 150px;

            span {
              line-height: 1;
              font-size: 15px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .body-section {
      ul {
        li {
          .table_image {
            .image.d-block {
              width: 70px;
              height: 70px;
            }
          }

          a .table_title span {
            font-size: 14px;
          }
        }
      }
    }
  }

  .row {
    @include media-breakpoint-down(lg) {
      grid-gap: 20px;
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(auto-fit, minmax(150px, 150px));

      li {
        width: auto !important;
      }
    }
  }

  .section-title {
    font-weight: 200;

    //font-family:$font-family-roboto;
    text-transform: uppercase;
    color: $primary;
    margin: 0 0 2rem;
  }
}

.sectionlinks.quick-access .body-section ul {
  margin-left: auto;
  margin-right: auto;
}

.partenaires {
  position: relative;
  margin: 80px 0 0 !important;
  padding-bottom: 0 !important;

  .swiper-slide .swiper-image {
    padding-bottom: 60%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s ease;
    opacity: 100%;
  }

  a {
    color: #000;

    h3 {
      color: #000;
      font-size: 16px;
      text-align: center;
      font-weight: 500;
      transition: all 0.3s ease;
    }

    &:hover,
    &:focus {
      color: $primary;
      transition: all 0.3s ease;

      h3 {
        color: $primary;
        transition: all 0.3s ease;
      }

      .swiper-image {
        transition: all 0.2s ease;
        opacity: 70%;
      }
    }
  }

  .section-title {
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
}
