//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
@import "../../../base/src/scss/main";

//// STYLES

// ... add your styles here

@import "./home/quick";
@import "./home/actualites";
@import "./home/events";
@import "./home/footer";
@import "./home/divers";
@import "./home/banner";
@import "./home/partenaires";

.portaltype-imio-smartweb-page {
  .sectionlinks {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #ebefdd;
  }

  .section-gallery {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  #portal-column-content .sectioncontact {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .sectiontext {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .row > .sectiontext:first-child {
    margin-top: 0;
  }
}

.section-home-page #messagesviewlet {
  position: absolute;
  top: 110px;
}

#plone-lock-status {
  .portalMessage.info.portalMessage.info {
    background: #cff4fc !important;
  }
}

#messagesviewlet .portalMessage.warning,
#localmessagesviewlet .portalMessage.warning {
  background-color: #000 !important;
}

#messagesviewlet .portalMessage.error,
#localmessagesviewlet .portalMessage.error {
  background-color: #000 !important;
}

.sortable-section.sectionfiles {
  padding: 1rem;
  margin: 1rem 0;

  .section-container {
    .section-title {
      a {
        color: #fff !important;
      }
    }
  }
}

.r-item-img.r-item-img-placeholder {
  background: url("../../assets/svg/placeholder.jpg");
  background-size: cover;
  background-position: center;
}

.to-portal {
  z-index: 1;
}
