.a-la-une {
  position: relative;
  @include media-breakpoint-down(lg) {
    padding-bottom: 0;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .section-title{
    color:$a-la-une-title-color;
    margin: $a-la-une-title-margin;
    padding: $a-la-une-title-padding;
  }
  .swiper-slide {
    a {
      text-decoration: none;
    }
    & > a {
      @include media-breakpoint-up(lg) {
        display: grid;
        padding-right: 25px;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto 1fr;
      }
    }
    .swiper-image {
      @include media-breakpoint-up(lg) {
        padding-bottom: 60%;
        grid-row-end: 3;
        grid-row-start: 1;
      }
    }
    .swiper_title {
      font-size:$a-la-une-item-title-font-size;
      @include media-breakpoint-up(lg) {
        align-self: start;
        padding: $a-la-une-item-title-padding;
        margin:$a-la-une-item-title-margin;
        background: $a-la-une-text-bg;
        grid-column: 2;
        grid-row: 1;
      }
      margin-top: 0;
      h3 {
        color: $primary;
      }
    }
    .swiper_description {
      color:$a-la-une-item-title-color;
      font-size:$a-la-une-item-description-font-size;
      @include media-breakpoint-up(lg) {
        padding:$a-la-une-item-description-padding;
        margin:$a-la-une-item-description-margin;
        background: $a-la-une-text-bg;
        grid-column: 2;
        grid-row: 2;
      }
      // &:after {
      //   content: "";
      //   position: absolute;
      //   top: 3rem;
      //   width: calc(40% + 1.7rem);
      //   bottom: 0;
      //   right: 25px;
      //   opacity: .5;
      //   z-index: -1;
      //   box-shadow: rgba(0,0,0,.16) -10px 10px 36px 0,rgba(0,0,0,.06) 0 0 0 1px;
      // }
      p {
        color: #676767;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 50% !important;
    box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
  }
}
