.sectionnews{
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .section-title{
        margin: $actu-title-margin;
        @include media-breakpoint-up(lg) { 
        }
        @include media-breakpoint-up(xxl) { 
        }
    }
    .swiper-slide{
        a{
            text-decoration: none;
        }
        & > a{
            display: flex;
            flex-direction: column;
        }
        .swiper-image{
            margin-bottom: $actu-image-margin-bottom;
            border-radius: $actu-image-border-radius;
        }
        .swiper_category{
            margin:$actu-category-margin;
            span{
                color: $actu-category-color;
                text-transform: $actu-category-text-transform;
                font-size: $actu-category-font-size;
                font-weight: $actu-category-font-weight;
            }
        }
        .swiper_date{
            margin:  $actu-date-margin;
            padding: $actu-date-padding;
            color: $actu-date-color;
            font-size: $actu-date-font-size;

        }
        .swiper_title{
            margin:  $actu-item-title-margin;
            padding: $actu-item-title-padding;
            h3{
                color: $actu-item-title-color;
                text-transform: $actu-item-title-text-transform;
                font-size: $actu-item-title-font-size;
                font-weight: $actu-item-title-font-weight; 
            }
        }
    }
}

// hover
.swiper-button-next, .swiper-button-prev {
    transition: all .1s linear;
    &:hover,&:focus{
        width: 52px;
        height: 52px;
    }
}

.swiper-pagination-bullet-active {
    background: #007aff !important;
}

// see all
.sectionnews{
    .see_all{
        @if $see-all-align-actu == right {
            a{
                float: right;
            }
          } @else if $see-all-align-actu == left {
            a{
                float: right;
            }
          } @else {
            display: block;
            width: max-content;
            margin: 0 auto;
          }
        }
}

// .see_all{
//     float: right;
//     margin: 2rem 0;
//     a{
//         position: relative;
//         overflow: hidden;
//         border-radius: 15px;
//         border: solid 1px #000;
//         background: #000;
//         border-bottom-left-radius: 0px;
//         &:after{
//             content: "";
//             background: #fff;
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             width: 0;
//             z-index: -1;
//             left: 0;
//             border-top-right-radius: 15px;
//             border-bottom-right-radius: 15px;
//             transition: all .4s ease;
//             z-index: 0;
//             mix-blend-mode: difference;
//         }
//         &:hover,&:focus{
//             &:after{
//                 width: 103%;
//             }
//         }
//     }
// }