.sectionnews {
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .section-title {
    color:$actu-title-color;
    margin: $actu-title-margin;
    padding: $actu-title-padding;
    @include media-breakpoint-up(lg) {
    }
    @include media-breakpoint-up(xxl) {
    }
  }

  .swiper-slide {
    height: auto;
    a {
      text-decoration: none;
    }
    & > a {
      display: grid;
      height: 100%;
      place-items: start;
      grid-auto-rows: min-content;
      background: $actu-item-bg-color;
      border-radius: $actu-item-bg-radius;
    }
    .swiper-image {
      margin-bottom: $actu-image-margin-bottom;
      border-radius: $actu-image-border-radius;
      width: 100%;
    }
    .swiper_category {
      margin: $actu-category-margin;
      margin: $actu-category-padding;
      span {
        color: $actu-category-color;
        background: $actu-category-bg-color;
        font-size: $actu-category-font-size;
        font-weight: $actu-category-font-weight;
        text-transform: $actu-category-text-transform;
      }
    }
    .swiper_date {
      padding: $actu-date-padding;
      margin: $actu-date-margin;
      color: $actu-date-color;
      font-size: $actu-date-font-size;
    }
    .swiper_title {
      padding: $actu-item-title-padding;
      margin: $actu-item-title-margin;
      h3 {
        color: $actu-item-title-color;
        font-size: $actu-item-title-font-size;
        font-weight: $actu-item-title-font-weight;
        text-transform: $actu-item-title-text-transform;
      }
    }
  }
}

// hover
.swiper-button-next,
.swiper-button-prev {
  transition: all 0.1s linear;

  &:hover,
  &:focus {
    width: 52px;
    height: 52px;
  }
}

.swiper-pagination-bullet-active {
  background: #007aff !important;
}

// see all
.sectionnews {
  .see_all {
    @if $see-all-align-actu == right {
      a {
        float: right;
      }
    } @else if $see-all-align-actu == left {
      a {
        float: right;
      }
    } @else {
      display: block;
      width: max-content;
      margin: 0 auto;
    }
  }
}

// .see_all{
//     float: right;
//     margin: 2rem 0;
//     a{
//         position: relative;
//         overflow: hidden;
//         border-radius: 15px;
//         border: solid 1px #000;
//         background: #000;
//         border-bottom-left-radius: 0px;
//         &:after{
//             content: "";
//             background: #fff;
//             position: absolute;
//             top: 0;
//             bottom: 0;
//             width: 0;
//             z-index: -1;
//             left: 0;
//             border-top-right-radius: 15px;
//             border-bottom-right-radius: 15px;
//             transition: all .4s ease;
//             z-index: 0;
//             mix-blend-mode: difference;
//         }
//         &:hover,&:focus{
//             &:after{
//                 width: 103%;
//             }
//         }
//     }
// }
