@mixin see-all-style {
    margin: $see-all-margin;
    display: flex;
    a {
        display: block;
        width: max-content;
        padding: $see-all-padding;
        background: $see-all-bg;
        color: $see-all-color;
        border-radius: $see-all-radius;
        border: $see-all-border;
        text-decoration: none;
        text-transform: $see-all-text-transform;
        font-size: $see-all-font-size;
        transition: $see-all-transition;
        font-family: $see-all-font-family;
        &:hover,
        &:focus {
            background: $see-all-hover-bg;
            color: $see-all-hover-color;
            border-radius: $see-all-hover-radius;
            border: $see-all-hover-border;
        }
    }
}

#content-core,
#main-container {
    margin-bottom: 0;
}