#body-section-quick-access {
  padding: $quick-access-container-padding;
  li {
    list-style: none;
    a {
      display: block;
      text-align: center;
      text-decoration:none;
      .image.d-block {
        display: flex;
        width: $quick-access-width;
        height: $quick-access-height;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background: $quick-access-background;
        border-radius: $quick-access-border-radius;
        box-shadow: $quick-access-shadow;
        border: $quick-access-border;
        svg {
          width: $quick-access-svg-width;
          height: auto;
          fill: $quick-access-svg-color;
        }
      }

      .table_title {
        span{
          margin-top: $quick-access-title-margin;
          font-size: $quick-access-title-font-size;
          color: $quick-access-title-color;
          text-transform: $quick-access-title-text-transform;
          font-weight: $quick-access-title-weight;
        }
      }
    }
  }
}

#container-section-quick-access{
  @if $quick-access-enable-full-bg {
    background:$quick-access-full-bg-color;
    border:$quick-access-full-bg-border;
    box-shadow:$quick-access-full-bg-shadow;
  }
  .row{
    margin-bottom: 0;
  }
}