#body-section-quick-access {
  li {
    list-style: none;

    a {
      display: block;
      text-align: center;
      .image.d-block {
        display: flex;
        width: $quick-access-width;
        height: $quick-access-height;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background: $quick-access-background;
        border-radius: $quick-access-border-radius;
        box-shadow: $quick-access-shadow;
        border: $quick-access-border;
        svg {
          width: $quick-access-svg-width;
          height: auto;
        }
      }

      .table_title {
        span{
          margin-top: $quick-access-title-margin;
          font-size: $quick-access-title-font-size;
          color: $quick-access-title-color;
          text-transform: $quick-access-title-text-transform;

        }
      }
    }
  }
}
