.sectionevents {
  position: relative;
  padding-top: $event-section-padding-top;
  padding-bottom: $event-section-padding-bottom;
  margin: $event-section-margin;
  @if $actu-section-full-width {
    width: 100vw;
    max-width: 100vw;
  }
  @include media-breakpoint-up(lg) {
    @if $actu-section-full-width {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .container {
    padding-right: 0;
    padding-left: 0;
    @include media-breakpoint-up(lg) {
      @if $event-section-full-width {
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
      }
    }
  }

  .section-title {
    color: $event-title-color;
    margin: $event-title-margin;
    padding: $event-title-padding;
    text-align: $event-title-align;
    @include media-breakpoint-up(lg) {}
    @include media-breakpoint-up(xxl) {}
  }

  .swiper-slide {
    height: auto;

    a {
      text-decoration: none;
    }

    &>a {
      display: grid;
      height: 100%;
      place-items: start;
      grid-auto-rows: min-content;
      background: $event-item-bg-color;
      border-radius: $event-item-bg-radius;
    }

    .swiper-image {
      margin-bottom: $event-image-margin-bottom;
      border-radius: $event-image-border-radius;
      width: 100%;
    }

    .swiper_category {
      margin: $event-category-margin;

      span {
        display: block;
        padding: $event-category-padding;
        color: $event-category-color;
        background: $event-category-bg-color;
        font-size: $event-category-font-size;
        font-weight: $event-category-font-weight;
        text-transform: $event-category-text-transform;
        border-radius: $event-category-radius;
      }
    }

    .swiper_date {
      padding: $event-date-padding;
      margin: $event-date-margin;
      color: $event-date-color;
      font-size: $event-date-font-size;
    }

    .swiper_title {
      padding: $event-item-title-padding;
      margin: $event-item-title-margin;

      h3 {
        color: $event-item-title-color;
        font-size: $event-item-title-font-size;
        font-weight: $event-item-title-font-weight;
        text-transform: $event-item-title-text-transform;
      }
    }

    .swiper_description {
      text-align: $actu-item-description-align;
      font-family: $actu-item-description-font-family;
      margin:$actu-item-description-margin;
      padding: $actu-item-description-padding;
      color:$actu-item-description-color;
    }
  }
}

.sectionevents .swiper-slide .swiper_date .day_date .day::after,
.sectionevents .swiper-slide .swiper_date .end_date .day::after,
.sectionevents .swiper-slide .swiper_date .start_date .day::after {
	content: "/";
}

.sectionevents .swiper-slide .swiper_date div {
	display: flex;
}

.sectionevents{
  .swiper_date{
    display: flex;

    .day_date{
      .from_on{
        margin-right: .25em;
      }
    }

    .start_date{
      display: flex;
      margin-right: .25em;

      .from_on{
        margin-right: .25em;
      }
    }

    .end_date{
      .to{
        margin-right: .25em;
      }
    }
  }
}
// see all
.sectionevents {
  .see_all {
    justify-content: $event-see-all-justify-content;
    @include see-all-style;
  }
}