.sectionlinks.quick-access {
  position: relative;
  background: transparent;
  @if $quick-access-section-full-width {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100vw;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
    @if $quick-access-section-full-width {
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
  }
  .section-title {
    color: $quick-access-title-color;
    margin: $quick-access-title-margin;
    padding: $quick-access-title-padding;
    text-align: $quick-access-title-align;
    @include media-breakpoint-up(lg) {}
    @include media-breakpoint-up(xxl) {}
  }
  .body-section {
    padding: $quick-access-container-padding;
    ul{
      justify-content: center;
    }
    li {
      list-style: none;
      a {
        display: block;
        text-align: center;
        text-decoration: none;
        .image.d-block {
          display: flex;
          width: $quick-access-width;
          height: $quick-access-height;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          background: $quick-access-background;
          border-radius: $quick-access-border-radius;
          box-shadow: $quick-access-shadow;
          border: $quick-access-border;
          svg {
            width: $quick-access-svg-width;
            height: auto;
            fill: $quick-access-svg-color;
          }
        }

        .table_title {
          margin: $quick-access-item-title-margin;
          span {
            font-size: $quick-access-title-font-size;
            color: $quick-access-title-color;
            text-transform: $quick-access-title-text-transform;
            font-weight: $quick-access-title-weight;
            font-family: $quick-access-title-font-family;
          }
        }
      }
    }
  }
}

#container-section-quick-access {
  @if $quick-access-enable-full-bg {
    background: $quick-access-full-bg-color;
    border: $quick-access-full-bg-border;
    box-shadow: $quick-access-full-bg-shadow;
  }
  .row {
    margin-bottom: 0;
  }
}