.portaltype-imio-smartweb-page #main-container .sectionfiles {
  .table_image {
    background: #dddddd;
    display: flow-root;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .image {
    width: 200px;
    height: 130px;
    display: block;
    border-radius: 10px;
    float: left;
    margin-right: 30px;
  }
}
