/* galerie photo */
.section-gallery {
    padding-bottom: 2rem;
}

.section-gallery {
    padding-left: 0;
    padding-right: 0;
 }
 .sectiongallery .flexbin {
     gap: 5px;
 }
 .sectiongallery .flexbin.flexbin-margin {
    margin: 0;
 }
 .sectiongallery .flexbin > * {
     margin: 0;
 }
 