#portal-column-content{
    .sectioncontact{
        position: relative;
    }
    .section-contact{
        ul{
            li{
                list-style: none;
            }
        }
        .contact-type-organization{
            display: flex;
            flex-wrap: wrap;
            padding: 2rem 0;
            flex-direction: column;
            align-content: flex-start;
            @include media-breakpoint-up(md){
                flex-direction: row;
                gap: 10px 30px;
            }
            &:after {
                content: "";
                position: absolute;
                left: 1rem;
                right: 1rem;
                top: 1rem;
                bottom: 1rem;
                z-index: -1;
                background: #f3f3f3;
            }
            .contact_titles{
                flex: 1 0 100%;
            }
            .contact_informations,.address,.schedule{
                h2,h3{
                    color: $primary;
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }
            .address{
                .contact_address span {
                    display: block;
                }
            }
            .schedule{
                .table_schedule {
                    &--active {
                        display: block;
                    }
                    td{
                        vertical-align: top;
                    }
                }
            }
        }
        .contact-type-mission{
            padding: 2rem 0;
            &:after {
                content: "";
                position: absolute;
                left: 1rem;
                right: 1rem;
                top: 1rem;
                bottom: 1rem;
                z-index: -1;
                border: solid 1px #f3f3f3;
            }
            .contact_titles{
                flex: 1 0 100%;
            }
            .contact_informations,.address,.schedule{
                h2,h3{
                    color: $primary;
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }
            .address{
                .contact_address span {
                    display: block;
                }
            }
            .schedule{
                .table_schedule {
                    &--active {
                        display: block;
                    }
                    td{
                        vertical-align: top;
                    }
                }
            }
        }
        .contact-type-position{
            padding: 2rem 0;
            .contact_titles{
                flex: 1 0 100%;
            }
            .contact_informations,.address,.schedule{
                h2,h3{
                    color: $primary;
                    font-size: 1.25rem;
                    font-weight: 500;
                }
            }
            .address{
                .contact_address span {
                    display: block;
                }
            }
            .contact_logo,.contact_leadimage {
                border-radius: 8px;
                width: 100%;
                margin-bottom: 1em;
            }
            .schedule{
                .table_schedule {
                    &--active {
                        display: block;
                    }
                    td{
                        vertical-align: top;
                    }
                }
            }
        }
    } 
}
    

.img-portrait{
    .contact_leadimage {
        padding-top: 110%;
        background-position: top center;
    }
}

// .section-contact {
//     padding: 3rem 0;
//     .contact-type-organization {
//         @include media-breakpoint-up(sm) {
//             column-count: 2;
//             max-width: max-content;
//             column-gap: 2rem;
//         }

//         span {
//             color: $primary;
//             display: block;
//             font-size: 18px;
//             font-weight: bold;
//             padding: 0.7rem 0;
//         }

//         ul {
//             padding: 0;
//             break-inside: avoid-column;
//             li {
//                 list-style: none;
//                 line-height: 1.5;

//                 a {
//                     text-decoration: none;
//                     word-break: break-word;

//                     &:focus,
//                     &:hover {
//                         text-decoration: underline;
//                     }
//                 }
//             }

//             &> {

//                 .website,
//                 .home,
//                 .cell {
//                     margin-top: .5rem;
//                 }
//             }

//             &> {

//                 .website~.website,
//                 .home~.home,
//                 .cell~.cell {
//                     margin-top: 0;
//                 }
//             }
//         }

//         &>div {
//             break-inside: avoid-column;
//             margin: $section-contact-p-margin;
//             max-width: $section-contact-width;

//             &:first-child {
//                 margin-top: 0;
//             }
//             h2{
//                 font-size: $section-contact-title-size;
//                 color: $section-contact-title-color;
//             }
//             h3{
//                 font-size: $section-contact-sub-title-size;
//             }
//         }

//         .schedule {
//             .table_schedule {
//                 position: absolute;
//                 z-index: 99;
//                 background: rgb(243, 243, 243) none repeat scroll 0% 0%;
//                 padding: 1.3rem 2rem;
//                 box-shadow: rgba(0, 0, 0, 0.02) 0px 0.2px 2.2px, rgba(0, 0, 0, 0.027) 0px 0.5px 5.3px, rgba(0, 0, 0, 0.035) 0px 0.9px 10px, rgba(0, 0, 0, 0.043) 0px 1.6px 17.9px, rgba(0, 0, 0, 0.05) 0px 2.9px 33.4px, rgba(0, 0, 0, 0.07) 0px 7px 80px;
//                 border-radius: 10px;
//                 margin-top: 0.5rem;

//                 &--active {
//                     display: table-cell;
//                 }
//             }
//         }
//     }
// }
// .sectioncontact {
//     h3 {
//     font-size: $section-contact-sub-title-size;
//     }
//     ul{
//         list-style: none;
//     }
// }
// // Oppening info
// a.opening_informations {
//     display: block !important;
// }

// .body-section table tr:nth-child(even),
// #tinymce table tr:nth-child(even) {
//     background: #f7f7f7;
// }

// .body-section table tr,
// #tinymce table tr {
//     border-bottom: 1px solid #e8e8e8;
//     &:last-child{
//         border-bottom: transparent;
//     }
// }
// .body-section table td, #tinymce table td {
//     padding: 0.5rem 0.2rem;
//     vertical-align: top;
// }

// // for bla
// .section-contact {
//     position: relative;

//     // &:after {
//     //     content: "";
//     //     position: absolute;
//     //     width: 50vw;
//     //     left: 0;
//     //     top: 0;
//     //     bottom: 0;
//     //     z-index: -1;
//     //     background: #F3F3F3;
//     //     transform: translateX(-98%);
//     // }
// }

// // in sub-site
// .is-in-subsite {
//     .section-contact {
//         position: relative;

//         &:after {
//             content: "";
//             position: absolute;
//             width: 50vw;
//             left: 0;
//             top: 0;
//             bottom: 0;
//             z-index: -1;
//             background: #F3F3F3;
//             transform: translateX(-98%);
//         }
//     }
// }

// // for élus 

// .subsection-vie-politique .section-contact {
//     background: #fff;
// }

// .subsection-vie-politique .sectioncontact .section-container:after {
//     display: none;
// }

// .subsection-vie-politique .contact_logo,
// .subsection-vie-politique .contact_leadimage {
//     padding-top: 120%;
//     width: 100%;
//     background-position: top;
// }


// //// A vérif vient du custom
// .sectioncontact{
//     position:relative;
// }
// .section-contact .body-section{
//     column-count: auto;
// }
// .is-in-subsite .section-contact,
// .section-contact {
//     position: initial;
// }
// .section-contact .body-section > div {
//     max-width: 100%;
//     float:left;
//     margin-right:1.75rem;
// }
// .section-contact .body-section .contact_titles {
//     width: 100%;
//     margin-bottom:0;
// }

// #content .sectioncontact .section-container.section-contact .body-section .contact_titles{
//     float:none;
// }
// #content .sectioncontact .section-container.section-contact .body-section .contact_titles h2 {
//     font-size: 1.5rem;
//     color: black;
// }
// .section-contact .contact-type-organization span {
//     color: inherit;
//     display: block;
//     font-size: inherit;
//     font-weight: normal;
//     padding: 0;
// }


// /// de manu
// $color-contact-text: #656565;
// .contact-type-position{
//     .section-contact {
//         padding: 0;
//     }
//     .contact_logo {
//         border-radius: 8px;
//         width: 100%;
//         padding-top: 100%;
//         margin-bottom: 1em;
//     }
//     h2 {
//     font-size: $font-size-base;
//     font-weight: bold;
//     margin-bottom: 0;
//     }
//     .contact_informations h3.informations,
//     .contact_address h3 {
//     font-size: $font-size-base;
//     font-weight: bold;
//     margin-bottom: 0;
//     color: $primary-accessibility;
//    }
//     div.contact_titles div.contact_subtitle {
//         font-size: $font-size-base;
//     }
//     .contact_informations {
//         ul li {
//             font-size: $font-size-sm;
//             &::marker {
//             display: none !important;
//             color: transparent;
//             }
//             a {
//                 color: $color-contact-text;
//             }
//         }
//     }
//     .contact_address {
//         >span {
//             font-size: $font-size-sm;
//             color: $color-contact-text;
//             display: block;
//         }
//     }
//     .contact_titles {
//         margin: 0 0 1em 0;
//     }
// }
