.sectionselections {
  @include section-padding-top;
  @include section-padding-bottom;

  .table_title {
    padding: 10px;
  }

  .display-paysage {
    .table_image:not(.no-image) {
      .image.d-block.is-image.w-100 {
        aspect-ratio: 1.67;
        background-size: auto;
        background-repeat: no-repeat;
        margin-bottom: 10px;
      }
    }
  }

  .display-portrait {
    .table_image:not(.no-image) {
      .image.d-block.is-image.w-100 {
        aspect-ratio: 0.7;
        margin-bottom: 10px;
      }
    }
  }

  .display-carre {
    .table_image:not(.no-image) {
      .image.d-block.is-image.w-100 {
        aspect-ratio: 1;
        margin-bottom: 10px;
      }
    }
  }

  li {
    list-style: none;
  }
}
