.mark,
mark {
  display: block;
}

.sectiontext {
  font-size: $font-size-texte;

  mark {
    display: inline-block;
    padding: $mark-padding-sec;
    border: $mark-border;
    background-color: $mark-background-color;
    border-radius: $mark-radius;
    color: $mark-color;
    font-weight: $mark-weight;
  }

  p {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  h2 {
    margin-top: $section-text-h2-margin-top;
    margin-bottom: $section-text-h2-margin-bottom;
  }

  h3 {
    margin-top: $section-text-h3-margin-top;
    margin-bottom: $section-text-h3-margin-bottom;
  }

  ol {
    list-style-type:none;        
    counter-reset: sectioncounter;

    & > li{
      display: table;
      padding-left: 1rem;

      &:before{
        content: counter(sectioncounter) ".";
        counter-increment: sectioncounter;
        display:inline-block; 
        width:2em; 
        text-align:right;
        position:relative; 
        left:-2.5em; 
        margin-right:-2em;
      }
    }
  } 

  ul li {
    position: relative;
    display: table;
    padding-left: 1rem;
    margin: 0.25rem 0;
    list-style: none;

    &::before {
      position: absolute;
      top: -2px;
      left: 0;
      content: $list-style-custom;
    }
  }

  .section-text {
    .body-section {
      a {
        color: $section-text-link-color;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &.figure-left {
        figure {
          display: table;
          max-width: 100%;
          @include media-breakpoint-up(md) {
            max-width: 45%;
            margin-right: 2.5rem;
            float: left;
          }

          img {
            width: auto;
          }
        }
      }

      &.figure-right {
        figure {
          display: table;
          max-width: 100%;
          @include media-breakpoint-up(md) {
            max-width: 45%;
            margin-left: 2.5rem;
            float: right;
          }

          img {
            width: auto;
          }
        }

        flex-direction: row-reverse;
      }

      &.figure-top {
        display: flex;
        flex-direction: column;
        align-items: center;

        figure {
          margin-top: 3rem;
        }

        .text {
          h2:first-child {
            margin-top: 0;
          }
        }
      }

      &.figure-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }

      figure {
        display: table;

        img {
          display: block;
        }

        figcaption {
          display: table-caption;
          caption-side: bottom;
          font-size: $font-size-sm;
        }
      }

      .text {
        max-width: $section-text-max-width;
        margin: 0 auto;
      }
    }
  }
}

div:not(.sectiontext) {
  &+.sectiontext {
    // @include section-padding-top;
    h2 {
      margin-top: 10px !important;
      @include media-breakpoint-up(md) {
        margin-top: 50px !important;
      }
    }

    .figure-top {
      figure {
        margin-top: 0;
      }
    }
  }
}

// quote
blockquote {
  margin: 0 0 1rem 2rem;
  font-style: italic;
  font-weight: 600;
}

blockquote::before {
  position: relative;
  top: 9px;
  height: 10px;
  margin-right: 0.25rem;
  content: '"';
  font-size: 32px;
  font-weight: 600;
  line-height: 0;
  margin-right: .75rem;
}

blockquote::after {
  position: relative;
  top: 8px;
  height: 10px;
  content: '"';
  font-size: 32px;
  font-weight: 600;
  line-height: 0;
  margin-left: 0.5rem;
}

strong {
  font-weight: bold;
}

// A supp quand la class container de la section de text est retiré du buildout
.container.section-container.section-text {
  padding-right: 0;
  padding-left: 0;
}


.sectiontext table tr td ul li::before {
	position: initial !important;
	margin-right: 0.5rem;
}

