$row-gap-tamp: 10px;

.sectiontimestampedpublications {
  .row {
    gap: $row-gap-tamp;

    @for $i from 1 through 12 {
      .col-md-#{$i} {
        flex: 0 0 calc((100% * #{$i} / 12) - #{$row-gap-tamp} / 2);
      }
    }

    li {
      background: #f1f1f1;
      padding: 30px;
      border-radius: 10px;
      list-style: none;

      &::marker {
        display: none !important;
      }

      .table_image {
        text-decoration: none;
      }

      .table_date {
        font-size: 0.75rem;
      }

      .table_title {
        font-weight: 700;
        font-size: 1.125rem;
        padding-bottom: 20px;
      }
    }
  }
}
