#body-section-post-it {
  .swiper-slide {
    background: #f7f7f7;
    padding: 2rem 4rem;
    box-shadow: rgba(0, 0, 0, 16%) 0 1px 4px;
  }

  .swiper-button-prev {
    top: 50% !important;
    transform: translateY(-50%) !important;
    left: 0 !important;
  }

  .swiper-button-next {
    top: 50% !important;
    transform: translateY(-50%) !important;
    right: 0 !important;
  }
}
