.mce-content-body {
  mark {
    display: block;
    padding: 20px 45px 20px 26px;
    border: solid 4px $primary;
    background-color: $primary;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    color: #fff;
    font-weight: 500;
  }

  li {
    position: relative;
    display: table;
    padding-left: 1rem;
    margin: 0.25rem 0;
    list-style: none;

    // &::before{
    //     content: $list-style-custom;
    //     top: -2px;
    //     left: 0;
    //     position: absolute;
    // }
  }
}

.sectiontext {
  font-size: $font-size-texte;

  mark {
    display: inline-block;
    padding: $mark-padding;
    border: $mark-border;
    background-color: $mark-background-color;
    border-radius: $mark-radius;
    color: $mark-color;
    font-weight: $mark-weight;
  }

  p {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  h2 {
    margin-top: $section-text-h2-margin-top;
    margin-bottom: $section-text-h2-margin-bottom;
  }

  h3 {
    margin-top: $section-text-h3-margin-top;
    margin-bottom: $section-text-h3-margin-bottom;
    font-weight: 500;
  }

  li {
    position: relative;
    display: table;
    padding-left: 1rem;
    margin: 0.25rem 0;
    list-style: none;

    &::before {
      position: absolute;
      top: -2px;
      left: 0;
      content: $list-style-custom;
    }
  }

  .section-text {
    .body-section {
      a {
        color: $section-text-link-color;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &.figure-left {
        figure {
          display: block;
          max-width: 100%;
          @include media-breakpoint-up(md) {
            max-width: 45%;
            margin-right: 2.5rem;
            float: left;
          }

          img {
            width: 100%;
          }
        }
      }

      &.figure-right {
        figure {
          display: block;
          max-width: 100%;
          @include media-breakpoint-up(md) {
            max-width: 45%;
            margin-left: 2.5rem;
            float: right;
          }

          img {
            width: 100%;
          }
        }

        flex-direction: row-reverse;
      }

      &.figure-top {
        display: flex;
        flex-direction: column;
        align-items: center;

        figure {
          margin-top: 3rem;
        }

        .text {
          h2:first-child {
            margin-top: 0;
          }
        }
      }

      &.figure-bottom {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }

      figure {
        display: table;

        img {
          display: block;
        }

        figcaption {
          // display: table-caption;
          caption-side: bottom;
          font-size: $font-size-sm;
        }
      }

      .text {
        max-width: $section-text-max-width;
        margin: 0 auto;
      }
    }
  }
}

div:not(.sectiontext) {
  &+.sectiontext {
    // @include section-padding-top;
    h2 {
      margin-top: 10px !important;
      @include media-breakpoint-up(md) {
        margin-top: 50px !important;
      }
    }

    .figure-top {
      figure {
        margin-top: 0;
      }
    }
  }
}

// quote
blockquote {
  margin: 0 0 1rem 2rem;
  font-style: italic;
  font-weight: 600;
}

blockquote::before {
  position: relative;
  top: 9px;
  height: 10px;
  margin-right: 0.25rem;
  content: '"';
  font-size: 32px;
  font-weight: 600;
  line-height: 0;
}

blockquote::after {
  position: relative;
  top: 8px;
  height: 10px;
  content: '"';
  font-size: 32px;
  font-weight: 600;
  line-height: 0;
}

strong {
  font-weight: bold;
}

// A supp quand la class container de la section de text est retiré du buildout
.container.section-container.section-text {
  padding-right: 0;
  padding-left: 0;
}

.r-content-text {
  li {
    position: relative;
    display: table;
    padding-left: 1rem;
    margin: 0.25rem 0;
    list-style: none;

    &::before {
      position: absolute;

      // content: $list-style-custom;
      top: -2px;
      left: 0;
    }
  }
}