#container-section-quick-access {
    .table_image {
        .table_title {
            span {
                position: relative;
                display: inline-block;
            }
        }

        &:hover,
        &:focus {
            .table_title {
                span {
                    &:after {
                        content: "";
                        bottom: -5px;
                        height: 2px;
                        left: 0;
                        position: absolute;
                        right: 0;
                        transition: all .3s ease;
                        background-color: #FCE181 !important;
                    }
                }
            }
        }
    }

    #body-section-quick-access {
        .row {
            @include media-breakpoint-down(md) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(117px, auto));
                grid-gap: 20px;
                grid-auto-rows: 1fr;
                align-items: center;
            }
        }
    }
}