.smartweb_herobanner {
  width: 100vw;
  right: 0;
  overflow: hidden;
  padding: 0 30px;
  position: relative;
  background: url("../../assets/svg/bg-banner.svg") left bottom no-repeat;

  @media screen and (max-width: 992px) {
    background: none;
  }

  &::after {
    background: url("../../assets/svg/bg-topheader.svg") top right no-repeat;
    content: "";
    display: block;
    height: 430px;
    position: absolute;
    right: 0;
    top: -100px;
    width: 120px;
    z-index: 1;
  }
}

.smartweb_herobanner .bannerSwiper {
  height: 50vw;
  min-height: 500px;
  max-height: 500px;
  width: 50vw;
  max-width: 900px;
  right: auto;
  left: calc(50vw - 100px);
  //float: right;
  border-radius: 0 0 80px 80px;
  margin: unset;

  @media screen and (max-width: 992px) {
    height: 50vw;
    max-height: 500px;
    width: calc(100vw - 60px);
    max-width: 900px;
    right: auto;
    left: 0;
    //float: right;
    border-radius: 0 0 80px 80px;
    margin: unset;
  }
}

.smartweb_herobanner .swiper-button-next {
  top: auto;
  bottom: 60px;
  right: 60px;
}

.smartweb_herobanner .swiper-button-prev {
  top: auto;
  bottom: 60px;
  right: 110px;
  left: auto;
}

.swiper-banner-title {
  display: none;
}

.swiper-banner-image::after {
  content: "";
  background: #0000;
  position: absolute;
  inset: 0;
  opacity: 30%;
}

.slogan-banner {
  position: relative;
  display: block;
  width: calc(50% - 100px);
  height: 500px;
  margin-top: -520px;
  align-content: center;

  p {
    font-size: 60px;
    line-height: 70px;
    font-weight: 200;

    b {
      font-weight: 500;
    }
  }

  @media screen and (max-width: 992px) {
    position: relative;
    display: block;
    width: calc(100% - 100px);
    height: 500px;
    margin-top: -520px;
    align-content: center;

    p {
      font-size: 30px;
      line-height: 40px;
      background: rgba(0, 0, 0, 60%);
      color: #fff;
      padding: 30px;
      border-radius: 20px;
      text-align: center;
    }
  }
}
