footer {
    background: $primary-svg;
}

footer div#smartweb-footer {
    background: $primary-svg;

        h2, div a, ul li a, span {
        color: #fff !important;
        }

        h2 {
            font-size: $h3-font-size;
        }

        .table_tittle span {
            font-size: 1rem;
        }
}

footer .image.d-block {
    display: none;
}

footer .smartweb-footer {
    .sectiontext .section-text .body-section.figure-top figure {
        margin-top: 0;
    }

    .container > .row {
    padding: 5rem 0;
    }

    .sectiontext, .sectioncontact, .sectionlinks {
        text-align: left;
    }
}

footer {
    #portal-colophon, div.colophon {
    background-color: $primary-svg;
    }

    div#body-section-liens-utiles li a {
        text-decoration: none;
    }
    
    div#body-section-liens-utiles li a:hover {
        text-decoration: underline;
    }
}

.colophonWrapper ul li {
    display: inline-block;
}
@media (max-width: 992px) {
    .sectiontext .section-text .body-section.figure-left figure img {
    width: 50%;
    }
}

footer ul.row {
    margin-left: 0;
}

//
footer {
#portal-colophon, div.colophon {
background-color: $primary-svg;
}

div#body-section-liens-utiles li a {
    text-decoration: none;
}

div#body-section-liens-utiles li a:hover {
    text-decoration: underline;
}
}

.colophonWrapper ul li {
    display: inline-block;
}
@media (max-width: 992px) {
    .sectiontext .section-text .body-section.figure-left figure img {
    width: 50%;
    }
}

footer ul.row {
    margin-left: 0;
}

#portal-footer-wrapper #portal-footer.container {
    background: $primary-svg !important;
}

#portal-footer-wrapper {
    position: relative;
    background:transparent;
}

.smartweb_footer .smartweb-footer {
    li a, h3, h2 a, .sectioncontact h2, h2 {
    color: #fff;
    }

    img {
        width: 60%;
    }
}

footer div#smartweb-footer .h2, footer div#smartweb-footer h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}