.sectionnews {
  background: url("../../assets/svg/bg-actu.svg") center calc(100% - 20px)
    no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
  padding: 200px 0 0;

  @media screen and (max-width: 1200px) {
    border-radius: 0;
    padding: 50px 0 0;
  }

  @media screen and (max-width: 992px) {
    padding: 50px 30px 0;
  }

  .section-title {
    font-weight: 500;
    text-align: left;
    position: relative;
    margin: 0 auto 2rem;
    font-size: 2.5rem;
    color: #000;
    width: 100%;
    padding-left: 60px;
    background: url("../../assets/svg/icon-titre.svg") left top no-repeat;
    background-size: contain;
  }

  .row {
    gap: 24px 0;

    li {
      list-style: none;

      .table_display {
        height: 100%;
      }

      .table_image {
        display: block;
        text-decoration: none;
        height: 100%;
        padding-bottom: 20px;
        position: relative;
        transition: 0.5s;
        border-radius: 15px;

        &:hover,
        &:focus {
          transition: 0.5s;
          transform: translateY(10px);
        }

        &::after {
          content: "";
          width: 35px;
          height: 35px;
          display: block;
          position: absolute;
          bottom: 1rem;
          right: 1.5rem;
        }

        .image {
          padding-bottom: 100%;
          margin-bottom: 1rem;
          border-radius: 14px;
        }

        .table_date {
          padding: 0 1.5rem;
          margin-bottom: 0.5;
          text-align: left;

          span {
            font-size: 12px;
          }
        }

        .table_category {
          bottom: 0;
          right: 0;
          width: 100%;
          margin: -30px 0 15px;
          text-align: left;

          span {
            background: #331a43;
            border-radius: 12px;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            padding: 0.5rem 1rem;
            text-transform: none;
          }
        }

        .table_title {
          padding: 0 1.5rem;
          margin-bottom: 0.5rem;
          text-align: left;

          span {
            font-size: 18px;
            font-weight: 600;
            font-family: $font-family-base;
          }
        }

        div:last-child {
          padding-bottom: 0.5rem;
        }
      }
    }
  }

  .see_all a {
    margin-top: 80px;
  }

  .see_all a::after {
    display: none;
  }

  .swiper-wrapper {
    .swiper-slide {
      transition: 0.5s;

      &:hover,
      &:focus {
        transition: 0.5s;
        transform: translateY(10px);
      }

      .swiper_category {
        bottom: 0;
        right: 0;
        width: 100%;
        margin: -20px 0 0;
        text-align: left;

        span {
          display: inline-block;
        }
      }

      .swiper_date {
        font-family: $font-family-base;
        margin: 1rem auto 0.5rem !important;
        text-align: left !important;
        width: 100%;
        font-weight: 500;
      }
    }
  }
}
