#portal-footer-wrapper {
  text-align: left !important;
  margin-top: 60px;
  position: relative;
  padding: 0 !important;
  background: #fff;

  .sectiontext,
  .sectionlinks {
    border-top: 3px solid #ddd;
    padding-top: 60px;
  }

  #portal-footer {
    padding: 80px 0;

    #smartweb-footer,
    #smartweb-minisite-footer {
      a,
      span,
      p,
      div,
      h2 {
        color: #000;
        text-decoration: none;
      }

      h2 {
        font-size: 22px !important;
        font-weight: 500;
        margin-top: 0;

        &.section-title {
          margin-bottom: 0.5rem;
          margin-top: 0;
        }
      }

      .sectiontext {
        figure {
          max-width: 100%;

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}

#portal-footer-wrapper #portal-footer h2.section-title {
  margin-bottom: 0.5rem;
}

.smartweb-footer .body-section figure img {
  border-radius: 0 !important;
}

#portal-footer-wrapper #portal-footer .sectionlinks .container .body-section {
  .row {
    li {
      .table_display {
        .table_image {
          .image {
            position: absolute;

            svg {
              fill: $primary-red;
            }
          }

          .table_title {
            padding-left: 30px !important;
            font-size: 1rem !important;

            span {
              transition: all 0.5s ease;
            }

            &:hover {
              span {
                color: $primary-green !important;
                transition: all 0.5s ease;
              }
            }
          }
        }
      }
    }
  }
}

#portal-colophon {
  background: #fff;
  padding: 1rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    /*&:nth-last-child(n+1){
            display: block;
        }*/
    li {
      color: #000;

      a,
      span,
      p,
      div {
        color: #000;
      }
    }
  }
}

#portal-footer-wrapper {
  li {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}

footer {
  .schedule .opening_informations::after {
    content: "";
    width: 9px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="8.444" height="5.2"><path fill="white" d="M.247.254a.831.831 0 0 1 1.2 0l2.78 2.854L7.011.254A.831.831 0 0 1 8.2.264a.882.882 0 0 1 .01 1.215L4.825 4.946a.835.835 0 0 1-.6.254 1.529 1.529 0 0 1-.6-.254L.247 1.479a.882.882 0 0 1 0-1.226Z"/></svg>');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0.4rem;
    display: inline-block;
    vertical-align: middle;
  }

  .sectiontext ul li::before {
    display: none !important;
  }
}

#portal-footer-wrapper #portal-footer .sectionlinks .container .body-section {
  .row {
    li {
      .table_display {
        .table_image {
          text-decoration: none !important;

          .image {
            width: 30px;
            position: absolute;

            svg {
              fill: $primary-red;
            }
          }

          .table_title {
            padding-left: 30px !important;
            font-size: 1rem !important;
            color: #fff !important;
            text-decoration: none !important;

            span {
              transition: all 0.5s ease;
            }

            &:hover {
              span {
                color: $primary-green !important;
                transition: all 0.5s ease;
              }
            }
          }
        }
      }
    }
  }
}

#smartweb-subsite-footer {
  padding: 0 0 40px;
  margin-bottom: 60px;
  background: #fff;

  .sectiontext .section-text .body-section.figure-left figure img {
    width: 100px;
  }

  .sectiontext .section-text .body-section a,
  .sectiontext .section-text .section-title a.collapsed {
    color: #fff !important;
  }
}

.smartweb_footer .contact_informations .work,
.smartweb_footer .contact_informations .fax {
  padding-left: 0 !important;
}

.smartweb_footer .address {
  margin-bottom: 0.5rem !important;
}
