.sectionnews {
  padding-top: 80px;
  margin-top: 80px;

  &::after {
    content: "";
    background: url("../../assets/svg/logo-actu.svg") left center no-repeat
      $primary-blue;
    left: 0;
    width: 100vw;
    height: 100%;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background-size: 40% 80%;
  }

  .section-title {
    font-weight: 500;
    text-align: left;
    color: #fff;
    padding-left: 0;
    margin: 0 0 50px;
    position: relative;
    width: max-content;

    &::before {
      content: "";
      display: block;
      height: 3px;
      right: 0;
      bottom: -15px;
      position: absolute;
      width: 60%;
      background: $primary-green;
    }
  }

  .swiper-wrapper {
    .swiper-slide {
      transition: all 0.25s ease;

      & > a {
        display: block;
        align-items: center;
        background: $primary-blue-dark;

        .swiper-image {
          padding-bottom: 55%;
          transition: all 0.25s ease;
          margin-bottom: 0;
        }

        .swiper_category,
        .auth_source_container_title {
          margin-left: 0;
          position: relative;
          width: max-content;
          margin-top: -37px;
          left: 0;
          display: none;
        }

        .swiper_date {
          font-family: $font-family-base;
          grid-row-start: 2;
          width: 100% !important;
          text-align: center;
          color: $primary;
          margin: 1.5rem 0 0.5rem;
          display: none;
        }

        .swiper_title {
          margin-top: 10px;
          width: 100%;
          color: #fff;
          padding-top: 20px;

          h3 {
            color: #fff;
            font-size: 18px;
            text-align: left;
          }
        }

        .swiper_description {
          display: none;

          p {
            margin: 0;
          }
        }

        &:hover {
          .swiper-image {
            mask-size: 99%;
          }
        }
      }

      &:hover {
        transform: translateY(10px);
        transition: 0.5s;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sectionnews::after {
    border-radius: 0;
    width: 100%;
  }

  .sectionevents::after {
    border-radius: 0 !important;
    width: 100% !important;
  }

  #portal-footer-wrapper {
    margin-top: 0;
  }
}

.sectionnews .see_all {
  a {
    background: url("../../assets/svg/arrow-right.svg") no-repeat right center !important;
    padding: 0 40px 0 10px !important;
    font-weight: 200 !important;

    &:hover {
      padding: 0 50px 0 10px !important;
    }
  }
}

.sectionnews .swiper-pagination-bullet {
  background: $primary-blue-dark !important;
  opacity: 100%;
}

.sectionnews .swiper-pagination-bullet-active {
  background: #fff !important;
}

.a-la-une .swiper-pagination-bullet {
  background: $primary-gris !important;
  opacity: 100%;
}

.a-la-une .swiper-pagination-bullet-active {
  background: $primary-blue !important;
}
