.bannerSwiper .section-slide {
  &::after {
    content: url("../../assets/svg/logo-header.svg");
    background: linear-gradient(-90deg, #0a0a0a, transparent);
    width: 100%;
    max-width: 500px;
    top: 50%;
    position: absolute;
    right: 0;
    transform: translate(0, -50%);
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 992px) {
      right: auto;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: 0;
    }

    @media screen and (max-width: 430px) {
      display: none;
    }
  }
}

.smartweb_herobanner {
  width: 100vw;
  right: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  @media screen and (max-width: 992px) {
    background: none;
  }
}

.smartweb_herobanner .bannerSwiper {
  height: 50vw;
  min-height: 500px;
  max-height: 500px;
  width: calc(100vw - 300px);
  max-width: calc(100vw - 300px);
  right: auto;
  left: 0;
  //float: right;
  border-radius: 0 40px 40px 0;
  margin: unset;

  @media screen and (max-width: 991px) {
    height: 50vw;
    max-height: 300px;
    width: 100vw;
    max-width: 1100px;
    right: auto;
    left: 0;
    //float: right;
    border-radius: 0;
    margin: unset;
  }
}

.smartweb_herobanner .swiper-button-next {
  top: auto;
  bottom: 60px;
  right: 60px;
}

.smartweb_herobanner .swiper-button-prev {
  top: auto;
  bottom: 60px;
  right: 110px;
  left: auto;
}

.swiper-banner-title,
.swiper-banner-description {
  display: none;
}

.swiper-banner-image::after {
  content: "";
  background: #0000;
  position: absolute;
  inset: 0;
  opacity: 30%;
}

.slogan-banner {
  position: relative;
  display: block;
  width: calc(50% - 100px);
  height: 500px;
  margin-top: -520px;
  align-content: center;

  p {
    font-size: 60px;
    line-height: 70px;
    font-weight: 200;

    b {
      font-weight: 500;
    }
  }

  @media screen and (max-width: 992px) {
    position: relative;
    display: block;
    width: calc(100% - 100px);
    height: 500px;
    margin-top: -520px;
    align-content: center;

    p {
      font-size: 30px;
      line-height: 40px;
      background: rgba(0, 0, 0, 60%);
      color: #fff;
      padding: 30px;
      border-radius: 20px;
      text-align: center;
    }
  }
}
