//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import "./variables";
@import "../../../base/src/scss/main";
@import "./homepage";

//// STYLES

// ... add your styles here

#portal-footer-wrapper * {
  color: #fff !important;
  margin-top: 50px;
}

#portal-globalnav .quick-access .quick-access-title {
  color: $primary;
}

.sectionfiles {
  .body-section,
  .section-title {
    h2,
    .h2,
    p,
    span {
      color: #000 !important;
    }

    a {
      transition: opacity 0.2s ease;

      &:hover,
      &:focus,
      &:active {
        opacity: 75%;

        h2,
        .h2,
        p,
        span {
          color: #000 !important;
          text-decoration: underline;
        }
      }

      &:focus-visible {
        outline: 2px solid #000;
        outline-offset: 3px;
        border-radius: 2px;
      }
    }
  }
}

.sectionfiles {
  border-radius: 20px;
}
