.a-la-une .swiper-slide>a {
    display: block;
    border: solid 1px #E3E3E3;

    .swiper_title {
        padding: 2rem 2rem 2rem 2rem;

        h3 {
            text-transform: initial;
            font-weight: 400;
        }
    }
}

.a-la-une a .swiper-image::before {
    content: "";
    background: transparent;
    transition: all .3s ease;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    top: 0;
}

.a-la-une a .swiper-image {
    position: relative;
}

.a-la-une a:hover .swiper-image::before {
    background: $color-orange;
    opacity: 0.7;
}

.a-la-une a .swiper-image::after {
    transition: all .3s ease;
    content: "";
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    background: url("../../assets/svg/bouton-plus.svg") no-repeat center;
    opacity: 0;
    transform: rotate(45deg);
}

.a-la-une a:hover .swiper-image::after {
    opacity: 1;
    transform: rotate(90deg);
}

.a-la-une .see_all a::before {
    content: ">";
    position: absolute;
    right: 10px;
    color: $color-orange;
    transition: all .3s ease;
}

.a-la-une .see_all a:hover::before {
    right: 5px;
    color: #000;
}

.a-la-une {
    .see_all a {
        border: 1px solid $color-orange;
        }
    }

.a-la-une h2.section-title::first-letter {
    color: $color-orange;
    }

.swiper-slide a {
    transition: all .3s ease;

    &:hover {
    box-shadow: rgb(100 100 111 / 10%) 0px 7px 29px 0px;
    }
}

.a-la-une ul li .swiper_title {
    position: relative;
}

.a-la-une a {
    .swiper_title::before {
    content: ">";
    bottom: 25px;
    right: 25px;
    position: absolute;
    z-index: 1;
    color: $color-orange;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-top: 0 auto;
    align-items: center;
    line-height: 38px;
    font-weight: 400;
    }

    .swiper_title::after {
        background: transparent;
        content: "";
        bottom: 25px;
        right: 25px;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        z-index: 0;
        transition: all .3s ease;
    }

    &:hover {
        .swiper_title::before {
            color: #fff;
            }

            .swiper_title::after {
                background: $color-orange;
            }
    }
}