@include media-breakpoint-down(md) {
  .sectionlinks.quick-access ul.row {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

.sectionlinks.quick-access {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

.sectionlinks.quick-access .body-section li a .image.d-block {
  transition: all 0.3s ease;

  svg {
    transition: all 0.3s ease;
  }
}

.sectionlinks.quick-access .body-section li {
  &:first-child a .image.d-block {
    border: 1px solid transparent;
    background-color: $color-orange;

    svg {
      fill: #fff;
    }
  }

  &:nth-child(2) a .image.d-block {
    border: 1px solid transparent;
    background-color: $color-blue;

    svg {
      fill: #fff;
    }
  }

  &:nth-child(3) a .image.d-block {
    border: 1px solid transparent;
    background-color: $color-green;

    svg {
      fill: #fff;
    }
  }

  &:nth-child(4) a .image.d-block {
    border: 1px solid transparent;
    background-color: $color-pink;

    svg {
      fill: #fff;
    }
  }

  &:nth-child(5) a .image.d-block {
    border: 1px solid transparent;
    background-color: $color-grey;

    svg {
      fill: #fff;
    }
  }

  &:nth-child(6) a .image.d-block {
    border: 1px solid transparent;
    background-color: $color-red;

    svg {
      fill: #fff;
    }
  }

  &:nth-child(7) a .image.d-block {
    border: 1px solid transparent;
    background-color: $color-dark;

    svg {
      fill: #fff;
    }
  }

  &:hover {
    &:first-child a .image.d-block {
      border: 1px solid $color-orange;
      background-color: #fff;

      svg {
        fill: $color-orange;
      }
    }

    &:nth-child(2) a .image.d-block {
      border: 1px solid $color-blue;
      background-color: #fff;

      svg {
        fill: $color-blue;
      }
    }

    &:nth-child(3) a .image.d-block {
      border: 1px solid $color-green;
      background-color: #fff;

      svg {
        fill: $color-green;
      }
    }

    &:nth-child(4) a .image.d-block {
      border: 1px solid $color-pink;
      background-color: #fff;

      svg {
        fill: $color-pink;
      }
    }

    &:nth-child(5) a .image.d-block {
      border: 1px solid $color-grey;
      background-color: #fff;

      svg {
        fill: $color-grey;
      }
    }

    &:nth-child(6) a .image.d-block {
      border: 1px solid $color-red;
      background-color: #fff;

      svg {
        fill: $color-red;
      }
    }

    &:nth-child(7) a .image.d-block {
      border: 1px solid $color-dark;
      background-color: #fff;

      svg {
        fill: $color-dark;
      }
    }
  }
}

.sortable-section.sectionlinks.quick-access::after {
  background: #f8f8f8;
  inset: -75px 0 0 50%;
  content: "";
  position: absolute;
  width: 100vw;
  z-index: -1;
  transform: translateX(-50%);
}
