body.portaltype-imio-smartweb-portalpage.section-accueil h2.section-title {
  font-size: 4rem;
}

.sectionnews .swiper-slide > a,
.sectionevents .swiper-slide > a {
  transition: 0.3s;
}

.sectionnews,
.sectionevents {
  .swiper-slide > a:hover {
    background: $primary-svg;
  }
}
