//// VARIABLES
// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS
// Import barceloneta files from node_modules --load-path=node_modules
// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";
// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import './variables';
@import '../../../base/src/scss/main.scss';
//// STYLES
// ... add your styles here
@import "./home/intro.scss";
@import "./home/quick.scss";
@import "./home/a-la-une";
@import "./home/actualites";
@import "./home/events";
@import "./home/footer";
@import "./common/map.scss";
@import "./common/postit.scss";



.bannerSwiper .section-slide{
    &:after{
        content: url("data:image/svg+xml,%3Csvg id='Calque_2' data-name='Calque 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 566.93 156.86'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M82.06 99.74v-8.41H57.7c-12.76 0-21.17 6.38-21.17 15.95 0 11.6 8.41 17.69 18.85 17.69 15.08 0 26.68-8.7 26.68-25.22m.29 54.51v-10.73c-7.25 8.7-17.98 13.34-33.05 13.34-23.78 0-49.29-16.82-49.29-49.58 0-30.44 24.93-45.52 57.7-45.52h24.36v-8.99c0-13.91-9.57-19.42-20.59-19.42-10.44 0-20.01 5.8-21.17 16.82H3.19C6.96 14.5 35.66 0 61.18 0c27.55 0 57.41 13.63 57.41 51.9v102.35H82.35ZM170.42 11.02C176.22 4.35 184.34 0 195.65 0h11.89v37.11h-17.11c-11.02 0-19.43 6.38-20.01 27.25v89.88h-37.11V2.03h37.11v8.99ZM256.42 11.02C262.22 4.35 270.34 0 281.65 0h11.89v37.11h-17.11c-11.02 0-19.43 6.38-20.01 27.25v89.88h-37.11V2.03h37.11v8.99ZM305.18 2.03h37.11v152.22h-37.11zM411.46 156.86c-33.35 0-57.7-20.59-59.44-54.22h37.11c.58 12.18 7.25 21.46 22.62 21.46s23.2-4.93 23.2-13.92c0-6.96-5.22-10.15-11.6-12.18-8.12-2.61-17.98-5.22-29.87-8.7-19.72-5.8-37.69-19.72-37.69-42.62C355.78 15.08 382.17 0 411.74 0c31.9 0 54.52 16.53 57.71 49.29h-37.41c-.58-11.6-7.54-16.53-20.59-16.53-9.57 0-19.14 4.06-19.14 12.18 0 5.8 4.35 8.41 10.73 10.15 9.86 2.9 18.27 4.93 33.35 9.57 18.56 5.8 35.08 19.14 35.08 41.17 0 35.08-28.42 51.03-60.02 51.03M484.47.63v27.96h34.73l-34.73 34.73v19.77h19.77l34.73-34.73v34.73h27.96V.63h-82.46z'/%3E%3C/svg%3E");
        width: 500px;
        max-width: 80%;
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:before {
        content: "";
        width: 40px;
        height: 220px;
        background: linear-gradient(180deg, rgba(254,89,25,1) 0%, rgba(254,89,25,1) 60%, rgba(59,190,242,1) 60%, rgba(59,190,242,1) 80%, rgba(255,255,255,1) 80%);
        position: absolute;
        right:0%;
        top: 0;
    }
}
.swiper-banner-image {
    &:after {
        content: "";
        background: #3bbef2;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: .7;
        mix-blend-mode: color;
    }
    &:before{
        content:"";
        background: url("../../assets/svg/logo-banner.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 50px;
        width: 223px;
        display: block;
        position: absolute;
        bottom: 15px;
        right: 15px;
        z-index: 1;
    }
}

.see_all a {
    position: relative;
    &:before{
        content: "";
        width: 100%;
        height: 5px;
        background: linear-gradient(90deg, rgb(254, 89, 25) 0%, rgb(254, 89, 25) 60%, rgb(59, 190, 242) 60%, rgb(59, 190, 242) 80%, rgb(255, 255, 255) 80%);
        position: absolute;
        left: 0%;
        bottom: 0;
        transition: all .3s ease;
    }
    &:hover{
        &:before{
            width: 70%;
        }
    }
}

.swiper-pagination-bullet {
	background: #fff;
}
#portal-breadcrumbs {
	margin-top: 2.5rem;
}
@include media-breakpoint-up(lg){
    #portal-header #portal-header-top #portal-logo {
        position: absolute;
        transform: translateY(25%);
    }
    #portal-header #portal-header-top #portal-globalnav-wrapper {
        margin: 0 1rem 0 7rem;
    }
}

#search-link{
    a{
        background: $primary-svg;
        border: 0px!important;
    }
}

.r-item-img.r-item-img-placeholder {
	background: url("../../assets/svg/placeholder-peruwelz.jpg");
	background-size: cover;
	background-position: center;
}

//footer 
footer{
    #container-section-noussuivre{
        .table_title{
            display: none;
        }
        ul.row{
            flex-direction: row;
            flex-wrap: wrap;
            li{
                width: auto;
            }
        }
    }
}

.sectiontext .section-text .body-section figure figcaption {
	display: block;
}

.portaltype-imio-smartweb-directoryview,
.portaltype-imio-smartweb-newsview,
.portaltype-imio-smartweb-eventsview {
    #content > header {
       display: none;
   }
}
// bug z-index

.pagination{
    .page-item.active{
        z-index: 0;
    }
}

#main-container{
    .sectionlinks{
        margin-bottom: 2rem;
    }
}


footer #container-section-noussuivre{
    li{
        svg{
            path{
                fill: #fff;
            }
        }
        &:nth-child(1), &:nth-child(3){
            svg path:nth-child(2) {
                fill: #3f3f3f !important;
            }
        }
    }
} 
@media screen and (max-width:900px) {
    .portaltype-imio-smartweb-portalpage .section-title {
        font-size: 34px!important;
    }
}

#portal-breadcrumbs{
    background: transparent!important;
    .container,.breadcrumb{
        padding-left: 0;
    }
}

#portal-globalnav > li a:hover {
	color: $primary-svg;
}

h1{
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    &:after{
        content: "";
        position: absolute;
        width: 50px;
        height: 6px;
        background-color: $primary-svg;
        left: 0;
        bottom: 0;
    }
}

.sectionfiles .section-title {
	color: #181a21;
}

.r-search.search-select-filter {
	display: none;
}


.block-menu-element a .card-body {
	border-radius: 0!important;
}

.sectiongallery{
    margin-top: 4vw;
}

.sectiontext .mark, .sectiontext mark {
	background-color: transparent;
	border: none;
	border-radius: 0;
	color: $primary;
	display: inline-block;
	font-weight: 400;
	padding: 0;
	font-size: 18px;
}