//// VARIABLES

// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS

// Import barceloneta files from node_modules --load-path=node_modules

// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";

// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";

@import './variables';
@import '../../../base/src/scss/main.scss';

//// STYLES

// ... add your styles here

@import "./home/quick.scss";
@import "./home/a-la-une";
@import "./home/projets";
@import "./home/actualites";
@import "./home/events";
@import "./home/annuaire";
@import "./home/les-sites";
@import "./home/footer";
@import "./home/bulletin.scss";
@import "./home/divers.scss";
@import "./minisite.scss";


#portal-colophon{
    ul{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0!important;
    }
}

#portal-globalnav-wrapper #portal-globalnav-collapse #portal-globalnav > li.has_subtree > a::before {
	background-color: $colorgreen!important;
}


.portaltype-imio-smartweb-directoryview .r-annuaire-result {
    .r-item-img {
        background-image: url("../../assets/svg/plachld-saintnicolas.png");
    }
}


.section-home-page #messagesviewlet {
    position:absolute !important;
    top:120px !important;
    z-index: 1!important;
}

#messagesviewlet .portalMessage.info,
#localmessagesviewlet .portalMessage.info {
    background-color: $primary;
    color:#fff;
}

#messagesviewlet .portalMessage.error,
#localmessagesviewlet .portalMessage.error {
    background-color: $message-error;
    color:#fff;
}

#messagesviewlet .portalMessage.warning,
#localmessagesviewlet .portalMessage.warning {
    background-color: #0A8765;
    color:#fff;
}

#messagesviewlet .portalMessage.info .messagesviewlet-type,
#localmessagesviewlet .portalMessage.info .messagesviewlet-type {
    background: $primary;
    color:#fff;
}

#messagesviewlet .portalMessage.warning .messagesviewlet-type,
#localmessagesviewlet .portalMessage.warning .messagesviewlet-type {
    background-color: #0A8765;
    color:#fff;
}