#gdpr-consent-banner {
	z-index: 98;
	padding: 50px 25px;
	background: #fff;
	position: fixed;
	top: 100vh;
	transform: translateY(-100%);
	box-shadow: 0 0 18px rgba(0, 0, 0, .2);
	border-radius: 5px;
	color: #686868;
	width: auto;
	left: 0;
    @include media-breakpoint-up(lg) {
        right: 0;
        max-width: 100%;
        text-align: center;
    }
    & > span {
        @include media-breakpoint-up(lg) {
            max-width: 500px;
            display: inline-block;
            vertical-align: top;
            text-align: left;
            padding-right: 30px;
        }
      }
    & > form {
        @include media-breakpoint-up(lg) {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .gdpr-actions{
        & > a {
            background: #fff;
            color: #000;
            padding: 1rem 2rem;
            font-weight: bold;
            border: 2px solid #000;
            font-size: 14px;
            margin-left: 0.6rem;
            text-decoration: none;
            margin-top: 2rem;
            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }
            @include media-breakpoint-down(sm) {
                font-size: 13px;
                padding: 9px 10px;
                display: inline-block;
            }
        }
        input[name="consent"] {
            background: #000;
            color: #fff;
            border: 2px solid transparent;
            padding: 1rem 2rem;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
            margin-top: 2rem;
            @include media-breakpoint-up(lg) {
                margin-top: 0;
            }
            @include media-breakpoint-down(sm) {
                font-size: 13px;
                padding: 9px 10px;
            }
        }
        input[name="refuse"] {
            background: transparent;
            border: none;
            text-decoration: underline;
            margin-left: auto;
            display: block;
            margin-top: 1rem;
            cursor: pointer;
        }
    } 
}