body:not(.section-home-page) {
  #main-container .sectionlinks:not(.quick-access) {
    background-color: white;

    .section-container {
      .rich_description {
        display: none;
      }

      & > div {
        .section-title {
          font-weight: 400;
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 2vw;
          font-family: $font-family-title;
          font-size: 24px;

          &::before {
            content: "";
            background: url("data:image/svg+xml,%3Csvg id='link' xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cpath id='Path_751' data-name='Path 751' d='M24,0A24,24,0,1,0,48,24,24,24,0,0,0,24,0Zm0,46.4A22.4,22.4,0,1,1,46.4,24,22.4,22.4,0,0,1,24,46.4Zm0,0'/%3E%3Cpath id='Path_752' data-name='Path 752' d='M145.279,126.465a3.971,3.971,0,0,0-2.828,1.171l-4.526,4.526a4.005,4.005,0,0,0-.508,5.034l-.115.115a4.005,4.005,0,0,0-5.034.508l-4.526,4.526A4,4,0,0,0,133.4,148l4.526-4.526a4.005,4.005,0,0,0,.508-5.034l.115-.115a4.005,4.005,0,0,0,5.034-.508l4.526-4.526a4,4,0,0,0-2.829-6.828Zm-8.485,15.879-4.525,4.525a2.458,2.458,0,0,1-3.394,0,2.4,2.4,0,0,1,0-3.394l4.525-4.525a2.372,2.372,0,0,1,2.724-.462l-1.592,1.593a.8.8,0,1,0,1.131,1.131l1.593-1.593A2.4,2.4,0,0,1,136.794,142.344Zm10.182-10.182-4.525,4.525a2.4,2.4,0,0,1-2.725.462l1.593-1.593a.8.8,0,0,0-1.131-1.131l-1.593,1.593a2.4,2.4,0,0,1,.462-2.725l4.525-4.525a2.4,2.4,0,1,1,3.394,3.394Zm0,0' transform='translate(-113.926 -113.818)'/%3E%3C/svg%3E");
            width: 25px;
            height: 25px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }

        .body-section {
          .row {
            flex-direction: row;
            list-style-type: none;
            gap: 30px 2%;

            li {
              padding: 0;
            }

            .table_image {
              display: flex;
              width: 100%;
              gap: 20px;

              .image {
                width: auto;

                svg {
                  max-width: 120px;
                  background-size: contain;
                  background-repeat: no-repeat;
                  border: solid 1px rgb(165, 169, 172);
                  border-radius: 5px;
                  width: auto;
                  height: auto;
                  padding: 1rem;
                }
              }

              .table_title {
                span {
                  display: flex;
                  align-items: first baseline;
                  gap: 10px;

                  &::before {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 11px;
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4.25 6.51'%3E%3Cpath d='M3.96 2.55 1.71.29C1.32-.1.68-.1.29.29s-.39 1.03 0 1.42l1.55 1.55L.29 4.81A.996.996 0 0 0 1 6.51c.26 0 .51-.1.71-.29l2.25-2.25a.996.996 0 0 0 0-1.41Z' style='fill:%2381B19A'/%3E%3C/svg%3E");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // files

  #main-container .sectionfiles {
    background-color: #40435d;
    border-radius: 0;
    font-weight: bold;
    margin-top: 1vw;
    margin-bottom: 0;
    padding: 3vw 0 !important;

    &::after {
      display: none !important;
    }

    .section-title {
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 25px;
      width: auto;
      color: #fff;
      padding: 0 !important;
      font-size: 24px;

      a {
        text-decoration: none;
        color: #fff;
      }

      a.collapsed {
        color: #fff !important;
      }
    }

    .body-section .row .col-md-12 {
      margin: 0 0 2rem !important;
    }

    .section-container {
      border-radius: 0;
      display: flex;
      width: 100%;

      @media screen and (min-width: 800px) {
        padding: 0 50px;
      }

      .section-title {
        font-weight: 400;
        font-family: $font-family-title;
        font-size: 24px;
      }

      .table_display {
        border-color: white;

        .table_image {
          border: solid 1px rgba($color: #fff, $alpha: 12%);
          text-decoration: none;
          padding: 20px;
          border-radius: 10px;
          display: block;
          font-family: $font-family-title;
          font-weight: 700;

          .image {
            max-width: 180px;
            aspect-ratio: 1.3;
            border-radius: 10px;
          }

          .item_infos {
            font-weight: 400;
            display: flex;
            align-items: center;
            width: max-content;
            gap: 20px;
            margin-left: 10px;
            white-space: nowrap;

            &::after {
              content: "";
              display: block;
              background-image: url("data:image/svg+xml,%3Csvg id='download' xmlns='http://www.w3.org/2000/svg' width='9.795' height='14.692' viewBox='0 0 9.795 14.692'%3E%3Cg id='Group_570' data-name='Group 570' transform='translate(0)'%3E%3Cg id='Group_569' data-name='Group 569' transform='translate(0)'%3E%3Cpath id='Path_749' data-name='Path 749' d='M89.8,12.064h0c.014.014.029.028.045.04l.022.016.026.019.027.016.025.015.028.013L90,12.2l.027.01.029.01.028.007.03.007.032,0,.027,0a.616.616,0,0,0,.121,0l.027,0,.032,0,.03-.007.028-.007.029-.01.027-.01.026-.012.028-.013.025-.015.027-.016.026-.019.022-.016c.015-.013.03-.026.045-.04h0l4.285-4.285a.612.612,0,0,0-.866-.866l-3.24,3.24V.612a.612.612,0,0,0-1.224,0v9.541l-3.24-3.24a.612.612,0,0,0-.866.866Z' transform='translate(-85.334)' fill='%23fff'/%3E%3Cpath id='Path_750' data-name='Path 750' d='M94.517,469.333h-8.57a.612.612,0,0,0,0,1.224h8.571a.612.612,0,1,0,0-1.224Z' transform='translate(-85.334 -455.865)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
              background-position: center;
              background-repeat: no-repeat;
              aspect-ratio: 1;
              border: solid 1px #fff;
              width: 48px;
              border-radius: 100%;
              left: 0;
            }
          }

          &.no-image .image.d-block {
            display: none;
          }

          span,
          p,
          a,
          div {
            color: #fff !important;
          }

          &:hover,
          &:focus {
            background: rgba($color: #fff, $alpha: 9%);

            .item_infos {
              &::after {
                background-image: url("data:image/svg+xml,%3Csvg id='download' xmlns='http://www.w3.org/2000/svg' width='9.795' height='14.692' viewBox='0 0 9.795 14.692'%3E%3Cg id='Group_570' data-name='Group 570' transform='translate(0)'%3E%3Cg id='Group_569' data-name='Group 569' transform='translate(0)'%3E%3Cpath id='Path_749' data-name='Path 749' d='M89.8,12.064h0c.014.014.029.028.045.04l.022.016.026.019.027.016.025.015.028.013L90,12.2l.027.01.029.01.028.007.03.007.032,0,.027,0a.616.616,0,0,0,.121,0l.027,0,.032,0,.03-.007.028-.007.029-.01.027-.01.026-.012.028-.013.025-.015.027-.016.026-.019.022-.016c.015-.013.03-.026.045-.04h0l4.285-4.285a.612.612,0,0,0-.866-.866l-3.24,3.24V.612a.612.612,0,0,0-1.224,0v9.541l-3.24-3.24a.612.612,0,0,0-.866.866Z' transform='translate(-85.334)' fill='%2340435D'/%3E%3Cpath id='Path_750' data-name='Path 750' d='M94.517,469.333h-8.57a.612.612,0,0,0,0,1.224h8.571a.612.612,0,1,0,0-1.224Z' transform='translate(-85.334 -455.865)' fill='%2340435D'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
                background-color: #fff;
                background-position: center;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }

      .nb-items-batch-1,
      .nb-items-batch-2 {
        .table_image {
          display: flex;
          gap: 10px 5px;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @media screen and (min-width: 560px) {
            flex-direction: row;
            justify-content: flex-start;
          }

          .image.d-block {
            margin-right: 1rem;
          }

          .item_infos {
            position: relative;
          }
        }
      }

      .nb-items-batch-3,
      .nb-items-batch-4 {
        .table_image {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 15px;
          margin-top: 3rem;

          .image.d-block {
            margin-right: 0;
            margin-top: -3rem;
          }

          .item_infos {
            align-self: end;
          }
        }
      }
    }
  }

  // Sectionfiles sans classe col-sm-*
  #main-container .sectionfiles:not([class*="col-sm-"]) {
    &::before {
      content: "";
      width: 100vw;
      top: 0;
      bottom: 0;
      position: absolute;
      background: $primary;
      left: 50%;
      z-index: -1;
      transform: translateX(-50vw);
    }
  }
}
