.sectionnews {
  margin: 4rem 0 6rem;

  .carousel {
    padding: 5px;
  }

  @media screen and (max-width: 992px) {
    margin: 3.6rem 0;
  }

  .section-container {
    position: relative;
  }

  .container {
    padding: 0 40px;
  }

  .section-title {
    font-weight: 600;
    margin: 0 0 30px;
    width: 100%;
    text-align: left;
    color: $primary;
    font-size: 40px;
    text-transform: initial;
  }

  .swiper-wrapper {
    .swiper-slide {
      transition: 0.5s;

      &:hover,
      &:focus {
        transition: 0.5s;
      }

      & > a {
        align-items: center;
        padding-bottom: 60px;
        background: #fff;
        border-radius: 40px;
        transition: 0.5s;

        .swiper-image {
          transition: 0.5s;
        }

        .auth_source_container_title {
          color: $primary;
          font-size: 12px;
          margin: 1rem 0 0.5rem;
          padding: 0 1rem;
          text-align: center;
        }

        .swiper_date {
          font-family: $font-family-base;
          display: none;
        }

        .swiper_category {
          display: none;
        }

        .auth_source_container_title {
          display: block;
          padding: 0.5rem 1rem;
          color: #fff;
          background: $primary-svg;
          border-radius: 0 0 10px;
          font-size: 14px;
          font-weight: initial;
          text-transform: uppercase;
          margin: 0;
        }

        .swiper_title {
          margin-top: 20px;

          h3 {
            font-family: $font-family-base;
            transition: 0.5s;
          }
        }

        .swiper_description {
          display: none;

          p {
            margin: 0;
          }
        }

        &:hover {
          border-radius: 40px 40px 80px;
          transition: 0.5s;

          .swiper_title {
            h3 {
              transition: 0.5s;
              color: $primary-svg;
            }
          }
        }
      }
    }
  }

  .swiper-pagination-bullet-active {
    background: $primary-light;
  }
}

.sectionnews .see_all a {
  background: $primary-svg;
  color: #fff;
  border: solid 1px $primary-svg;
  border-radius: 50px;

  &:hover {
    background: $primary-svg;
    border: solid 1px $primary-svg;
    color: #fff;
    border-radius: 10px;
  }
}
