// Structure entreprise

.bloc-structure {
  .text {
    border-left: 4px solid $primary-svg;
    padding-left: 10px;
  }

  ul {
    li {
      &::before {
        display: none;
      }

      h3 {
        &::before {
          display: block;
          left: -10px;
          position: absolute;
          top: 13px;
          width: 20px;
          height: 4px;
          background: $primary-svg;
          content: "";
        }
      }

      ul {
        li {
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

// Page nos apps
.section-apps-et-services {
  .block-menu-element a {
    border-radius: 30px !important;
    border: 1px solid #ddd !important;
    text-align: center !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0) !important;

    .newsImage {
      background-size: 100px !important;
      background-repeat: no-repeat !important;
      border-bottom: 1px solid #ddd !important;
    }
  }
}
