// Structure entreprise

.bloc-structure {
  .text {
    border-left: 4px solid $primary-svg;
    padding-left: 10px;
  }

  ul {
    li {
      &::before {
        display: none;
      }

      h3 {
        &::before {
          display: block;
          left: -10px;
          position: absolute;
          top: 13px;
          width: 20px;
          height: 4px;
          background: $primary-svg;
          content: "";
        }
      }

      ul {
        li {
          &::before {
            display: block;
          }
        }
      }
    }
  }
}

// Page nos apps
.section-apps-et-services {
  .block-menu-element a {
    border-radius: 30px !important;
    border: 1px solid #ddd !important;
    text-align: center !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0%) !important;
    transition: all 0.3s ease !important;

    &:hover {
      border: 1px solid #fff !important;
      box-shadow: 0 0 15px #ddd !important;
      transition: all 0.3s ease !important;
    }

    .newsImage {
      background-size: 100px !important;
      background-repeat: no-repeat !important;
      border-bottom: 1px solid #ddd !important;
    }
  }
}

.portaltype-imio-smartweb-page #content-core {
  .sectionlinks {
    .table_image {
      background: $primary-svg !important;
      padding: 20px;
      border-radius: 50px;
      text-decoration: none;
      color: #fff !important;
      text-align: center;
      justify-content: center;
      gap: 0 !important;
      transition: all 0.2s ease;
      display: block !important;

      &:hover {
        background: $primary !important;
        transition: all 0.2s ease;
      }

      .table_title span::before {
        display: none !important;
      }
    }
  }
}
