.custom-imio-map-use {
    height: 0;
    padding-bottom: 64.8%;
    background: url("../../assets/svg/used-map.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #ced4da;
    border-radius: .5rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
}

.sectionhtml.map-use {
    .html {
        height: 0;
        padding-bottom: 64.8%;
    }
}