.sectionnews {
    z-index: 1;
    .swiper-slide {
    .swiper_date, .swiper_title {
        width: 100%;
        }
    }
}
.sortable-section.sectionevents .section-title, .sortable-section.sectionnews .section-title {
    font-size: 5.5rem;
}
.sortable-section.sectionevents .section-title, .sortable-section.sectionnews .section-title {
    color: $primary;
    margin: 0 0 6rem;
    padding: 0;
    position: relative;
}

@media (max-width: 992px) {
    .sortable-section.sectionnews {
    padding-top: 0.5rem;
    }
    .sortable-section.sectionevents .section-title, .sortable-section.sectionnews .section-title {
        margin: 0 0 2rem;
    }
}