.sectionnews {
    z-index: 1;
    .swiper-slide {
    .swiper_date, .swiper_title {
        width: 100%;
        }
    }
}
.sortable-section.sectionevents .section-title, .sortable-section.sectionnews .section-title {
    font-size: 3.5rem;
}
.sortable-section.sectionevents .section-title, .sortable-section.sectionnews .section-title {
    color: $primary;
    margin: 0 0 6rem;
    padding: 0;
    position: relative;
}

