#section-agenda .end_date {
    display: inline-block;
  }
  .sortable-section.sectionevents {
    position: relative;
    &:after {
    background: url(../../assets/svg/logo-back.svg);
    content: "";
    display: block;
    height: 2000px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-size: cover;
    background-position: right top;
    z-index: -99;
    }
}