footer {
  background: $primary;
}

footer div#smartweb-footer {
  background: $primary;

  h2,
  div a,
  ul li a,
  span {
    color: #fff !important;
  }

  .table_tittle span {
    font-size: 1rem;
  }
}

footer .image.d-block {
  display: none;
}

footer .smartweb-footer {
  .sectiontext .section-text .body-section.figure-top figure {
    margin-top: 0;
  }

  .container > .row {
    padding: 5rem 0;
  }

  .sectiontext,
  .sectioncontact,
  .sectionlinks {
    text-align: left;
  }
}

footer {
  #portal-colophon,
  div.colophon {
    background-color: $primary;
  }

  div#body-section-liens-utiles li a {
    text-decoration: none;
  }

  div#body-section-liens-utiles li a:hover {
    text-decoration: underline;
  }
}

.colophonWrapper ul li {
  display: inline-block;
}

@media (max-width: 992px) {
  .sectiontext .section-text .body-section.figure-left figure img {
    width: 50%;
  }
}

footer ul.row {
  margin-left: 0;
}
