//// VARIABLES
// ... add your variables here

$enable-roboto-webfont: false;

//// IMPORTS
// Import barceloneta files from node_modules --load-path=node_modules
// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";
// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import './variables';
@import '../../../base/src/scss/main.scss';
//// STYLES
// ... add your styles here
@import "./home/quick.scss";
@import "./home/a-la-une";
@import "./home/actualites";
@import "./home/events";
@import "./home/footer";


.portaltype-imio-smartweb-portalpage{
    overflow-x: hidden;
}
#portal-header #portal-header-top #header-links #search-link a {
    background: #fff;
}
.navbar-toggler{
    border: 1px solid #c1c1c1; 
    background: #fff;
}
.swiper-pagination{
    display: none;
}