//// VARIABLES
// ... add your variables here

$enable-roboto-webfont: false;
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
//// IMPORTS
// Import barceloneta files from node_modules --load-path=node_modules
// @import "@plone/plonetheme-barceloneta-base/scss/barceloneta";
// @import "@imiobe/plonetheme-smartweb-base/src/scss/main";
@import './variables';
@import '../../../base/src/scss/main.scss';
//// STYLES
// ... add your styles here
@import "./home/quick.scss";
@import "./home/home-social";
@import "./home/actualites";
@import "./home/events";
@import "./home/footer";
@import "./home/newsletter";
@import "./se-link.scss";
@import "./se-files.scss";
@import "./contact.scss";
@import "./home/home-partenaires";
@import "./custom-react/events";





#portal-header #portal-header-top #header-links #search-link a {
	background: $primary;
}

@media screen and (min-width:700px) {
    .see_all {
        position: absolute;
        top: 0;
        right: 0;
    }
}

// footer

#portal-footer-wrapper{
    text-align: left!important;
    background: transparent!important;
    &:before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3458.9 135.6'%3E%3Cpath d='M0 135.6C608.9 35 1206.6 1 1729.5 0 2252.3 1.1 2850 35 3458.9 135.6l-1729.4-.6L0 135.6Z' style='fill:%23414e54;stroke-width:0'/%3E%3C/svg%3E");
        line-height: 0;
        display: block;
        transform: translateY(1px);
    }
}

.portaltype-imio-smartweb-portalpage {
    #portal-footer-wrapper{
        text-align: left!important;
        background: transparent!important;
        @media screen and (max-width: 900px) {
            &:before {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1201.7 238'%3E%3Cpath d='M721 192.8c-.3-17.7-.7-37.6-1.2-53.4 0-2 0-3.6 1.5-5 1.1-.9.8-1.9.2-3l-16-32.5c-.9-1.7-1.5-3.2 0-4.9.7-.9.5-1.8-.3-2.5-.6-.5-1.2-.6-1.8-.3-1 .7-1.3 1.5-.7 2.5 1.1 1.9.5 3.6-.3 5.3l-13.7 33c-.4 1-1.2 2.1 0 3.1 1.6 1.5 1.4 3.6 1.5 5.6.2 6 .2 12 .5 18.1 0 2-.7 2.5-2.5 2.5-15.1.2-30.3.3-45.4.7-2.6 0-3-.8-3.2-3 0-7.9-.2-15.6-.5-23.4-.2-8.3-1-17 2-25.1.5-1.4-.3-2.3-1.1-3.2-3-3.4-6.6-6-8.7-10.1l-27.8-57.3c-.8-1.6-1.8-3.5-.9-4.8 2.4-3.7.3-7-.4-10.5-.8-3-.3-6.5-.5-9.8 0-2 .9-2.5 2.6-2.5 1 0 2.3.6 3.5-.3-1.1-1.1-2.2-.7-3.2-.6-2.3.1-3.3-.5-3.3-3.2s-.5-5.4-.7-8.2v5.7c0 3.8-2 5.8-5.8 6.2l-.3.4 4.2.6c.9 0 1.8.3 1.8 1.4-.1 4.8.9 9.9-1.9 14.3-.7 1.1-1 2.4-.2 3.5 2 2.5 1.4 5 .3 7.6l-19 41.8c-4.6 9.7-8 20.2-16.6 27.6-1 1-1 2.2-.3 3.4 1.8 4 2.2 8 2 12.4-.4 12-.5 23.9-.7 35.9 0 1.5-.4 2-2 2l-47.8.9c-2 0-2.5-.6-2.5-2.5v-17.7c0-1.7.3-3.5 1.5-5 1-1.2 1-2.4.2-3.9l-14.1-32.1c-.9-1.9-1.5-3.6-.6-5.7.3-.8.4-1.7-.5-2.3-.5-.3-1.1-.3-1.5.2-.6.6-.9 1.5-.3 2.3 1 1.6.5 3-.3 4.4l-16 32.7c-.8 1.7-.8 2.8.6 4.1a7.8 7.8 0 0 1 2.1 6.2c-.3 13.8.3 32.3.5 48.4A3643.2 3643.2 0 0 0 0 238.1l600.8-.3 600.9.3A3641.5 3641.5 0 0 0 721 192.9Zm-10.8-37.6v-9.5c0-2.8 1.3-4.4 3.5-4.2 2.6.2 2.8 2.3 2.9 4.3v8.4c-.1 1.2.7 2.8-.6 3.3-1.7.4-3.6.2-5.4-.5-.7-.3-.4-1.2-.4-1.8Zm-14.1.5v-10.4c.1-2.6 1.7-3.8 4.6-4 2.6 0 3.8 1.2 4.1 4v5.6c0 6.8-.3 7.1-7 6.6-1.4-.1-1.8-.6-1.7-1.8Zm-75.2-29.3v.1c.2-3.1 2.6-5.5 5-5.5 3.6 0 6.5 2.8 6.7 6.4V146.7c0 1.4-.4 1.8-1.7 1.5-2.8-.6-5.6-1-8.4-1.4-1.2-.2-1.6-.8-1.6-1.9v-18.4Zm-19.2-8c4.8 0 8.1 3.8 8.2 9v17c0 1.5-.2 2.3-2 2.2h-13.2c-1.8 0-2.1-.7-2-2.2v-17.2h-.1c.2-5.4 3.7-8.6 9.1-8.7ZM571.1 144l.2-15c0-1.6.5-3.2 1.2-4.6 1-1.8 2.6-3.4 5-3 2.4.2 3.7 1.9 4.3 4.2.6 2.5.3 5 .4 7.6v11.6c.1 2-.5 3-2.5 3.1-1.2.1-2.2.5-3.4.6q-5.3 1-5.3-4.5h.1Zm-74.6 3c0-2.3 1.2-3.8 3.8-4 2.6-.1 4.7 1.3 5 3.5.2 3.9 0 7.8 0 11.6 0 .9-.3 1.1-1.2 1h-.6c-4.7.2-7-2.2-7-7.3V147Zm-11.8.4c.1-2 .5-4.2 3-4.3 2.7 0 3.4 2 3.6 4.4v9c.1 1.9-.5 2.6-2.5 2.7-4 .2-4 .4-4-4v-7.8Z' style='fill:%23414e54;stroke-width:0'/%3E%3C/svg%3E")!important;
                line-height: 0;
                display: block;
                transform: translateY(1px);
            }
        }
        &:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 3458.9 366.2'%3E%3Cpath d='M1865.6 231.6c-.4-22.9-1-51.9-1.6-74 0-2.2 0-4 1.7-5.6 1.2-1 .8-2.1.2-3.4l-18.1-36.7c-1-2-1.7-3.7 0-5.6.8-1 .5-2-.4-2.8-.6-.6-1.3-.7-2-.3-1.1.7-1.5 1.7-.8 2.8 1.3 2.1.6 4-.3 6l-15.5 37.3c-.5 1.1-1.4 2.4-.1 3.5 1.9 1.7 1.7 4 1.8 6.3.2 6.8.2 13.6.5 20.5.1 2.3-.7 2.8-2.8 2.8-17.1.2-34.2.4-51.3.8-3 .1-3.5-.9-3.6-3.5 0-8.8-.3-17.5-.6-26.3-.2-9.5-1.2-19.2 2.2-28.5.6-1.5-.3-2.5-1.2-3.6-3.3-3.8-7.5-6.7-9.8-11.4l-31.5-64.8c-.9-1.8-2-4-1-5.4 2.7-4.2.4-7.9-.5-11.9-.8-3.5-.3-7.4-.5-11.1-.1-2.2 1-2.8 2.9-2.8 1.2 0 2.6.7 4-.4-1.3-1.2-2.5-.7-3.6-.6-2.6.1-3.8-.6-3.8-3.6 0-3.1-.5-6.2-.8-9.3v6.4c0 4.3-2.2 6.6-6.5 7l-.4.5 4.8.7c1 0 2 .3 2 1.5-.1 5.5 1 11.2-2.1 16.2-.8 1.3-1.1 2.7-.2 4 2.3 2.8 1.6 5.7.3 8.6l-21.6 47.2c-5.1 11-9 22.9-18.7 31.3-1.2 1.1-1 2.4-.3 3.8 2 4.5 2.5 9 2.3 14-.5 13.5-.6 27-.8 40.6 0 1.7-.5 2.2-2.2 2.3l-54.1 1c-2.3.1-2.9-.7-2.8-2.8v-20c0-2 .3-4 1.7-5.6 1.1-1.5 1-2.8.2-4.5l-16-36.3c-1-2.1-1.7-4.1-.6-6.4.3-1 .4-2-.6-2.6-.6-.4-1.3-.4-1.7.2-.7.7-1 1.7-.4 2.6 1.2 1.8.6 3.4-.3 5l-18 36.9c-1 1.9-1 3.2.6 4.7 1.9 2 2.5 4.1 2.4 7-.5 19.6.7 47.7.6 68.3C1106.5 237.8 558 274 0 366.2l1729.5-.6 1729.4.6c-556.7-92-1104-128.2-1593.3-134.6Zm-12.5-66.8c0-3.2 1.5-5 3.9-4.8 3 .2 3.2 2.6 3.3 4.9v9.5c-.1 1.3.8 3.2-.7 3.7-1.9.5-4 .2-6-.6-.8-.3-.5-1.3-.5-2v-10.8Zm-16-.5c.2-2.9 2-4.3 5.2-4.4 3 0 4.4 1.3 4.7 4.4V170.7c0 7.6-.4 8-8 7.4-1.5-.1-2-.6-1.9-2v-11.8Zm-85-21.2c.2-3.6 2.9-6.3 5.7-6.3 4 .1 7.3 3.2 7.5 7.3.2 3.7 0 7.3 0 11l.1 10.8c0 1.6-.5 2-2 1.7a152 152 0 0 0-9.5-1.6c-1.4-.2-1.8-.9-1.8-2.1V143Zm-32 .7c.2-6 4.2-9.7 10.3-9.8 5.4 0 9.2 4.2 9.3 10.1v19.2c0 1.7-.3 2.6-2.2 2.5h-15c-2 0-2.4-.8-2.3-2.5v-19.5Zm-24.3 19 .2-16.9c0-1.8.6-3.6 1.4-5.2 1.2-2.1 2.9-3.9 5.6-3.5 2.7.3 4.2 2.2 4.9 4.8.7 2.9.3 5.8.4 8.6v3.9c0 3-.1 6.2 0 9.3.2 2.2-.5 3.4-2.8 3.5-1.3.1-2.5.5-3.8.7-6 1-6 1-6-5.1Zm-84.4 3.5c0-2.7 1.4-4.4 4.3-4.6 3-.1 5.4 1.5 5.6 4 .3 4.4.1 8.8.1 13.1 0 1-.4 1.3-1.4 1.2h-.6c-5.4.2-8-2.6-8-8.3v-5.4Zm-13.3.4c.1-2.2.5-4.8 3.4-4.9 3 0 3.8 2.4 4 5v10.1c.2 2.2-.5 3-2.8 3.2-4.6.2-4.6.4-4.6-4.5v-8.9Z' style='fill:%23414e54;stroke-width:0'/%3E%3C/svg%3E");
            line-height: 0;
            display: block;
            transform: translateY(1px);
        }
    }
}

//  tubize
h1 {
    font-family: $font-family-base!important;
    font-weight: bold!important;
}


.swiper-banner-image:after {
    content: "";
    background: #0000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
}

.r-item-img-placeholder {
	background: url("../../assets/svg/placeholder.jpg");
	background-size: cover;
	background-position: center;
}

//footer 
footer{
    #container-section-noussuivre{
        .table_title{
            display: none;
        }
        ul.row{
            flex-direction: row;
            flex-wrap: wrap;
            li{
                width: auto;
            }
        }
    }
}

.sectiontext .section-text .body-section figure figcaption {
	display: block;
}

.portaltype-imio-smartweb-directoryview,
.portaltype-imio-smartweb-newsview,
.portaltype-imio-smartweb-eventsview {
    #content > header {
       display: none;
   }
}
// bug z-index

.pagination{
    .page-item.active{
        z-index: 0;
    }
}

#main-container{
    .sectionlinks{
        margin-bottom: 2rem;
    }
}



@media screen and (max-width:900px) {
    .portaltype-imio-smartweb-portalpage .section-title {
        font-size: 34px!important;
    }
}

#portal-breadcrumbs{
    background: transparent!important;
    .container,.breadcrumb{
        padding-left: 0;
    }
}

#portal-globalnav > li a:hover {
	color: $primary-svg;
}

// footer
.footer-logo {
    figure img {
        width:250px!important;
    }
}

.footer-slogan {
    .text {
        max-width: 204px;
        text-align: center;
        p {
            font-size: 33px;
            font-weight: 200;
        }
    }
}
.footer-fb {
    .table_image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        gap: 10px;
        text-decoration: none;
        .image{
            width: auto;
            svg {
                height: 25px;
                fill: #fff;
            }
        }
    }
}

.r-add-contact a, .r-add-event a, .r-add-news a {
	background: $primary;
	color: #000;
	padding: 1rem;
	text-decoration: none;
    border-radius: 5px;
}

.r-filter div[class*="control"] {
	border-radius: 5px;
}

.procedure a::after {
    content: "\F135";
    font-family: Bootstrap-icons;
    margin-left: .5rem;
    position: relative;
    top: 3px;
}


// sub-nav

.subsite-container  {
    margin-top: .5rem;
    #subsite-logo {
        background-color: #1b7776;
	    font-size: 18px;
        a {
            color: #fff;
        }
    }
}

.sectiontext .section-text .body-section a {
	color: #1A7CAD;
}

#viewlet-above-content-body {
    .procedure{
        display: none;
    } 
}

.breadcrumb-item {
    a {
     text-decoration: none;
    }
}
.breadcrumb {
	font-size: 13px;
}

#portal-header #portal-logo.minisite_logo {
	background: #fff;
	border-radius: 5px;
}
    
.portalMessage.error {
    background: #a71800;
    h2 {
        color: #fff!important;
    }
}

#messagesviewlet .portalMessage.error, #localmessagesviewlet .portalMessage.error {
    background: #a71800!important;
}

#portal-header-top {
    #header-actions {
        .account {
            &::after {
                content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 144.1 56.7'%3E%3Cpath d='M28.3 0a28.2 28.2 0 0 1 28.4 28.4c0 15.7-13 28.5-29 28.3A28.4 28.4 0 0 1 0 28.2 28.2 28.2 0 0 1 28.3 0Z' style='fill:%23feec00;stroke-width:0'/%3E%3Cpath d='M61.5 25.7V35.3c-.2 1-.7 1.4-1.6 1.4-.9 0-1.4-.5-1.5-1.4V21.7c0-1 .3-1.8 1.4-2.1 1.1-.3 1.8.3 2.4 1.1l6 9.2.9 1.2V21c.1-1 .6-1.5 1.5-1.5 1 0 1.5.6 1.6 1.5v13.2c0 1 0 2-1.2 2.4-1.2.3-2.1-.2-2.8-1.2l-5.8-9-.7-.9-.2.1ZM138.5 24.1c1.6 0 3.1.3 4.3 1.4.8.8 1 1.8.4 2.3-.6.7-1.6.6-2.4-.4-.8-1-1.6-1.4-2.9-1.2-.6.1-1.2.3-1.3 1-.1.8.5 1 1 1.3l3.6 1c2.2.8 3 1.8 3 3.5-.2 2-1.4 3.1-3.6 3.5-1.6.4-3.2.3-4.8-.3-1-.4-1.8-1-2.2-2.2-.2-.8 0-1.4.6-1.7.7-.3 1.4-.2 1.8.5.7 1.5 1.9 2 3.4 1.8.8 0 1.5-.4 1.7-1.2.1-.8-.5-1.3-1.3-1.5l-3.2-1c-2.2-.7-3-1.9-2.9-3.6.2-1.6 1.7-2.9 3.7-3.1h1.2ZM86.6 32.9l1.7-4.6 1.2-3.2c.3-.9 1-1.2 1.9-.9.9.4 1 1.1.7 2l-3.7 9.3c-.4.8-1 1.2-1.8 1.2-.9 0-1.5-.5-1.8-1.2l-3.7-9.2c-.4-1-.1-1.7.8-2 1-.4 1.6 0 2 1l2.7 7.6Z' style='fill:%23fefefe;stroke-width:0'/%3E%3Cpath d='M107.9 28v-6.4c0-1.4.5-2 1.5-2 1-.1 1.6.6 1.6 2v13.1c0 1.3-.6 2-1.6 2s-1.5-.7-1.5-1.9V28Z' style='fill:%23fcfcfc;stroke-width:0'/%3E%3Cpath d='M117.3 28.1v6.1c0 .6 0 1-.2 1.6-.2.7-.8 1-1.5 1-.7-.1-1.1-.5-1.3-1.1l-.2-1.4V21.9c0-.4 0-.8.2-1.3.1-.7.6-1 1.4-1 .7 0 1.3.2 1.5 1l.1 1.6v6Z' style='fill:%23fcfdfd;stroke-width:0'/%3E%3Cpath d='M78.7 30.4V35c0 1.1-.6 1.9-1.5 1.8-1.1 0-1.6-.8-1.6-1.8v-9c0-1.2.7-1.8 1.6-1.8 1 0 1.5.7 1.5 1.8v4.5Z' style='fill:%23fefefe;stroke-width:0'/%3E%3Cpath d='M78.7 21.1c0 1-.6 1.7-1.5 1.7s-1.6-.7-1.6-1.6c0-.9.7-1.6 1.6-1.5 1 0 1.5.5 1.5 1.4Z' style='fill:%23fbfcfc;stroke-width:0'/%3E%3Cpath d='M29.7 30h-8c-.7 0-.8.2-.8 1a8 8 0 0 0 12.5 6.6c1.5-1 2.7-2.2 4-3.4 1.2-1.1 2.9-1.3 4-.4 1 .7 1.3 2.2.6 3.7a8.9 8.9 0 0 1-4 4.2 18.2 18.2 0 0 1-18.5 0C15 39.4 13.2 35 12.8 30c-.2-3 0-5.9 1-8.7 2.1-5.6 6.2-8.5 12-9.2 3.7-.5 7.3-.2 10.6 1.9 4.6 2.8 6.8 7 6.4 12.5-.1 1.6-1 2.6-2.6 3-1.1.4-2.3.5-3.4.5h-7.1ZM50.6 29H53c.8 0 1.2.6 1.2 1.4 0 .8-.4 1.3-1.3 1.3h-4.4c-.8 0-1.2-.5-1.2-1.3s.4-1.3 1.3-1.4h2.1Z' style='fill:%23185499;stroke-width:0'/%3E%3Cpath d='M131 32.6c-.5-.3-1-.3-1.5.1-.6.6-1.1 1.1-1.8 1.5-2 1-4.1 0-4.6-2 0-.7 0-1 .8-1H129.7c1.6-.2 2-.7 1.9-2.2a5.1 5.1 0 0 0-4-4.7c-3-.7-5.9.3-7 2.7-1.2 2.6-1.2 5.2.5 7.6 1.4 1.9 4.5 2.6 7.1 1.8 1.3-.3 2.5-1 3-2.3.3-.5.4-1.1-.2-1.5Zm-7.7-4.4c.5-1.3 1.4-2 2.7-1.9 1.2.1 2 .9 2.4 2.1.2.7.1 1-.7 1H124c-1 0-1-.4-.7-1.2ZM104.7 32.6c-.5-.3-1-.3-1.5.2-.6.4-1 1-1.7 1.3-2 1.2-4.2.2-4.7-2.1 0-.5 0-.8.6-.8H103.1c2-.1 2.5-.9 2.1-2.8a5 5 0 0 0-4.3-4.2c-2.7-.5-5.2.4-6.4 2.5a7.1 7.1 0 0 0 0 7.4c1.4 2.4 3.8 2.8 6.3 2.6 1.7-.2 3.3-.9 4.2-2.6.2-.5.3-1.1-.3-1.5ZM97 28.2c.4-1.2 1.4-2 2.7-1.9 1.3 0 2.2 1 2.5 2.3 0 .5 0 .8-.6.7h-3.8c-1 .2-1.1-.2-.8-1Z' style='fill:%23fefefe;stroke-width:0'/%3E%3Cpath d='M28 25.5h-6.3c-.6 0-1-.1-.8-.9.3-1 .5-2 1-3 1.3-3 3.5-4.3 6.8-4 2.8 0 5 1.9 5.9 4.7q1 3.2-2.3 3.2H28Z' style='fill:%23feec00;stroke-width:0'/%3E%3C/svg%3E");
                width: 100px;
            }
            display: flex;
            span {
                font-size: 0;
            }
        }
    }
}
.portaltype-imio-smartweb-portalpage.section-home-page {
    #messagesviewlet {
        position: absolute;
        top: 100px;
    }
}

#messagesviewlet .portalMessage.warning, #localmessagesviewlet .portalMessage.warning {
	background-color: #D14600!important;
}